<template>
  <div>
    <section class="s-banner">
      <div class="container">
        <div class="text">
          <img src="@/assets/img/square.svg" alt="square" />

          <h1>Marketing para todo mundo</h1>

          <span>As principais competências e os bastidores de marketing do mundo ao seu alcance. </span>

          <a
            href="https://app.staage.com/initiate/register"
            class="btn-comece buttonRegister"
            target="_blank"
            rel="noopener"
          >
            <img src="@/assets/img/arrow-right.svg" alt="arrow-right" />
            <strong>Comece agora</strong>
            <img src="@/assets/img/arrow-left.svg" alt="arrow-left" />
          </a>

          <p>
            🔥 Garanta seu acesso agora por apenas<br />
            <strong>R$ 39,90/mês</strong> no plano anual
          </p>
        </div>

        <div class="imagens">
          <img src="@/assets/img/foto1.png" class="pic1" alt="Gustavo Borges" />

          <img src="@/assets/img/foto3.png" class="pic2" alt="Evandro Barbosa" />

          <img src="@/assets/img/foto2.png" class="pic3" alt="Thiago Nigro" />

          <div class="info">
            <img src="@/assets/img/info.svg" alt="informativo" />

            <a href="#materiais">
              <img src="@/assets/img/arrow-banner.svg" alt="arrow-banner" />
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="s-materiais" id="materiais">
      <div class="container">
        <ul>
          <li>
            <img src="@/assets/img/icon-aula.svg" alt="Aulas" />
            <h2>
              Mais de 100 aulas <br />
              de marketing
            </h2>
          </li>

          <li>
            <img src="@/assets/img/icon-backstage.svg" alt="Backstage" />
            <h2>
              Backstage de <br />
              lançamentos milionários
            </h2>
          </li>

          <li>
            <img src="@/assets/img/icon-document.svg" alt="Documentarios" />
            <h2>
              Documentários de <br />
              grandes empresas
            </h2>
          </li>

          <li>
            <img src="@/assets/img/icon-material.svg" alt="Materiais" />
            <h2>
              Materiais <br />
              complementares
            </h2>
          </li>
        </ul>
      </div>
    </section>

    <section class="s-midias">
      <div class="container">
        <div class="video">
          <img src="@/assets/img/_trailler.png" class="img" alt="video" />
          <a href="#" class="trailer" rel="noopener"> ⭐️ Conheça a plataforma </a>
          <iframe
            width="100%"
            height="100%"
            src="https://www.youtube.com/embed/SxYspPJqtqk"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </section>

    <swiper :backstaage="backstaage" :staageclass="staageclass" />

    <section class="s-aprender">
      <div class="container">
        <div class="conteudo">
          <div class="titulo">
            <img src="@/assets/img/square.svg" alt="square" />

            <h2>Por que escolher a Staage?</h2>
          </div>

          <div class="modulos">
            <div class="info">
              <img src="@/assets/img/icon-bastidores.svg" alt="Bastidores" />

              <div class="descricao">
                <h3>Acesso aos Bastidores</h3>
                <p>Acompanhe o dia a dia de lançamentos e estratégias de marketing validadas no mercado.</p>
              </div>
            </div>

            <div class="info">
              <img src="@/assets/img/icon-melhores.svg" alt="Melhores" />

              <div class="descricao">
                <h3>Aprenda com os Melhores</h3>
                <p>Domine as principais competências de marketing com os profissionais mais experientes na área.</p>
              </div>
            </div>

            <div class="info">
              <img src="@/assets/img/icon-marketing.svg" alt="Marketing" />

              <div class="descricao">
                <h3>Conheça o Melhor do Marketing</h3>
                <p>Acompanhe de perto o processo de marketing de grandes empresas.</p>
              </div>
            </div>

            <div class="info">
              <img src="@/assets/img/icon-personalizado.svg" alt="Personalizado" />

              <div class="descricao">
                <h3>Direcionamento Personalizado</h3>
                <p>Encontre a trilha de conhecimento ideal para atender as necessidades do seu negócio.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="imagem">
          <img src="@/assets/img/aprendizado.png" alt="O que você irá aprender ?" />
          <img
            src="@/assets/img/parallax1.png"
            v-prlx="{ reverse: true, speed: 0.5, fromBottom: true }"
            class="card"
            alt=""
          />
        </div>
      </div>
    </section>

    <section class="s-plataforma">
      <div class="container">
        <div class="top">
          <div class="left">
            <img src="@/assets/img/square.svg" alt="square" />
            <h2>Como funciona a plataforma?</h2>
          </div>

          <div class="right">
            <img src="@/assets/img/influencers.png" alt="Influenciadores" />
            <p>
              Na Staage você poderá acompanhar os bastidores dos grandes lançamentos do mercado digital, aprender com as
              principais referências em marketing do mundo e assistir documentários originais de grandes empresas.
            </p>
          </div>
        </div>

        <div class="modulos-plataforma">
          <div class="item">
            <div class="numero">
              <span>01</span>
            </div>
            <div class="titulo">
              <h3>Primeiro passo</h3>
              <p>Escolha o Backstaage ou Staageclass que deseja assistir.</p>
            </div>
          </div>

          <div class="item">
            <div class="numero">
              <span>02</span>
            </div>
            <div class="titulo">
              <h3>Imersão ao conteúdo</h3>
              <p>Assista aos episódios e tenha uma experiência única.</p>
            </div>
          </div>

          <div class="item">
            <div class="numero">
              <span>03</span>
            </div>
            <div class="titulo">
              <h3>Material complementar</h3>
              <p>Reforce seu conhecimento com materiais exclusivos.</p>
            </div>
          </div>

          <div class="item">
            <div class="numero">
              <span>04</span>
            </div>
            <div class="titulo">
              <h3>Conhecimento aplicado</h3>
              <p>Defina uma estratégia de marketing e aplique no seu negócio.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="s-fotos">
      <div class="container">
        <div class="top" v-prlx="{ speed: 0.5, direction: 'x', reverse: 'true' }">
          <div class="img">
            <img src="@/assets/img/img1.png" alt="img1" />
          </div>

          <div class="img">
            <img src="@/assets/img/img2.png" alt="img2" />
          </div>

          <div class="img">
            <img src="@/assets/img/img11.png" alt="img11" />
          </div>

          <div class="img">
            <img src="@/assets/img/img4.png" alt="img4" />
          </div>

          <div class="img">
            <img src="@/assets/img/img5.png" alt="img5" />
          </div>
        </div>

        <div class="bottom" v-prlx="{ speed: 0.5, direction: 'x' }">
          <div class="img">
            <img src="@/assets/img/img3.png" alt="img3" />
          </div>

          <div class="img">
            <img src="@/assets/img/img6.png" alt="img6" />

            <div class="logo">
              <img src="@/assets/img/logo-foto.svg" alt="logo-foto" />
            </div>
          </div>

          <div class="img">
            <img src="@/assets/img/img8.png" alt="img8" />
          </div>

          <div class="img">
            <img src="@/assets/img/img9.png" alt="img9" />

            <div class="icon">
              <img src="@/assets/img/icon-staage.svg" alt="staage" />
            </div>
          </div>

          <div class="img">
            <img src="@/assets/img/img10.png" alt="img10" />
          </div>
        </div>
      </div>
    </section>

    <section class="s-diferenciais">
      <div class="container">
        <div class="left">
          <div class="titulo">
            <img src="@/assets/img/square.svg" alt="square" />
            <h2>Diferenciais da Staage</h2>
          </div>

          <div class="imagem">
            <img
              src="@/assets/img/tablet.png"
              v-prlx="{ reverse: true, speed: 0.2 }"
              class="dzsparallaxer auto-init"
              data-options='{ settings_mode: "oneelement",direction:"reverse",settings_mode_oneelement_max_offset: "50"}'
              alt="Tablet"
            />
            <img
              src="@/assets/img/iphone.png"
              v-prlx="{ reverse: true, speed: 0.2 }"
              class="iphone dzsparallaxer auto-init"
              data-options='{ settings_mode: "oneelement",direction:"reverse",settings_mode_oneelement_max_offset: "100"}'
              alt="Iphone"
            />
          </div>
        </div>

        <ul class="right">
          <li>
            <div class="img">
              <div class="icon"></div>
            </div>
            <div class="texto">
              <h3>Conteúdo Único</h3>
              <p>Primeira e única plataforma a acessar os bastidores e dia a dia dos processos de marketing.</p>
            </div>
          </li>
          <li>
            <div class="img">
              <div class="icon"></div>
            </div>
            <div class="texto">
              <h3>Aulas exclusivas</h3>
              <p>Você vai aprender tudo o que precisa para dominar as principais competências de marketing.</p>
            </div>
          </li>
          <li>
            <div class="img">
              <div class="icon"></div>
            </div>
            <div class="texto">
              <h3>Custo benefício</h3>
              <p>O menor valor do mercado pela melhor qualidade, maior diversidade e máxima profundidade de conteúdo.</p>
            </div>
          </li>
          <li>
            <div class="img">
              <div class="icon"></div>
            </div>
            <div class="texto">
              <h3>Facilidade</h3>
              <p>Você poderá assistir quando e onde quiser, seja no computador ou celular.</p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <frequently-questions />
    <marketing-plataform />
  </div>
</template>
<script>
import jQuery from 'jquery'
import MarketingPlataform from '@/components/MarketingPlataform'
import FrequentlyQuestions from '@/components/FrequentlyQuestions'
const $ = jQuery
export default {
  components: {
    MarketingPlataform,
    FrequentlyQuestions
  },
  data() {
    return {
      staageclass: [],
      backstaage: [],
      courses: []
    }
  },
  async created() {
    await this.getCourses()
  },
  methods: {
    async getCourses() {
      try {
        const data = {
          cursor: '6017419d33b02f4cdd86e40b',
          courseGroup: ['STAAGECLASS', 'BACKSTAAGE'],
          limit: 100
        }
        const courses = await this.$store.dispatch('courses/getCourses', data)
        this.backstaage = courses.filter((c) => c.courseGroup === 'BACKSTAAGE')
        this.staageclass = courses.filter((c) => c.courseGroup === 'STAAGECLASS')
      } catch (err) {
        console.error(err)
      }
    }
  },
  mounted: function () {
    $('.js-play').on('click', function () {
      $('.s-midias .video .conteudo').fadeOut()
      $('.s-midias .video .trailer').fadeOut()
      $('.s-midias .video .img').fadeOut()
    })
  }
}
</script>
