<template>
  <div class="black-friday">
    <section class="principal">
      <div class="principal_container">
        <div class="principal_box1">
          <img src="../assets/img/blackfriday/Black.png" alt="Black Image" />
          <img src="../assets/img/blackfriday/Friday.png" alt="Friday Image" />
          <img src="../assets/img/blackfriday/Logo-Staage.png" alt="Logo Staage" />
        </div>
        <div class="principal_box2">
          <h1>Assine a maior plataforma de marketing digital por um preço jamais visto</h1>
          <p>Não perca a oportunidade de faturar no digital</p>
          <a href="#form">
            <span>Aproveitar a melhor oferta do ano</span>
          </a>
          <div id="clockdiv">
            <div>
              <span class="days border-gradient border-gradient-purple">{{ days }}</span>
              <div class="smalltext">Dias</div>
            </div>
            <div>
              <span class="hours">{{ hrs }}</span>
              <div class="smalltext">Horas</div>
            </div>
            <div>
              <span class="minutes">{{ mins }}</span>
              <div class="smalltext">Minutos</div>
            </div>
            <div>
              <span class="seconds">{{ secs }}</span>
              <div class="smalltext">Segundos</div>
            </div>
          </div>
        </div>
      </div>
      <section class="banner-bottom">
        <div class="banner-bottom_container">
          <div class="banner_text">
            <h3>Assine a Staage pelo menor preço do ano</h3>
            <div class="banner_price">
              <span>12x de</span>
              <p>R$ 39,90</p>
              <span>/ mês</span>
              <span>no plano anual</span>
            </div>
          </div>
          <div class="banner_buttom">
            <div id="clockdiv2">
              <div>
                <span class="days border-gradient border-gradient-purple">{{ days }}</span>
                <div class="smalltext">Dias</div>
              </div>
              <div>
                <span class="hours">{{ hrs }}</span>
                <div class="smalltext">Horas</div>
              </div>
              <div>
                <span class="minutes">{{ mins }}</span>
                <div class="smalltext">Minutos</div>
              </div>
              <div>
                <span class="seconds">{{ secs }}</span>
                <div class="smalltext">Segundos</div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    <section class="staage">
      <div class="staage_container">
        <div class="staage_box1">
          <img src="../assets/img/blackfriday/Macbook.png" alt="Macbook" />
        </div>
        <div class="staage_box2">
          <h3>O que é a Staage?</h3>
          <hr />
          <p>
            Uma plataforma de marketing para te ajudar a criar um negócio online, ter uma nova carreira ou fazer renda extra.
            <br /><br />
            O caminho você decide, o nosso objetivo é fazer você faturar no digital.
          </p>
        </div>
      </div>
    </section>
    <section class="conteudo">
      <div class="conteudo_container">
        <div class="conteudo_details">
          <div class="conteudo_title">
            <h3>Conteúdo disponível</h3>
            <p>Confira alguns conteúdos disponíveis na plataforma</p>
          </div>
          <div class="conteudo_skills">
            <div class="skill_detail">
              <img src="../assets/img/blackfriday/tag_staageclass.png" alt="Tag Staageclass" />
              <p>Domine as principais competências, com os melhores nomes</p>
            </div>
            <div class="skill_detail">
              <img src="../assets/img/blackfriday/tag_backstaage.png" alt="Tag Backstaage" />
              <p>Viva os bastidores de lançamentos e estratégias de marketing</p>
            </div>
          </div>
        </div>

        <swiper-default
          principalClass="s-swiper-black-friday"
          swiperClass="slide-blackfriday"
          :swiperNavigationClass="['swiper-button-next', 'swiper-button-prev']"
        >
          <template slot="swiper">
            <div class="swiper-slide">
              <img src="../assets/img/blackfriday/Card_Thiago_Nigro.png" alt="Thiago Nigro" />
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/blackfriday/Card_Philip_Kotler.png" alt="Philip Kotler" />
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/blackfriday/Card_Bruno_Perini.png" alt="Bruno Perini" />
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/blackfriday/Card_Roberta_Santos.png" alt="Roberta Santos" />
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/blackfriday/Card_Joel_Jota.png" alt="Joel Jota" />
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/blackfriday/Card_Micha_Menezes.png" alt="Micha Menezes" />
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/blackfriday/Card_Duda_Vieira.png" alt="Duda Vieira" />
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/blackfriday/Card_Thiago_Concer.png" alt="Thiago Concer" />
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/blackfriday/Card_Breno_Perucho.png" alt="Breno Perucho" />
            </div>
          </template>
          <template slot="navigation">
            <div class="swiper-button-next">
              <img src="../assets/img/blackfriday/arrow.png" alt="Arrow" />
            </div>
            <div class="swiper-button-prev">
              <img src="../assets/img/blackfriday/arrow.png" alt="Arrow" />
            </div>
          </template>
        </swiper-default>
      </div>
    </section>
    <section class="price">
      <div class="price_container">
        <div class="price_card">
          <div class="price_discount">
            <img src="../assets/img/blackfriday/Discount_Icon.png" alt="Discount Icon" />
            <p>Oferta única - 50% de desconto</p>
          </div>
          <h4>24/11</h4>
          <div class="price_list">
            <div class="price_list_item">
              <img src="../assets/img/blackfriday/Check_Price.png" alt="Check list" />
              <p>Staageclass - Cursos completos de habilidades específicas</p>
            </div>
            <div class="price_list_item">
              <img src="../assets/img/blackfriday/Check_Price.png" alt="Check list" />
              <p>Backstaage - Documentários de estratégias do Marketing Digital</p>
            </div>
            <div class="price_list_item">
              <img src="../assets/img/blackfriday/Check_Price.png" alt="Check list" />
              <p>Na Prática - Aulas mais curtas, objetivas e práticas</p>
            </div>
            <div class="price_list_item">
              <img src="../assets/img/blackfriday/Check_Price.png" alt="Check list" />
              <p>Ebook - Material Complementar em todas as Staageclasses</p>
            </div>
            <div class="price_list_item">
              <img src="../assets/img/blackfriday/Check_Price.png" alt="Check list" />
              <p>Update - Atualização mensal de conteúdo</p>
            </div>
            <div class="price_list_item">
              <img src="../assets/img/blackfriday/Check_Price.png" alt="Check list" />
              <p>Grupo - Comunidade Exclusiva dos Staagers</p>
            </div>
            <div class="price_list_item">
              <img src="../assets/img/blackfriday/Check_Price.png" alt="Check list" />
              <p>Philip Kotler - Curso Completo com o Pai do Marketing</p>
            </div>
          </div>
          <div class="price_numbers">
            <h3>Plano anual</h3>
            <div class="price_number1">
              <p>De R$ 478,80</p>
              <span>por apenas</span>
            </div>
            <div class="price_number2">
              <strong>R$ 39,90</strong>
              <span>/ mês</span>
            </div>
            <div class="price_button">
              <a href="#form">
                <span>Aproveitar oferta</span>
              </a>
              <p>Oferta válida somente para o dia 24/11</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="cursos">
      <img src="../assets/img/blackfriday/Faixa.png" class="faixa_sup" alt="Faixa Superior" />
      <img src="../assets/img/blackfriday/Faixa_Superior_Tablet.png" class="faixa_sup_tablet" alt="Faixa Superior Tablet" />
      <img src="../assets/img/blackfriday/Faixa_Superior_Mobile.png" class="faixa_sup_mobile" alt="Faixa Superior Mobile" />
      <div class="cursos_container">
        <div class="cursos_title">
          <h3>
            <span>2 Cursos Exclusivos</span> somando
            <br />
            + R$ 1.000,00 em bônus para você fazer dinheiro na Black Friday
          </h3>
        </div>
        <div class="cursos_info">
          <div class="cursos_info_details">
            <div class="cursos_image">
              <img src="../assets/img/blackfriday/Joel.png" alt="Imagem de Joel Jota" />
            </div>
            <div class="cursos_text">
              <h4>Curso vendas e caixa rápido</h4>
              <span>com Joel Jota</span>
              <p>
                Um treinamento completo com 30 estratégias de vendas para você ser capaz de fazer de R$ 500,00 à R$ 1.000,00
                em poucos dias.
              </p>
              <strong>R$ 197,00</strong>
            </div>
          </div>
          <div class="cursos_info_details2">
            <div class="cursos_image">
              <img src="../assets/img/blackfriday/Jordan.png" alt="Imagem de Jordan Belfort" />
            </div>
            <div class="cursos_text">
              <h4>Curso vendas</h4>
              <span>com Jordan Belfort</span>
              <p>Aprenda as técnicas de vendas do lobo de wall street e se torne um vendedor acima da média</p>
              <strong>R$ 997,00</strong>
            </div>
          </div>
        </div>
      </div>
      <img src="../assets/img/blackfriday/Faixa.png" class="faixa_inf" alt="Faixa Inferior" />
      <img src="../assets/img/blackfriday/Faixa_Superior_Tablet.png" class="faixa_inf_tablet" alt="Faixa Inferior Tablet" />
      <img src="../assets/img/blackfriday/Faixa_Superior_Mobile.png" class="faixa_inf_mobile" alt="Faixa Inferior Mobile" />
    </section>
    <section class="form" id="form">
      <div class="form_container">
        <h3>Como aproveitar essa oportunidade?</h3>
        <p>
          A primeira Black Friday da Staage <span>vai acontecer</span> no dia 24 de novembro e terá a duração de apenas 24
          horas com
          <span>50% de desconto + R$1.000,00 em bônus exclusivos.</span>
          <br /><br />
          Deixe seu nome completo e e-mail abaixo para entrar na lista de pré-cadastro e receba o cupom de desconto com
          antecedência!
        </p>
        <form-validate v-slot="{ invalid }">
          <form class="form_box" @submit.prevent="submit">
            <field-validate rules="required|onlyLetter" v-slot="{ errors }" style="margin-bottom: 23px">
              <span for="name">Nome completo</span>
              <input type="text" v-model="name" placeholder="Digite seu nome completo" :class="{ error_input: errors[0] }" />
              <small class="error_message">{{ errors[0] }}</small>
            </field-validate>
            <field-validate rules="required|email" v-slot="{ errors }">
              <span for="email">E-mail</span>
              <input
                type="email"
                v-model="email"
                placeholder="Digite seu melhor e-mail"
                :class="{ error_input: errors[0] }"
              />
              <small class="error_message">{{ errors[0] }}</small>
            </field-validate>
            <field-validate :rules="{ required: { allowFalse: false } }" class="aceite-termo">
              <input id="privacy-terms-checkbox" v-model="privacyTerms" type="checkbox" name="aceite" value="aceitou" />
              <label class="aceite" for="privacy-terms-checkbox"> Aceito receber informações por e-mail </label>
            </field-validate>
            <button id="cta-modal-button" :disabled="invalid" class="cta-modal-button">
              <strong v-if="!isLoading" class="button_text">Aproveitar Oferta</strong>
              <span v-else class="loader"></span>
            </button>
          </form>
        </form-validate>
        <h4 class="terms">
          "Ao clicar no botão "APROVEITAR OFERTA" você aceita nossos
          <strong
            ><a href="https://app.staage.com/support/termsOfUse" rel="noreferrer" target="_blank">termos de uso</a></strong
          >
          e
          <strong
            ><a href="https://app.staage.com/support/termsOfUse" rel="noreferrer" target="_blank"
              >política de privacidade</a
            ></strong
          >."
        </h4>
      </div>
    </section>
    <footer>
      <div class="footer_container">
        <div class="footer_items">
          <img src="../assets/img/blackfriday/Logo-Staage-footer.svg" alt="Logo Staage Footer" />
          <p>© Copyright 2021 Grupo Primo. Todos os direitos reservados.</p>
          <div class="footer_links">
            <a href="https://app.staage.com/support/termsOfUse" rel="noreferrer" target="blank">Termos de uso</a>
            <span>|</span>
            <a href="https://app.staage.com/support/termsOfUse" rel="noreferrer" target="blank">Políticas de privacidade</a>
            <span>|</span>
            <a href="https://privacy.staage.com" rel="noreferrer" target="blank"> Proteja sua privacidade</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>
<script>
import SwiperDefault from '../../components/SwiperDefault.vue'
import { ValidationObserver as FormValidate, ValidationProvider as FieldValidate } from 'vee-validate'
export default {
  layout: 'empty',
  components: {
    SwiperDefault,
    FormValidate,
    FieldValidate
  },
  data() {
    return {
      days: 0,
      hrs: 0,
      mins: 0,
      secs: 0,
      active: 0,
      name: '',
      email: '',
      privacyTerms: false,
      isLoading: false
    }
  },
  head() {
    return {
      title: 'Staage - Black Friday',
      description: 'Assine a maior plataforma de marketing digital por um preço jamais visto',
      meta: [
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://assine.staage.com/blackfriday'
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Staage - Black Friday'
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Assine a maior plataforma de marketing digital por um preço jamais visto'
        },
        { hid: 'og:image', property: 'og:image', content: '' },
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image'
        },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: 'https://assine.staage.com/blackfriday'
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Staage - Black Friday'
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Assine a maior plataforma de marketing digital por um preço jamais visto'
        },
        { hid: 'twitter:image', property: 'twitter:image', content: '' }
      ]
    }
  },
  mounted() {
    this.countdown()
  },
  methods: {
    countdown() {
      const timeLoop = setInterval(() => {
        const currentTime = new Date()
        const deadLine = new Date('Nov 23, 2021 00:00:10')
        const timeDiff = deadLine.getTime() - currentTime.getTime()

        if (timeDiff < 0) {
          clearInterval(timeLoop)
        }

        this.days = Math.floor(timeDiff / 86400000)
        this.hrs = Math.floor((timeDiff % 86400000) / 3600000)
        this.mins = Math.floor((timeDiff % 3600000) / 60000)
        this.secs = Math.floor((timeDiff % 60000) / 1000)
      }, 1000)
    },
    async submit() {
      this.isLoading = true
      const subscription = {
        unit: 'STAAGE',
        email: this.email,
        name: this.name,
        source: 'campaign',
        tag: '50',
        meta: window.location.href
      }

      try {
        const response = await this.$store.dispatch('lead/subscribe', subscription)
        if (response.status) {
          this.isLoading = false
          this.$router.push(`/obrigado/${window.location.search}`)
        }
      } catch (error) {
        this.isLoading = false
        alert('Falha ao cadastrar e-mail, recarregue a página e tente novamente')
      }
    }
  }
}
</script>
