<template>
  <div>
    <section class="s-banner-top">
      <div class="container-buy">
        <div class="container-buy-title">
          <p>Garanta seu acesso a mais de 100 aulas de marketing</p>
        </div>
        <div class="container-buy-button">
          <p>Staage 39,90/mês no plano anual</p>
          <a href="https://app.staage.com/initiate/register" class="btn-comece buttonRegister" target="_blank">
            <img src="@/assets/img/arrow-right.svg" alt="arrow-right" />
            <strong>Comece agora</strong>
            <img src="@/assets/img/arrow-left.svg" alt="arrow-left" />
          </a>
        </div>
      </div>
    </section>
    <div class="card-options-mb">
      <swiper-category-mb />
    </div>
    <section class="cards">
      <div class="cards-container">
        <div class="cards-options">
          <ul>
            <li><a ref="#" class="category-link">Todos os conteúdos</a></li>
            <li><a ref="#" class="category-link">Backstage</a></li>
            <li><a href="#" class="category-link">Staageclass</a></li>
            <li><a href="#" class="category-link">Lançamento no instagram</a></li>
            <br />
            <li><a href="#" class="category-link">Redes Sociais</a></li>
            <li><a href="#" class="category-link">Sete digítos de faturamento</a></li>
            <li><a href="#" class="category-link">Negócio de recorrência</a></li>
          </ul>
        </div>
        <div class="cards-box">
          <div class="cards-bg">
            <div class="cards-content">
              <div class="cards-tag">
                <div class="tag">
                  <span>Backstage</span>
                </div>
                <p>Disponível agora</p>
              </div>
              <div class="mentors">
                <h3>Joel Jota</h3>
                <p>
                  Mauris nibh orci, hac amet. Arcu, quis faucibus sit adipiscing a mattis elementum. Aliquam nunc faucibus
                  est pellentesque sit.
                </p>
              </div>
              <div class="cards-btns">
                <div class="start-btn">
                  <a href="https://app.staage.com/initiate/register" class="btn-comece buttonRegister" target="_blank">
                    <img src="@/assets/img/arrow-right.svg" alt="arrow-right" />
                    <strong>Comece agora</strong>
                    <img src="@/assets/img/arrow-left.svg" alt="arrow-left" />
                  </a>
                </div>
                <div class="trailer-btn">
                  <img
                    src="@/assets/img/icon-play-treiler.webp"
                    alt="Play"
                    class="img dzsparallaxer auto-init"
                    data-options='{ settings_mode: "oneelement",direction:"reverse",settings_mode_oneelement_max_offset: "10"}'
                    @click="ismodalOpen = !ismodalOpen"
                  />
                  <xmodal v-model="ismodalOpen" :params="options" />
                  <p>Trailer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="cards-bg2">
            <div class="cards-content">
              <div class="cards-tag">
                <div class="tag2">
                  <span>StaageClass</span>
                </div>
                <p>Disponível agora</p>
              </div>
              <div class="mentors">
                <h3>Micha Menezes</h3>
                <p>
                  Mauris nibh orci, hac amet. Arcu, quis faucibus sit adipiscing a mattis elementum. Aliquam nunc faucibus
                  est pellentesque sit.
                </p>
              </div>
              <div class="cards-btns">
                <div class="start-btn">
                  <a href="https://app.staage.com/initiate/register" class="btn-comece buttonRegister" target="_blank">
                    <img src="@/assets/img/arrow-right.svg" alt="arrow-right" />
                    <strong>Comece agora</strong>
                    <img src="@/assets/img/arrow-left.svg" alt="arrow-left" />
                  </a>
                </div>
                <div class="trailer-btn">
                  <img
                    src="@/assets/img/icon-play-treiler.webp"
                    alt="Play"
                    class="img dzsparallaxer auto-init"
                    data-options='{ settings_mode: "oneelement",direction:"reverse",settings_mode_oneelement_max_offset: "10"}'
                    @click="ismodalOpen = !ismodalOpen"
                  />
                  <xmodal v-model="ismodalOpen" :params="options" />
                  <p>Trailer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-soon">
            <div class="soon-img"></div>
            <div class="card-soon-content">
              <div class="cards-tag">
                <div class="tag3">
                  <span>Em breve</span>
                </div>
                <p>Agosto - 2021</p>
              </div>
              <div class="card-soon-name">
                <h3>Whindersson Nunes</h3>
              </div>
              <div class="card-soon-form">
                <p>Cadastre-se agora e garanta seu lugar na Staage</p>
                <form method="POST" action="" class="form-soon">
                  <input
                    id="nome"
                    class="form-imput"
                    type="text"
                    name="nome"
                    placeholder="Seu nome"
                    data-name="email"
                    required=""
                  />

                  <input
                    id="email"
                    class="form-imput"
                    type="email"
                    name="email"
                    placeholder="Seu melhor e-mail"
                    data-name="email"
                    required=""
                  />
                  <div class="aceite-termo">
                    <input id="aceite" type="checkbox" name="aceite" value="aceitou" />
                    <label class="aceite" for="aceite">
                      Ao clicar em “Cadastrar” você aceita receber informações do evento por e-mail e confirma que leu e
                      entendeu as políticas de privacidade
                    </label>
                  </div>
                  <div class="button-send">
                    <button id="submit" type="submit" class="submit">Cadastrar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="soon-separator">
      <div class="box-separator">
        <img src="@/assets/img/icon-separador.svg" alt="icon-separador" />
      </div>
    </div>
    <marketing-plataform />
    <only-thing />
    <frequently-questions />
  </div>
</template>

<script>
import Vue from 'vue'
import xmodal from 'xmodal-vue'
import modal from '@/components/ModalCategory'
import OnlyThing from '@/components/OnlyThing'
import SwiperCategoryMb from '@/components/SwiperCategoryMb'
import MarketingPlataform from '@/components/MarketingPlataform'
import FrequentlyQuestions from '@/components/FrequentlyQuestions'

Vue.use(xmodal)

export default {
  components: {
    OnlyThing,
    SwiperCategoryMb,
    MarketingPlataform,
    FrequentlyQuestions
  },
  name: 'App',
  data() {
    return {
      ismodalOpen: false,
      options: {
        component: modal,
        backgroundColor: '#000000',
        opacity: '0.7',
        animation: 'scaleLeft'
      }
    }
  }
}
</script>
