<template>
  <div>
    <section class="s-banner-fsm-typ">
      <img
        src="../assets/img/lps/redessociaislucrativas/lines-hero-fsm-mobile.png"
        class="banner-fsm-image-mobile1"
        alt="Lines"
      />
      <img
        src="../assets/img/lps/redessociaislucrativas/image-hero-fsm-mobile.png"
        class="banner-fsm-image-mobile2"
        alt="Image mobile 2"
      />
      <img
        src="../assets/img/lps/redessociaislucrativas/image3-hero-fsm-mobile.png"
        class="banner-fsm-image-mobile3"
        alt="Image mobile 3"
      />
      <img
        src="../assets/img/lps/redessociaislucrativas/image4-hero-fsm-mobile.png"
        class="banner-fsm-image-mobile4"
        alt="Image mobile 4"
      />
      <img
        src="../assets/img/lps/redessociaislucrativas/image5-hero-fsm-mobile.png"
        class="banner-fsm-image-mobile5"
        alt="Image mobile 5"
      />
      <div class="container-fsm-typ">
        <div class="container-fsm-text-typ">
          <div class="fsm-title-typ">
            <img src="../assets/img/lps/redessociaislucrativas/logo-formacao.svg" alt="Logo Formação" />
          </div>
          <div class="fsm-text-typ">
            <div class="loadingbar-fsm-typ">
              <h5>
                Para confirmar 100% o seu pré cadastro, receber todas as informações e surpresas que estamos preparando,
                faltam apenas 2 passos.
              </h5>
              <div class="progress-typ">
                <div class="progress-value-typ"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="typ-passos">
          <div class="passos-card">
            <h6>Passo 1/2</h6>
            <h6>Acesse o grupo do whatsapp</h6>
            <a href="https://wtzp.link/r/fsm-jan22" target="_blank" class="cta-whatsapp">Entre no grupo</a>
          </div>
          <div class="passos-card">
            <h6>Passo 2/2</h6>
            <h6>Responda nossa pesquisa</h6>
            <a
              href="https://forms.office.com/Pages/ResponsePage.aspx?id=6ez5YgM1m0G2Yyy_xOsD27bO6peVx3FPoaGHNInqKH5UQ1c3TDFHS0UyUzRaWjBMT0FCWUpVOEc4MyQlQCN0PWcu"
              target="_blank"
              class="cta-whatsapp"
              >Responder pesquisa</a
            >
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  layout: 'empty',
  data() {
    return {
      isVisible: true,
      email: '',
      phone: '',
      privacyTerms: false,
      isLoading: false
    }
  },
  head() {
    return {
      title: 'Formação em social media',
      description: 'Marketing digital do zero para iniciantes',
      meta: [
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://assine.staage.com/l06fsm_typ'
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Formação em social media'
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Formação em social media'
        },
        { hid: 'og:image', property: 'og:image', content: '' },
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image'
        },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: 'https://assine.staage.com/l06fsm_typ'
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Formação em social media'
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Formação em social media'
        },
        { hid: 'twitter:image', property: 'twitter:image', content: '' }
      ]
    }
  }
}
</script>
