<template>
  <div>
    <section class="s-banner-fsm" id="home">
      <img
        src="../assets/img/lps/redessociaislucrativas/window-fsm-hero.svg"
        class="banner-fsm-image6"
        alt="Window bottom"
      />
      <img
        src="../assets/img/lps/redessociaislucrativas/window-fsm-mobile.svg"
        class="banner-fsm-image7"
        alt="Window bottom mobile"
      />
      <img
        src="../assets/img/lps/redessociaislucrativas/window-fsm-mobile2.svg"
        class="banner-fsm-image8"
        alt="Window bottom mobile"
      />
      <div class="container-fsm">
        <div class="container-fsm-text">
          <h1>A Profissão da Internet de 2022</h1>
          <p>Formação: Social Media "Grupo Primo”</p>
        </div>
        <div class="hero-fsm-video">
          <iframe
            width="100%"
            height="100%"
            src='https://www.youtube.com/embed/C-APgMZHOGM?controls=0'
            title="Formação Social Media"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>
        <a
          href="https://pay.hotmart.com/N64612631H?off=3z2vrcht&checkoutMode=10&pmp=STG-VEX-SFSM-STG-BSTG-20220131-ORG-STAAGE-X-VFSMJAN22LPFSMTIME&utm_source=site-fsm-time&utm_campaign=org-site-fsm-time-venda-fms-31-01-22&utm_medium=sfsm&utm_content=cta&utm_term=STG-VEX-SFSM-STG-BSTG-20220131-ORG-STAAGE-X-VFSMJAN22LPFSMTIME&src=STG-VEX-SFSM-STG-BSTG-20220131-ORG-STAAGE-X-VFSMJAN22LPFSMTIME&sck=STG-VEX-SFSM-STG-BSTG-20220131-ORG-STAAGE-X-VFSMJAN22LPFSMTIME"
          target="_blank"
          class="cta-pre"
        >
          Comprar agora
        </a>
      </div>
    </section>

    <section class="s-atention-fsm">
      <div class="container-atention-fsm">
        <p>
          O Grupo PRIMO tem três dos principais influenciadores do país no nicho de investimentos e desenvolvimento pessoal.
          E nos últimos 5 anos, vimos as redes sociais se transformarem no principal meio para transmitir conhecimento,
          entreter e, principalmente, fazer dinheiro.
        </p>
        <div class="atention-fsm-cards">
          <div class="atention-card">
            <img src="../assets/img/lps/redessociaislucrativas/atention-check.svg" alt="Check atention" />
            <p>
              Com uma demanda que só aumenta e poucos profissionais qualificados no mercado para atendê-la, o Social Media -
              presente entre as profissões mais promissoras para 2022, segundo a PageGroup - consegue faturar entre 5 e 30
              mil reais prestando serviços de qualquer lugar do mundo, ou trabalhando em grandes empresas.
            </p>
          </div>
          <div class="atention-card">
            <img src="../assets/img/lps/redessociaislucrativas/atention-check.svg" alt="Check atention" />
            <p>
              Se você deseja dominar essa habilidade e aplicar as estratégias de social media para você, seja no seu negócio
              ou na melhora da sua marca pessoal, poderá transformar as principais redes sociais em uma verdadeira “fábrica
              multiplicadora de renda”.
            </p>
          </div>
        </div>
        <h4>Seja qual for o seu objetivo, esse treinamento vai te ajudar a usar o poder das redes sociais ao seu favor.</h4>
      </div>
    </section>

    <section class="s-how-fsm">
      <div class="container-how-fsm">
        <div class="how-title">
          <h3>Como vai ser a formação?</h3>
        </div>
        <div class="how-cards-box">
          <div class="how-card1">
            <img src="../assets/img/lps/redessociaislucrativas/how-calendar.png" alt="How Calendar" />
            <h4>3 meses de aulas 100% online.</h4>
          </div>
          <div class="how-card2">
            <img src="../assets/img/lps/redessociaislucrativas/how-librari.png" alt="How Librari" />
            <h4>18 módulos em + de 60 horas com grandes especialistas.</h4>
          </div>
          <div class="how-card3">
            <img src="../assets/img/lps/redessociaislucrativas/how-certificate.png" alt="How Certificate" />
            <h4>Certificado emitido pelo Grupo PRIMO</h4>
          </div>
          <div class="how-card4">
            <img src="../assets/img/lps/redessociaislucrativas/how-staage.png" alt="How Staage" />
            <h4>1 ano de acesso ao conteúdo completo da Staage</h4>
          </div>
        </div>
      </div>
    </section>

    <section class="s-what-fsm">
      <div class="container-what-fsm">
        <div class="what-image">
          <img src="../assets/img/lps/redessociaislucrativas/what-mockup-socios.png" alt="Mockup Socios" />
        </div>
        <div class="what-text">
          <h4>O que é</h4>
          <h3>A formação em social media da staage</h3>
          <p>
            Um conteúdo que reúne todo conhecimento acumulado pelo Grupo Primo através das marcas Thiago Nigro, Joel Jota e
            Bruno Perini, depois de alcançar:
          </p>
          <div class="what-text-cards">
            <div class="what-card">
              <div class="what-check">
                <img src="../assets/img/lps/redessociaislucrativas/what-instagram.svg" alt="What Instagram" />
                <span>+ 9 milhões de seguidores no Instagram</span>
              </div>
            </div>
            <div class="what-card">
              <div class="what-check">
                <img src="../assets/img/lps/redessociaislucrativas/what-youtube.svg" alt="What Youtube" />
                <span>+ 6.4 milhões de inscritos no YouTube</span>
              </div>
            </div>
          </div>
          <p>
            Neste curso, você aprenderá como explorar o melhor das ferramentas do mercado, entenderá as principais métricas,
            e conhecerá estratégias práticas e atuais - usadas pelo Grupo PRIMO - para construir redes sociais super
            lucrativas.
          </p>
        </div>
      </div>
    </section>
    <section class="s-learn-fsm">
      <div class="container-learn-fsm">
        <div class="learn-title">
          <h4>O que voce vai aprender?</h4>
          <h3>A Formação em Social Media da Staage</h3>
          <p>
            A formação em Social Media está dividida didaticamente em 18 módulos que garantem um aprendizado completo ao
            longo de 12 semanas:
          </p>
        </div>
        <div class="learn-accordion">
          <accordion
            id="accordion-first"
            title="Módulo 1"
            subtitle="Introdução às Redes Sociais"
            accordionClass="cardSocial"
          >
            <p>
              O mercado do Marketing Digital
              <br />
              A profissão do futuro
              <br />
              O mercado para o Social Media
              <br />
              Tendências e possibilidades
              <br />
              As habilidades de um profissional social media
              <br />
              Canais Digitais
              <br />
              Fundamentos de um Social Media
            </p>
          </accordion>

          <accordion
            id="accordion-second"
            title="Módulo 2"
            subtitle="Posicionamento e Público Alvo"
            accordionClass="cardSocial"
          >
            <p>
              Matriz SWOT
              <br />
              Quais redes sociais escolher?
              <br />
              O que são personas?
              <br />
              Definindo a persona
              <br />
              Pesquisando com seus próprios clientes
              <br />
              Pesquisa nas redes sociais
            </p>
          </accordion>

          <accordion id="accordion-thirty" title="Módulo 3" subtitle="Planejamento de Marketing" accordionClass="cardSocial">
            <p>
              A jornada de compra
              <br />
              O que é um funil de vendas?
              <br />
              Aquisição, Ação, Conversão, Fidelização e Engajamento
              <br />
              Conteúdo de topo de funil
              <br />
              Conteúdo de meio de Funil
              <br />
              Conteúdo de conversão
            </p>
          </accordion>

          <accordion
            id="accordion-fourth"
            title="Módulo 4"
            subtitle="Planejamento de Produção de conteúdo"
            accordionClass="cardSocial"
          >
            <p>
              Buscando referência
              <br />
              Matriz do conteúdo
              <br />
              Linha editorial
              <br />
              Curadoria de conteúdo
              <br />
              Inspirações de conteúdo
              <br />
              Criando um calendário de conteúdo
              <br />
              Estratégia de conteúdo
            </p>
          </accordion>
          <accordion
            id="accordion-fifth"
            title="Módulo 5"
            subtitle="Copywriting para redes sociais"
            accordionClass="cardSocial"
          >
            <p>
              Fundamentos básicos do copywriting
              <br />
              A mente do consumidor
              <br />
              Gatilhos Mentais
              <br />
              Modelo AIDA
              <br />
              Call to action
              <br />
              Técnicas de escrita
            </p>
          </accordion>
          <accordion id="accordion-sixth" title="Módulo 6" subtitle="Design - Trakto" accordionClass="cardSocial">
            <p>
              Tipografia
              <br />
              Psicologia das cores
              <br />
              Formatos e Extensões
              <br />
              Conhecendo a Trakto
              <br />
              Criando postagens para o Feed
              <br />
              Criando postagens para os Stories
              <br />
              Exportando arquivos
              <br />
              Hacks de design
            </p>
          </accordion>
          <accordion id="accordion-seventh" title="Módulo 7" subtitle="Conteúdo em vídeo" accordionClass="cardSocial">
            <p>
              Como perder o medo câmera
              <br />
              Roteiro
              <br />
              Técnicas de comunicação
              <br />
              Luz, câmera e ação
              <br />
              Como editar vídeos no celular
            </p>
          </accordion>
          <accordion
            id="accordion-eigth"
            title="Módulo 8"
            subtitle="Métricas e Indicadores - Ferramentas"
            accordionClass="cardSocial"
          >
            <p>
              Métricas das redes sociais
              <br />
              Analisando resultados
              <br />
              Indicadores de Sucesso
            </p>
          </accordion>
          <accordion id="accordion-nineth" title="Módulo 9" subtitle="Estratégias de Instagram" accordionClass="cardSocial">
          </accordion>
          <accordion id="accordion-ten" title="Módulo 10" subtitle="Estratégias de Tik Tok" accordionClass="cardSocial">
          </accordion>
          <accordion id="accordion-eleven" title="Módulo 11" subtitle="Estratégias de Youtube" accordionClass="cardSocial">
          </accordion>
          <accordion id="accordion-twelve" title="Módulo 12" subtitle="FaceAds & InstaAds" accordionClass="cardSocial">
            <p>
              Introdução ao gerenciador de anúncios
              <br />
              Diferença entre tráfego orgânico X tráfego pago
              <br />
              Configurando a forma de pagamento
              <br />
              Tipos de público
              <br />
              Criando seu público
              <br />
              Criando um anúncio
              <br />
              Quanto investir
              <br />
              Analisando os resultados
            </p>
          </accordion>
          <accordion id="accordion-thirteen" title="Módulo 13" subtitle="Profissão Social Media" accordionClass="cardSocial">
            <p>
              Como ganhar dinheiro como social media
              <br />
              Quais nichos escolher?
              <br />
              Quanto cobrar pelo meu serviço?
              <br />
              Como vender meu serviço de social media
              <br />
              Como atrair clientes?
            </p>
          </accordion>
          <accordion id="accordion-fourteen" title="Módulo 14" subtitle="Cases – Grupo Primo" accordionClass="cardSocial">
            <p>
              Malu Espinoza e Daniel Oliveira.
              <br />
              (Os estrategistas de mídias sociais do Joel Jota e Thiago Nigro)
            </p>
          </accordion>
          <accordion id="accordion-fifteen" title="Módulo 15" subtitle="Gestão de Crise" accordionClass="cardSocial">
            <p>
              Gerenciamento de risco
              <br />
              Posicionamento
              <br />
              Pós Crise
              <br />
              Atendimento
            </p>
          </accordion>
          <accordion
            id="accordion-sixteen"
            title="Módulo Expert 16"
            subtitle="15 mandamentos da LIVE que performam – Joel Jota"
            accordionClass="cardSocial"
          >
          </accordion>
          <accordion
            id="accordion-seventeen"
            title="Módulo Expert 17"
            subtitle="Como se tornar autoridade – Thiago Nigro"
            accordionClass="cardSocial"
          >
          </accordion>
          <accordion
            id="accordion-eighteen"
            title="Módulo Expert 18"
            subtitle="Criando um negócio digital – Bruno Perini"
            accordionClass="cardSocial"
          >
          </accordion>
        </div>
        <a
          href="https://pay.hotmart.com/N64612631H?off=3z2vrcht&checkoutMode=10&pmp=STG-VEX-SFSM-STG-BSTG-20220131-ORG-STAAGE-X-VFSMJAN22LPFSMTIME&utm_source=site-fsm-time&utm_campaign=org-site-fsm-time-venda-fms-31-01-22&utm_medium=sfsm&utm_content=cta&utm_term=STG-VEX-SFSM-STG-BSTG-20220131-ORG-STAAGE-X-VFSMJAN22LPFSMTIME&src=STG-VEX-SFSM-STG-BSTG-20220131-ORG-STAAGE-X-VFSMJAN22LPFSMTIME&sck=STG-VEX-SFSM-STG-BSTG-20220131-ORG-STAAGE-X-VFSMJAN22LPFSMTIME"
          target="_blank"
          tabindex="-1"
          class="cta-pre"
        >
          Comprar agora
        </a>
      </div>
    </section>
    <section class="s-first-fsm">
      <div class="container-first-fsm">
        <div class="first-title">
          <h4>
            Somente para<br />
            a primeira turma
          </h4>
        </div>
        <div class="first-text">
          <h3>O que você receberá ao se inscrever na primeira turma da formação</h3>
          <p>
            Você saberá exatamente para onde ir e vai se transformar em um profissional ainda mais completo, com habilidades
            360º.
          </p>
        </div>
        <div class="first-cards-box">
          <div class="first-card">
            <img src="../assets/img/lps/redessociaislucrativas/first-certificate.svg" alt="First Certificate" />
            <h5>Certificado de conclusão</h5>
            <p>
              Quando você terminar a formação, terá um certificado emitido oficialmente pelo Grupo PRIMO. Este selo atesta a
              sua qualidade como um profissional “Classe A” de Social Media e te tornará mais desejado pelo mercado
            </p>
          </div>
          <div class="first-card">
            <img src="../assets/img/lps/redessociaislucrativas/first-logo.svg" alt="First Logo" />
            <h5>1 Ano de Staage</h5>
            <p>
              Você terá acesso completo à nossa plataforma, onde nós preparamos trilhas de direcionamento e cursos completos
              sobre as principais competências do mercado digital, como: Social Media (com Duda Vieira e Liliane Ferrari) ;
              Copywriting (com Roberta Santos e Paulo Maccedo); e Tráfego Pago (com Micha Menezes) e muitos outros
              especialistas.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="s-bonus-fsm">
      <img src="../assets/img/lps/redessociaislucrativas/bonus-faixa.png" class="bonus-faixa" alt="Bonus Faixa" />
      <img
        src="../assets/img/lps/redessociaislucrativas/bonus-faixa-tablet.svg"
        class="bonus-faixa-tablet"
        alt="Bonus Faixa"
      />
      <img
        src="../assets/img/lps/redessociaislucrativas/bonus-faixa-mobile.svg"
        class="bonus-faixa-mobile"
        alt="Bonus Faixa"
      />
      <div class="container-bonus-fsm">
        <div class="bonus-title">
          <h4>Bônus</h4>
          <h3>exclusivos por tempo limitado!</h3>
          <p>Os bônus abaixo apenas estão garantidos para os alunos que se inscreverem na primeira turma da formação</p>
        </div>
        <div class="bonus-cards-box">
          <div class="bonus-card">
            <div class="bonus-card-img">
              <img src="../assets/img/lps/redessociaislucrativas/bonus-processo.png" alt="Bonus Processo" />
            </div>
            <div class="bonus-card-price">
              <h5>Processo seletivo: Social Media do Grupo com 10k em contrato</h5>
              <p>R$ Valor Inestimável</p>
            </div>
            <div class="bonus-card-text">
              <p>
                Nós queremos contratar você! Exatamente, vamos te oferecer a chance de fechar até R$10 mil em contratos
                conosco e a possibilidade de ser efetivado como Social Media do Grupo PRIMO.
                <br /><br />
                É a sua oportunidade de estar bem próximo das marcas e sócios do Grupo: Thiago Nigro, Joel Jota, Bruno
                Perini, que estão fazendo a diferença no mercado digital.
              </p>
            </div>
          </div>
          <div class="bonus-card">
            <div class="bonus-card-img">
              <img src="../assets/img/lps/redessociaislucrativas/bonus-10-melhores.png" alt="Bonus 10 Melhores" />
            </div>
            <div class="bonus-card-price">
              <h5>Os 10 melhores vão protagonizar um documentário que vai para a plataforma</h5>
              <p>R$ Valor Inestimável</p>
            </div>
            <div class="bonus-card-text">
              <p>
                Aqueles que se destacarem, entrarão definitivamente nos holofotes! Você poderá fazer parte de um documentário
                da plataforma da Staage, que mostrará o início da sua trajetória promissora como profissional de Social
                Media. Já imaginou quantas portas poderão se abrir depois disso?
              </p>
            </div>
          </div>
          <div class="bonus-card">
            <div class="bonus-card-img">
              <img src="../assets/img/lps/redessociaislucrativas/bonus-trakto.png" alt="Bonus Trakto" />
            </div>
            <div class="bonus-card-price">
              <h5>1 Ano de Trakto</h5>
              <p>R$ 300,00</p>
            </div>
            <div class="bonus-card-text">
              <p>
                A Trakto é a ferramenta de edição feita para o empreendedor vender mais nas redes sociais, criando com
                facilidade e agilidade – artes para redes sociais, mini sites, ebooks, apresentações e muito mais. E em
                parceria com a Staage, estamos liberando 1 ano de acesso grátis para você.
              </p>
            </div>
          </div>
          <div class="bonus-card">
            <div class="bonus-card-img">
              <img src="../assets/img/lps/redessociaislucrativas/bonus-24h.png" alt="Bonus 24h" />
            </div>
            <div class="bonus-card-price">
              <h5>Imersão presencial para os 100 primeiros alunos.</h5>
              <p>R$ 5.000,00</p>
            </div>
            <div class="bonus-card-text">
              <p>
                Até o fim do ano, faremos uma imersão exclusiva com os nossos alunos como uma forma de celebrar e
                compartilhar todo o aprendizado adquirido dentro da formação.
                <br /><br />
                Caso esteja entre os cem primeiros desta turma, o ingresso não vai custar nada para você!
              </p>
            </div>
          </div>
          <div class="bonus-card2">
            <div class="bonus-card-img2">
              <img src="../assets/img/lps/redessociaislucrativas/bonus-imersao.png" alt="Bonus Imersao" />
            </div>
            <div class="bonus-card-price2">
              <h5>Bônus exclusivo de 24 horas: Grupo de acompanhamento – Melhores conteúdos da semana do Grupo PRIMO.</h5>
              <p>R$ Valor Inestimável</p>
            </div>
            <div class="bonus-card-text2">
              <p>
                Você vai ter acesso à nossa “caixa preta”. Nós iremos compartilhar com você os aprendizados da semana sobre
                aquilo deu certo ou errado nas nossas campanhas de mídias sociais, ao longo das 12 semanas de entrega do
                curso.
                <br /><br />
                Essa é a nossa forma de provar que seguimos a filosofia do “skin in the game” e só ensinamos aquilo que,
                efetivamente, fazemos.
              </p>
            </div>
          </div>
        </div>
        <a
          href="https://pay.hotmart.com/N64612631H?off=3z2vrcht&checkoutMode=10&pmp=STG-VEX-SFSM-STG-BSTG-20220131-ORG-STAAGE-X-VFSMJAN22LPFSMTIME&utm_source=site-fsm-time&utm_campaign=org-site-fsm-time-venda-fms-31-01-22&utm_medium=sfsm&utm_content=cta&utm_term=STG-VEX-SFSM-STG-BSTG-20220131-ORG-STAAGE-X-VFSMJAN22LPFSMTIME&src=STG-VEX-SFSM-STG-BSTG-20220131-ORG-STAAGE-X-VFSMJAN22LPFSMTIME&sck=STG-VEX-SFSM-STG-BSTG-20220131-ORG-STAAGE-X-VFSMJAN22LPFSMTIME"
          target="_blank"
          tabindex="-1"
          class="cta-pre"
        >
          Comprar agora
        </a>
      </div>
    </section>
    <section class="s-price-fsm">
      <div class="container-price-fsm">
        <div class="price-title">
          <h4>Quanto vai custar</h4>
          <h3>A Formação em social media?</h3>
        </div>
        <div class="price-cards-box">
          <div class="price-card">
            <h5><span>12x</span> R$ 145,85</h5>
            <p>ou R$ 1.487 à vista</p>
          </div>
          <div class="price-card">
            <div class="student-price">
              <h6>Alunos Staage</h6>
            </div>
            <h5><span>12x</span> R$ 67,91</h5>
            <p>ou R$ 697 à vista</p>
          </div>
        </div>
        <a
          href="https://pay.hotmart.com/N64612631H?off=3z2vrcht&checkoutMode=10&pmp=STG-VEX-SFSM-STG-BSTG-20220131-ORG-STAAGE-X-VFSMJAN22LPFSMTIME&utm_source=site-fsm-time&utm_campaign=org-site-fsm-time-venda-fms-31-01-22&utm_medium=sfsm&utm_content=cta&utm_term=STG-VEX-SFSM-STG-BSTG-20220131-ORG-STAAGE-X-VFSMJAN22LPFSMTIME&src=STG-VEX-SFSM-STG-BSTG-20220131-ORG-STAAGE-X-VFSMJAN22LPFSMTIME&sck=STG-VEX-SFSM-STG-BSTG-20220131-ORG-STAAGE-X-VFSMJAN22LPFSMTIME"
          target="_blank"
          tabindex="-1"
          class="cta-pre"
        >
          Comprar agora
        </a>
      </div>
    </section>
    <section class="s-professors-fsm">
      <div class="container-professors-fsm">
        <div class="professors-title">
          <h4>Quem serão seus</h4>
          <h3>Professores</h3>
        </div>
        <div class="professors-cards-box">
          <div class="professors-card">
            <div class="professors-card-image">
              <img src="../assets/img/lps/redessociaislucrativas/professors-thiago-nigro.png" alt="Thiago Nigro" />
            </div>
            <div class="professors-card-text">
              <h5>Thiago Nigro</h5>
              <p>Sócio do Grupo Primo</p>
            </div>
          </div>
          <div class="professors-card">
            <div class="professors-card-image">
              <img src="../assets/img/lps/redessociaislucrativas/professors-bruno-perini.png" alt="Bruno Perini" />
            </div>
            <div class="professors-card-text">
              <h5>Bruno Perini</h5>
              <p>Sócio do Grupo Primo</p>
            </div>
          </div>
          <div class="professors-card">
            <div class="professors-card-image">
              <img src="../assets/img/lps/redessociaislucrativas/professors-joel-jota.png" alt="Joel Jota" />
            </div>
            <div class="professors-card-text">
              <h5>Joel Jota</h5>
              <p>Sócio do Grupo Primo</p>
            </div>
          </div>
          <div class="professors-card">
            <div class="professors-card-image">
              <img src="../assets/img/lps/redessociaislucrativas/professors-hugo-goncalves.png" alt="Hugo Gonçalves" />
            </div>
            <div class="professors-card-text">
              <h5>Hugo Gonçalves</h5>
              <p>Diretor de conteúdo da Finclass e sócio do Grupo Primo</p>
            </div>
          </div>
          <div class="professors-card">
            <div class="professors-card-image">
              <img src="../assets/img/lps/redessociaislucrativas/professors-lara-fanochio.png" alt="Lara Finochio" />
            </div>
            <div class="professors-card-text">
              <h5>Lara Finochio</h5>
              <p>Diretora de Produção do Grupo Primo</p>
            </div>
          </div>
          <div class="professors-card">
            <div class="professors-card-image">
              <img src="../assets/img/lps/redessociaislucrativas/professors-marcel-moraes.png" alt="Marcel Moraes" />
            </div>
            <div class="professors-card-text">
              <h5>Marcel Moraes</h5>
              <p>Marketing</p>
            </div>
          </div>
          <div class="professors-card">
            <div class="professors-card-image">
              <img src="../assets/img/lps/redessociaislucrativas/professors-maria-luiza.png" alt="Maria Luiza Espinoza" />
            </div>
            <div class="professors-card-text">
              <h5>Maria Luiza Espinoza</h5>
              <p>Social Media do Joel Jota</p>
            </div>
          </div>
          <div class="professors-card">
            <div class="professors-card-image">
              <img src="../assets/img/lps/redessociaislucrativas/professors-kaique-torres.png" alt="Kaique Torres" />
            </div>
            <div class="professors-card-text">
              <h5>Kaique Torres</h5>
              <p>Diretor de conteúdo e Sócio do Grupo Primo</p>
            </div>
          </div>
          <div class="professors-card">
            <div class="professors-card-image">
              <img src="../assets/img/lps/redessociaislucrativas/professors-daniel-oliveira.png" alt="Daniel Oliveira" />
            </div>
            <div class="professors-card-text">
              <h5>Daniel Oliveira</h5>
              <p>Social Media do Thiago Nigro</p>
            </div>
          </div>
          <div class="professors-card">
            <div class="professors-card-image">
              <img src="../assets/img/lps/redessociaislucrativas/professor-paulo-tenorio.jpeg" alt="Paulo Tenório" />
            </div>
            <div class="professors-card-text">
              <h5>Paulo Tenório</h5>
              <p>CEO da Trakto</p>
            </div>
          </div>
          <div class="professors-card">
            <div class="professors-card-image">
              <img src="../assets/img/lps/redessociaislucrativas/professor-carolina-lima.jpeg" alt="Carolina Lima" />
            </div>
            <div class="professors-card-text">
              <h5>Carolina Lima</h5>
              <p>Head de conteúdo da VTEX</p>
            </div>
          </div>
          <div class="professors-card">
            <div class="professors-card-image">
              <img src="../assets/img/lps/redessociaislucrativas/professor-bruna-fedel.jpeg" alt="Bruna Fadel" />
            </div>
            <div class="professors-card-text">
              <h5>Bruna Fadel</h5>
              <p>Social Media da Bianca Andrade (Boca Rosa)</p>
            </div>
          </div>
          <div class="professors-card">
            <div class="professors-card-image">
              <img src="../assets/img/lps/redessociaislucrativas/professor-jessica-feitosa.jpeg" alt="Jessica Feitosa" />
            </div>
            <div class="professors-card-text">
              <h5>Jessica Feitosa</h5>
              <p>XP Inc.</p>
            </div>
          </div>
        </div>
        <a
          href="https://pay.hotmart.com/N64612631H?off=3z2vrcht&checkoutMode=10&pmp=STG-VEX-SFSM-STG-BSTG-20220131-ORG-STAAGE-X-VFSMJAN22LPFSMTIME&utm_source=site-fsm-time&utm_campaign=org-site-fsm-time-venda-fms-31-01-22&utm_medium=sfsm&utm_content=cta&utm_term=STG-VEX-SFSM-STG-BSTG-20220131-ORG-STAAGE-X-VFSMJAN22LPFSMTIME&src=STG-VEX-SFSM-STG-BSTG-20220131-ORG-STAAGE-X-VFSMJAN22LPFSMTIME&sck=STG-VEX-SFSM-STG-BSTG-20220131-ORG-STAAGE-X-VFSMJAN22LPFSMTIME"
          target="_blank"
          tabindex="-1"
          class="cta-pre"
        >
          Comprar agora
        </a>
      </div>
    </section>

    <div class="footer-fsm">
      <div class="footer_container_fsm">
        <div class="footer_items_fsm">
          <img src="../assets/img/lps/redessociaislucrativas/logo-grupo-primo-fsm.png" alt="Logo Staage Footer" />
          <p>© Copyright 2021 Grupo Primo. Todos os direitos reservados.</p>
          <div class="footer_links">
            <a href="https://app.staage.com/support/termsOfUse" tabindex="-1" target="blank">Termos de uso</a>
            <span>|</span>
            <a href="https://app.staage.com/support/termsOfUse" tabindex="-1" target="blank">Políticas de privacidade</a>
            <span>|</span>
            <a href="https://privacy.staage.com" tabindex="-1" target="blank">Proteja sua privacidade</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Accordion from '../components/Accordion.vue'
export default {
  layout: 'empty',
  components: {
    Accordion
  },
  data() {
    return {
      isVisible: true,
      email: '',
      name: '',
      privacyTerms: false,
      isLoading: false,
      disabled: false
    }
  },
  head() {
    return {
      title: 'Formação em social media',
      description: 'Marketing digital do zero para iniciantes',
      meta: [
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://assine.staage.com/l06fsm'
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Formação em social media'
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Formação em social media'
        },
        { hid: 'og:image', property: 'og:image', content: '' },
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image'
        },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: 'https://assine.staage.com/l06fsm'
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Formação em social media'
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Formação em social media'
        },
        { hid: 'twitter:image', property: 'twitter:image', content: '' }
      ]
    }
  },

  methods: {
    async submit() {
      this.isLoading = true
      this.disabled = true
      const search = {
        userEmail: this.email,
        userFirstname: this.name
      }
      try {
        const response = await this.$store.dispatch('lead/search', search)
        if (response.status === true) {
          const campaing = {
            SL_ID: response.data.user.SL_ID,
            unit: 'STAAGE',
            eventSource: 'campaign',
            eventAction: 'conversion:campaign',
            eventCampaign: 'CPG_STAAGE_FSM',
            eventMeta: {
              url: window.location.href
            }
          }
          await this.$store.dispatch('lead/campaing', campaing)
          this.isLoading = false
          this.$router.push(`/l06fsm_typ/${window.location.search}`)
        }
      } catch (error) {
        this.isLoading = false
        alert('Falha ao cadastrar e-mail, recarregue a página e tente novamente')
      }
    }
  },
  middleware(ctx) {
    ctx.$gtm.push({ event: 'ssr' })
  }
}
</script>
