<template>
  <div class="black-friday">
    <section class="obrigado">
      <div class="obrigado_container">
        <div class="principal_box1">
          <img src="../assets/img/blackfriday/Black.png" alt="Black Image" />
          <img src="../assets/img/blackfriday/Friday.png" alt="Friday Image" />
          <img src="../assets/img/blackfriday/Logo-Staage.png" alt="Logo Staage" />
        </div>
        <div class="principal_box2">
          <h1>Falta um passo para concluir sua inscrição</h1>
          <div class="progress">
            <div class="progress-value">
              <span>80%</span>
            </div>
          </div>
          <p>Toque no botão abaixo para entrar no grupo do WhatsApp e aproveitar a promoção</p>
          <a href="https://wtzp.link/ul/staage">
            <img src="../assets/img/blackfriday/Whatsapp.png" alt="Icone Whatsapp" />
            <span>Entrar no grupo do WhatsApp</span>
          </a>
          <h3>
            Você será redirecionado automaticamente em
            <time>
              <strong id="seconds">{{ redirectSeconds }}.</strong>
            </time>
          </h3>
        </div>
      </div>
    </section>
    <footer>
      <div class="footer_container">
        <div class="footer_items">
          <img src="../assets/img/blackfriday/Logo-Staage-footer.svg" alt="Logo Staage Footer" />
          <p>© Copyright 2021 Grupo Primo. Todos os direitos reservados.</p>
          <div class="footer_links">
            <a href="https://app.staage.com/support/termsOfUse" target="blank">Termos de uso</a>
            <span>|</span>
            <a href="https://app.staage.com/support/termsOfUse" target="blank">Políticas de privacidade</a>
            <span>|</span>
            <a href="https://privacy.staage.com" target="blank">Proteja sua privacidade</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  layout: 'empty',
  data() {
    return {
      redirectSeconds: 10
    }
  },
  head() {
    return {
      title: 'Black Friday Staage',
      description: 'Assine a maior plataforma de marketing digital por um preço jamais visto',
      meta: [
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://assine.staage.com/blackfriday'
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Black Friday Staage'
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Assine a maior plataforma de marketing digital por um preço jamais visto'
        },
        { hid: 'og:image', property: 'og:image', content: '' },
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image'
        },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: 'https://assine.staage.com/blackfriday'
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Black Friday Staage'
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Assine a maior plataforma de marketing digital por um preço jamais visto'
        },
        { hid: 'twitter:image', property: 'twitter:image', content: '' }
      ]
    }
  },
  mounted() {
    const timeinterval = setInterval(() => {
      this.redirectSeconds = this.redirectSeconds - 1
      if (!this.redirectSeconds) {
        clearInterval(timeinterval)
        window.location.href = 'https://wtzp.link/ul/staage'
      }
    }, 1000)
  }
}
</script>
