<template>
  <div>
    <section class="s-banner-topo-soon">
      <div class="container-fluid">
        <div class="container">
          <div class="bg">
            <div class="mask">
              <div class="box-data">
                <img class="square" src="@/assets/img/square.svg" alt="square" />
                <h1>Em Breve</h1>
                <p class="subtitulo">Grandes nomes do marketing do mundo todo ao seu alcance.</p>
                <div class="box-form">
                  <p>Cadastre-se agora e receba as novidades dos melhores conteúdos do marketing ao seu alcance.</p>
                  <form method="POST" action="" class="form" ref="formReset" @submit="submitForm">
                    <input
                      id="email"
                      v-model="email"
                      class="form-imput"
                      type="email"
                      name="email"
                      placeholder="Seu melhor e-mail"
                      data-name="email"
                      required=""
                    />
                    <div class="aceite-termo">
                      <input @click="disabled = !disabled" id="aceite" type="checkbox" name="aceite" value="aceitou" />
                      <label class="aceite" for="aceite"> Aceito receber informações por e-mail </label>
                    </div>
                    <div class="button-send">
                      <button :disabled="disabled" id="submit" type="submit" class="submit" @click.prevent="submitForm()">
                        QUERO FAZER PARTE
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="s-topo-soon">
      <div class="container-fluid">
        <div class="container">
          <div class="box-data">
            <p>Os maiores nomes e conteúdos do marketing</p>
            <h2>Conheças nossos próximos mentores</h2>
            <a class="btn-ver" title="Ver Mentores" href="#mentores">
              <img src="@/assets/img/arrow-to-down.svg" width="48" height="48" alt="Ver Mentores" class="img" />
            </a>
          </div>
        </div>
      </div>
    </section>
    <section id="mentores" class="s-box-soon">
      <div class="container-fluid">
        <!-- <div class="container">
          <div class="bg banner01">
            <div class="mask">
              <div class="box-data">
                <div class="center-h">
                  <h2>Bruno Perini</h2>
                  <h3>Gatilhos mentais</h3>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <div class="container">
          <div class="bg banner02">
            <div class="mask">
              <div class="box-data">
                <div class="center-h">
                  <h2>Thiago Reis</h2>
                  <h3>Vendas na prática</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="bg banner03">
            <div class="mask">
              <div class="box-data">
                <div class="center-h">
                  <h2>Jhonny Martins</h2>
                  <h3>Contabilidade para produtos digitais</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="soon-separator">
      <div class="box-separator">
        <img src="@/assets/img/icon-separador.svg" alt="Separador" />
      </div>
    </div>
    <marketing-plataform />
    <mentores-swiper />
    <frequently-questions />
    <exit-overlay />
  </div>
</template>

<script>
import ExitOverlay from '../components/ExitOverlay.vue'
import MarketingPlataform from '@/components/MarketingPlataform.vue'
import FrequentlyQuestions from '@/components/FrequentlyQuestions.vue'
export default {
  components: {
    ExitOverlay,
    MarketingPlataform,
    FrequentlyQuestions
  },
  data() {
    return {
      email: '',
      disabled: true
    }
  },
  methods: {
    submitForm() {
      if (!/[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}/.test(this.email.toUpperCase())) {
        return alert('Digite um e-mail válido')
      }
      const lead = {
        unit: 'STAAGE',
        email: this.email,
        meta: {
          origin: window.location.href
        }
      }
      this.disabled = true
      this.$axios
        .post('https://lm.timeprimo.com/app/lead/subscribe', lead)
        .then(() => {
          this.email = ''
          alert('E-mail cadastrado com sucesso ;)')
        })
        .catch(() => {
          this.email = ''
          alert('Erro ao cadastrar e-mail, tente novamente mais tarde')
        })
      this.$refs.formReset.reset()
    }
  }
}
</script>

<style lang="scss" scoped>
.s-producoes {
  margin-top: 0;
}
.banner01 {
  background: url('../assets/img/soon-perini.png') no-repeat center;
}
.banner02 {
  background: url('../assets/img/soon-reis.png') no-repeat center;
}
.banner03 {
  background: url('../assets/img/soon-jhonny.png') no-repeat center;
}
</style>
