<!DOCTYPE html>
<html {{ HTML_ATTRS }}>

<head>
  {{ HEAD }}
  <script src="https://www.googleoptimize.com/optimize.js?id=OPT-KNNX9L5"></script>
  <script src="https://use.fontawesome.com/b39ff90a17.js"></script>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MDH43QJ');
  </script>
  <!-- End Google Tag Manager -->
  
  <!-- Hotjar Tracking Code for LP Principal --> 
  <script>
    (function(h,o,t,j,a,r){ h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)}; 
    h._hjSettings={hjid:2633786,hjsv:6}; a=o.getElementsByTagName('head')[0]; 
    r=o.createElement('script');r.async=1; r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv; a.appendChild(r); })
    (window,document,'https://static.hotjar.com/c/hotjar-','.js?sv='); 
  </script>
  <!-- End Hotjar Tracking Code for LP Principal --> 
  
</head>

<body {{ BODY_ATTRS }}>
  {{ APP }}

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDH43QJ" height="0" width="0"
      style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->

</body>
<!-- <script type="text/javascript" src=""></script> -->
<script type="text/javascript">
  window.onload = function () {
    const UTM_SOURCE = new URLSearchParams(window.location.search).get('utm_source');
    const UTM_CAMPAIGN = new URLSearchParams(window.location.search).get('utm_campaign');
    const UTM_MEDIUM = new URLSearchParams(window.location.search).get('utm_medium');
    const UTM_CONTENT = new URLSearchParams(window.location.search).get('utm_content');
    const UTM_TERM = new URLSearchParams(window.location.search).get('utm_term');
    const PMP = new URLSearchParams(window.location.search).get('pmp');
    const CUPOM = new URLSearchParams(window.location.search).get('cupom');
    var _p = [];
    for (let p of new URLSearchParams(window.location.search)){ _p.push(`${p[0]}=${p[1]}`) };
    let _u = _p.join('&');
    var elements = document.getElementsByClassName('buttonRegister');
    for (var i = 0; i < elements.length; i++) {
      elements[i].href = `https://app.staage.com/initiate/register/${_u != '' ? '?'+_u : ''}`;
    };
    var elements = document.getElementsByClassName('buttonSoon');
    for (var i = 0; i < elements.length; i++) {
      elements[i].href = `https://staage.com/soon/?${UTM_SOURCE ? 'utm_source=' + UTM_SOURCE : ''}${UTM_CAMPAIGN ? '&utm_campaign=' + UTM_CAMPAIGN : ''}${UTM_MEDIUM ? '&utm_medium=' + UTM_MEDIUM : ''}${UTM_CONTENT ? '&utm_content=' + UTM_CONTENT : ''}${UTM_TERM ? '&utm_term=' + UTM_TERM : ''}${PMP ? '&pmp=' + PMP : ''}${CUPOM ? '&cupom=' + CUPOM : ''}`;
    };
    var elements = document.getElementsByClassName('buttonHome');
    for (var i = 0; i < elements.length; i++) {
      elements[i].href = `https://staage.com/?${UTM_SOURCE ? 'utm_source=' + UTM_SOURCE : ''}${UTM_CAMPAIGN ? '&utm_campaign=' + UTM_CAMPAIGN : ''}${UTM_MEDIUM ? '&utm_medium=' + UTM_MEDIUM : ''}${UTM_CONTENT ? '&utm_content=' + UTM_CONTENT : ''}${UTM_TERM ? '&utm_term=' + UTM_TERM : ''}${PMP ? '&pmp=' + PMP : ''}${CUPOM ? '&cupom=' + CUPOM : ''}`;
    };
    var elements = document.getElementsByClassName('buttonBlog');
    for (var i = 0; i < elements.length; i++) {
      elements[i].href = `https://blog.staage.com/?${UTM_SOURCE ? 'utm_source=' + UTM_SOURCE : ''}${UTM_CAMPAIGN ? '&utm_campaign=' + UTM_CAMPAIGN : ''}${UTM_MEDIUM ? '&utm_medium=' + UTM_MEDIUM : ''}${UTM_CONTENT ? '&utm_content=' + UTM_CONTENT : ''}${UTM_TERM ? '&utm_term=' + UTM_TERM : ''}${PMP ? '&pmp=' + PMP : ''}${CUPOM ? '&cupom=' + CUPOM : ''}`;
    };
    var elements = document.getElementsByClassName('buttonLogin');
    for (var i = 0; i < elements.length; i++) {
      elements[i].href = `https://app.staage.com/initiate/login?${UTM_SOURCE ? 'utm_source=' + UTM_SOURCE : ''}${UTM_CAMPAIGN ? '&utm_campaign=' + UTM_CAMPAIGN : ''}${UTM_MEDIUM ? '&utm_medium=' + UTM_MEDIUM : ''}${UTM_CONTENT ? '&utm_content=' + UTM_CONTENT : ''}${UTM_TERM ? '&utm_term=' + UTM_TERM : ''}${PMP ? '&pmp=' + PMP : ''}${CUPOM ? '&cupom=' + CUPOM : ''}`;
    };
    window.primoprivacy.init();
  };
</script>

<!-- Start of Woopra Code -->
<script>
  (function () {
    var t, i, e, n = window, o = document, a = arguments, s = "script", r = ["config", "track", "identify", "visit", "push", "call", "trackForm", "trackClick"], c = function () { var t, i = this; for (i._e = [], t = 0; r.length > t; t++)(function (t) { i[t] = function () { return i._e.push([t].concat(Array.prototype.slice.call(arguments, 0))), i } })(r[t]) }; for (n._w = n._w || {}, t = 0; a.length > t; t++)n._w[a[t]] = n[a[t]] = n[a[t]] || new c; i = o.createElement(s), i.async = 1, i.src = "//static.woopra.com/js/w.js", e = o.getElementsByTagName(s)[0], e.parentNode.insertBefore(i, e)
  })("woopra");
  woopra.config({
    domain: 'staage.com'
  });
  woopra.track();
</script>
<!-- End of Woopra Code -->

</html>