<template>
  <div class="typ_natal">
    <section class="typ_natal_obrigado">
      <img
        src="@/assets/img/lps/l05anstg/l05anstg-infinity-stamp.png"
        class="l05anstg-infinity-stamp"
        alt="Infinity Stamp"
      />
      <img
        src="@/assets/img/lps/l05anstg/l05anstg-infinity-stamp2.svg"
        class="l05anstg-infinity-stamp2"
        alt="Infinity Stamp2"
      />
      <div class="typ_natal_obrigado_layer"></div>
      <div class="typ_natal_container">
        <div class="l05anstg_logo_hero">
          <img src="@/assets/img/lps/l05anstg/Logo-Staage-Natal.svg" alt="Logo Staage Natal" />
          <span>apresenta</span>
        </div>
        <div class="typ_natal_principal_box1">
          <span>Acesse para sempre!</span>
          <h1>Oferta Especial de Natal</h1>
        </div>
        <div class="typ_natal_principal_box2">
          <p>
            Parabéns, Staager!
            <br />
            Para confirmar 100% o seu pré-cadastro para receber todas as informações e liberar a conquista Staager Infinity,
            falta apenas 1 passo:
          </p>
          <div class="progress">
            <div class="progress-value">
              <span>50%</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="passos">
      <lightrope :lightropeClass="'lightrope_typ'" />
      <div class="passos_container">
        <div class="passos_cards">
          <div class="passos_card">
            <div class="passos_card_title">
              <span>Passo 1</span>
            </div>
            <div class="passos_card_text">
              <div class="passos_card_image">
                <img src="@/assets/img/lps/l05anstg/logo_whatsapp_passos.png" alt="Logo Whatsapp" />
                <h5>Entre no grupo silenciado do Whatsapp</h5>
              </div>
              <p>
                Vamos usar ele para te deixar informado de todos os detalhes e garantir que você receba a mensagem na palma
                da sua mão de quando estiver liberado o acesso para se tornar um membro vitalício.
              </p>
              <a href="https://chat.whatsapp.com/JEsUMaNKY0jBZg6awC4qf2" target="_blank">
                <span>Entre no grupo exclusivo</span>
              </a>
            </div>
          </div>

          <!-- <div class="passos_card">
            <div class="passos_card_title">
              <span>Passo 2</span>
            </div>
            <div class="passos_card_text">
              <div class="passos_card_image">
                <img src="@/assets/img/lps/l05anstg/passos-icon.png" alt="Icon Passos">
                <h5>Responda o nosso formulário</h5>
              </div>
              <p>
                O segundo é para que possamos fazer juntos o melhor programa de membros vitalício 
                de marketing, e para isso precisamos que você responda algumas perguntas rápidas. 
                É só tocar no botão e reservar 3 minutos.
              </p>
              <a href="https://87e91szwp9r.typeform.com/to/dGCX8HhC">
                <span>Responder formulário</span>
              </a>
            </div>
          </div> -->
        </div>
      </div>
    </section>
    <div class="footer_typ_natal">
      <div class="footer_container_typ_natal">
        <div class="footer_items_typ_natal">
          <img src="../assets/img/blackfriday/Logo-Staage-footer.svg" alt="Logo Staage Footer" />
          <p>© Copyright 2021 Grupo Primo. Todos os direitos reservados.</p>
          <div class="footer_links_typ_natal">
            <a href="https://app.staage.com/support/termsOfUse" target="blank">Termos de uso</a>
            <span>|</span>
            <a href="https://app.staage.com/support/termsOfUse" target="blank">Políticas de privacidade</a>
            <span>|</span>
            <a href="https://privacy.staage.com" target="blank">Proteja sua privacidade</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Lightrope from '../../../components/Lightrope.vue';
export default {
  components: {
    Lightrope,
  },
  layout: 'empty',
  head() {
    return {
      title: 'Natal Staage',
      description: 'Assine a maior plataforma de marketing digital por um preço jamais visto',
      meta: [
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://assine.staage.com/l05anstg',
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Natal Staage',
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Assine a maior plataforma de marketing digital por um preço jamais visto',
        },
        { hid: 'og:image', property: 'og:image', content: '' },
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image',
        },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: 'https://assine.staage.com/l05anstg',
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Natal Staage',
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Assine a maior plataforma de marketing digital por um preço jamais visto',
        },
        { hid: 'twitter:image', property: 'twitter:image', content: '' },
      ],
    };
  },
};
</script>

<style>
</style>