<template>
  <div class="l05anstg">
    <section class="l05anstg_principal">
      <snowflakes />
      <img
        src="@/assets/img/lps/l05anstg/l05anstg-infinity-stamp.png"
        class="l05anstg-infinity-stamp"
        alt="Infinity Stamp"
      />
      <img
        src="@/assets/img/lps/l05anstg/l05anstg-infinity-stamp2.svg"
        class="l05anstg-infinity-stamp2"
        alt="Infinity Stamp2"
      />
      <div class="l05anstg_principal_container">
        <div class="l05anstg_logo_hero">
          <img src="@/assets/img/lps/l05anstg/Logo-Staage-Natal.svg" alt="Logo Staage Natal" />
          <span>apresenta</span>
        </div>
        <span>ACESSE PARA SEMPRE!</span>
        <h1>Oferta Especial de Natal</h1>
        <p>
          Seja um membro vitalício da Staage e garanta o seu
          <strong>acesso ilimitado a todo conteúdo liberado na plataforma</strong> daqui para frente
          <strong>+ 4 bônus exclusivos</strong> de final de ano, pagando apenas uma vez por isso.
        </p>
        <div id="clockdiv">
          <div>
            <span class="days border-gradient border-gradient-purple">{{ days }}</span>
            <div class="smalltext">Dias</div>
          </div>
          <div>
            <span class="hours">{{ hrs }}</span>
            <div class="smalltext">Horas</div>
          </div>
          <div>
            <span class="minutes">{{ mins }}</span>
            <div class="smalltext">Minutos</div>
          </div>
          <div>
            <span class="seconds">{{ secs }}</span>
            <div class="smalltext">Segundos</div>
          </div>
        </div>
        <a href="https://app.staage.com/" class="btn-comece buttonLogin" target="_blank">
          <span>Aproveitar oferta</span>
        </a>
        <lightrope :lightropeClass="'lightrope'" />
      </div>
    </section>

    <section class="l05anstg_staage">
      <div class="l05anstg_staage_container">
        <div class="l05anstg_staage_box1">
          <img src="../assets/img/blackfriday/Macbook.png" alt="Macbook" />
        </div>
        <div class="l05anstg_staage_box2">
          <h3>+ de 180 cursos de Marketing</h3>
          <p>
            Em menos de 6 meses já liberamos mais de 30 cursos na nossa plataforma, consegue imaginar quantos teremos em 3
            anos?
            <br /><br />
            No ritmo atual, estamos falando de aproximadamente 180 cursos. Se você fosse investir fora da Staage em 180
            cursos de marketing no valor médio de R$ 39,90... pagaria R$ 5.382,00.
            <br /><br />
            Como membro vitalício você pagará um valor único, receberá todas as atualizações da plataforma, e ganhará o
            status de Staager Infinity – com alguns benefícios que outros membros não terão acesso.
          </p>
        </div>
      </div>
    </section>

    <section class="l05anstg_gifts">
      <div class="l05anstg_gifts_layer"></div>
      <div class="l05anstg_gifts_container">
        <div class="l05anstg_gifts_title">
          <h3>O que o Staager Infinity vai receber?</h3>
          <p>
            Além dos cursos que já estão disponíveis na plataforma, você receberá bônus exclusivos para este final de ano e
            começará 2022 em outro patamar.
          </p>
        </div>
        <div class="l05anstg_gifts_cards">
          <div class="l05anstg_card">
            <div class="l05anstg_card_image">
              <img src="@/assets/img/lps/l05anstg/Mockup-Trakto.png" alt="Trakto" />
            </div>
            <div class="l05anstg_card_text">
              <img src="@/assets/img/lps/l05anstg/trakto-logo.png" alt="Trakto logo" />
              <div class="l05anstg_card_price">
                <h4>1 ano de Trakto</h4>
                <span>R$ 300,00</span>
              </div>
              <p>
                A Trakto é a ferramenta de edição feita para o empreendedor vender mais nas redes sociais, criando com
                facilidade e agilidade – artes para redes sociais, mini sites, ebooks, apresentações e muito mais...
                <br /><br />
                E em parceira com a Staage estamos liberando 1 ano de acesso aos nossos membros vitalícios.
              </p>
            </div>
            <img src="@/assets/img/lps/l05anstg/gift-stamp.png" class="gift_stamp" alt="Gift Stamp" />
          </div>

          <div class="l05anstg_card">
            <div class="l05anstg_card_image">
              <img src="@/assets/img/lps/l05anstg/Mockup-Redes-Sociais.png" alt="Redes Sociais" />
            </div>
            <div class="l05anstg_card_text">
              <img src="@/assets/img/lps/l05anstg/Redes-Sociais-Logo.svg" alt="Redes Sociais logo" />
              <div class="l05anstg_card_price">
                <h4>Formação em Social Media</h4>
                <span>R$ 997,00</span>
              </div>
              <p>
                No começo de 2022 vamos lançar a primeira formação da Staage - Formação em Social Media.
                <br /><br />
                Será um treinamento 360º para você se tornar um dos profissionais mais bem pagos do marketing digital,
                podendo cobrar até R$ 5.000,00 por cliente, dependendo da sua experiência e performance, além da
                possibilidade de trabalhar do lugar que você escolher.
                <br /><br />
                Vão ser mais de 30 horas de conteúdo prático, com certificação do Grupo Primo, Planner, Mini Cursos e outras
                surpresas que estamos preparando.
                <br /><br />
                E você, membro vitalício vai receber acesso integral ao conteúdo online dessa formação.
              </p>
            </div>
            <img src="@/assets/img/lps/l05anstg/gift-stamp.png" class="gift_stamp" alt="Gift Stamp" />
          </div>

          <div class="l05anstg_card">
            <div class="l05anstg_card_image">
              <img src="@/assets/img/lps/l05anstg/staager-infinity-gift.png" alt="Staager Infinity" />
            </div>
            <div class="l05anstg_card_text">
              <div class="l05anstg_card_price">
                <h4>Evento Presencial Exclusivo para Staagers Infinity</h4>
                <span>R$ 5.000,00</span>
              </div>
              <p>
                Em 2021 fizemos 2 imersões que tiveram o ticket médio em torno de R$ 5.000,00 por pessoa, foi incrível, 3
                dias de conteúdo, networking e acesso ao time e sócios do Grupo Primo.
                <br /><br />
                Em 2022, vamos fazer um evento exclusivo para os nossos membros vitalícios e o ingresso não custará nada para
                você.
              </p>
            </div>
            <img src="@/assets/img/lps/l05anstg/gift-stamp.png" class="gift_stamp" alt="Gift Stamp" />
          </div>

          <div class="l05anstg_card">
            <div class="l05anstg_card_image">
              <img src="@/assets/img/lps/l05anstg/exclusive-gift.png" alt="Exclusive" />
            </div>
            <div class="l05anstg_card_text">
              <div class="l05anstg_card_price">
                <h4>+ Acesso, Exclusividade e Melhores Preços</h4>
                <span>R$ ????,??</span>
              </div>
              <p>
                Nossos membros Founders do dia do lançamento até hoje, tiveram mais acesso, exclusividade e melhores preços
                dentro do Grupo Primo.
                <br /><br />
                Acompanharam gravações de aulas, estiveram mais próximos do Joel Jota e do Bruno Perini, tiveram uma sessão
                de cinema exclusiva e melhores preços tanto para se tornar membro vitalício quanto para outros produtos do
                Grupo Primo, como fizemos recentemente na Finclass, no Arsenal de Alta Performance e Finanças durante a Black
                Friday.
                <br /><br />
                Você, membro vitalício, terá cada vez mais acesso, exclusividade e melhores preços também.
              </p>
            </div>
            <img src="@/assets/img/lps/l05anstg/gift-stamp.png" class="gift_stamp" alt="Gift Stamp" />
          </div>
        </div>
      </div>
    </section>

    <section class="l05anstg_price">
      <div class="l05anstg_price_container">
        <div class="l05anstg_price_text">
          <h3>Aproveite a oferta de natal</h3>
          <p>
            Essa oferta é única para quem se tornar membro vitalício em 2021 e essa é a última oportunidade.
            <br /><br />
            Abrimos pela primeira vez na Black Friday e como muitas pessoas perderam essa janela, vamos abrir essa segunda e
            última do ano, aproveitando o espírito natalino.
            <br /><br />
            E por que essa oferta é única?
            <br /><br />
            Porque não temos a pretensão de abrir as vagas do programa de membros vitalícios tão cedo, e provavelmente a
            próxima abertura só será feita, depois que a formação de social media e o evento forem realizados.
            <br /><br />
            Vamos abrir outras vezes, mas esses bônus você só ganha agora.
          </p>
        </div>
        <div class="l05anstg_price_card">
          <div class="l05anstg_price_number1">
            <p>De R$ 8.797,00</p>
            <span>por apenas</span>
          </div>
          <div class="l05anstg_price_number2">
            <h6>Membro Staager</h6>
            <h5>R$ 1.497,90</h5>
            <span>parcelado em até 12x</span>
          </div>
          <div class="l05anstg_price_number2">
            <h6>Membro Founder</h6>
            <h5>R$ 997,90</h5>
            <span>parcelado em até 12x</span>
          </div>

          <div class="l05anstg_price_list">
            <div class="l05anstg_list_item">
              <img src="@/assets/img/lps/l05anstg/l05anstg-check.png" alt="Check List" />
              <p>Programa Vitalício - <span>R$ 2.500,00</span></p>
            </div>
            <div class="l05anstg_list_item">
              <img src="@/assets/img/lps/l05anstg/l05anstg-check.png" alt="Check List" />
              <p>1 ano de Trakto - <span>R$ 300,00</span></p>
            </div>
            <div class="l05anstg_list_item">
              <img src="@/assets/img/lps/l05anstg/l05anstg-check.png" alt="Check List" />
              <p>Formação Social Media - <span>R$ 997,00</span></p>
            </div>
            <div class="l05anstg_list_item">
              <img src="@/assets/img/lps/l05anstg/l05anstg-check.png" alt="Check List" />
              <p>Evento Presencial - <span>R$ 5.000,00</span></p>
            </div>
          </div>
          <a href="https://app.staage.com/" class="btn-comece buttonLogin" target="_blank">
            <span>Aproveitar Oferta</span>
          </a>
        </div>
      </div>
    </section>

    <footer>
      <div class="footer_container">
        <div class="footer_items">
          <img src="../assets/img/blackfriday/Logo-Staage-footer.svg" alt="Logo Staage Footer" />
          <p>© Copyright 2021 Grupo Primo. Todos os direitos reservados.</p>
          <div class="footer_links">
            <a href="https://app.staage.com/support/termsOfUse" rel="noreferrer" target="blank">Termos de uso</a>
            <span>|</span>
            <a href="https://app.staage.com/support/termsOfUse" rel="noreferrer" target="blank">Políticas de privacidade</a>
            <span>|</span>
            <a href="https://privacy.staage.com" rel="noreferrer" target="blank"> Proteja sua privacidade</a>
          </div>
        </div>
      </div>
    </footer>

    <section class="bannerBottom_container_l05anstg">
      <div class="bannerBottom_box_l05anstg">
        <div class="bannerBottom_box_l05anstg_text">
          <p>Torne-se um Staager vitalício</p>
          <span><strong>em até 12x</strong></span>
        </div>
        <a href="https://app.staage.com/" class="btn-comece buttonLogin" target="_blank">
          <strong>Aproveitar Oferta</strong>
        </a>
      </div>
    </section>
  </div>
</template>
<script>
import Lightrope from '../../../components/Lightrope.vue'
import Snowflakes from '../../../components/Snowflakes.vue'
export default {
  layout: 'empty',
  components: {
    Lightrope,
    Snowflakes
  },
  data() {
    return {
      days: 0,
      hrs: 0,
      mins: 0,
      secs: 0,
      active: 0,
      name: '',
      email: '',
      privacyTerms: false,
      isLoading: false
    }
  },
  head() {
    return {
      title: 'Staage - Oferta de Natal',
      description: 'Assine a maior plataforma de marketing digital por um preço jamais visto',
      meta: [
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://assine.staage.com/l05anstg'
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Staage - Oferta de Natal'
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Assine a maior plataforma de marketing digital por um preço jamais visto'
        },
        { hid: 'og:image', property: 'og:image', content: '' },
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image'
        },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: 'https://assine.staage.com/l05anstg'
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Staage - Black Friday'
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Assine a maior plataforma de marketing digital por um preço jamais visto'
        },
        { hid: 'twitter:image', property: 'twitter:image', content: '' }
      ]
    }
  },
  mounted() {
    this.countdown()
  },
  methods: {
    countdown() {
      const timeLoop = setInterval(() => {
        const currentTime = new Date()
        const deadLine = new Date('Dec 20, 2021 23:59:59')
        const timeDiff = deadLine.getTime() - currentTime.getTime()

        if (timeDiff < 0) {
          clearInterval(timeLoop)
        }

        this.days = Math.floor(timeDiff / 86400000)
        this.hrs = Math.floor((timeDiff % 86400000) / 3600000)
        this.mins = Math.floor((timeDiff % 3600000) / 60000)
        this.secs = Math.floor((timeDiff % 60000) / 1000)
      }, 1000)
    },
    async submit() {
      this.isLoading = true
      const subscription = {
        unit: 'STAAGE',
        email: this.email,
        name: this.name,
        source: 'campaign',
        tag: '75',
        meta: {
          origin: window.location.href
        }
      }
      try {
        const response = await this.$store.dispatch('lead/subscribe', subscription)
        if (response.status) {
          this.isLoading = false
          this.$router.push(`/i01vitobrigado/${window.location.search}`)
        }
      } catch (error) {
        this.isLoading = false
        alert('Falha ao cadastrar e-mail, recarregue a página e tente novamente')
      }
    }
  },
  middleware(ctx) {
    ctx.$gtm.push({ event: 'ssr' })
  }
}
</script>
