<template>
  <div>
    <loader-default v-if="isLoading === true" />
    <template v-else>
      <section class="s-banner-top-professor" :style="{ 'background-image': 'url(' + background + ')' }">
        <div class="container-fluid">
          <div class="box-data">
            <div class="box-info">
              <div class="container">
                <h1>{{ course.courseTitle }}</h1>
                <span v-if="new Date().getTime() >= new Date(this.courseRelease).getTime()" class="linha"></span>
                <div v-else class="breveContainer">
                  <span class="em-breve-linha"></span>
                  <p>Em Breve</p>
                  <span class="em-breve-linha"></span>
                </div>
                <p>
                  {{ course.courseDescription }}
                </p>
                <div class="box-play-compartilhe">
                  <a class="play" title="Play" @click="goto()">
                    <img
                      src="@/assets/img/icon-play-treiler.png"
                      alt="Play"
                      class="img dzsparallaxer auto-init"
                      data-options='{ settings_mode: "oneelement",direction:"reverse",settings_mode_oneelement_max_offset: "10"}'
                    />
                    <small>Trailer</small>
                  </a>
                  <a class="compartilhe" title="Compartilhe" @click="ismodalOpen = !ismodalOpen">
                    <xmodal v-model="ismodalOpen" :params="options" />
                    <img
                      src="@/assets/img/icon-compartilhe.png"
                      alt="Compartilhe"
                      class="img dzsparallaxer auto-init"
                      data-options='{ settings_mode: "oneelement",direction:"reverse",settings_mode_oneelement_max_offset: "10"}'
                    />
                    <small>Compartilhe</small>
                  </a>
                </div>
              </div>
              <a @click="navigate('https://app.staage.com/initiate/register')" class="btn-comece" target="_blank">
                <img src="@/assets/img/arrow-right.svg" alt="arrow-right" />
                <strong>Comece agora</strong>
                <img src="@/assets/img/arrow-left.svg" alt="arrow-left" />
              </a>
              <p class="condition-value">R$39,90 <span>mês no plano anual</span></p>
            </div>
          </div>
        </div>
      </section>
      <section class="s-playlist-video">
        <div class="container">
          <div ref="trailer" class="box-video">
            <h3>Assista ao trailer</h3>
            <div id="show-video">
              <iframe
                id="videoarea"
                loading="lazy"
                width="560"
                height="431"
                src="https://www.youtube.com/embed/8KvdKnoLrBc"
                title="Assista ao trailer"
                allow="autoplay"
                frameborder="0"
                allowfullscreen
              >
              </iframe>
            </div>
            <h4 class="title">{{ course.courseTitle }}</h4>
            <div id="description_video_playlist">
              <p>{{ firstLessonDescription }}</p>
            </div>
          </div>
          <div class="box-lista">
            <div class="box-lista-title">
              <h3>Conteúdo disponível</h3>
            </div>
            <div class="scroll-lista">
              <ul class="accordion-list" v-for="lesson in lessons" :key="lesson.lessonID">
                <li id="2" class="video" videourl="https://youtu.be/n6x593H7Si4">
                  <accordion :id="lesson.lessonID" :title="lesson.lessonTitle" accordionClass="cardVideo">
                    <p>{{ lesson.lessonDescription }}</p>
                  </accordion>
                </li>
              </ul>
            </div>
            <a @click="navigate('https://app.staage.com/initiate/register')" class="btn-comece" target="_blank">
              <img src="@/assets/img/arrow-right.svg" alt="arrow-right" />
              <strong>Comece agora</strong>
              <img src="@/assets/img/arrow-left.svg" alt="arrow-left" />
            </a>
          </div>
        </div>
      </section>
      <section class="s-os-melhores">
        <div class="container">
          <div class="os-melhores-title1">
            <div class="melhores-title-span">
              <img src="@/assets/img/icon-os-melhores.png" alt="Icone os melhores" />
              <span class="gradient-text">E você ainda tem acesso a</span>
            </div>

            <div class="melhores-title-main">
              <img src="@/assets/img/icon-os-melhores.png" alt="Icone os melhores" />
              <h3>Aprender com os melhores</h3>
            </div>
          </div>
          <div class="os-melhores-description">
            <p>
              Conte com a ajuda das maiores referências do mercado digital para te ensinar o caminho das pedras para ter
              MUITO resultado.
            </p>
          </div>
        </div>
        <swiper-new-lp />
      </section>
      <access-backstage />
      <div class="bg-pg-teacher">
        <div class="separator"><img src="@/assets/img/icon-separador.svg" alt="icon-separador" /></div>
      </div>
      <start-today />
      <only-thing />
      {{ preview }}
      <frequently-questions />
      <section class="">
        <div id="modal">
          <button @click="ismodalOpen = !ismodalOpen"></button>
          <xmodal v-model="ismodalOpen" :params="options" />
        </div>
      </section>
    </template>
  </div>
</template>
<script>
import Vue from 'vue'
import xmodal from 'xmodal-vue'
import Modal from '@/components/Modal'
import { durationToTime } from '@/utils'
import OnlyThing from '@/components/OnlyThing'
import Accordion from '@/components/Accordion'
import StartToday from '@/components/StartToday'
import SwiperNewLp from '@/components/SwiperNewLp'
import LoaderDefault from '@/components/LoaderDefault'
import AccessBackstage from '@/components/AccessBackstage'
import FrequentlyQuestions from '@/components/FrequentlyQuestions'
Vue.use(xmodal)
export default {
  components: {
    Accordion,
    OnlyThing,
    StartToday,
    SwiperNewLp,
    LoaderDefault,
    AccessBackstage,
    FrequentlyQuestions
  },
  name: 'App',
  async created() {
    this.getCourse()
  },
  data() {
    return {
      isLoading: true,
      lessons: {},
      firstLessonTitle: '',
      firstLessonDescription: '',
      firstLessonDuration: '',
      courseRelease: '',
      course: {},
      background: '',
      courseID: this.$route.params.slug,
      ismodalOpen: false,
      options: {
        component: Modal,
        backgroundColor: '#000000',
        opacity: '0.7',
        animation: 'scaleLeft'
      }
    }
  },
  computed: {
    duration() {
      return `T01EP${this.lessons.length}`
    }
  },
  methods: {
    navigate(url) {
      window.location.href = `${url}/${window.location.search}`
    },
    async getCourse() {
      this.isLoading = true
      try {
        this.course = await this.$store.dispatch('courses/getCourseByID', this.courseID)
        if (!this.course) {
          this.$router.push({ name: 'error' })
        } else {
          this.background = this.course.courseMedias.centerThumb
          this.lessons = this.course.courseModules[0].moduleEntities
          this.firstLessonTitle = this.lessons[0].lessonTitle
          this.firstLessonDescription = this.lessons[0].lessonDescription
          this.firstLessonDuration = this.lessons[0].lessonDuration
          this.courseRelease = this.course.courseRelease
          this.isLoading = false
        }
      } catch (err) {
        this.$router.push({ name: 'index' })
        console.error(err)
      }
    },
    lessonDuration: durationToTime,
    goto() {
      window.scrollTo(0, 780)
    }
  },
  head() {
    return {
      image: `${this.background}`,
      title: `${this.course.courseCenter}`,
      description: `${this.course.courseDescription}`,
      meta: [
        { hid: 'card', name: 'twitter:card', content: 'summary' },
        { hid: 'og:image', property: 'twitter:image', content: `${this.background}` },
        {
          hid: 'title',
          name: 'twitter:title',
          content: `${this.course.courseCenter}` + ' | ' + `${this.course.courseTitle}`
        },
        { hid: 'description', name: 'twitter:description', content: `${this.course.courseDescription}` },
        {
          hid: 'title',
          property: 'og:title',
          content: `${this.course.courseCenter}` + ' | ' + `${this.course.courseTitle}`
        },
        { hid: 'og:description', property: 'og:description', content: `${this.course.courseDescription}` },
        {
          hid: 'og:site_name',
          property: 'og:site_name',
          content: `${this.course.courseCenter}` + ' | ' + `${this.course.courseTitle}`
        },
        { hid: 'og:image', property: 'og:image', content: `${this.background}` },
        { hid: 'og:image:secure_url', property: 'og:image:secure_url', content: `${this.background}` },
        { hid: 'og:image:width', property: 'og:image:width', content: '200' },
        { hid: 'og:image:height', property: 'og:image:height', content: '200' }
      ]
    }
  }
}
</script>
