<template>
  <section class="s-bastidores">
    <div class="container">
      <div class="bastidores-title">
        <img src="@/assets/img/icon-backstage.png" alt="Icone Backstage" />
        <h3>Acesse os bastidores dos maiores negócios digitais</h3>
      </div>
      <div class="bastidores-text">
        <div class="bastidores-description">
          <p>
            Além de aulas completas, com princípios, aplicação prática e material complementar para cada Staageclass, você
            ainda vai ter acesso em primeira mão aos bastidores dos maiores lançamentos e negócios digitais do Brasil.
          </p>
          <p>Negócios sustentáveis, que ditam o mercado, que inovam e que faturam múltiplos 7 dígitos todos os anos.</p>
          <p>
            Com certeza, ver de perto como atuam os maiores nomes do mercado digital brasileiro vai mudar o seu jogo e te dar
            diversos insights interessantes para o seu negócio/carreira.
          </p>
          <p>Confira as aulas com os bastidores já disponíveis na Staage.</p>

          <a href="https://app.staage.com/initiate/register" class="btn-comece buttonRegister" target="_blank">
            <img src="@/assets/img/arrow-right.svg" alt="arrow-right" />
            <strong>Comece agora</strong>
            <img src="@/assets/img/arrow-left.svg" alt="arrow-left" />
          </a>
        </div>
        <div class="bastidores-swiper">
          <swiper-backstage-new-lp />
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import SwiperBackstageNewLp from './SwiperBackstageNewLp.vue'
export default {
  components: {
    SwiperBackstageNewLp
  }
}
</script>
