<template>
  <div :id="id" :class="[accordionClass, 'js-accordion']" @click="initAccordion(`.${accordionClass}.js-accordion`, id)">
    <div class="titulo">
      <h4>{{ title }}</h4>
      <h5>{{ subtitle }}</h5>
      <div class="icon">
        <img src="@/assets/img/arrow-down.svg" alt="" />
      </div>
    </div>
    <div class="subtitulo">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import { initAccordion } from '../utils/index'
export default {
  props: {
    id: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    subtitle: {
      type: String,
      default: ''
    },
    accordionClass: {
      type: String,
      required: true
    }
  },
  methods: {
    initAccordion
  }
}
</script>
