<template>
  <section class="bannerBottom_container">
    <div class="bannerBottom_box">
      <p>Staage R${{ plan }} no plano anual</p>
      <a href="https://app.staage.com/initiate/register" class="btn-comece buttonRegister" target="_blank" rel="noopener">
        <img src="@/assets/img/arrow-right.svg" alt="arrow-right" />
        <strong>Comece agora</strong>
        <img src="@/assets/img/arrow-left.svg" alt="arrow-left" />
      </a>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    plan: {
      type: String,
      required: true
    }
  }
}
</script>
