<template>
  <section class="bannerBottom_container">
    <div class="bannerBottom_box">
      <p>Staage R${{ plan }} no plano anual <br> Aproximadamente € 82,02 /ano</p>
      <a
        href="https://app.staage.com/initiate/register/?pt=2&pmp=STG-VEX-QRCD-STG-BSTG-20220214-ORG-STAAGE-X-VSTAAGELPPORTUGAL&utm_source=qrcode&utm_campaign=org-qrcode-site-lp-portugal-venda-staage-14-02-22&utm_medium=qrcode&utm_content=cta&utm_term=STG-VEX-QRCD-STG-BSTG-20220214-ORG-STAAGE-X-VSTAAGELPPORTUGAL&cupom=STAAGEPT"
        class="btn-comece"
        target="_blank"
        rel="noopener"
      >
        <img src="@/assets/img/arrow-right.svg" alt="arrow-right" />
        <strong>Comece agora</strong>
        <img src="@/assets/img/arrow-left.svg" alt="arrow-left" />
      </a>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    plan: {
      type: String,
      required: true
    }
  }
}
</script>
