<template>
  <section class="bannerBottom_container_black">
    <div class="bannerBottom_box_black">
      <hr />
      <div class="bannerBottom_logo">
        <img src="@/assets/img/Logo-bottom-black.png" alt="Logo banner bottom" />
      </div>
      <div class="bannerBottom_timer">
        <div id="dapp">
          <div class="timer_input">
            <h3>{{ days | twoDigits }}</h3>
            <span>dias</span>
          </div>
          <div class="timer_input">
            <h3>{{ hrs | twoDigits }}</h3>
            <span>horas</span>
          </div>
          <div class="timer_input">
            <h3>{{ mins | twoDigits }}</h3>
            <span>minutos</span>
          </div>
          <div class="timer_input">
            <h3>{{ secs | twoDigits }}</h3>
            <span>segundos</span>
          </div>
        </div>
      </div>
      <div class="bannerBottom_text">
        <div class="bannerBottom_price">
          <span><s>De R$ 478,80</s> por apenas</span>
          <p>Staage R$19,90/mês no plano anual</p>
        </div>
        <div class="bannerBottom_button">
          <a class="btn-comece-blackfriday buttonRegister" target="_blank" rel="noopener">
            <strong>Aproveitar oferta</strong>
          </a>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  data() {
    return {
      days: 0,
      mins: 0,
      hrs: 0,
      secs: 0,
      active: 0
    }
  },
  methods: {
    activate(index) {
      this.active = index
    },
    countdown() {
      const timeLoop = setInterval(() => {
        const currentTime = new Date()
        const deadLine = new Date('Nov 24, 2021 23:59:59')
        const timeDiff = deadLine.getTime() - currentTime.getTime()

        if (timeDiff < 0) {
          clearInterval(timeLoop)
        }

        this.days = Math.floor(timeDiff / 86400000)
        this.hrs = Math.floor((timeDiff % 86400000) / 3600000)
        this.mins = Math.floor((timeDiff % 3600000) / 60000)
        this.secs = Math.floor((timeDiff % 60000) / 1000)
      }, 1000)
    }
  },
  mounted() {
    this.countdown()
  },
  filters: {
    twoDigits(val) {
      if (val < 10) {
        return '0' + val
      } else {
        return val
      }
    }
  }
}
</script>
