<template>
  <div class="exit-overlay-principal">
    <div class="overlay-box1">
      <h4>EBOOK GRATUITO</h4>
      <h2>E-Book: Fundamentos de Copywriting</h2>
      <p>
        Transforme seu produto/serviço em algo irresistível aumentando suas vendas. Os segredos de copy detalhados no curso
        mais assistido na Staage.
      </p>

      <form-validate v-slot="{ invalid }">
        <form @submit.prevent="submit" class="infos_email_overlay">
          <field-validate :rules="{ required: { allowFalse: false } }" v-slot="{ errors }">
            <input type="text" v-model="name" name="name" placeholder="Seu nome" :class="{ error_input: errors[0] }" />
            <small class="error_message_overlay">{{ errors[0] }}</small>
          </field-validate>
          <field-validate :rules="{ required: { allowFalse: false } }" v-slot="{ errors }">
            <input
              type="email"
              v-model="email"
              name="Email"
              placeholder="Seu melhor e-mail"
              :class="{ error_input: errors[0] }"
            />
            <small class="error_message_overlay">{{ errors[0] }}</small>
          </field-validate>
          <span>
            Ao clicar em "BAIXAR MATERIAL" você aceita receber informações por e-mail e concorda com as nossas políticas de
            privacidade.
          </span>
          <button class="cta-modal-button" :disabled="invalid || isDisabled" @click="clickedDownload()">
            <strong v-if="!isLoading">Baixar material</strong>
            <span v-else class="loader"></span>
          </button>
        </form>
      </form-validate>
    </div>
    <div class="overlay-box2">
      <img src="@/assets/img/BG_Overlay_Desk.png" class="bg_overlay_desk" alt="BG Overlay" />
      <img src="@/assets/img/BG_Overlay_Tablet.png" class="bg_overlay_tablet" alt="BG Overlay Tablet" />
      <img src="@/assets/img/BG_Overlay_Mobile.png" class="bg_overlay_mobile" alt="BG Overlay Mobile" />
    </div>
  </div>
</template>

<script>
import { ValidationObserver as FormValidate, ValidationProvider as FieldValidate } from 'vee-validate'

export default {
  components: {
    FieldValidate,
    FormValidate
  },
  data() {
    return {
      name: '',
      email: '',
      isLoading: false,
      isDisabled: false,
    }
  },
  methods: {
    async submit() {
      this.isLoading = true
      this.isDisabled = true
      const search = {
        userEmail: this.email,
        userFirstname: this.name
      }

      try {
        const response = await this.$store.dispatch('lead/search', search)
        if (response.status) {
          const campaing = {
            SL_ID: response.data.user.SL_ID,
            unit: 'STAAGE',
            eventSource: 'campaign',
            eventCampaign: 'EXIT_INTENT_LP_DEFAULT',
            eventAction: 'conversion:campaign',
            eventMeta: {
              origin: window.location.href
            }
          }
          await this.$store.dispatch('lead/campaing', campaing)
          this.isLoading = false
        }
      } finally {
        this.isLoading = false
        this.isDisabled = true
        setTimeout(() => {
          this.$parent.closeExitOverlay()
        }, 2000)
      }
    },
    clickedDownload() {
      const link = document.createElement('a')
      link.href = 'https://drive.google.com/uc?export=download&id=1b-hm-MkK8eLysaA6ExaWqDWTDeWV7Mjk'
      link.setAttribute('download', 'file.pdf')
      document.body.appendChild(link)
      link.click()
    },
  }
}
</script>
