<template>
  <div id="dy-popup-overlay-natal">
    <div id="dy-popup-1-natal" class="dy-popup-container-natal">
      <lightrope :lightropeClass="'lightrope2'" />

      <div class="dy-popup-close-natal" id="dy-popup-close-natal"></div>
      <div class="overlay-box1-natal">
        <div class="overlay-natal-logo">
          <img src="@/assets/img/lps/l05anstg/Logo-Staage-Natal.svg" alt="Logo Staage Natal" />
          <span>apresenta</span>
        </div>
        <h2>Oferta Especial de Natal</h2>
        <p>
          Aproveite a última oferta do ano da Staage e garanta o seu acesso a mais de 30 cursos de marketing, pagando muito
          menos neste fim de ano!
          <br />
          Esse é o último “empurrãozinho” que nós daremos para que você comece o ano de 2022 tirando o seu negócio digital do
          papel, iniciando uma nova carreira no digital, ou fazendo renda extra.
        </p>

        <a
          href="https://assine.staage.com/L05anst/?pmp=STG-LEX-BMD-STG-BSTG-20211211-ORG-L05anst-LES-modal&utm_source=modal&utm_campaign=L05anst&utm_medium=modal_staage&utm_content=textlink&utm_term=STG-LEX-BMD-STG-BSTG-20211211-ORG-L05anst-LES-modal"
          target="_blank"
        >
          <span>Aproveitar Oferta</span>
        </a>
      </div>
      <lightrope :lightropeClass="'lightrope'" />
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
import Lightrope from '../components/Lightrope.vue'
export default {
  components: {
    Lightrope
  },
  mounted() {
    $('#dy-popup-overlay-natal').css('display', 'flex')
    $('#dy-popup-1-natal .dy-popup-close-natal, #dy-popup-1-natal .dy-popup-optout-natal').click(function () {
      $('#dy-popup-overlay-natal').css('display', 'none')
    })

    setTimeout(() => {
      $(document).on('mouseout', (evt) => {
        if (evt.toElement === null && evt.relatedTarget === null) {
          $(evt.currentTarget).off('mouseout')
          $('#dy-popup-overlay-natal').css('display', 'flex')
        }
      })
    }, 1000)

    $(document).ready(function () {
      if (localStorage.getItem('IsModalShown').toString() !== 'true') {
        localStorage.setItem('IsModalShown', true)
      }
    })
  }
}
</script>
