<template>
  <div class="overlay" :style="{ display: isShowExitOverlay ? 'flex' : 'none' }">
    <div class="exit-overlay-container">
      <div class="dy-popup-close" @click="closeExitOverlay"></div>
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    showExitOverlay: {
      type: Boolean,
      default: false
    },
    exitOverlayMutation: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      isShowExitOverlay: null
    }
  },
  created() {
    this.isShowExitOverlay = this.showExitOverlay
  },
  mounted() {
    setTimeout(() => {
      document.addEventListener('mouseout', (e) => {
        if (e.toElement === null && e.relatedTarget === null && this.isShowExitOverlay === null) {
          this.isShowExitOverlay = true
          this.$store.commit(`user/${this.exitOverlayMutation}`, true)
        }
      })
    }, 1000)
  },
  methods: {
    closeExitOverlay() {
      this.isShowExitOverlay = false
      this.$store.commit(`user/${this.exitOverlayMutation}`, false)
    }
  }
}
</script>

<style lang="scss" scoped>
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  z-index: 99999999;
}
.exit-overlay-container {
  width: 904px;
  height: 573px;
  background-color: #000;
  margin: auto;
  position: relative;
  z-index: 99999;
  display: flex;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s;
  opacity: 1;
  animation-name: dy-fadein;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  @media (max-width: 1024px) {
    width: 706px;
    height: 477px;
  }
  @media (max-width: 480px) {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 40px;
  }

  .dy-popup-close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
    height: 20px;
    transition: opacity 0.2s;
    cursor: pointer;
    z-index: 99;
    &:hover {
      opacity: 1;
    }
    &:before,
    &:after {
      position: absolute;
      left: 10px;
      content: '';
      height: 20px;
      width: 2px;
      background-color: #fff;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
</style>
