<template>
  <footer>
    <div class="container">
      <div class="top">
        <div class="left">
          <img src="@/assets/img/logo-footer.svg" alt="staage" />
        </div>

        <div class="copy">
          <div class="links">
            <a href="https://app.staage.com/support/termsOfUse" target="blank"> Termos de Uso | Politica de privacidade |</a>
            <a href="https://privacy.staage.com/" target="blank">&nbsp; Proteja sua privacidade</a>
          </div>
          <div class="center">
            <span>© Copyright 2021. Todos os direitos reservados.</span>
          </div>
        </div>
      </div>
    </div>
    <a
      href="https://api.whatsapp.com/send?phone=5511913084362&text=Iniciar Atendimento"
      class="snipet-container"
      target="_blank"
    >
      <i class="fa fa-whatsapp snipet-container-icon"></i>
    </a>
  </footer>
</template>
