<template>
  <section class="s-perguntas">
    <div class="container">
      <div class="top">
        <div class="titulo">
          <img src="@/assets/img/square.svg" alt="square" />
          <h2>Perguntas frequentes</h2>
        </div>
        <div class="redes-sociais">
          <span>Acompanhe</span>
          <ul>
            <li>
              <a href="https://www.instagram.com/staagebr/" target="_blank" rel="noopener" aria-label="instagram link">
                <span>Instagram</span>
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/Staagebr" target="_blank" rel="noopener" aria-label="twitter link">
                <span>Twitter</span>
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/company/staage/about/"
                target="_blank"
                rel="noopener"
                aria-label="linkedin link"
              >
                <span>Linkedin</span>
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/channel/UCpG6NpEbQ9ETrFYjAv7rXMA"
                target="_blank"
                rel="noopener"
                aria-label="youtube link"
              >
                <span>Youtube</span>
                <i class="fab fa-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="faq">
        <div class="left">
          <div class="descricao">
            <img src="@/assets/img/icon-plano.svg" alt="Plano e assinatura" />
            <h3>Planos & Assinatura</h3>
          </div>
          <accordion id="accordion-first" title="Como faço para cancelar minha assinatura?" accordionClass="card">
            <p>
              Na Staage temos o compromisso com nossos assinantes. Dessa forma, oferecemos 7 dias corridos de garantia, a
              partir da data de pagamento da assinatura, para a desistência e devolução integral do valor pago pelo
              assinante.
            </p>
          </accordion>

          <accordion id="accordion-second" title="Tem a opção de conta familia?" accordionClass="card">
            <p>
              O acesso à plataforma é individual, ou seja, não é possível compartilhar seu login com outras pessoas. Por
              isso, certifique-se de que está deslogado das demais máquinas, pois o acesso é único.
            </p>
          </accordion>

          <accordion id="accordion-thirty" title="O acesso à Staage é vitálicio? " accordionClass="card">
            <p>
              A renovação é automática, e ocorre após 12 meses da confirmação do primeiro pagamento (exceto casos
              promocionais).
            </p>
          </accordion>

          <accordion id="accordion-fourth" title="Qual o prazo de garantia da Staage?" accordionClass="card">
            <p>
              Na Staage temos o compromisso com nossos assinantes. Dessa forma, oferecemos 7 dias corridos de garantia, a
              partir da data de pagamento da assinatura, para a desistência e devolução integral do valor pago pelo
              assinante.
            </p>
          </accordion>
        </div>

        <div class="right">
          <div class="descricao">
            <img src="@/assets/img/icon-geral.svg" alt="Plano e assinatura" />
            <h3>Geral</h3>
          </div>
          <accordion id="accordion-fifth" title="O que é Staage?" accordionClass="card">
            <p>
              A Staage é uma plataforma de educação que permite que qualquer pessoa aprenda com os maiores especialistas em
              marketing do mundo. Todos os conteúdos da Staage estão disponíveis a qualquer hora e em qualquer lugar no seu
              smartphone ou computador pessoal.
            </p>
          </accordion>

          <accordion id="accordion-sixth" title="Qual o conteúdo existente na Staage?" accordionClass="card">
            <p>
              Na Staage você poderá acompanhar os bastidores dos grandes lançamentos do mercado digital, aprender com as
              maiores referências em marketing e assistir documentários exclusivos de grandes empresas.
              <br />
              <br />
              O Backstaage será onde você vai poder vivenciar os bastidores dos grandes lançamentos do mercado e descobrir
              suas estratégias milionárias.
              <br />
              <br />
              No Staageclass você vai poder adquirir o conhecimento das maiores referências em marketing para aumentar as
              vendas do seu negócio ou criar novas fontes de renda na internet.
            </p>
          </accordion>

          <accordion id="accordion-seventh" title="Onde posso reportar possíveis erros?" accordionClass="card">
            <p>
              Acesse a nossa Atendente Virtual no canto inferior da página, ela te ajudará da forma mais rápida e com a
              solução para qualquer problema enfrentado na plataforma Staage!
            </p>
          </accordion>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import Accordion from './Accordion.vue'
export default {
  components: {
    Accordion
  }
}
</script>
