<template>
  <div class="wrapperClasses">
    <section class="s-informativo" :class="active ? 'active' : ''">
      <div class="container">
        <h2>🔥 Assine o plano anual por apenas R${{ plan }} 🔥</h2>
        <button type="button" @click="closeBar">
          <img src="@/assets/img/icon-close.svg" alt="close" />
        </button>
      </div>
    </section>

    <header class="main" :class="headerClasses" :style="!active ? 'padding-top: 16px;' : ''">
      <div class="container">
        <img src="@/assets/img/logo.svg" alt="STAAGE" />
        <nav>
          <!-- <a
            href="https://staage.com/soon"
            class="btn-nav-action buttonSoon"
            rel="noopener"
          >
            <img
              src="@/assets/img/soon.svg"
              alt="User"
            >
            Em breve
          </a> -->
          <a
            href="https://app.staage.com/initiate/register/?pt=2&pmp=STG-VEX-QRCD-STG-BSTG-20220214-ORG-STAAGE-X-VSTAAGELPPORTUGAL&utm_source=qrcode&utm_campaign=org-qrcode-site-lp-portugal-venda-staage-14-02-22&utm_medium=qrcode&utm_content=cta&utm_term=STG-VEX-QRCD-STG-BSTG-20220214-ORG-STAAGE-X-VSTAAGELPPORTUGAL&cupom=STAAGEPT"
            class="btn-assine"
            target="_blank"
            rel="noopener"
          >
            <img src="@/assets/img/arrows.svg" alt="arrows" />
            Assine agora
          </a>
        </nav>

        <div class="menu-mobile" :class="showMobileMenu ? 'active' : ''">
          <ul class="menu-list">
            <!-- <li>
              <nuxt-link
                to="category"
                @click.native="showMobileMenu = false"
              >Categorias</nuxt-link>
            </li>-->
            <!-- <li>
              <a
                href="https://staage.com/soon"
                class="buttonSoon"
                rel="noopener"
                @click.native="showMobileMenu = false"
              >Em breve</a>
            </li> -->
            <li>
              <a
                href="https://app.staage.com/initiate/register/?pt=2&pmp=STG-VEX-QRCD-STG-BSTG-20220214-ORG-STAAGE-X-VSTAAGELPPORTUGAL&utm_source=qrcode&utm_campaign=org-qrcode-site-lp-portugal-venda-staage-14-02-22&utm_medium=qrcode&utm_content=cta&utm_term=STG-VEX-QRCD-STG-BSTG-20220214-ORG-STAAGE-X-VSTAAGELPPORTUGAL&cupom=STAAGEPT"
                rel="noopener"
                @click="showMobileMenu = false"
                >Assine agora</a
              >
            </li>
          </ul>
        </div>

        <button class="menu-button" @click="showMobileMenu = !showMobileMenu">
          <img v-if="!showMobileMenu" src="@/assets/img/menu-closed.svg" alt="menu-button" />
          <img v-else src="@/assets/img/menu-opened.svg" alt="menu-button" />
        </button>
      </div>
    </header>
  </div>
</template>

<script>
export default {
  props: {
    transparentBackground: {
      type: Boolean,
      default: false
    },
    plan: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      menuIsToBeFixed: false,
      mobileMenuIsToBeShown: false,
      showMobileMenu: false,
      active: true
    }
  },
  computed: {
    wrapperClasses() {
      return { 'menu-opened': this.mobileMenuIsToBeShown }
    },
    headerClasses() {
      return {
        'fixed-menu': this.menuIsToBeFixed,
        'transparent-header': this.transparentBackground && !this.menuIsToBeFixed
      }
    }
  },
  mounted() {
    window.addEventListener('scroll', this.handleScroll)
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll)
  },
  methods: {
    handleScroll() {
      if (window.scrollY > 80) return (this.menuIsToBeFixed = true)

      return (this.menuIsToBeFixed = false)
    },
    handleMobileMenuClick() {
      return (this.mobileMenuIsToBeShown = !this.mobileMenuIsToBeShown)
    },
    closeBar() {
      this.active = false
    }
  }
}
</script>
