<template>
  <section class="s-informativo" :class="active ? 'active' : ''">
    <div class="container">
      <h2>🔥 Assine o plano anual por Apenas R$39,90/mês 🔥</h2>
      <button type="button" @click="closeBar">
        <img src="@/assets/img/icon-close.svg" alt="close" />
      </button>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      active: true
    }
  },
  methods: {
    closeBar() {
      this.active = false
      this.$emit('informClosed')
    }
  }
}
</script>
