<template>
  <section class="s-portal">
    <div class="container">
      <div class="top">
        <h2>O único portal de marketing que você precisa</h2>
        <p>As principais competências e os bastidores de marketing do mundo ao seu alcance</p>
      </div>

      <div class="info">
        <div class="left">
          <p>
            <strong>Marketing para todo mundo</strong>
            Tudo isso que você viu aqui <br />
            por apenas R$39,90 por mês <br />
            no plano anual
          </p>
        </div>

        <div class="btn">
          <a
            href="https://app.staage.com/initiate/register"
            class="btn-comece buttonRegister"
            target="_blank"
            rel="noopener"
          >
            Comece agora
          </a>
        </div>
      </div>
    </div>
  </section>
</template>
