<template>
  <swiper-default
    principalClass="s-producoes1"
    swiperClass="slide-backstage"
    :swiperNavigationClass="['button-next', 'button-prev']"
  >
    <div slot="swiper" class="swiper-slide" v-for="item in courses" :key="item.id">
      <a @click="redirectToMentor(item.courseID)">
        <div class="img">
          <img :src="item.poster" :alt="item.courseTitle" />
        </div>
        <div class="tag">
          <span :style="item.courseGroup === 'Staageclass' ? 'color: $red' : ''">
            {{ item.courseGroup }}
          </span>
        </div>
        <div class="info">
          <h4>{{ item.courseTitle }}</h4>
          <p>{{ item.courseDescription }}</p>
        </div>
      </a>
    </div>

    <template slot="navigation">
      <div class="btn-slide button-next">
        <button>
          <img src="@/assets/img/arrow-orange.svg" alt="arrow" />
        </button>
      </div>
      <div class="btn-slide button-prev">
        <button>
          <img src="@/assets/img/arrow-left-orange.svg" alt="arrow" />
        </button>
      </div>
    </template>
  </swiper-default>
</template>
<script>
import _env from '@/_env'
import SwiperDefault from './SwiperDefault.vue'
import { redirectToMentor } from '../utils/index'
export default {
  components: {
    SwiperDefault
  },
  data() {
    return {
      courses: _env.COURSES
    }
  },
  methods: {
    redirectToMentor
  }
}
</script>
