<template>
  <div class="modal">
    <div class="modal_container">
      <div class="modal_video">
        <iframe
          id="videoarea"
          loading="lazy"
          width="90%"
          height="315"
          src="https://www.youtube.com/embed/s1Ovs46DrS8"
          title="Assista ao trailer"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
      </div>
      <div class="modal_info">
        <div class="modal_image">
          <img src="@/assets/img/winderson.png" alt="Imagem de modal" />
        </div>
        <div class="modal_text">
          <h3>Whindersson Nunes</h3>
          <span
            >Mauris nibh orci, hac amet. Arcu, quis faucibus sit adipiscing a mattis elementum. Aliquam nunc faucibus est
            pellentesque sit.</span
          >
        </div>
        <div class="modal_btn">
          <button type="button" @click="doCopy" class="btn">Perfil do mentor</button>
        </div>
      </div>
      <button type="button" @click="close" class="close-modal">X</button>
    </div>
  </div>
</template>

<style lang="scss">
.modal {
  width: 70%;
  height: 70%;
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  .modal_video {
    width: 90%;
    display: flex;
    height: auto;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  .modal_info {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 28.94px;
    .modal_image img {
      width: 120px;
      height: auto;
      border-radius: 50%;
    }
    .modal_text {
      width: 100%;
      height: auto;
      padding-left: 20px;
      h3 {
        width: 70%;
        color: black;
      }
      span {
        width: 70%;
        height: 54px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: black;
        opacity: 0.5;
      }
    }
    .modal_btn {
      width: 232.55px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f3722c;
      button {
        color: #fff;
        font-size: 15px;
        line-height: 140%;
        font-style: normal;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}
.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 20px 0 0;
  font-weight: bold;
}
</style>

<script>
export default {
  methods: {
    close() {
      // close disabled modal from component
      this.$xmodal.close()
    }
  }
}
</script>
