<template>
  <div class="modal">
    <div class="modal_text_box">
      <div class="modal_title">
        <p>Compartilhe esse conteúdo com seus amigos</p>
      </div>
      <div class="modal_social">
        <ul>
          <li>
            <button
              @click="
                setUrl('twitter')
                doCopySocial()
                flagClick()
              "
              target="_blank"
            >
              <i class="fab fa-twitter"></i>
              <span class="tooltip__content" :class="{ show: flag }">Link Copiado!</span>
            </button>
          </li>
          <li>
            <button
              @click="
                setUrl('linkedin')
                doCopySocial()
                flagClick()
              "
              target="_blank"
            >
              <i class="fab fa-linkedin-in"></i>
              <span class="tooltip__content" :class="{ show: flag }">Link Copiado!</span>
            </button>
          </li>
          <li>
            <button
              @click="
                setUrl('facebook')
                doCopySocial()
                flagClick()
              "
              target="_blank"
            >
              <i class="fab fa-facebook-f"></i>
              <span class="tooltip__content" :class="{ show: flag }">Link Copiado!</span>
            </button>
          </li>
        </ul>
      </div>
      <div class="modal_link">
        <input type="text" v-model="inputUrl" readonly />
        <button v-if="inputUrl" class="btn" :class="[isActive ? 'active' : '']" @click="doCopy">
          {{ isActive ? 'Copiado' : 'Copiar' }}
        </button>
      </div>
      <button type="button" @click="close" class="close-modal">X</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      url: '',
      inputUrl: window.location.href,
      slug: window.location.pathname,
      isActive: false,
      flag: false
    }
  },
  methods: {
    doCopy: function () {
      this.$copyText(this.inputUrl).then(
        function (e) {
          // console.log(e)
        },
        function (e) {
          alert('Can not copy')
          // console.log(e)
        }
      )
      this.isActive = !this.enable
    },
    doCopySocial: function () {
      this.$copyText(this.url).then(
        function (e) {
          // console.log(e)
        },
        function (e) {
          alert('Can not copy')
          // console.log(e)
        }
      )
    },
    close() {
      // close disabled modal from component
      this.$xmodal.close()
    },
    setUrl(socialNetwork) {
      if (!this.url.includes(socialNetwork)) {
        this.isActive = false
      }

      switch (socialNetwork) {
        case 'linkedin':
          this.url = `linkedin.com/cws/share?url=staage.com${this.slug}`
          break

        case 'twitter':
          this.url = `twitter.com/share?url=staage.com${this.slug}`
          break

        case 'facebook':
          this.url = `facebook.com/sharer.php?u=staage.com${this.slug}`
          break
      }
    },
    flagClick() {
      this.flag = true
      setTimeout(() => {
        this.flag = false
      }, 1000)
    }
  }
}
</script>

<style lang="scss">
.modal {
  width: 662px;
  height: 493px;
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  // @media (max-width: 768px) {height: 92px; margin-top: 100px;}
  @media (max-width: 480px) {
    width: 80%;
    height: 40%;
  }
}
.modal_title {
  width: 513px;
  height: 107px;
  margin: 0 auto;
  @media (max-width: 480px) {
    width: 250px;
    height: auto;
  }
  p {
    color: #000000;
    font-size: 40px;
    line-height: 48.72px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Proxima Nova';
    text-align: center;
    @media (max-width: 480px) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
.modal_social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 480px) {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  ul {
    display: flex;
    align-items: center;
    margin: 0 auto;
    li {
      padding: 32px;
      @media (max-width: 480px) {
        padding: 20px;
      }
      .fab {
        font-size: 2.0625rem;
        color: #f3722c;
        @media (max-width: 480px) {
          font-size: 1.5rem;
        }
      }
      .tooltip__content.show {
        opacity: 1;
        transition: 2s;
        -webkit-transition: 0.2s;
        transition: 0.2s;
      }

      .tooltip__content {
        padding-left: 50px;
        right: 280px;
        top: 220px;
        background: #616161;
        border-radius: 2px;
        -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        color: #fff;
        display: inline-block;
        font-size: 12px;
        padding: 5px 8px;
        position: absolute;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        width: auto;
        height: 25px;
        opacity: 0;
        @media (max-width: 320px) {
          right: 80px;
          top: 110px;
        }
        @media (max-width: 375px) {
          right: 100px;
          top: 110px;
        }
        @media (max-width: 425px) {
          right: 120px;
          top: 110px;
        }
      }
    }
  }
  span {
    display: none;
  }
}
.modal_link {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px 0 24px;
  background-color: #f6f6f8;
  @media (max-width: 480px) {
    width: 100%;
    height: auto;
    padding: 0;
  }
  h1 {
    color: black;
  }
  input {
    background-color: #f6f6f8;
    width: 80%;
    @media (max-width: 480px) {
      width: 70%;
    }
  }
  button {
    width: 75px;
    height: 28px;
    border: 1px solid #000000;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .active {
    border: 1px solid #f3722c;
    color: #f3722c;
  }
}
.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 20px 0 0;
  font-weight: bold;
}

.modal_text_box {
  @media (max-width: 480px) {
    width: 90%;
    height: auto;
  }
}
</style>
