<template>
  <section class="s-form-teacher">
    <div class="container">
      <div class="box-img">
        <img src="@/assets/img/form-vc-precisa.png" alt="A única coisa que você precisa fazer" />
      </div>

      <div class="box-form">
        <h2>
          <span>Está pronto para ver</span><br />
          a Staage por dentro?
        </h2>

        <a class="btn-comece buttonRegister" href="https://app.staage.com/initiate/register" target="_blank">
          <img src="@/assets/img/arrow-right.svg" alt="arrow-right" />
          <strong>Comece agora</strong>
          <img src="@/assets/img/arrow-left.svg" alt="arrow-left" />
        </a>
        <!-- <form
          class="form"
          ref="formReset"
          @submit="submitForm"
        >
          <input
            class="form-imput"
            id="fullname"
            type="text"
            name="fullname"
            placeholder="Seu nome"
            required=""
            data-name="fullname"
          >
          <input
            class="form-imput"
            id="email"
            type="email"
            name="email"
            placeholder="Seu melhor e-mail"
            data-name="email"
            required=""
          >
          <div class="aceite-termo">
            <input
              id="aceite"
              type="checkbox"
              name="aceite"
              value="aceitou"
            >
            <label
              class="aceite"
              for="aceite"
            >
              Ao clicar em “Cadastrar” você aceita receber informações do evento por e-mail e confirma que leu e entendeu as políticas de privacidade
            </label>
          </div>
          <div class="button-send">
            <button
              id="submit"
              onclick="submitForm"
              class="submit"
              @click.prevent="submitForm()"
            >CADASTRAR</button>
          </div>
        </form> -->
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'PostForm',
  data() {
    return {
      form: {
        unit: 'STAAGE',
        name: '',
        email: '',
        meta: {
          origin: `https://staage.com${this.$route.fullPath}`
        }
      }
    }
  },
  methods: {
    submitForm() {
      this.$axios
        .post('https://lm.timeprimo.com/dev/lead/subscribe', this.form)
        .then(() => {})
        .catch((error) => {
          console.log(error)
        })
      this.$refs.formReset.reset()
    }
  }
}
</script>
