<template>
  <section class="s-producoes">
    <div class="container">
      <div class="area-professors">
        <div class="top-slide">
          <div class="left">
            <div class="title">
              <img src="@/assets/img/icon-sugestao-mentores.svg" alt="Backstage" />
              <h3>Sugestão de mentores</h3>
            </div>
          </div>

          <div class="actions">
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <div class="slide-backstage" :courses="courses">
          <div class="swiper-wrapper">
            <div class="swiper-slide" v-for="item in staageclass" :key="item.courseID">
              <nuxt-link :to="`/professor/${item.courseSlug}`">
                <div class="img">
                  <img :src="item.courseMedias.poster" alt="content1" />
                </div>
                <div class="tag">
                  <span>{{ item.courseGroup }}</span>
                </div>
                <div class="info">
                  <h4>{{ item.courseTitle }}</h4>
                  <p>{{ item.courseDescription }}</p>
                </div>
              </nuxt-link>
            </div>
          </div>

          <div class="actions">
            <div class="btn-slide button-next">
              <button>
                <img src="@/assets/img/arrow-orange.svg" alt="arrow" />
              </button>
            </div>
            <div class="btn-slide button-prev">
              <button>
                <img src="@/assets/img/arrow-left-orange.svg" alt="arrow" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Swiper from 'swiper'
import 'swiper/swiper-bundle.css'

export default {
  mounted() {
    /* eslint-disable no-new */
    new Swiper('.slide-backstage', {
      slidesPerView: 3,
      spaceBetween: 32,
      grabCursor: true,
      observer: true,
      observeParents: true,
      navigation: {
        nextEl: '.s-producoes .button-next',
        prevEl: '.s-producoes .button-prev'
      },
      pagination: {
        el: '.swiper-pagination'
      },
      breakpoints: {
        1200: {
          slidesPerView: 4,
          spaceBetween: 30
        },
        1050: {
          slidesPerView: 4
        },
        1024: {
          slidesPerView: 4,
          spaceBetween: 20
        },
        990: {
          slidesPerView: 3
        },
        835: {
          slidesPerView: 2.7,
          spaceBetween: 26
        },
        768: {
          slidesPerView: 2.7,
          spaceBetween: 26
        },
        600: {
          slidesPerView: 2,
          spaceBetween: 24
        },
        560: {
          slidesPerView: 2
        },
        480: {
          slidesPerView: 1.5
        },
        450: {
          slidesPerView: 1.4
        },
        320: {
          slidesPerView: 1.5
        }
      }
    })
    new Swiper('.slide-class', {
      grabCursor: true,
      slidesPerView: 4,
      spaceBetween: 30,
      navigation: {
        nextEl: '.s-producoes .button-next',
        prevEl: '.s-producoes .button-prev'
      },
      pagination: {
        el: '.swiper-pagination-class'
      },
      breakpoints: {
        1200: {
          slidesPerView: 4,
          spaceBetween: 30
        },
        1050: {
          slidesPerView: 4
        },
        1024: {
          slidesPerView: 4,
          spaceBetween: 20
        },
        990: {
          slidesPerView: 3
        },
        835: {
          slidesPerView: 2.7,
          spaceBetween: 26
        },
        768: {
          slidesPerView: 2.7,
          spaceBetween: 26
        },
        600: {
          slidesPerView: 2,
          spaceBetween: 24
        },
        560: {
          slidesPerView: 2
        },
        480: {
          slidesPerView: 1.5
        },
        450: {
          slidesPerView: 1.4
        },
        320: {
          slidesPerView: 1.5
        }
      }
    })
  },
  data() {
    return {
      courses: [],
      courseMedias: [],
      courseGroup: [],
      backstaage: [],
      staageclass: []
    }
  },
  async created() {
    await this.getCourses()
  },
  methods: {
    async getCourses() {
      try {
        const data = {
          cursor: '6017419d33b02f4cdd86e40b',
          courseGroup: ['STAAGECLASS', 'BACKSTAAGE'],
          limit: 100
        }
        const courses = await this.$store.dispatch('courses/getCourses', data)
        this.backstaage = courses.filter(c => c.courseGroup === 'backstaage')
        this.staageclass = courses.filter(c => c.courseGroup === 'staageclass')
        this.courses = courses.data
      } catch (err) {
        console.error(err)
      }
    }
  }
}
</script>

<style lang="scss">
.s-producoes {
  padding-top: 0.5rem;
  padding-bottom: 6.0625rem;
  background-color: #0d0e12;

  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    span {
      font-style: normal;
      font-weight: normal;
      font-size: 1.125rem;
      line-height: 1.1875rem;
      letter-spacing: -0.01em;
      color: rgba(255, 255, 255, 0.8);
    }

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 3.5rem;
      line-height: 3.6875rem;
      letter-spacing: -0.01em;
      color: #ffffff;
      margin-top: 0.5rem;
    }
  }

  .area-professors {
    margin-top: 6.8125rem;
    position: relative;

    .top-slide {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;

        .title {
          display: flex;
          align-items: center;
          img {
            margin-right: 0.875rem;
          }

          h3 {
            font-style: normal;
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 1.8125rem;

            color: #ffffff;
            margin-right: 38px;
          }
        }

        span {
          margin-left: 24px;
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
          line-height: 1.5rem;
          color: rgba(255, 255, 255, 0.9);
          margin-left: 1.5rem;
        }
      }

      .actions {
        .swiper-pagination {
          position: relative;
          display: flex;
          .swiper-pagination-bullet {
            border-radius: 0;
            width: 24px;
            height: 2px;
            background: rgba(66, 68, 73, 1);
            transition: all ease 0.3s;
            margin-right: 6px;

            &.swiper-pagination-bullet-active {
              opacity: 1;
              background: #fff;
            }
          }
        }
      }
    }

    .slide-backstage {
      margin-top: 2.5625rem;
      overflow: hidden;

      .swiper-slide {
        a {
          cursor: auto;
          .img {
            max-width: 282px;
            overflow: hidden;
            &:after {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              width: 100%;
              background: linear-gradient(180deg, rgba(15, 17, 22, 0.1) 51.36%, #0f1116 108.33%);
            }
            img {
              transform: scale(1);
              transition: all ease 0.3s;
              width: 100%;

              &:hover {
                transform: scale(1.1);
                transition: all ease 0.3s;
              }
            }
          }

          .tag {
            padding: 0 10px;
            height: 25.64px;
            background-color: rgba(15, 17, 22, 0.5);
            backdrop-filter: blur(35.4622px);
            border-radius: 45.2143px;

            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;
            top: 22px;
            left: 22px;

            span {
              font-style: normal;
              font-weight: bold;
              font-size: 0.75rem;
              line-height: 0.9375rem;
              letter-spacing: 0.02em;
              color: #f8961e;
            }
          }

          .info {
            position: absolute;
            bottom: 33px;
            left: 22px;

            h4 {
              font-style: normal;
              font-weight: bold;
              font-size: 1.25rem;
              line-height: 1.5rem;
              color: #ffffff;
            }

            p {
              font-style: normal;
              font-weight: normal;
              font-size: 0.875rem;
              line-height: 1.3125rem;
              color: rgba(255, 255, 255, 0.8);
              margin-top: 0.4375rem;
            }
          }
        }
      }

      .actions {
        .btn-slide {
          &.swiper-button-disabled {
            opacity: 0;
            transition: all ease 0.3s;
            pointer-events: none;
          }

          &.button-next {
            position: absolute;
            right: -30px;
            bottom: 192px;
            z-index: 1;
          }

          &.button-prev {
            position: absolute;
            left: -30px;
            bottom: 192px;
            z-index: 1;
          }
        }
      }
    }
  }

  .area-class {
    margin-top: 6rem;
    position: relative;

    .top-slide {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;

        .title {
          display: flex;
          align-items: center;
          border-right: 1px solid rgba(255, 255, 255, 0.7);

          img {
            margin-right: 0.875rem;
          }

          h3 {
            font-style: normal;
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 1.8125rem;

            color: #ffffff;
            margin-right: 38px;
          }
        }

        span {
          margin-left: 24px;
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
          line-height: 1.5rem;
          color: rgba(255, 255, 255, 0.9);
          margin-left: 1.5rem;
        }
      }

      .actions {
        .swiper-pagination-class {
          position: relative;
          display: flex;
          .swiper-pagination-bullet {
            border-radius: 0;
            width: 24px;
            height: 2px;
            background: #424449;
            transition: all ease 0.3s;
            margin-right: 6px;

            &.swiper-pagination-bullet-active {
              opacity: 1;
              background: #fff;
            }
          }
        }
      }
    }

    .slide-class {
      margin-top: 2.5625rem;
      overflow: hidden;

      .swiper-slide {
        a {
          cursor: auto;
          .img {
            max-width: 282px;
            overflow: hidden;
            &:after {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              width: 100%;
              background: linear-gradient(180deg, rgba(15, 17, 22, 0.1) 51.36%, #0f1116 108.33%);
            }
            img {
              transform: scale(1);
              transition: all ease 0.3s;
              width: 100%;

              &:hover {
                transform: scale(1.1);
                transition: all ease 0.3s;
              }
            }
          }

          .tag {
            padding: 0 10px;
            height: 25.64px;
            background-color: rgba(15, 17, 22, 0.5);
            backdrop-filter: blur(35.4622px);
            border-radius: 45.2143px;

            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;
            top: 22px;
            left: 22px;

            span {
              font-style: normal;
              font-weight: bold;
              font-size: 0.75rem;
              line-height: 0.9375rem;
              letter-spacing: 0.02em;
              color: #f94144;
            }
          }

          .info {
            position: absolute;
            bottom: 33px;
            left: 22px;

            h4 {
              font-style: normal;
              font-weight: bold;
              font-size: 1.25rem;
              line-height: 1.5rem;
              color: #ffffff;
            }

            p {
              font-style: normal;
              font-weight: normal;
              font-size: 0.875rem;
              line-height: 1.3125rem;
              color: rgba(255, 255, 255, 0.8);
              margin-top: 0.356875rem;
            }
          }
        }
      }

      .actions {
        .btn-slide {
          &.swiper-button-disabled {
            opacity: 0;
            transition: all ease 0.3s;
            pointer-events: none;
          }

          &.button-next {
            position: absolute;
            right: -30px;
            bottom: 192px;
            z-index: 1;
          }

          &.button-prev {
            position: absolute;
            left: -30px;
            bottom: 192px;
            z-index: 1;
          }
        }
      }
    }
  }

  .area-docs {
    margin-top: 6rem;
    position: relative;

    .top-slide {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;

        .title {
          display: flex;
          align-items: center;
          border-right: 1px solid rgba(255, 255, 255, 0.7);

          img {
            margin-right: 0.875rem;
          }

          h3 {
            font-style: normal;
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 1.8125rem;

            color: #ffffff;
            margin-right: 38px;
          }
        }

        span {
          margin-left: 24px;
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
          line-height: 1.5rem;
          color: rgba(255, 255, 255, 0.9);
          margin-left: 1.5rem;
        }
      }

      .actions {
        .swiper-pagination-docs {
          position: relative;
          display: flex;
          .swiper-pagination-bullet {
            border-radius: 0;
            width: 24px;
            height: 2px;
            background: #424449;
            transition: all ease 0.3s;
            margin-right: 6px;

            &.swiper-pagination-bullet-active {
              opacity: 1;
              background: #fff;
            }
          }
        }
      }
    }

    .slide-docs {
      margin-top: 2.5625rem;
      overflow: hidden;

      .swiper-slide {
        a {
          .img {
            max-width: 282px;
            overflow: hidden;

            img {
              transform: scale(1);
              transition: all ease 0.3s;

              &:hover {
                transform: scale(1.1);
                transition: all ease 0.3s;
              }
            }
          }

          .tag {
            width: 80.28px;
            height: 25.64px;
            background-color: rgba(15, 17, 22, 0.5);
            backdrop-filter: blur(35.4622px);
            border-radius: 45.2143px;

            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;
            top: 22px;
            left: 22px;

            span {
              font-style: normal;
              font-weight: bold;
              font-size: 0.75rem;
              line-height: 0.9375rem;
              letter-spacing: 0.02em;
              color: #f9c74f;
            }
          }

          .info {
            position: absolute;
            bottom: 33px;
            left: 22px;

            h4 {
              font-style: normal;
              font-weight: bold;
              font-size: 1.25rem;
              line-height: 1.5rem;
              color: #ffffff;
            }

            p {
              font-style: normal;
              font-weight: normal;
              font-size: 0.875rem;
              line-height: 1.3125rem;
              color: rgba(255, 255, 255, 0.8);
              margin-top: 0.294375rem;
            }
          }
        }
      }

      .actions {
        .btn-slide {
          &.swiper-button-disabled {
            opacity: 0;
            transition: all ease 0.3s;
            pointer-events: none;
          }

          &.button-next {
            position: absolute;
            right: -30px;
            bottom: 192px;
            z-index: 1;
          }

          &.button-prev {
            position: absolute;
            left: -30px;
            bottom: 192px;
            z-index: 1;
          }
        }
      }
    }
  }

  .area-niveis {
    margin-top: 6rem;

    .top-trilhas {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;

        .title {
          display: flex;
          align-items: center;
          border-right: 1px solid rgba(255, 255, 255, 0.7);

          img {
            margin-right: 0.875rem;
          }

          h3 {
            font-style: normal;
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 1.8125rem;

            color: #ffffff;
            margin-right: 38px;
          }
        }

        span {
          margin-left: 24px;
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
          line-height: 1.5rem;
          color: rgba(255, 255, 255, 0.9);
          margin-left: 1.5rem;
        }
      }

      .actions {
        .swiper-pagination-niveis {
          position: relative;
          display: flex;
          .swiper-pagination-bullet {
            border-radius: 0;
            width: 24px;
            height: 2px;
            background: #424449;
            transition: all ease 0.3s;
            margin-right: 6px;

            &.swiper-pagination-bullet-active {
              opacity: 1;
              background: #fff;
            }
          }
        }
      }
    }

    .responsive {
      width: 100%;
      overflow-x: auto;
      .cards-niveis {
        margin-top: 2.5625rem;

        display: flex;
        justify-content: space-between;

        li {
          position: relative;

          a {
            .img {
              overflow: hidden;
              max-width: 289px;
              border-bottom: 2px solid #9b2cf3;

              img {
                transform: scale(1);
                transition: all ease 0.3s;
                position: relative;
                z-index: 3;

                &:hover {
                  transform: scale(1.1);
                  transition: all ease 0.3s;
                }
              }

              &::before {
                content: '';
                width: 100%;
                height: 100%;
                background: linear-gradient(3.17deg, #202227 -20.1%, rgba(32, 34, 39, 0) 54.92%);
                mix-blend-mode: multiply;
                position: absolute;
                left: 0;
                bottom: 0;
                transition: all ease 0.3s;
                z-index: 1;
              }

              &::after {
                content: '';
                width: 100%;
                height: 100%;
                background: linear-gradient(36.6deg, #9b2cf3 -76.51%, rgba(155, 44, 243, 0) 54.9%);
                mix-blend-mode: normal;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 2;
              }
            }

            .tag {
              padding: 0px 10px;
              height: 25.64px;
              background-color: rgba(15, 17, 22, 0.5);
              backdrop-filter: blur(35.4622px);
              border-radius: 45.2143px;

              display: flex;
              align-items: center;
              justify-content: center;

              position: absolute;
              top: 22px;
              left: 22px;
              z-index: 3;

              span {
                font-style: normal;
                font-weight: bold;
                font-size: 0.75rem;
                line-height: 0.9375rem;
                letter-spacing: 0.02em;
                color: #ffffff;
              }
            }

            .info {
              position: absolute;
              bottom: 33px;
              left: 22px;
              z-index: 3;
              h4 {
                font-style: normal;
                font-weight: bold;
                font-size: 1rem;
                line-height: 1.5rem;
                color: rgba(255, 255, 255, 1);
              }

              p {
                font-style: normal;
                font-weight: normal;
                font-size: 12.4118px;
                line-height: 1.1875rem;
                color: rgba(255, 255, 255, 0.8);
                margin-top: 0.4375rem;
              }
            }
          }

          &:nth-child(2) {
            a {
              .img {
                border-bottom: 2px solid #2cb7f3;
                &::after {
                  background: linear-gradient(36.6deg, #2cb7f3 -76.51%, rgba(44, 183, 243, 0) 54.9%);
                  mix-blend-mode: normal;
                }
              }
            }
          }

          &:nth-child(3) {
            a {
              .img {
                border-bottom: 2px solid #2cf37c;
                &::after {
                  background: linear-gradient(36.6deg, #2cf37c -76.51%, rgba(44, 243, 124, 0) 54.9%);
                  mix-blend-mode: normal;
                }
              }
            }
          }

          &:last-child {
            a {
              .img {
                border-bottom: 2px solid #f3722c;
                &::after {
                  background: linear-gradient(36.6deg, #f3722c -76.51%, rgba(243, 114, 44, 0) 54.9%);
                  mix-blend-mode: normal;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .area-backstage {
      .slide-backstage {
        .actions {
          .btn-slide {
            &.button-prev {
              left: -20px;
            }

            &.button-next {
              right: -20px;
            }
          }
        }
      }
    }

    .area-class {
      .slide-class {
        .actions {
          .btn-slide {
            &.button-prev {
              left: -20px;
            }

            &.button-next {
              right: -20px;
            }
          }
        }
      }
    }

    .area-docs {
      .slide-docs {
        .actions {
          .btn-slide {
            &.button-prev {
              left: -20px;
            }

            &.button-next {
              right: -20px;
            }
          }
        }
      }
    }

    .area-niveis {
      .cards-niveis {
        li {
          margin-right: 20px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  @media (max-width: 990px) {
    .area-niveis {
      .top-trilhas {
        .left {
          .title {
            h3 {
              margin-right: 1.75rem;
            }
          }
        }
      }
    }
  }

  @media (max-width: 835px) {
    padding-top: 5.25rem;
    padding-bottom: 7.125rem;

    .top {
      h2 {
        font-size: 3rem;
      }
    }

    .area-backstage {
      margin-top: 3.1875rem;

      .top-slide {
        .left {
          .title {
            h3 {
              font-size: 1.299175rem;
            }
          }

          span {
            font-size: 0.875rem;
          }
        }
        .actions {
          display: none;
        }
      }

      .slide-backstage {
        overflow: initial;

        .swiper-slide {
          a {
            .info {
              h4 {
                font-size: 1rem;
              }
            }
          }
        }

        .actions {
          display: none;
        }
      }
    }

    .area-class {
      margin-top: 2.875rem;

      .top-slide {
        .left {
          .title {
            h3 {
              font-size: 1.299175rem;
            }
          }

          span {
            font-size: 0.875rem;
          }
        }
        .actions {
          display: none;
        }
      }

      .slide-class {
        overflow: initial;

        .swiper-slide {
          a {
            .info {
              h4 {
                font-size: 1rem;
              }
            }
          }
        }

        .actions {
          display: none;
        }
      }
    }

    .area-docs {
      margin-top: 2.875rem;

      .top-slide {
        .left {
          .title {
            h3 {
              font-size: 1.299175rem;
            }
          }

          span {
            font-size: 0.875rem;
          }
        }
        .actions {
          display: none;
        }
      }

      .slide-docs {
        overflow: initial;

        .swiper-slide {
          a {
            .info {
              h4 {
                font-size: 1rem;
              }
            }
          }
        }

        .actions {
          display: none;
        }
      }
    }

    .area-niveis {
      .top-trilhas {
        .left {
          span {
            font-size: 0.875rem;
            max-width: 347px;
            color: rgba(255, 255, 255, 0.9);
          }
        }
      }

      .responsive {
        .cards-niveis {
          li {
            a {
              .img {
                overflow: initial;
                img {
                  max-width: 250px;
                }
              }

              .info {
                h4 {
                  max-width: 199px;
                }
                p {
                  font-size: 0.875rem;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .area-niveis {
      .responsive {
        .cards-niveis {
          width: fit-content;
          max-width: 100%;
        }
      }
    }
  }

  @media (max-width: 600px) {
    padding-top: 67px;
    padding-bottom: 95px;

    .top {
      span {
        font-size: 1rem;
      }

      h2 {
        font-size: 40px;
        line-height: 42px;
        max-width: 337px;
        text-align: center;
        margin-top: 17px;
      }
    }

    .area-backstage {
      margin-top: 39px;

      .top-slide {
        align-items: center;
        justify-content: center;
        .left {
          flex-direction: column;

          .title {
            border-right: none;

            h3 {
              margin-right: 0;
            }
          }

          span {
            margin-left: 0;
            margin-top: 6px;
            text-align: center;
            max-width: 268px;
          }
        }
      }

      .slide-backstage {
        .swiper-slide {
          a {
            .info {
              p {
                font-size: 12px;
              }
            }
          }
        }
      }
    }

    .area-class {
      margin-top: 65px;

      .top-slide {
        align-items: center;
        justify-content: center;
        .left {
          flex-direction: column;

          .title {
            border-right: none;

            h3 {
              margin-right: 0;
            }
          }

          span {
            margin-left: 0;
            margin-top: 6px;
            text-align: center;
            max-width: 268px;
          }
        }
      }

      .slide-class {
        .swiper-slide {
          a {
            .info {
              p {
                font-size: 12px;
              }
            }
          }
        }
      }
    }

    .area-docs {
      margin-top: 65px;

      .top-slide {
        align-items: center;
        justify-content: center;

        .left {
          flex-direction: column;

          .title {
            border-right: none;

            h3 {
              margin-right: 0;
            }
          }

          span {
            margin-left: 0;
            margin-top: 6px;
            text-align: center;
            max-width: 268px;
          }
        }
      }

      .slide-class {
        .swiper-slide {
          a {
            .info {
              p {
                font-size: 12px;
              }
            }
          }
        }
      }
    }

    .area-niveis {
      margin-top: 65px;

      .top-trilhas {
        align-items: center;
        justify-content: center;

        .left {
          flex-direction: column;

          .title {
            border-right: none;

            h3 {
              margin-right: 0;
            }
          }

          span {
            margin-left: 0;
            margin-top: 6px;
            text-align: center;
            max-width: 301px;
          }
        }
      }

      .cards-niveis {
        li {
          a {
            .info {
              p {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
</style>
