<template>
  <section class="s-comece">
    <div class="container">
      <div class="comece-container">
        <div class="comece-banner">
          <div class="comece-title">
            <h3>Comece hoje</h3>
            <p>Aprenda com os melhores do mercado na melhor plataforma</p>
          </div>
          <div class="comece-price">
            <span>Preço atual</span>
            <h4>R$ {{ plan }}<span>/mês</span></h4>
            <a
              href="https://app.staage.com/initiate/register"
              class="btn-comece buttonRegister"
              target="_blank"
              rel="noopener"
            >
              <img src="@/assets/img/arrow-right.svg" alt="arrow-right" />
              <strong>Comece agora</strong>
              <img src="@/assets/img/arrow-left.svg" alt="arrow-left" />
            </a>
          </div>
        </div>
        <div class="comece-list">
          <div class="comece-column">
            <h4>Conteúdo único e atual</h4>
            <div class="comece-items">
              <img src="@/assets/img/check.png" alt="Porque" />
              <p>Atualização mensal de conteúdo</p>
            </div>
            <div class="comece-items">
              <img src="@/assets/img/check.png" alt="Porque" />
              <p>Mais de 100 aulas gravadas</p>
            </div>
            <div class="comece-items">
              <img src="@/assets/img/check.png" alt="Porque" />
              <p>Staageclass - Aulas completas de competências específicas</p>
            </div>
            <div class="comece-items">
              <img src="@/assets/img/check.png" alt="Porque" />
              <p>Backstage - Documentários de estratégias de marketing digital</p>
            </div>
          </div>

          <div class="comece-column">
            <h4>Especialistas do Mercado</h4>
            <div class="comece-items">
              <img src="@/assets/img/check.png" alt="Porque" />
              <p>Mais de 10 professores</p>
            </div>
            <div class="comece-items">
              <img src="@/assets/img/check.png" alt="Porque" />
              <p>Staageclass com Philip Kotler - Acesse a mente do pai do marketing</p>
            </div>
            <div class="comece-items">
              <img src="@/assets/img/check.png" alt="Porque" />
              <p>Backstage do Primo Rico - Aprenda com o maior influenciador de finanças do mundo</p>
            </div>
          </div>

          <div class="comece-column">
            <h4>Materiais Extras</h4>
            <div class="comece-items">
              <img src="@/assets/img/check.png" alt="Porque" />
              <p>Ebook - Material completo de cada Staageclass</p>
            </div>
            <div class="comece-items">
              <img src="@/assets/img/check.png" alt="Porque" />
              <p>4 Ferramentas de Vendas - Thiago Concer</p>
            </div>
            <div class="comece-items">
              <img src="@/assets/img/check.png" alt="Porque" />
              <p>Check List de Lançamento - Ellen Salomão</p>
            </div>
            <div class="comece-items">
              <img src="@/assets/img/check.png" alt="Porque" />
              <p>
                Bônus: A Atuação de Kotler em grandes empresas, os bastidores de consultoria para Samsung, IBM, Playboy,
                entre outras
              </p>
            </div>
          </div>
        </div>
        <a href="https://app.staage.com/initiate/register" class="btn-comece buttonRegister" target="_blank">
          <img src="@/assets/img/arrow-right.svg" alt="arrow-right" />
          <strong>Comece agora</strong>
          <img src="@/assets/img/arrow-left.svg" alt="arrow-left" />
        </a>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    plan: {
      type: String,
      default: '39,90'
    }
  }
}
</script>
