<template>
  <swiper-default
    principalClass="s-category"
    swiperClass="slide-category"
    :hasNavigations="false"
    :swiperNavigationClass="['button-next', 'button-prev']"
  >
    <template slot="swiper">
      <div class="swiper-slide">
        <a href="#"> Todos os conteúdos </a>
      </div>
      <div class="swiper-slide">
        <a href="#"> Recentemente adicionados </a>
      </div>
      <div class="swiper-slide">
        <a href="#"> Em alta </a>
      </div>
      <div class="swiper-slide">
        <a href="#"> Mais populares </a>
      </div>
      <div class="swiper-slide">
        <a href="#"> Negócios </a>
      </div>
      <div class="swiper-slide">
        <a href="#"> Marketing Digital </a>
      </div>
      <div class="swiper-slide">
        <a href="#"> Lançamentos </a>
      </div>
    </template>
    <template slot="navigation">
      <div class="btn-slide button-next">
        <button>
          <img src="@/assets/img/arrow-orange.svg" alt="arrow-orange" />
        </button>
      </div>
      <div class="btn-slide button-prev">
        <button>
          <img src="@/assets/img/arrow-left-orange.svg" alt="arrow" />
        </button>
      </div>
    </template>
  </swiper-default>
</template>

<script>
import 'swiper/swiper-bundle.css'
import SwiperDefault from './SwiperDefault.vue'
export default {
  components: {
    SwiperDefault
  }
}
</script>

<style lang="scss">
.s-category {
  padding-top: 3.5rem;
  padding-bottom: 56px;
  .area-swiper {
    margin-top: 1.5rem;
    position: relative;
    .top-slide {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .actions {
        .swiper-pagination {
          position: relative;
          display: flex;
          .swiper-pagination-bullet {
            border-radius: 0;
            width: 24px;
            height: 2px;
            background: rgba(66, 68, 73, 1);
            transition: all ease 0.3s;
            margin-right: 6px;

            &.swiper-pagination-bullet-active {
              opacity: 1;
              background: #fff;
            }
          }
        }
      }
    }

    .slide-category {
      margin-top: 0.5rem;
      overflow: hidden;
      // .swiper-wrapper {
      //     width: auto;
      //     display: flex;
      //     gap: 20px;
      // }
      .swiper-slide {
        background-color: #202227;
        border: 2px solid #f3722c;
        border-radius: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          cursor: auto;
          color: #fff;
          padding: 16px 13px;
        }
      }

      .actions {
        .btn-slide {
          &.swiper-button-disabled {
            opacity: 0;
            transition: all ease 0.3s;
            pointer-events: none;
          }

          &.button-next {
            position: absolute;
            right: -30px;
            bottom: 192px;
            z-index: 1;
          }

          &.button-prev {
            position: absolute;
            left: -30px;
            bottom: 192px;
            z-index: 1;
          }
        }
      }
    }
  }
}
</style>
