<template>
  <swiper-default
    principalClass="s-swiper-new-lp"
    swiperClass="slide-class"
    :swiperNavigationClass="['button-next', 'button-prev']"
  >
    <div slot="swiper" class="swiper-slide" v-for="item in courses" :key="item.id">
      <a @click="redirectToMentor(item.courseID)">
        <div class="img">
          <img :src="item.courseMedias.poster" :alt="item.courseTitle" />
        </div>
        <div class="tag">
          <span
            :style="
              item.courseGroup === 'STAAGECLASS'
                ? 'color: #F94144 '
                : 'BACKSTAAGE'
                ? 'color: #F8961E'
                : 'STAAGEDOCS'
                ? 'color: #F9C74F'
                : 'NAPRATICA'
                ? 'color: #F3722C'
                : ''
            "
          >
            {{ courseGroup(item.courseGroup) }}
          </span>
        </div>
        <div class="info">
          <h4>{{ item.courseTitle }}</h4>
          <p>{{ item.courseCenter }}</p>
        </div>
      </a>
    </div>
    <template slot="navigation">
      <div class="btn-slide button-next">
        <button>
          <img src="@/assets/img/arrow-orange.svg" alt="arrow-orange" />
        </button>
      </div>
      <div class="btn-slide button-prev">
        <button>
          <img src="@/assets/img/arrow-left-orange.svg" alt="arrow" />
        </button>
      </div>
    </template>
  </swiper-default>
</template>
<script>
import SwiperDefault from './SwiperDefault.vue'
import { redirectToMentor } from '../utils/index'
export default {
  components: {
    SwiperDefault
  },
  data() {
    return {
      courses: []
    }
  },
  async created() {
    await this.getCourses()
  },
  methods: {
    courseGroup(courseGroup) {
      return courseGroup === 'NAPRATICA' ? 'NA PRÁTICA' : courseGroup
    },
    async getCourses() {
      try {
        const courses = await this.$store.dispatch('courses/getCourses')
        this.courses = courses.sort((a, b) => new Date(b.courseRegister) - new Date(a.courseRegister))
      } catch (err) {
        console.error(err)
      }
    },
    redirectToMentor
  }
}
</script>
