<template>
  <section :class="principalClass">
    <div class="container">
      <div class="area-swiper">
        <div class="top-slide">
          <div class="actions">
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <div :class="swiperClass">
          <div class="swiper-wrapper">
            <slot name="swiper"></slot>
          </div>
          <div v-if="hasNavigations" class="actions">
            <slot name="navigation"></slot>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Swiper from 'swiper'
import 'swiper/swiper-bundle.css'
export default {
  props: {
    principalClass: {
      type: String,
      required: true
    },
    swiperClass: {
      type: String,
      required: true
    },
    hasNavigations: {
      type: Boolean,
      default: true
    },
    swiperNavigationClass: {
      type: Array,
      required: false
    }
  },
  mounted() {
    new Swiper(`.${this.swiperClass}`, {
      slidesPerView: 3,
      spaceBetween: 32,
      grabCursor: true,
      observer: true,
      observeParents: true,
      navigation: {
        // nextEl: '.s-swiper-new-lp .button-next',
        // prevEl: '.s-swiper-new-lp .button-prev',
        nextEl: `.${this.swiperClass} .${this.swiperNavigationClass?.[0]}`,
        prevEl: `.${this.swiperClass} .${this.swiperNavigationClass?.[1]}`
      },
      pagination: {
        el: '.swiper-pagination'
      },
      breakpoints: {
        1200: {
          slidesPerView: 4,
          spaceBetween: 30
        },
        1050: {
          slidesPerView: 4
        },
        1024: {
          slidesPerView: 4,
          spaceBetween: 20
        },
        990: {
          slidesPerView: 3
        },
        835: {
          slidesPerView: 2.7,
          spaceBetween: 26
        },
        768: {
          slidesPerView: 2.7,
          spaceBetween: 26
        },
        600: {
          slidesPerView: 2,
          spaceBetween: 24
        },
        560: {
          slidesPerView: 2
        },
        480: {
          slidesPerView: 1.5
        },
        450: {
          slidesPerView: 1.4
        },
        320: {
          slidesPerView: 1.5
        }
      }
    })
  }
}
</script>
