<template>
  <section class="s-swiper-soon">
    <div class="container">
      <div class="area-soon">
        <div class="top-slide">
          <div class="actions">
            <div class="swiper-pagination-soon"></div>
          </div>
        </div>
        <div class="slide-soon-content">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="img">
                  <img src="@/assets/img/lps/p03ap/Igor-Rodrigues.png" alt="Imagem de Igor Rodrigues" />
                </div>
                <div class="info">
                  <h4>Tráfego para Lançamento Desafio</h4>
                  <p>Igor Rodrigues</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img">
                  <img src="@/assets/img/lps/p03ap/Nicolas-Charao.png" alt="Imagem de Nicolas Charão" />
                </div>
                <div class="info">
                  <h4>Tráfego para Negócios Locais</h4>
                  <p>Nicolas Charão</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img">
                  <img src="@/assets/img/lps/p03ap/Natan-Madeira.png" alt="Imagem de Natan Madeira" />
                </div>
                <div class="info">
                  <h4>Tráfego para Lançamento Interno</h4>
                  <p>Natan Madeira</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img">
                  <img src="@/assets/img/lps/p03ap/Dhiego-Lins.png" alt="Imagem de Dhiego Lins" />
                </div>
                <div class="info">
                  <h4>Tráfego no FaceAds</h4>
                  <p>Dhiego Lins</p>
                </div>
            </div>
          </div>
          <div class="actions">
            <div class="btn-slide button-next">
              <button>
                <img src="@/assets/img/arrow-orange.svg" alt="arrow-orange" />
              </button>
            </div>
            <div class="btn-slide button-prev">
              <button>
                <img src="@/assets/img/arrow-left-orange.svg" alt="arrow" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import Swiper from 'swiper'
import 'swiper/swiper-bundle.css'
import { redirectToMentor } from '../utils/index'
export default {
  mounted() {
    new Swiper('.slide-soon-content', {
      slidesPerView: 3,
      spaceBetween: 32,
      grabCursor: true,
      observer: true,
      observeParents: true,
      navigation: {
        nextEl: '.button-next',
        prevEl: '.button-prev'
      },
      pagination: {
        el: '.swiper-pagination-soon'
      },
      breakpoints: {
        1200: {
          slidesPerView: 3,
          spaceBetween: 32
        },
        1050: {
          slidesPerView: 3
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 20
        },
        990: {
          slidesPerView: 3
        },
        835: {
          slidesPerView: 2.7,
          spaceBetween: 26
        },
        768: {
          slidesPerView: 1.8,
          spaceBetween: 26
        },
        600: {
          slidesPerView: 2,
          spaceBetween: 24
        },
        560: {
          slidesPerView: 2
        },
        480: {
          slidesPerView: 1.5,
          spaceBetween: 24
        },
        450: {
          slidesPerView: 1.4,
          spaceBetween: 24
        },
        320: {
          slidesPerView: 1.5
        }
      }
    })
  }
}
</script>
