<template>
  <section class="s-producoes">
    <div class="container">
      <div class="top">
        <span>O melhor conteúdo exclusivo de marketing digital</span>
        <h2>ORIGINAIS STAAGE</h2>
      </div>
      <div class="area-backstage">
        <div class="top-slide">
          <div class="left">
            <div class="title">
              <img src="@/assets/img/icon-backstag.svg" alt="Backstage" />
              <h3>Backstaage</h3>
            </div>
            <span>Vivencie os bastidores dos grandes lançamentos do mercado</span>
          </div>
          <div class="actions">
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <div class="slide-backstage">
          <div class="swiper-wrapper">
            <div class="swiper-slide" v-for="item in backstaage" :key="item.id">
              <a @click="redirectToMentor(`${item.courseID}`)">
                <div class="img">
                  <img :src="item.poster" v-bind:alt="alt" />
                </div>
                <div class="tag">
                  <span>{{ item.courseGroup }}</span>
                </div>
                <div class="info">
                  <h4>{{ item.courseTitle }}</h4>
                  <p>{{ item.courseDescription }}</p>
                </div>
              </a>
            </div>
          </div>
          <div class="actions">
            <div class="btn-slide button-next">
              <button>
                <img src="@/assets/img/arrow-orange.svg" alt="arrow-orange" />
              </button>
            </div>
            <div class="btn-slide button-prev">
              <button>
                <img src="@/assets/img/arrow-left-orange.svg" alt="arrow" />
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="area-class">
        <div class="top-slide">
          <div class="left">
            <div class="title">
              <img src="@/assets/img/icon-staageclass.svg" alt="Stage-class" />
              <h3>Staageclass</h3>
            </div>
            <span>Domine as principais competências, com os melhores nomes</span>
          </div>
          <div class="actions">
            <div class="swiper-pagination-class"></div>
          </div>
        </div>
        <div class="slide-class">
          <div class="swiper-wrapper">
            <div class="swiper-slide" v-for="item in staageclass" :key="item.id">
              <a @click="redirectToMentor(`${item.courseID}`)">
                <div class="img">
                  <img :src="item.poster" v-bind:alt="alt" />
                </div>
                <div class="tag">
                  <span>{{ item.courseGroup }}</span>
                </div>
                <div class="info">
                  <h4>{{ item.courseTitle }}</h4>
                  <p>{{ item.courseDescription }}</p>
                </div>
              </a>
            </div>
          </div>
          <div class="actions">
            <div class="btn-slide button-next">
              <button>
                <img src="@/assets/img/arrow-orange.svg" alt="arrow-orange" />
              </button>
            </div>
            <div class="btn-slide button-prev">
              <button>
                <img src="@/assets/img/arrow-left-orange.svg" alt="arrow" />
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="area-niveis">
        <div class="top-trilhas">
          <div class="left">
            <div class="title">
              <img src="@/assets/img/icon-playlist.svg" alt="Trilhas por niveis" />
              <h3>Trilhas de conteúdo</h3>
            </div>

            <span>Trilhas de aprendizado organizadas por objetivo</span>
          </div>
        </div>

        <div class="responsive">
          <ul class="cards-niveis">
            <li>
              <span>
                <div class="img">
                  <img src="https://content.staage.com/_p/6ddd05fa-2ae5-4777-a293-f9ae0afc1f5d.png" alt="Redes sociais" />
                </div>

                <div class="tag">
                  <span>Redes sociais</span>
                </div>

                <div class="info">
                  <h4>Redes sociais</h4>
                  <p>
                    Aprenda como influencers e grandes marcas utilizam o poder das redes sociais para construir uma
                    comunidade e atingir mais vendas.
                  </p>
                </div>
              </span>
            </li>
            <li>
              <span>
                <div class="img">
                  <img
                    src="https://content.staage.com/_p/222e7b15-20f9-4c35-9b8a-2691349425d3.png"
                    alt="Lançamento no Instagram"
                  />
                </div>

                <div class="tag">
                  <span>Lançamento no Instagram</span>
                </div>

                <div class="info">
                  <h4>Lançamento no Instagram</h4>
                  <p>
                    Redes sociais e lançamentos, aprenda como utilizar estes dois conceitos para potencializar as suas
                    vendas.
                  </p>
                </div>
              </span>
            </li>

            <li>
              <span>
                <div class="img">
                  <img
                    src="https://content.staage.com/_p/811daff7-fab9-490e-a467-0301c624da3c.png"
                    alt="Sete dígitos de faturamento"
                  />
                </div>

                <div class="tag">
                  <span>Sete dígitos de faturamento</span>
                </div>

                <div class="info">
                  <h4>Sete dígitos de faturamento</h4>
                  <p>
                    Veja os bastidores de lançamentos que geraram mais de 1 milhão de reais em vendas e as principais
                    competências envolvidas.
                  </p>
                </div>
              </span>
            </li>
            <li>
              <span>
                <div class="img">
                  <img
                    src="https://content.staage.com/_p/55006108-b35f-4779-a0f6-06a43f749634.png"
                    alt="Negócio de recorrência"
                  />
                </div>

                <div class="tag">
                  <span>Negócio de recorrência</span>
                </div>

                <div class="info">
                  <h4>Lapidando meu conhecimento</h4>
                  <p>
                    Tão bom quanto gerar muitas vendas em pouco tempo, é fazer vendas todos os dias, acompanhe aulas que te
                    ajudam nesse processo.
                  </p>
                </div>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import _env from '@/_env'
import Swiper from 'swiper'
import 'swiper/swiper-bundle.css'
import { redirectToMentor } from '../utils/index'
export default {
  data() {
    return {
      backstaage: _env.BACKSTAAGE,
      staageclass: _env.STAAGECLASS,
      alt: 'card'
    }
  },
  mounted() {
    new Swiper('.slide-backstage', {
      slidesPerView: 3,
      spaceBetween: 32,
      grabCursor: true,
      observer: true,
      observeParents: true,
      navigation: {
        nextEl: '.s-producoes .button-next',
        prevEl: '.s-producoes .button-prev'
      },
      pagination: {
        el: '.swiper-pagination'
      },
      breakpoints: {
        1200: {
          slidesPerView: 4,
          spaceBetween: 30
        },
        1050: {
          slidesPerView: 4
        },
        1024: {
          slidesPerView: 4,
          spaceBetween: 20
        },
        990: {
          slidesPerView: 3
        },
        835: {
          slidesPerView: 2.7,
          spaceBetween: 26
        },
        768: {
          slidesPerView: 2.7,
          spaceBetween: 26
        },
        600: {
          slidesPerView: 2,
          spaceBetween: 24
        },
        560: {
          slidesPerView: 2
        },
        480: {
          slidesPerView: 1.5
        },
        450: {
          slidesPerView: 1.4
        },
        320: {
          slidesPerView: 1.5
        }
      }
    })
    new Swiper('.slide-class', {
      slidesPerView: 4,
      spaceBetween: 30,
      navigation: {
        nextEl: '.s-producoes .button-next',
        prevEl: '.s-producoes .button-prev'
      },
      pagination: {
        el: '.swiper-pagination-class'
      },
      breakpoints: {
        1200: {
          slidesPerView: 4,
          spaceBetween: 30
        },
        1050: {
          slidesPerView: 4
        },
        1024: {
          slidesPerView: 4,
          spaceBetween: 20
        },
        990: {
          slidesPerView: 3
        },
        835: {
          slidesPerView: 2.7,
          spaceBetween: 26
        },
        768: {
          slidesPerView: 2.7,
          spaceBetween: 26
        },
        600: {
          slidesPerView: 2,
          spaceBetween: 24
        },
        560: {
          slidesPerView: 2
        },
        480: {
          slidesPerView: 1.5
        },
        450: {
          slidesPerView: 1.4
        },
        320: {
          slidesPerView: 1.5
        }
      }
    })
  },
  methods: {
    redirectToMentor
  }
}
</script>
