<template>
  <swiper-default
    principalClass="s-swiper-new-lp-backstaage"
    swiperClass="slide-backstage"
    :swiperNavigationClass="['button-next', 'button-prev']"
  >
    <template slot="swiper">
      <div slot="swiper" class="swiper-slide" v-for="item in backstaage" :key="item.id">
        <a @click="redirectToMentor(item.id)">
          <div class="img">
            <img :src="item.poster" :alt="item.courseTitle" />
          </div>
          <div class="tag">
            <span>Bastidores</span>
          </div>
          <div class="info">
            <h4>{{ item.courseTitle }}</h4>
            <p>{{ item.courseDescription }}</p>
          </div>
        </a>
      </div>
      <div class="swiper-slide swiper1block"></div>
      <div class="swiper-slide swiper1block"></div>
    </template>

    <template slot="navigation">
      <div class="btn-slide button-next">
        <button>
          <img src="@/assets/img/arrow-orange.svg" alt="arrow-orange" />
        </button>
      </div>
      <div class="btn-slide button-prev">
        <button>
          <img src="@/assets/img/arrow-left-orange.svg" alt="arrow" />
        </button>
      </div>
    </template>
  </swiper-default>
</template>
<script>
import _env from '@/_env'
import SwiperDefault from './SwiperDefault.vue'
import { redirectToMentor } from '../utils/index'
export default {
  components: {
    SwiperDefault
  },
  data() {
    return {
      backstaage: _env.BACKSTAAGE
    }
  },
  created() {
    this.backstaage = this.backstaage.slice(0, 5)
  },
  methods: {
    redirectToMentor
  }
}
</script>
