<template>
  <section class="s-swiper-lpportugal">
    <div class="container">
      <div class="area-top-content">
        <div class="top-slide">
          <div class="actions">
            <div class="swiper-pagination-top"></div>
          </div>
        </div>
        <div class="slide-top-content">
          <div class="swiper-wrapper">
            <div class="swiper-slide" v-for="item in courses" :key="item.id">
              <a @click="redirectToMentor(item.courseSlug)">
                <div class="img">
                  <img :src="item.courseMedias.mediaPoster" v-bind:alt="alt" />
                </div>
                <div class="tag">
                  <span
                    :style="
                      item.courseGroup === 'STAAGECLASS'
                        ? 'color: #F94144 '
                        : 'BACKSTAAGE'
                        ? 'color: #F8961E'
                        : 'STAAGEDOCS'
                        ? 'color: #F9C74F'
                        : 'NAPRATICA'
                        ? 'color: #F3722C'
                        : ''
                    "
                    >{{ item.courseGroup }}</span
                  >
                </div>
                <div class="info">
                  <h4>{{ item.courseTitle }}</h4>
                  <p>{{ item.courseCenter }}</p>
                </div>
              </a>
            </div>
          </div>
          <div class="actions">
            <div class="btn-slide button-next">
              <button>
                <img src="@/assets/img/arrow-orange.svg" alt="arrow-orange" />
              </button>
            </div>
            <div class="btn-slide button-prev">
              <button>
                <img src="@/assets/img/arrow-left-orange.svg" alt="arrow" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import Swiper from 'swiper'
import 'swiper/swiper-bundle.css'
import { redirectToMentor } from '../utils/index'
export default {
  data() {
    return {
      courses: []
    }
  },
  async created() {
    await this.getCourses()
  },
  mounted() {
    new Swiper('.slide-top-content', {
      slidesPerView: 3.5,
      spaceBetween: 20,
      grabCursor: true,
      observer: true,
      observeParents: true,
      navigation: {
        nextEl: '.button-next',
        prevEl: '.button-prev'
      },
      pagination: {
        el: '.swiper-pagination-top'
      },
      breakpoints: {
        1200: {
          slidesPerView: 3.5,
          spaceBetween: 30
        },
        1050: {
          slidesPerView: 4
        },
        1024: {
          slidesPerView: 4,
          spaceBetween: 20
        },
        990: {
          slidesPerView: 3
        },
        835: {
          slidesPerView: 2.7,
          spaceBetween: 26
        },
        768: {
          slidesPerView: 2.7,
          spaceBetween: 26
        },
        600: {
          slidesPerView: 2,
          spaceBetween: 24
        },
        560: {
          slidesPerView: 2
        },
        480: {
          slidesPerView: 1.5
        },
        450: {
          slidesPerView: 1.4
        },
        320: {
          slidesPerView: 1.5
        }
      }
    })
  },
  methods: {
    async getCourses() {
      try {
        const courses = await this.$store.dispatch('courses/getCourses')
        this.courses = courses
          .filter(c => c.courseRating > 0)
          .sort((a, b) => new Date(b.courseRating) - new Date(a.courseRating))
          .slice(0, 10)
      } catch (err) {
        console.error(err)
      }
    },
    redirectToMentor
  }
}
</script>
