<template>
  <section class="s-page-not-found">
    <div class="container">
      <img src="@/assets/img/icon-not-found.svg" alt="" />
      <h1 v-if="error.statusCode === 404">Desculpe, essa página não está disponível.</h1>
      <p v-else>O link que você buscou pode estar quebrado ou a página pode ter sido removida</p>
      <nuxt-link class="btn" to="/"> Conheça a Staage </nuxt-link>
    </div>
  </section>
</template>
<script>
export default {
  props: ['error'],
  layout: 'error'
}
</script>
