<template>
  <div>
    <section class="s-banner-newlp">
      <div class="container">
        <div class="text">
          <img src="@/assets/img/square.svg" alt="square" />
          <h1>Marketing para todo mundo</h1>
          <span>Tudo o que você precisa para alavancar o seu negócio e carreira em um só lugar.</span>
          <div class="info">
            <a href="#novo-mundo">
              <img src="@/assets/img/arrow-banner.svg" alt="arrow-banner" />
            </a>
          </div>
        </div>
        <div class="imagens">
          <img src="@/assets/img/thiago-hero-newlp-web.png" class="pic1" alt="Gustavo Borges" />
          <img src="@/assets/img/sarah-hero-newlp-web.png" class="pic2" alt="Evandro Barbosa" />
          <img src="@/assets/img/whinderson2-hero-newlp-web.png" class="pic3" alt="Thiago Nigro" />
        </div>
      </div>
    </section>

    <section id="novo-mundo" class="s-novo-mundo">
      <div class="container">
        <div class="mundo-title">
          <img src="@/assets/img/3icon.png" alt="icon" />
          <h3>O mundo mudou</h3>
          <p>Esse último ano está aí para provar e deixar ainda mais claro que estamos vivendo uma verdadeira revolução.</p>
          <p>
            A pandemia obrigou que a gente se reinventasse… Seja na forma de consumir, de produzir, de se relacionar, enfim,
            de viver.
          </p>
        </div>
        <div class="fotos-new">
          <div class="top" v-prlx.mobile="{ speed: 0.5, direction: 'x', reverse: 'true' }">
            <div class="img">
              <img src="@/assets/img/img1.png" alt="img1" />
            </div>
            <div class="img">
              <img src="@/assets/img/img2.png" alt="img2" />
            </div>
            <div class="img">
              <img src="@/assets/img/img11.png" alt="img11" />
            </div>
            <div class="img">
              <img src="@/assets/img/img4.png" alt="img4" />
            </div>
            <div class="img">
              <img src="@/assets/img/img5.png" alt="img5" />
            </div>
          </div>
          <div class="bottom" v-prlx.mobile="{ speed: 0.5, direction: 'x' }">
            <div class="img">
              <img src="@/assets/img/img3.png" alt="img3" />
            </div>
            <div class="img">
              <img src="@/assets/img/img6.png" alt="img6" />
            </div>
            <div class="img">
              <img src="@/assets/img/img8.png" alt="img8" />
            </div>
            <div class="img">
              <img src="@/assets/img/img9.png" alt="img9" />
            </div>
            <div class="img">
              <img src="@/assets/img/img10.png" alt="img10" />
            </div>
          </div>
        </div>
      </div>
      <div class="container-world">
        <div class="world-image">
          <img src="@/assets/img/World.png" alt="planeta" />
        </div>
        <div class="world-description">
          <p>
            Sem termos opções, vimos o digital se tornar o nosso meio oficial de comunicação, de trabalho, de informação e de
            lazer.
          </p>
          <p>De fato, ele abriu novas portas e nos mostrou uma nova realidade até então pouco explorada e conhecida.</p>
          <p>
            Os negócios e marcas precisaram recorrer ao digital para que pudessem sobreviver e o mundo inteiro precisou se
            adaptar a essa nova realidade.
          </p>
          <p>Pois bem, caso você ainda não tenha percebido, essa é uma mudança que veio para ficar.</p>
        </div>
      </div>
    </section>

    <section class="s-consequencias">
      <div class="container">
        <div class="consequencias-text">
          <img src="@/assets/img/3icon.png" alt="icon" />
          <h3>Consequências da mudança para o digital</h3>
          <p>As profissões que mais crescem no Brasil (e no mundo) estão relacionadas com o universo digital.</p>
          <p>Os negócios que mais faturam possuem presença forte na internet.</p>
          <p>
            As maiores marcas do mercado pararam de investir somente em marketing tradicional e, agora, estão dando mais
            atenção ao marketing digital.
          </p>
        </div>
        <div class="consequencias-report">
          <div class="consequencias-box">
            <span>terra.com.br</span>
            <h4>Marketing Digital mais da metade da população mundial está nas redes sociais</h4>
            <p>Ao menos 4,14 bilhões de pessoas, mais da metade da população mundial, está presente nas redes sociais.</p>
          </div>
          <div class="consequencias-box">
            <span>vocesabia.abril.com.br</span>
            <h4>As 30 profissões em alta para 2021</h4>
            <p>
              Saúde e TI são os setores que mais estão contratando. Mas o novo ano traz oportunidades para todas as áreas com
              a chegada da vacina e retomada da economia.
            </p>
          </div>
          <div class="consequencias-box">
            <span>economia.uol.com.br</span>
            <h4>Estudo aponta que anunciantes focarão investimentos no digital em 2021</h4>
            <p>
              Segundo o levantamento, 45% dos anunciantes e agências pretendem aumentar seus aportes em publicidade digital
              em 2021.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="s-aprender">
      <div class="container">
        <div class="conteudo">
          <div class="titulo">
            <img src="@/assets/img/square.svg" alt="square" />
            <h2>Como a Staage pode te ajudar</h2>
          </div>
          <div class="modulos">
            <div class="info">
              <div class="descricao">
                <p>
                  Se você deseja sair na frente enquanto ainda há tempo e espaço para crescer e surfar essa alta onda que a
                  internet está proporcionando, a Staage é o seu lugar.
                </p>
                <div class="mobile-img-kotler">
                  <img src="@/assets/img/kotlin-parallax-mobile.png" alt="" />
                </div>
                <p>
                  Contando com a ajuda, suporte e direcionamento da plataforma mais completa do Brasil voltada 100% para
                  marketing digital, você vai poder mergulhar e se aprofundar nesse universo.
                </p>
                <p>
                  Vai aprender com as maiores referências e autoridades do mercado sobre como utilizar as ferramentas
                  necessárias para alavancar o seu negócio na internet e viver do digital.
                </p>
                <p>
                  Se você está pronto para dar um próximo passo rumo à revolução da sua vida profissional e conquistar a
                  liberdade financeira e geográfica que você tanto deseja…
                </p>
                <p>Clique no botão abaixo e conheça por dentro a plataforma de conteúdo completa da Staage.</p>
              </div>
            </div>
          </div>
          <a href="https://app.staage.com/initiate/register" class="btn-comece buttonRegister" target="_blank">
            <img src="@/assets/img/arrow-right.svg" alt="arrow-right" />
            <strong>Quero conhecer</strong>
            <img src="@/assets/img/arrow-left.svg" alt="arrow-left" />
          </a>
        </div>
        <div class="imagem">
          <img src="@/assets/img/kotler-parallax.png" alt="O que você irá aprender ?" />
          <img
            src="@/assets/img/cards-parallax.png"
            v-prlx="{ reverse: true, speed: 0.5, fromBottom: true }"
            class="card"
            alt=""
          />
        </div>
      </div>
    </section>

    <section class="s-nova-era">
      <div class="container">
        <div class="nova-era-title">
          <img src="@/assets/img/3icon.png" alt="icon" />
          <h3>A nova era digital</h3>
        </div>
        <div class="nova-era-numbers">
          <div class="nova-era-description">
            <h4 class="gradient-text" id="contador">74%</h4>
            <p>Dos consumidores utilizam as redes sociais para fazer compras</p>
          </div>
          <div class="nova-era-description">
            <h4 class="gradient-text">86%</h4>
            <p>Dos brasileiros já fazem compra online<br /><br /></p>
          </div>
          <div class="nova-era-description">
            <h4 class="gradient-text">75%</h4>
            <p>Das vagas disponíveis já são para Social Media<br /><br /></p>
          </div>
          <div class="nova-era-description">
            <h4 class="gradient-text">85%</h4>
            <p>Das empresas vão investir mais em anúncios na Internet</p>
          </div>
          <div class="nova-era-description">
            <h4 class="gradient-text">66%</h4>
            <p>Da população brasileira está presente nas redes sociais</p>
          </div>
        </div>
      </div>
    </section>

    <section class="s-feito">
      <div class="container">
        <div class="feito-list">
          <div class="feito-list-title">
            <img src="@/assets/img/3icon.png" alt="icon" />
            <span>Pensando nessa nova realidade,</span>
            <h3>A Staage foi feita para quem...</h3>
          </div>
          <div class="feito-list-grid">
            <div class="column-list">
              <div class="feito-list-items">
                <img src="@/assets/img/list-icon-1.png" alt="" />
                <p>Deseja ter liberdade financeira e geográfica</p>
              </div>
              <div class="feito-list-items">
                <img src="@/assets/img/list-icon-2.png" alt="" />
                <p>Quer alavancar o seu negócio e carreira</p>
              </div>
              <div class="feito-list-items">
                <img src="@/assets/img/list-icon-3.png" alt="" />
                <p>Deseja acompanhar a (r)evolução e transformação digital</p>
              </div>
              <div class="feito-list-items">
                <img src="@/assets/img/list-icon-4.png" alt="" />
                <p>Quer ter um negócio e deseja viver da internet</p>
              </div>
            </div>
            <div class="column-list">
              <div class="feito-list-items">
                <img src="@/assets/img/list-icon-5.png" alt="" />
                <p>Tem o objetivo de crescer no digital</p>
              </div>
              <div class="feito-list-items">
                <img src="@/assets/img/list-icon-6.png" alt="" />
                <p>Deseja construir autoridade na internet</p>
              </div>
              <div class="feito-list-items">
                <img src="@/assets/img/list-icon-7.png" alt="" />
                <p>É prestador de serviço e quer usar a internet para ser mais conhecido e lotar a agenda</p>
              </div>
              <div class="feito-list-items">
                <img src="@/assets/img/list-icon-8.png" alt="" />
                <p>Deseja se especializar e obter conhecimento sobre as profissões do futuro</p>
              </div>
            </div>
            <div class="column-list">
              <div class="feito-list-items">
                <img src="@/assets/img/list-icon-9.png" alt="" />
                <p>Não quer ficar obsoleto no mercado</p>
              </div>
              <div class="feito-list-items">
                <img src="@/assets/img/list-icon-10.png" alt="" />
                <p>Quer sair na frente, se diferenciar e se destacar na sua área</p>
              </div>
              <div class="feito-list-items">
                <img src="@/assets/img/list-icon-11.png" alt="" />
                <p>Quer aproveitar a alta onda progressiva da internet</p>
              </div>
              <div class="feito-list-items">
                <img src="@/assets/img/list-icon-12.png" alt="" />
                <p>Pensa em utilizar o digital como meio para crescer seu negócio</p>
              </div>
            </div>
          </div>
          <div class="union">
            <img src="@/assets/img/Union.png" alt="union" />
          </div>
        </div>
        <div class="feito-entrar">
          <div class="feito-entrar-description">
            <h3>Para quem a Staage não é</h3>
            <p>Se você está plenamente feliz com a sua vida profissional e pessoal…</p>
            <p>
              Se você e a sua família vivem em abundância plena e você pode promover as melhores oportunidades e experiências
              para quem você ama, a Staage não é o seu lugar!
            </p>
          </div>
          <div class="feito-entrar-action">
            <p>
              A Staage foi feita, idealizado e pensado especialmente para pessoas inconformadas, que desejam progredir,
              crescer e evoluir em suas carreiras.
            </p>
            <p>Que desejam alcançar o seu máximo potencial, que estão sedentas por viverem uma vida extraordinária…</p>
            <p>
              E, para isso, estão dispostas a saírem da zona de conforto e queimarem a ponte para acompanhar a verdadeira
              transformação que estamos vivendo na era digital.
            </p>
            <a href="https://app.staage.com/initiate/register" class="btn-comece buttonRegister" target="_blank">
              <img src="@/assets/img/arrow-right.svg" alt="arrow-right" />
              <strong>Comece agora</strong>
              <img src="@/assets/img/arrow-left.svg" alt="arrow-left" />
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="s-trilhas">
      <div class="container">
        <div class="trilhas-title">
          <img src="@/assets/img/icon-playlist-trilha.png" alt="Icone trilha" />
          <h3>Trilhas de conhecimento</h3>
        </div>
        <div class="trilhas-description">
          <p>
            Você vai poder seguir uma trilha completa de conhecimento sobre os principais fundamentos do marketing<br />
            para aplicar e escalar o seu negócio:
          </p>
        </div>
        <div class="trilhas-lista">
          <div class="trilhas-column">
            <div class="trilhas-item">
              <img src="@/assets/img/Copywriting.png" alt="Copywriting" />
              <p>Copywriting</p>
            </div>
            <div class="trilhas-item">
              <img src="@/assets/img/Lançamento.png" alt="Lançamento" />
              <p>Lançamentos</p>
            </div>
            <div class="trilhas-item">
              <img src="@/assets/img/icon-trilhas-3.png" alt="Tráfego Direto" />
              <p>Tráfego Direto</p>
            </div>
            <div class="trilhas-item">
              <img src="@/assets/img/icon-trilhas-4.png" alt="Podcast" />
              <p>Podcast</p>
            </div>
          </div>
          <div class="trilhas-column">
            <div class="trilhas-item">
              <img src="@/assets/img/icon-trilhas-5.png" alt="Instagram" />
              <p>Instagram</p>
            </div>
            <div class="trilhas-item">
              <img src="@/assets/img/icon-trilhas-6.png" alt="Growth Marketing" />
              <p>Growth Marketing</p>
            </div>
            <div class="trilhas-item">
              <img src="@/assets/img/icon-trilhas-7.png" alt="Gestão" />
              <p>Gestão</p>
            </div>
            <div class="trilhas-item">
              <img src="@/assets/img/icon-trilhas-8.png" alt="Estratégias Digitais" />
              <p>Estratégias Digitais</p>
            </div>
          </div>
          <div class="trilhas-column">
            <div class="trilhas-item">
              <img src="@/assets/img/icon-trilhas-9.png" alt="Redes Sociais" />
              <p>Redes Sociais</p>
            </div>
            <div class="trilhas-item">
              <img src="@/assets/img/icon-trilhas-11.png" alt="Vendas" />
              <p>Vendas</p>
            </div>
            <div class="trilhas-item">
              <img src="@/assets/img/icon-trilhas-12.png" alt="Métricas" />
              <p>Métricas</p>
            </div>
            <div class="trilhas-item">
              <img src="@/assets/img/icon-trilhas-13.png" alt="Ecommerce" />
              <p>Ecommerce</p>
            </div>
          </div>
          <div class="trilhas-column">
            <div class="trilhas-item">
              <img src="@/assets/img/icon-trilhas-14.png" alt="Copywriting" />
              <p>Marketing 5.0</p>
            </div>
            <div class="trilhas-item">
              <img src="@/assets/img/icon-trilhas-15.png" alt="Lançamento" />
              <p>Prospecção de clientes</p>
            </div>
            <div class="trilhas-item">
              <img src="@/assets/img/icon-trilhas-16.png" alt="Tráfego Direto" />
              <p>Recorrência</p>
            </div>
            <div class="trilhas-item">
              <img src="@/assets/img/icon-trilhas-17.png" alt="Podcast" />
              <p>E muito mais</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="s-os-melhores">
      <div class="container">
        <div class="os-melhores-title">
          <img src="@/assets/img/icon-os-melhores.png" alt="Icone os melhores" />
          <h3>Aprenda com os melhores</h3>
        </div>
        <div class="os-melhores-description">
          <p>
            Conte com a ajuda das maiores referências do mercado digital para te ensinar o caminho das pedras para ter MUITO
            resultado.
          </p>
        </div>
      </div>
      <swiper-new-lp />
    </section>

    <access-backstage />

    <section class="s-staageclass-new">
      <div class="container">
        <div class="s-staage-title">
          <img src="@/assets/img/icon-staageclass.png" alt="Icone os melhores" />
          <h3>Domine as principais competências com os melhores profissionais</h3>
        </div>
        <div class="s-staage-description">
          <p>
            Todas as habilidades que você precisa para criar o seu negócio digital, fazer ele crescer, escalar seus
            resultados e ter mais liberdade, em um único lugar.
          </p>
        </div>
        <div class="staageclass-cards">
          <div class="staageclass-cards-container">
            <div class="staagecard1">
              <div class="staagecard1-title">
                <img src="@/assets/img/card-picture-1.png" alt="Picture 1" />
                <div class="staagecard1-title-text">
                  <h4>Marketing 1.0 ao 5.0</h4>
                  <span>Philip Kotler</span>
                </div>
              </div>
              <div class="staagecard1-description">
                <p>Philip Kotler, maior autoridade de marketing do mundo ensina a evolução do Marketing 1.0 ao 5.0</p>
              </div>
            </div>
            <div class="staagecard2">
              <div class="staagecard2-title">
                <img src="@/assets/img/card-picture-2.png" alt="Picture 2" />
                <div class="staagecard2-title-text">
                  <h4>Instagram</h4>
                  <span>Duda Vieira</span>
                </div>
              </div>
              <div class="staagecard2-description">
                <p>
                  A rede social do momento e um dos melhores canais de vendas. Aprenda como usar o Instagram no seu negócio
                  com Duda Vieira.
                </p>
              </div>
            </div>
            <div class="staagecard3">
              <div class="staagecard3-title">
                <img src="@/assets/img/card-picture-3.png" alt="Picture 3" />
                <div class="staagecard3-title-text">
                  <h4>Fundamentos do Copywriting</h4>
                  <span>Roberta Santos</span>
                </div>
              </div>
              <div class="staagecard3-description">
                <p>Aprenda os fundamentos do copywriting com Roberta Santos, uma das principais copywriters do Brasil.</p>
              </div>
            </div>
            <div class="staagecard4">
              <div class="staagecard4-title">
                <img src="@/assets/img/card-picture-4.png" alt="Picture 4" />
                <div class="staagecard4-title-text">
                  <h4>Construção de Comunidade</h4>
                  <span>Camila Vidal</span>
                </div>
              </div>
              <div class="staagecard4-description">
                <p>
                  Aprenda construção de comunidade com Camila Vidal, criadora da maior comunidade de empreendedorismo
                  feminino do país.
                </p>
              </div>
            </div>
          </div>
          <div class="staageclass-cards-container">
            <div class="staagecard5">
              <div class="staagecard5-title">
                <img src="@/assets/img/card-picture-5.png" alt="Picture 5" />
                <div class="staagecard5-title-text">
                  <h4>Growth</h4>
                  <span>Dener Lipert</span>
                </div>
              </div>
              <div class="staagecard5-description">
                <p>
                  CEO e fundador da maior assessoria de marketing do país, Dener Lippert ensina uma das competências mais
                  essenciais em qualquer negócio, Growth.
                </p>
              </div>
            </div>
            <div class="staagecard6">
              <div class="staagecard6-title">
                <img src="@/assets/img/card-picture-6.png" alt="Picture 6" />
                <div class="staagecard6-title-text">
                  <h4>Vendas</h4>
                  <span>Thiago Concer</span>
                </div>
              </div>
              <div class="staagecard6-description">
                <p>Domine a arte e técnica de vendas com a autoridade máxima no assunto do Brasil, Thiago Concer.</p>
              </div>
            </div>
            <div class="staagecard7">
              <div class="staagecard7-title">
                <img src="@/assets/img/card-picture-7.png" alt="Picture 7" />
                <div class="staagecard7-title-text">
                  <h4>Podcast</h4>
                  <span>Lucas Zafra</span>
                </div>
              </div>
              <div class="staagecard7-description">
                <p>
                  O idealizador do maior podcast de finanças ensina como você pode construir um podcast de sucesso e ganhar
                  dinheiro com ele
                </p>
              </div>
            </div>
            <div class="staagecard8">
              <div class="staagecard8-title">
                <img src="@/assets/img/card-picture-8.png" alt="Picture 8" />
                <div class="staagecard8-title-text">
                  <h4>Agência de Lançamentos</h4>
                  <span>Ellen Salomão</span>
                </div>
              </div>
              <div class="staagecard8-description">
                <p>
                  Ellen Salomão, criadora do maior portal de agências de lançamentos do Brasil, ensina os processos para você
                  dominar o mercado de lançamento.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="s-porque">
      <div class="container">
        <div class="porque-text">
          <img src="@/assets/img/3icon.png" alt="icon" />
          <h3>Por que escolher a Staage?</h3>
        </div>
        <div class="porque-list">
          <div class="porque-column">
            <div class="porque-items">
              <img src="@/assets/img/Rectangle-porque.png" alt="Porque" />
              <p>Em um ano, teremos mais de 600 aulas disponíveis para você.</p>
            </div>
            <div class="porque-items">
              <img src="@/assets/img/Rectangle-porque.png" alt="Porque" />
              <p>Estudar no seu tempo, quando e onde quiser.</p>
            </div>
            <div class="porque-items">
              <img src="@/assets/img/Rectangle-porque.png" alt="Porque" />
              <p>Aulas semanais sobre os principais assuntos dentro do marketing digital.</p>
            </div>
            <div class="porque-items">
              <img src="@/assets/img/Rectangle-porque.png" alt="Porque" />
              <p>Uma carga horária próxima a um MBA.</p>
            </div>
            <div class="porque-items">
              <img src="@/assets/img/Rectangle-porque.png" alt="Porque" />
              <p>Os melhores nomes do mercado nacional e internacional.</p>
            </div>
          </div>

          <div class="porque-column">
            <div class="porque-items">
              <img src="@/assets/img/Rectangle-porque.png" alt="Porque" />
              <p>Trilhas de conhecimentos específicas de acordo com o seu objetivo.</p>
            </div>
            <div class="porque-items">
              <img src="@/assets/img/Rectangle-porque.png" alt="Porque" />
              <p>Acesso aos bastidores dos maiores negócios digitais do Brasil.</p>
            </div>
            <div class="porque-items">
              <img src="@/assets/img/Rectangle-porque.png" alt="Porque" />
              <p>Menos da metade do valor da concorrência.</p>
            </div>
            <div class="porque-items">
              <img src="@/assets/img/Rectangle-porque.png" alt="Porque" />
              <p>Qualidade de som e imagem, para uma melhor experiência.</p>
            </div>
            <div class="porque-items">
              <img src="@/assets/img/Rectangle-porque.png" alt="Porque" />
              <p>Material complementar em todas as aulas.</p>
            </div>
          </div>
        </div>
        <div class="porque-button">
          <a href="https://app.staage.com/initiate/register" class="btn-comece buttonRegister" target="_blank">
            <strong>Destravar acesso ao conteúdo</strong>
          </a>
        </div>
      </div>
    </section>

    <start-today />
  </div>
</template>
<script>
import StartToday from '../components/StartToday.vue'
import SwiperNewLp from '../components/SwiperNewLp.vue'
import AccessBackstage from '../components/AccessBackstage.vue'
export default {
  components: {
    StartToday,
    SwiperNewLp,
    AccessBackstage
  }
}
</script>
<style lang="scss">
.s-banner-newlp {
  position: relative;
  padding-top: 103px;
  padding-bottom: 20.15625rem;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .text {
    width: 100%;
    max-width: 584px;
    margin-top: 64px;
    position: relative;
    z-index: 1;

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 6.5rem;
      line-height: 6.1875rem;
      letter-spacing: -0.02em;

      color: #ffffff;
      margin-top: 1.9375rem;
    }

    span {
      display: block;
      margin-top: 1.9375rem;
      max-width: 374px;
      font-style: normal;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1.6875rem;
      color: rgba(255, 255, 255, 0.8);
    }

    .btn-comece {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 281px;
      height: 58px;
      background-color: #f3722c;
      margin-top: 2.375rem;

      strong {
        margin-right: 0.625rem;
        margin-left: 0.625rem;

        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.375rem;
        text-transform: uppercase;

        color: #ffffff;
      }

      &:hover {
        background: linear-gradient(267.26deg, #ff9d57 -0.71%, #f94144 130.41%);
        transition: all ease 0.3s;
      }
    }

    p {
      margin-top: 2.375rem;
      max-width: 340px;
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.3125rem;
      color: rgba(255, 255, 255, 0.7);

      strong {
        font-weight: 700;
        color: rgba(255, 255, 255, 0.7);
      }
    }
    .info {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 591px;
      top: 517px;
      z-index: 1;
      @media (max-width: 480px) {
        width: 100%;
        top: 314px;
        justify-content: center;
      }
      img {
        margin-right: 0;
      }

      a {
        animation: arrow-down 1.5s infinite alternate;
      }
    }
  }

  .imagens {
    display: flex;
    position: absolute;
    width: 1016px;
    height: 730px;
    top: 103px;
    right: 136px;

    img {
      margin-right: 22px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media (max-width: 1700px) {
    .imagens {
      right: 47px;
    }
  }

  @media (max-width: 1600px) {
    .imagens {
      right: -7px;
    }
  }

  @media (max-width: 1500px) {
    .imagens {
      right: -56px;
    }
  }

  @media (max-width: 1440px) {
    .imagens {
      right: -121px;
    }
  }

  @media (max-width: 1300px) {
    .imagens {
      right: -167px;
    }
  }

  @media (max-width: 1200px) {
    .imagens {
      right: -224px;

      .info {
        right: 274px;
      }
    }
  }

  @media (max-width: 1100px) {
    .imagens {
      right: -335px;

      .info {
        right: 367px;
      }
    }
  }

  @media (max-width: 990px) {
    .imagens {
      right: -390px;

      .info {
        right: -164px;
        .check {
          display: none;
        }
      }
    }
  }

  @media (max-width: 835px) {
    padding-bottom: 178px;
    .text {
      margin-top: 0.8125rem;
      max-width: 446px;

      h1 {
        font-size: 5rem;
        line-height: 4.75rem;
      }

      span {
        margin-top: 2.625rem;
      }
    }

    .imagens {
      right: -441px;

      .info {
        right: -97px;
        bottom: 181px;
      }
    }
  }

  @media (max-width: 801px) {
    padding-bottom: 4.75rem;
    .imagens {
      width: 575px;
      height: 626px;
      right: -71px;

      .info {
        bottom: 14%;
        left: 78%;
        right: 0;
      }
    }
  }

  @media (max-width: 600px) {
    padding-top: 0;
    padding-bottom: 28px;

    .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
    }

    .text {
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: -143px;

      .square {
        display: none;
      }

      h1 {
        margin-top: 0;
        font-size: 40px;
        text-align: center;
        max-width: 265px;
        line-height: 2.5rem;
      }

      span {
        font-size: 16px;
        text-align: center;
        margin-top: 0.3125rem;
        max-width: 253px;
      }

      p {
        text-align: center;
        margin-top: 1.6875rem;
      }

      .btn-comece {
        &:hover {
          background: #f3722c;
          transition: none;
        }
      }
    }

    .imagens {
      position: relative;
      width: 629px;
      height: 484px;
      right: 51px;
      top: 82px;

      img {
        margin-right: 0.53125rem;
        height: 100%;
      }

      &:nth-child(3) {
        img {
          margin-right: 0;
        }
      }

      .info {
        display: none;
      }
    }
  }

  @media (max-width: 480px) {
    .text {
      margin-top: -82px;
      h1 {
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 58px;
        letter-spacing: 0em;
        text-align: center;
      }
    }
    .imagens {
      width: 475px;
      height: 343px;
      right: 45px;
    }
  }

  @media (max-width: 375px) {
    .text {
      .btn-comece {
        width: 100%;
      }
    }

    .imagens {
      width: 393px;
      height: 282px;
    }
  }
}

.s-novo-mundo {
  height: auto;
  padding: 121px 0 111px 0;
  @media (max-width: 820px) {
    padding: 250px 00 111px 0;
  }
  @media (max-width: 480px) {
    padding: 150px 00 111px 0;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 480px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .mundo-title {
      width: 50%;
      @media (max-width: 480px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      h3 {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        padding: 0 0 32px 0;
        margin-top: 16px;
        @media (max-width: 480px) {
          text-align: center;
        }
      }
      p {
        width: 480px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: #fff;
        padding: 0 0 32px 0;
        @media (max-width: 820px) {
          width: 311px;
        }
        @media (max-width: 480px) {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  .container-world {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 126px;
    @media (max-width: 820px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  .world-description {
    width: 489px;
    @media (max-width: 820px) {
      width: 95%;
    }
    @media (max-width: 480px) {
      padding-top: 40px;
    }
    p {
      margin-top: 5%;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: left;
      color: #fff;
      @media (max-width: 820px) {
        text-align: center;
      }
    }
  }
}

.fotos-new {
  padding-top: 0;
  padding-bottom: 0;
  width: 50%;
  @media (max-width: 480px) {
    width: 100%;
  }
  .top {
    display: flex;
    width: 100%;
    position: relative;
    right: 0px;
    @media (max-width: 820px) {
      right: -200px;
    }
    @media (max-width: 480px) {
      right: 100px;
    }
    .img {
      margin-right: 22px;
      position: relative;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: gray; /* IE */
      transition: all ease 0.3s;
      &:hover {
        -webkit-filter: none;
        filter: none;
        transition: all ease 0.3s;
      }
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(15, 17, 22, 0.1) 71.36%, #0f1116 111.67%);
        opacity: 0.3;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      img {
        max-width: 165px;
        @media (max-width: 480px) {
          width: 113px;
        }
        @media (max-width: 820px) {
          max-width: 220px;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .bottom {
    display: flex;
    margin-top: 22px;
    width: 100%;
    position: relative;
    left: 0px;
    @media (max-width: 820px) {
      left: 100px;
    }
    @media (max-width: 480px) {
      left: -200px;
    }
    .img {
      margin-right: 22px;
      position: relative;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: gray; /* IE */
      transition: all ease 0.3s;
      &:hover {
        -webkit-filter: none;
        filter: none;
        transition: all ease 0.3s;
      }
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(15, 17, 22, 0.1) 71.36%, #0f1116 111.67%);
        opacity: 0.3;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      img {
        max-width: 165px;
        @media (max-width: 480px) {
          width: 113px;
        }
        @media (max-width: 820px) {
          max-width: 220px;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      .logo {
        position: absolute;
        top: 77px;
        left: 38px;
      }
      .icon {
        position: absolute;
        top: 68px;
        right: 25px;
      }
    }
  }
}

.s-consequencias {
  background-color: #17191f;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 820px) {
      display: flex;
      flex-direction: column;
    }
    .consequencias-text {
      width: 488px;
      padding: 80px 0 145px 0;
      @media (max-width: 820px) {
        width: 80%;
        padding-bottom: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      h3 {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 16px;
        @media (max-width: 820px) {
          text-align: center;
        }
      }
      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: #fff;
        margin-top: 32px;
        @media (max-width: 820px) {
          text-align: center;
        }
      }
    }

    .consequencias-report {
      width: 592px;
      padding: 71px 0 71px 0;
      @media (max-width: 820px) {
        padding-top: 0;
      }
      @media (max-width: 480px) {
        width: 100%;
      }
      .consequencias-box {
        width: 100%;
        border: 1px solid #41444d;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 24px 24px;
        @media (max-width: 480px) {
          width: 100%;
        }
        span {
          width: 544px;
          text-align: left;
          color: #ff9d57;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 18px;
          letter-spacing: 0em;
          @media (max-width: 480px) {
            width: 100%;
          }
        }
        h4 {
          width: 544px;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;
          @media (max-width: 480px) {
            width: 100%;
          }
        }
        p {
          width: 544px;
          margin-top: 16px;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0em;
          text-align: left;
          color: #fff;
          opacity: 0.8;
          @media (max-width: 480px) {
            width: 100%;
          }
        }
      }
    }
  }
}

.s-aprender {
  .titulo {
    @media (max-width: 820px) {
      width: 95%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    h2 {
      @media (max-width: 820px) {
        text-align: center;
      }
    }
  }
  .modulos {
    width: 478px;
    margin-top: 20px;
    @media (max-width: 820px) {
      width: 95%;
      display: flex;
      justify-content: center;
    }

    .info {
      margin-bottom: 27px;
      .descricao {
        p {
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: left;
          margin-bottom: 20px;
          @media (max-width: 820px) {
            width: 100%;
            text-align: center;
          }
        }
        .mobile-img-kotler {
          @media (max-width: 2560px) {
            display: none;
          }
          @media (max-width: 480px) {
            display: flex;
            margin-top: 40px;
            margin-bottom: -50px;
          }
        }
      }
    }
  }
  .imagem {
    @media (max-width: 480px) {
      display: none;
    }
    .card {
      top: 450px;
      overflow: hidden;
    }
  }
  .btn-comece {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 281px;
    height: 58px;
    background-color: #f3722c;
    margin-top: 2.375rem;
    @media (max-width: 820px) {
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }
    strong {
      margin-right: 0.625rem;
      margin-left: 0.625rem;

      font-style: normal;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.375rem;
      text-transform: uppercase;

      color: #ffffff;
    }

    &:hover {
      background: linear-gradient(267.26deg, #ff9d57 -0.71%, #f94144 130.41%);
      transition: all ease 0.3s;
    }
  }
}

.s-nova-era {
  background-color: #17191f;
  @media (max-width: 480px) {
    margin-top: 80px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .nova-era-title {
      width: 318px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 87px 0 87px 0;
      @media (max-width: 820px) {
        width: 95%;
      }
      h3 {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: center;
        margin-top: 16px;
      }
    }
    .nova-era-numbers {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 0 80px 0;
      @media (max-width: 820px) {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      .nova-era-description {
        width: 243px;
        height: 211px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #41444d;
        @media (max-width: 820px) {
          width: 100%;
        }
        .gradient-text {
          background-color: red;
          background-image: linear-gradient(45deg, #ff9d57, #f94144);
          background-size: 100%;
          background-repeat: repeat;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          -moz-background-clip: text;
          -moz-text-fill-color: transparent;
        }
        h4 {
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 39px;
          letter-spacing: 0em;
          text-align: left;
          color: #ff9d57;
          padding: 32px 0 0 0;
        }
        p {
          width: 195px;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: center;
          color: #fff;
          padding: 26px 0 26px 0;
          @media (max-width: 820px) {
            width: 100%;
          }
        }
      }
    }
  }
}

.s-feito {
  .container {
    .feito-list {
      padding: 87px 0 0 0;
      margin: 0 auto;
      .feito-list-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          padding: 16px 0;
        }
        h3 {
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: 49px;
          letter-spacing: 0em;
          text-align: left;
          @media (max-width: 820px) {
            text-align: center;
          }
          @media (max-width: 480px) {
            text-align: center;
          }
        }
      }
      .feito-list-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        padding: 48px 0 64px 0;
        @media (max-width: 820px) {
          display: flex;
          flex-direction: column;
        }
        .column-list {
          display: flex;
          flex-direction: column;
          gap: 16px;
          .feito-list-items {
            width: 384px;
            height: 120px;
            background-color: #0f1116;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 820px) {
              width: 100%;
              justify-content: left;
            }
            img {
              padding: 0 0 0 28px;
            }
            p {
              width: 280px;
              margin: 0 32px;
              color: #ffffff;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 27px;
              letter-spacing: 0em;
              text-align: left;
              @media (max-width: 820px) {
                width: 100%;
              }
            }
          }
        }
      }
      .union {
        width: 101px;
        display: flex;
        margin: 0 auto;
      }
    }
    .feito-entrar {
      display: flex;
      justify-content: center;
      gap: 32px;
      padding: 64px 0 112px 0;
      @media (max-width: 820px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .feito-entrar-description {
        width: 488px;
        @media (max-width: 820px) {
          width: 100%;
        }
        h3 {
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: 49px;
          letter-spacing: 0em;
          text-align: left;
          padding: 0 0 32px 0;
          @media (max-width: 820px) {
            text-align: center;
          }
        }
        p {
          font-family: Proxima Nova;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          opacity: 0.8;
          margin-bottom: 25px;
          @media (max-width: 820px) {
            text-align: center;
          }
        }
      }
      .feito-entrar-action {
        width: 696px;
        background-color: #0f1116;
        @media (max-width: 820px) {
          width: 100%;
        }
        p {
          padding: 32px 32px 0px 32px;
          font-family: Proxima Nova;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          @media (max-width: 820px) {
            text-align: center;
          }
        }
        .btn-comece {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 281px;
          height: 58px;
          background-color: #f3722c;
          margin-top: 19px;
          margin-bottom: 32px;
          margin-left: 32px;
          @media (max-width: 820px) {
            margin: 24px auto;
          }

          strong {
            margin-right: 0.625rem;
            margin-left: 0.625rem;

            font-style: normal;
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.375rem;
            text-transform: uppercase;

            color: #ffffff;
          }

          &:hover {
            background: linear-gradient(267.26deg, #ff9d57 -0.71%, #f94144 130.41%);
            transition: all ease 0.3s;
          }
        }
      }
    }
  }
}

.s-trilhas {
  background-color: #17191f;
  .container {
    .trilhas-title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20.28px;
      padding: 80px 0 32px 0;
      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
      }
      h3 {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        @media (max-width: 480px) {
          text-align: center;
        }
      }
    }
    .trilhas-description {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 64px;
      p {
        width: 502px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        opacity: 0.8;
      }
    }
    .trilhas-lista {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
      padding-bottom: 80px;
      @media (max-width: 820px) {
        gap: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .trilhas-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width: 820px) {
          display: flex;
        }
        .trilhas-item {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding-left: 32px;
          border: 1px solid #313338;
          width: 280px;
          height: 88px;
          @media (max-width: 480px) {
            width: 180px;
            padding-left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          p {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            color: #ffffff;
            padding-left: 16px;
            @media (max-width: 480px) {
              padding-left: 0;
            }
          }
        }
      }
    }
  }
}

.s-os-melhores {
  .container {
    .os-melhores-title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20.28px;
      padding: 80px 0 32px 0;
      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
      }
      h3 {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        @media (max-width: 480px) {
          text-align: center;
        }
      }
    }
    .os-melhores-description {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 64px;
      p {
        width: 500px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        opacity: 0.8;
      }
    }
  }
}

.s-staageclass-new {
  .container {
    .s-staage-title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20.28px;
      padding: 80px 0 32px 0;
      @media (max-width: 820px) {
        display: flex;
        flex-direction: column;
      }
      h3 {
        font-size: 39px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        @media (max-width: 820px) {
          text-align: center;
        }
      }
    }
    .s-staage-description {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 64px;
      p {
        width: 650px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        opacity: 0.8;
      }
    }
    .staageclass-cards {
      padding-bottom: 94px;
      .staageclass-cards-container {
        display: flex;
        gap: 62px;
        align-items: center;
        justify-content: center;
        margin-top: 32px;
        @media (max-width: 820px) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          width: 100%;
        }
        @media (max-width: 480px) {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-left: 0;
        }
        .staagecard1 {
          width: 280px;
          height: 406px;
          background: url(../assets/img/staageclass-card-1-web.png) no-repeat;
          background-size: contain;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          @media (max-width: 820px) {
            width: 327px;
            height: 208px;
            background: url(../assets/img/staageclass-card-1-tablet.png) no-repeat;
            background-size: contain;
          }
          .staagecard1-title {
            position: absolute;
            left: 20px;
            display: flex;
            align-items: center;
            gap: 12px;
            top: 176px;
            @media (max-width: 820px) {
              top: 65px;
            }
            .staagecard1-title-text {
              h4 {
                width: 130px;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 23px;
                letter-spacing: 0em;
                text-align: left;
                @media (max-width: 820px) {
                  width: 235px;
                  font-size: 16px;
                  line-height: 18px;
                }
              }
              span {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: left;
                color: #ffffff;
                opacity: 0.8;
              }
            }
          }
          .staagecard1-description {
            position: absolute;
            width: 240px;
            top: 262px;
            left: 20px;
            @media (max-width: 820px) {
              width: 192px;
              top: 141px;
            }
            p {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
              opacity: 0.8;
              @media (max-width: 820px) {
                width: 287px;
                font-size: 14px;
                line-height: 21px;
              }
            }
          }
        }
        .staagecard2 {
          width: 280px;
          height: 406px;
          background: url(../assets/img/staageclass-card-2-web.png) no-repeat;
          background-size: contain;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          @media (max-width: 820px) {
            width: 327px;
            height: 208px;
            background: url(../assets/img/staageclass-card-2-tablet.png) no-repeat;
            background-size: contain;
          }
          .staagecard2-title {
            position: absolute;
            left: 20px;
            display: flex;
            align-items: center;
            gap: 12px;
            top: 176px;
            @media (max-width: 820px) {
              top: 65px;
            }
            .staagecard2-title-text {
              h4 {
                width: 130px;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 23px;
                letter-spacing: 0em;
                text-align: left;
                @media (max-width: 820px) {
                  width: 235px;
                  font-size: 16px;
                  line-height: 18px;
                }
              }
              span {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: left;
                color: #ffffff;
                opacity: 0.8;
              }
            }
          }
          .staagecard2-description {
            position: absolute;
            width: 240px;
            top: 262px;
            left: 20px;
            @media (max-width: 820px) {
              width: 192px;
              top: 141px;
            }
            p {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
              opacity: 0.8;
              @media (max-width: 820px) {
                width: 287px;
                font-size: 14px;
                line-height: 21px;
              }
            }
          }
        }
        .staagecard3 {
          width: 280px;
          height: 406px;
          background: url(../assets/img/staageclass-card-3-web.png) no-repeat;
          background-size: contain;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          @media (max-width: 820px) {
            width: 327px;
            height: 208px;
            background: url(../assets/img/staageclass-card-3-tablet.png) no-repeat;
            background-size: contain;
          }
          .staagecard3-title {
            position: absolute;
            left: 20px;
            display: flex;
            align-items: center;
            gap: 12px;
            top: 176px;
            @media (max-width: 820px) {
              top: 65px;
            }
            .staagecard3-title-text {
              h4 {
                width: 230px;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 23px;
                letter-spacing: 0em;
                text-align: left;
                @media (max-width: 820px) {
                  width: 235px;
                  font-size: 16px;
                  line-height: 18px;
                }
              }
              span {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: left;
                color: #ffffff;
                opacity: 0.8;
              }
            }
          }
          .staagecard3-description {
            position: absolute;
            width: 240px;
            top: 262px;
            left: 20px;
            @media (max-width: 820px) {
              width: 192px;
              top: 141px;
            }
            p {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
              opacity: 0.8;
              @media (max-width: 820px) {
                width: 287px;
                font-size: 14px;
                line-height: 21px;
              }
            }
          }
        }
        .staagecard4 {
          width: 280px;
          height: 406px;
          background: url(../assets/img/staageclass-card-4-web.png) no-repeat;
          background-size: contain;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          @media (max-width: 820px) {
            width: 327px;
            height: 208px;
            background: url(../assets/img/staageclass-card-4-tablet.png) no-repeat;
            background-size: contain;
          }
          .staagecard4-title {
            position: absolute;
            left: 20px;
            display: flex;
            align-items: center;
            gap: 12px;
            top: 176px;
            @media (max-width: 820px) {
              top: 65px;
            }
            .staagecard4-title-text {
              h4 {
                width: 230px;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 23px;
                letter-spacing: 0em;
                text-align: left;
                @media (max-width: 820px) {
                  width: 235px;
                  font-size: 16px;
                  line-height: 18px;
                }
              }
              span {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: left;
                color: #ffffff;
                opacity: 0.8;
              }
            }
          }
          .staagecard4-description {
            position: absolute;
            width: 240px;
            top: 262px;
            left: 20px;
            @media (max-width: 820px) {
              width: 192px;
              top: 141px;
            }
            p {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
              opacity: 0.8;
              @media (max-width: 820px) {
                width: 287px;
                font-size: 14px;
                line-height: 21px;
              }
            }
          }
        }
        .staagecard5 {
          width: 280px;
          height: 406px;
          background: url(../assets/img/staageclass-card-5-web.png) no-repeat;
          background-size: contain;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          @media (max-width: 820px) {
            width: 327px;
            height: 208px;
            background: url(../assets/img/staageclass-card-5-tablet.png) no-repeat;
            background-size: contain;
          }
          .staagecard5-title {
            position: absolute;
            left: 20px;
            display: flex;
            align-items: center;
            gap: 12px;
            top: 176px;
            @media (max-width: 820px) {
              top: 65px;
            }
            .staagecard5-title-text {
              h4 {
                width: 130px;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 23px;
                letter-spacing: 0em;
                text-align: left;
                @media (max-width: 820px) {
                  width: 235px;
                  font-size: 16px;
                  line-height: 18px;
                }
              }
              span {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: left;
                color: #ffffff;
                opacity: 0.8;
              }
            }
          }
          .staagecard5-description {
            position: absolute;
            width: 240px;
            top: 262px;
            left: 20px;
            @media (max-width: 820px) {
              width: 192px;
              top: 141px;
            }
            p {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
              opacity: 0.8;
              @media (max-width: 820px) {
                width: 287px;
                font-size: 14px;
                line-height: 21px;
              }
            }
          }
        }
        .staagecard6 {
          width: 280px;
          height: 406px;
          background: url(../assets/img/staageclass-card-6-web.png) no-repeat;
          background-size: contain;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          @media (max-width: 820px) {
            width: 327px;
            height: 208px;
            background: url(../assets/img/staageclass-card-6-tablet.png) no-repeat;
            background-size: contain;
          }
          .staagecard6-title {
            position: absolute;
            left: 20px;
            display: flex;
            align-items: center;
            gap: 12px;
            top: 176px;
            @media (max-width: 820px) {
              top: 65px;
            }
            .staagecard6-title-text {
              h4 {
                width: 130px;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 23px;
                letter-spacing: 0em;
                text-align: left;
                @media (max-width: 820px) {
                  width: 235px;
                  font-size: 16px;
                  line-height: 18px;
                }
              }
              span {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: left;
                color: #ffffff;
                opacity: 0.8;
              }
            }
          }
          .staagecard6-description {
            position: absolute;
            width: 240px;
            top: 262px;
            left: 20px;
            @media (max-width: 820px) {
              width: 192px;
              top: 141px;
            }
            p {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
              opacity: 0.8;
              @media (max-width: 820px) {
                width: 287px;
                font-size: 14px;
                line-height: 21px;
              }
            }
          }
        }
        .staagecard7 {
          width: 280px;
          height: 406px;
          background: url(../assets/img/staageclass-card-7-web.png) no-repeat;
          background-size: contain;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          @media (max-width: 820px) {
            width: 327px;
            height: 208px;
            background: url(../assets/img/staageclass-card-7-tablet.png) no-repeat;
            background-size: contain;
          }
          .staagecard7-title {
            position: absolute;
            left: 20px;
            display: flex;
            align-items: center;
            gap: 12px;
            top: 176px;
            @media (max-width: 820px) {
              top: 65px;
            }
            .staagecard7-title-text {
              h4 {
                width: 130px;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 23px;
                letter-spacing: 0em;
                text-align: left;
                @media (max-width: 820px) {
                  width: 235px;
                  font-size: 16px;
                  line-height: 18px;
                }
              }
              span {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: left;
                color: #ffffff;
                opacity: 0.8;
              }
            }
          }
          .staagecard7-description {
            position: absolute;
            width: 240px;
            top: 262px;
            left: 20px;
            @media (max-width: 820px) {
              width: 192px;
              top: 141px;
            }
            p {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
              opacity: 0.8;
              @media (max-width: 820px) {
                width: 287px;
                font-size: 14px;
                line-height: 21px;
              }
            }
          }
        }
        .staagecard8 {
          width: 280px;
          height: 406px;
          background: url(../assets/img/staageclass-card-8-web.png) no-repeat;
          background-size: contain;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          @media (max-width: 820px) {
            width: 327px;
            height: 208px;
            background: url(../assets/img/staageclass-card-8-tablet.png) no-repeat;
            background-size: contain;
          }
          .staagecard8-title {
            position: absolute;
            left: 20px;
            display: flex;
            align-items: center;
            gap: 12px;
            top: 176px;
            @media (max-width: 820px) {
              top: 65px;
            }
            .staagecard8-title-text {
              h4 {
                width: 130px;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 23px;
                letter-spacing: 0em;
                text-align: left;
                @media (max-width: 820px) {
                  width: 235px;
                  font-size: 16px;
                  line-height: 18px;
                }
              }
              span {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: left;
                color: #ffffff;
                opacity: 0.8;
              }
            }
          }
          .staagecard8-description {
            position: absolute;
            width: 240px;
            top: 262px;
            left: 20px;
            @media (max-width: 820px) {
              width: 192px;
              top: 141px;
            }
            p {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
              opacity: 0.8;
              @media (max-width: 820px) {
                width: 287px;
                font-size: 14px;
                line-height: 21px;
              }
            }
          }
        }
      }
    }
  }
}

.s-porque {
  .container {
    .porque-text {
      width: 527px;
      padding-bottom: 80px;
      @media (max-width: 820px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      h3 {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        padding-top: 16px;
        @media (max-width: 820px) {
          text-align: center;
        }
      }
    }
    .porque-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-bottom: 80px;
      @media (max-width: 820px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .porque-items {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 32px;
        gap: 16px;
        @media (max-width: 820px) {
          width: 554px;
        }
        @media (max-width: 480px) {
          width: 100%;
        }
        p {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          opacity: 0.8;
        }
      }
    }
    .porque-button {
      display: flex;
      align-items: center;
      justify-content: center;
      .btn-comece {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 327px;
        height: 48px;
        background-color: #f3722c;
        margin-bottom: 80px;
        strong {
          margin-right: 0.625rem;
          margin-left: 0.625rem;

          font-style: normal;
          font-weight: 600;
          font-size: 1rem;
          line-height: 1.375rem;
          text-transform: uppercase;

          color: #ffffff;
        }

        &:hover {
          background: linear-gradient(267.26deg, #ff9d57 -0.71%, #f94144 130.41%);
          transition: all ease 0.3s;
        }
      }
    }
  }
}

.s-teste {
  // background-color: #17191F;
  background: url(../assets/img/background-7dias-web.png) no-repeat center;
  background-size: cover;
  @media (max-width: 820px) {
    background: url(../assets/img/background-7dias-tablet.png) no-repeat center;
    background-size: contain;
  }
  @media (max-width: 480px) {
    background: url(../assets/img/background-7dias-mobile.png) no-repeat center;
    background-size: contain;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 820px) {
      display: flex;
      flex-direction: column-reverse;
      margin-top: -100px;
    }
    @media (max-width: 480px) {
      margin-top: -300px;
    }
    .teste-text {
      width: 488px;
      padding: 80px 0 145px 0;
      @media (max-width: 820px) {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 600px;
      }
      @media (max-width: 480px) {
        padding-top: 800px;
      }
      h3 {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 16px;
        @media (max-width: 820px) {
          text-align: center;
        }
      }
      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: #fff;
        margin-top: 32px;
        @media (max-width: 820px) {
          text-align: center;
        }
      }
      .btn-comece {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 281px;
        height: 58px;
        background-color: #f3722c;
        margin-top: 74px;
        @media (max-width: 820px) {
          margin: 74px auto;
        }
        strong {
          margin-right: 0.625rem;
          margin-left: 0.625rem;

          font-style: normal;
          font-weight: 600;
          font-size: 1rem;
          line-height: 1.375rem;
          text-transform: uppercase;

          color: #ffffff;
        }

        &:hover {
          background: linear-gradient(267.26deg, #ff9d57 -0.71%, #f94144 130.41%);
          transition: all ease 0.3s;
        }
      }
    }

    .teste-image {
      width: 592px;
      margin-right: -140px;
      img {
        border: 2.40958px solid #424449;
        border-radius: 24.353px;
      }
    }
  }
}
</style>
