<template>
  <div>
  <loader-default v-if="isLoading" />
    <section class="s-contentpage">
      <div class="contentpage-container">
        <div class="contentpage-title">
          <h4>Experts do marketing digital</h4>
          <h3>Conheça nosso conteúdo</h3>
          <p>Aprenda com os especialistas do mercado digital.</p>
        </div>
        <div class="contentpage-box">
          <div class="contentpage-nav">
            <nav>
              <a href="#" v-on:click="makeActive('allActive')" @click="selected = 1" :class="{ active: selected == 1 }"
                >Todos os conteúdos</a
              >
              <a href="#" v-on:click="makeActive('recentActive')" @click="selected = 2" :class="{ active: selected == 2 }"
                >Recentemente adicionados</a
              >
              <!-- <a href="#" v-on:click="makeActive('highActive')" @click="selected = 3" :class="{ active: selected == 3 }"
                >Em alta</a
              > -->
              <a
                href="#"
                v-on:click="makeActive('staageclassActive')"
                @click="selected = 4"
                :class="{ active: selected == 4 }"
                >Staageclass</a
              >
              <a
                href="#"
                v-on:click="makeActive('backstaageActive')"
                @click="selected = 5"
                :class="{ active: selected == 5 }"
                >Bastidores</a
              >
              <a href="#" v-on:click="makeActive('napraticaActive')" @click="selected = 6" :class="{ active: selected == 6 }"
                >Na Prática</a
              >
              <a
                href="#"
                v-on:click="makeActive('staagedocsActive')"
                @click="selected = 7"
                :class="{ active: selected == 7 }"
                >Staagedocs</a
              >
            </nav>
          </div>
          <div class="contentpage-cards-box">
            <div class="contentpage-card" id="all" v-show="isActiveTab('allActive')" v-for="item in courses" :key="item.id">
              <a @click="goToMentors(item.courseID)">
                <div class="img-card">
                  <div class="card-overlay"></div>
                  <img :src="item.courseMedias.poster" :alt="item.courseTitle" />
                </div>
                <div class="card-tag">
                  <span
                    :style="
                      item.courseGroup === 'STAAGECLASS'
                        ? 'color: #F94144 '
                        : 'BACKSTAAGE'
                        ? 'color: #F8961E'
                        : 'STAAGEDOCS'
                        ? 'color: #F9C74F'
                        : 'NAPRATICA'
                        ? 'color: #F3722C'
                        : ''
                    "
                  >
                    {{ item.courseGroup }}
                  </span>
                </div>
                <div class="card-title">
                  <h4>{{ item.courseTitle }}</h4>
                </div>
              </a>
            </div>
            <div class="contentpage-card" v-show="isActiveTab('recentActive')" v-for="item in recent" :key="item.id">
              <a @click="goToMentors(item.courseID)">
                <div class="img-card">
                  <img :src="item.courseMedias.poster" :alt="item.courseTitle" />
                </div>
                <div class="card-tag">
                  <span
                    :style="
                      item.courseGroup === 'STAAGECLASS'
                        ? 'color: #F94144 '
                        : 'BACKSTAAGE'
                        ? 'color: #F8961E'
                        : 'STAAGEDOCS'
                        ? 'color: #F9C74F'
                        : 'NAPRATICA'
                        ? 'color: #F3722C'
                        : ''
                    "
                  >
                    {{ item.courseGroup }}
                  </span>
                </div>
                <div class="card-title">
                  <h4>{{ item.courseTitle }}</h4>
                </div>
              </a>
            </div>
            <!-- <div class="contentpage-card" v-show="isActiveTab('highActive')" v-for="item in emalta" :key="item.id">
              <a @click="goToMentors(item.courseID)">
                <div class="img-card">
                  <img :src="item.courseMedias.poster" :alt="item.courseTitle" />
                </div>
                <div class="card-tag">
                  <span
                    :style="
                      item.courseGroup === 'STAAGECLASS'
                        ? 'color: #F94144 '
                        : 'BACKSTAAGE'
                        ? 'color: #F8961E'
                        : 'STAAGEDOCS'
                        ? 'color: #F9C74F'
                        : 'NAPRATICA'
                        ? 'color: #F3722C'
                        : ''
                    "
                  >
                    {{ item.courseGroup }}
                  </span>
                </div>
                <div class="card-title">
                  <h4>{{ item.courseTitle }}</h4>
                </div>
              </a>
            </div> -->
            <div
              class="contentpage-card"
              id="staageclass"
              v-show="isActiveTab('staageclassActive')"
              v-for="item in staageclass"
              :key="item.id"
            >
              <a @click="goToMentors(item.courseID)">
                <div class="img-card">
                  <img :src="item.courseMedias.poster" :alt="item.courseTitle" />
                </div>
                <div class="card-tag">
                  <span :style="item.courseGroup ? 'color: #F94144' : ''">
                    {{ item.courseGroup }}
                  </span>
                </div>
                <div class="card-title">
                  <h4>{{ item.courseTitle }}</h4>
                </div>
              </a>
            </div>
            <div class="contentpage-card" v-show="isActiveTab('backstaageActive')" v-for="item in backstaage" :key="item.id">
              <a @click="goToMentors(item.courseID)">
                <div class="img-card">
                  <img :src="item.courseMedias.poster" :alt="item.courseTitle" />
                </div>
                <div class="card-tag">
                  <span :style="item.courseGroup ? 'color: #F8961E' : ''">
                    {{ item.courseGroup }}
                  </span>
                </div>
                <div class="card-title">
                  <h4>{{ item.courseTitle }}</h4>
                </div>
              </a>
            </div>
            <div class="contentpage-card" v-show="isActiveTab('napraticaActive')" v-for="item in napratica" :key="item.id">
              <a @click="goToMentors(item.courseID)">
                <div class="img-card">
                  <img :src="item.courseMedias.poster" :alt="item.courseTitle" />
                </div>
                <div class="card-tag">
                  <span :style="item.courseGroup ? 'color: #F9C74F' : ''">
                    {{ item.courseGroup }}
                  </span>
                </div>
                <div class="card-title">
                  <h4>{{ item.courseTitle }}</h4>
                </div>
              </a>
            </div>
            <div class="contentpage-card" v-show="isActiveTab('staagedocsActive')" v-for="item in staagedocs" :key="item.id">
              <a @click="goToMentors(item.courseID)">
                <div class="img-card">
                  <img :src="item.courseMedias.poster" :alt="item.courseTitle" />
                </div>
                <div class="card-tag">
                  <span :style="item.courseGroup ? 'color: #F9C74F' : ''">
                    {{ item.courseGroup }}
                  </span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import LoaderDefault from '../components/LoaderDefault.vue'
export default {
  components: {
    LoaderDefault
  },
  data() {
    return {
      isLoading: false,
      staageclass: [],
      backstaage: [],
      napratica: [],
      // emalta: [],
      recent: [],
      staagedocs: [],
      courses: [],
      sortedItems: [],
      selected: 1,
      choice: 'allActive'
    }
  },
  async created() {
    await this.getCourses()
  },
  methods: {
    async getCourses() {
      this.isLoading = true
      try {
        const courses = await this.$store.dispatch('courses/getCourses')
        this.courses = courses.sort((a, b) => new Date(b.courseRegister) - new Date(a.courseRegister))
        this.recent = this.courses.slice(0, 9)
        this.backstaage = this.courses.filter((c) => c.courseGroup === 'BACKSTAAGE')
        this.staageclass = this.courses.filter((c) => c.courseGroup === 'STAAGECLASS')
        this.staagedocs = this.courses.filter((c) => c.courseGroup === 'STAAGEDOCS')
        this.napratica = this.courses.filter((c) => c.courseGroup === 'NAPRATICA')
        this.isLoading = false
        // this.emalta = courses.sort((a, b) => b.courseRating - a.courseRating).slice(0, 6)
      } catch (err) {
        console.error(err)
      }
    },
    goToMentors(courseID) {
      this.$router.push(`/mentor/${courseID}/${window.location.search}`)
    },
    makeActive: function (val) {
      this.choice = val
    },
    isActiveTab: function (val) {
      return this.choice === val
    }
  }
}
</script>
