<template>
  <div>
    <!-- <exit-overlay-default :showExitOverlay="showExitOverlayPrincipal" :exitOverlayMutation="'setShowExitOverlayPrincipal'">
      <exit-overlay />
    </exit-overlay-default> -->
    <section class="s-banner-newlp">
      <div class="container-banner-newlp">
        <div class="text-banner-newlp">
          <h1>APRENDA MARKETING DIGITAL DO ZERO</h1>
          <h2>
            CRIE UM NEGÓCIO ONLINE.
            <br />
            SEJA UM PROFISSIONAL DA INTERNET.
            <br />
            TENHA UMA NOVA FONTE DE RENDA.
          </h2>
          <span>
            Faça parte do grupo de pessoas que vivem com mais liberdade, trabalhando com o que amam e fazendo dinheiro de
            forma escalável<br />
            e exponencial.
          </span>

          <a
            href="https://app.staage.com/initiate/register"
            class="btn-comece buttonRegister"
            target="_blank"
            rel="noopener"
          >
            <img src="@/assets/img/arrow-right.svg" alt="arrow-right" />
            <strong> Comece agora </strong>
            <img src="@/assets/img/arrow-left.svg" alt="arrow-left" />
          </a>
          <p>
            🔥 Garanta seu acesso agora por apenas<br />
            <strong>R$ 39,90/mês</strong> no plano anual
          </p>
        </div>
        <div class="bg-newlp">
          <img src="@/assets/img/BG-Hero-Desk-NewLp-Desk.png" alt="Banner hero" />
        </div>
      </div>
      <div class="down-icon-newlp">
        <a href="#objective">
          <img src="@/assets/img/Down-newlp.webp" alt="Down icon" />
        </a>
      </div>
    </section>

    <section class="s-objective" id="objective">
      <div class="objective-container">
        <div class="objective-title">
          <h3>
            Como você vai alcançar<br />
            seu objetivo com a Staage?
          </h3>
        </div>
        <div class="objective-content">
          <nav class="nav_tabs">
            <ul>
              <li>
                <input type="radio" id="tab1" class="rd_tab" name="tabs" checked />
                <label for="tab1" class="tab_label">
                  <img src="@/assets/img/Icon-lateral-menu1.webp" alt="Icon 1" />
                  Negócio Online
                </label>
                <div class="tab-content">
                  <div class="tabs" id="tabs">
                    <div class="tabs-triggers">
                      <div
                        class="tabs-trigger"
                        v-for="(item, index) in categories"
                        :key="index"
                        :class="[index === active ? 'tabs-trigger--active' : '']"
                        @click="activate(index)"
                      >
                        <p>{{ categories[index] }}</p>
                      </div>
                    </div>
                    <div class="tabs-content" v-if="active === 0">
                      <h4>Jornada completa para você:</h4>
                      <p>&bull; Aprenda Marketing Digital do Zero</p>
                      <p>&bull; Entenda os Conceitos Fundamentais</p>
                      <p>&bull; Tenha apoio do material complementar</p>
                      <div class="tab-content-wrapper">
                        <div class="wrapper-title">
                          <h4>O conteúdo certo para você</h4>
                        </div>
                        <div class="wrapper-images">
                          <nuxt-link to="/mentor/duda-vieira-ensina-instagram/">
                            <img src="@/assets/img/Card_Duda_Newlp.png" alt="Card Duda" />
                          </nuxt-link>
                          <nuxt-link to="/mentor/metodo-ju-fraccaroli/">
                            <img src="@/assets/img/Card_Ju_Newlp.png" alt="Card Ju" />
                          </nuxt-link>
                          <nuxt-link to="/mentor/roberta-santos-copywriting/">
                            <img src="@/assets/img/Card_Roberta_Newlp.png" alt="Card Roberta" />
                          </nuxt-link>
                        </div>
                      </div>
                    </div>
                    <div class="tabs-content" v-if="active === 1">
                      <h4>Jornada completa para você:</h4>
                      <p>&bull; Entenda como fazer suas primeiras vendas</p>
                      <p>&bull; Aprenda a fazer seu primeiro lançamento</p>
                      <p>&bull; Como usar o marketing digital e as redes sociais</p>
                      <div class="tab-content-wrapper">
                        <div class="wrapper-title">
                          <h4>O conteúdo certo para você</h4>
                        </div>
                        <div class="wrapper-images">
                          <nuxt-link to="/mentor/thiago-concer-ensina-vendas/">
                            <img src="@/assets/img/Card_ThiagoConcer_Newlp.png" alt="Card Thiago Concer" />
                          </nuxt-link>
                          <nuxt-link to="/mentor/lancamentos-digitais-com-ellen-salomao/">
                            <img src="@/assets/img/Card_Ellen_Newlp.png" alt="Card Ellen" />
                          </nuxt-link>
                          <nuxt-link to="/mentor/como-fazer-stories-que-engajam/">
                            <img src="@/assets/img/Card_Malu_Newlp.png" alt="Card Malu" />
                          </nuxt-link>
                        </div>
                      </div>
                    </div>
                    <div class="tabs-content" v-if="active === 2">
                      <h4>Jornada completa para você:</h4>
                      <p>&bull; Aprenda técnicas de growth</p>
                      <p>&bull; As principais métricas e como analisar</p>
                      <p>&bull; Fazer tráfego direto</p>
                      <div class="tab-content-wrapper">
                        <div class="wrapper-title">
                          <h4>O conteúdo certo para você</h4>
                        </div>
                        <div class="wrapper-images">
                          <nuxt-link to="/mentor/dener-lippert-ensina-growth/">
                            <img src="@/assets/img/Card_Dener_Newlp.png" alt="Card Dener" />
                          </nuxt-link>
                          <nuxt-link to="/mentor/gustavo-esteves-metricas/">
                            <img src="@/assets/img/Card_Gustavo_Newlp.png" alt="Card Gustavo" />
                          </nuxt-link>
                          <nuxt-link to="/mentor/trafego-direto-micha-menezes/">
                            <img src="@/assets/img/Card_Micha_Newlp.png" alt="Card Micha" />
                          </nuxt-link>
                        </div>
                      </div>
                    </div>
                    <div class="tabs-content" v-if="active === 3">
                      <h4>Jornada completa para você:</h4>
                      <p>&bull; Se atualize com estratégias que funcionam hoje</p>
                      <p>&bull; Aprofunde seu conhecimento</p>
                      <p>&bull; Veja lançamentos de 8 dígitos de faturamento</p>
                      <div class="tab-content-wrapper">
                        <div class="wrapper-title">
                          <h4>O conteúdo certo para você</h4>
                        </div>
                        <div class="wrapper-images">
                          <nuxt-link to="/mentor/joel-jota-maestrial-professional/">
                            <img src="@/assets/img/Card_Joel_Newlp.png" alt="Card Joel" />
                          </nuxt-link>
                          <nuxt-link to="/mentor/recomeco-thiago-nigro/">
                            <img src="@/assets/img/Card_ThiagoNigro_Newlp.png" alt="Card Thiago Nigro" />
                          </nuxt-link>
                          <nuxt-link to="/mentor/bruno-perini-gatilhos-mentais/">
                            <img src="@/assets/img/Card_Bruno_Newlp.png" alt="Card Bruno" />
                          </nuxt-link>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <input type="radio" name="tabs" class="rd_tab" id="tab2" />
                <label for="tab2" class="tab_label">
                  <img src="@/assets/img/Icon-lateral-menu2.webp" alt="Icon 2" />
                  Profissional da Internet
                </label>
                <div class="tab-content">
                  <div class="tabs" id="tabs">
                    <div class="tabs-triggers">
                      <div
                        class="tabs-trigger"
                        v-for="(item, index) in categories2"
                        :key="index"
                        :class="[index === active ? 'tabs-trigger--active' : '']"
                        @click="activate(index)"
                      >
                        <p>{{ categories2[index] }}</p>
                      </div>
                    </div>
                    <div class="tabs-content" v-if="active === 0">
                      <h4>Jornada completa para você:</h4>
                      <p>&bull; Planejar e produzir conteúdos nas redes sociais</p>
                      <p>&bull; Usar o instagram para seu próprio negócio</p>
                      <p>&bull; Criar Stories que engajam</p>
                      <p>&bull; Criar Podcast, Youtube e Estratégias de redes sociais</p>
                      <p>&bull; E muito mais</p>
                      <div class="tab-content-wrapper">
                        <div class="wrapper-title">
                          <h4>O conteúdo certo para você</h4>
                        </div>
                        <div class="wrapper-images">
                          <nuxt-link to="/mentor/duda-vieira-ensina-instagram/">
                            <img src="@/assets/img/Card_Duda_Newlp.png" alt="Card Duda" />
                          </nuxt-link>
                          <nuxt-link to="/mentor/como-fazer-reels-virais-isadora-duarte/">
                            <img src="@/assets/img/Card_Isadora_Newlp.png" alt="Card Isadora" />
                          </nuxt-link>
                          <nuxt-link to="/mentor/lucas-zafra-podcast-primocast/">
                            <img src="@/assets/img/Card_Lucas_Newlp.png" alt="Card Lucas" />
                          </nuxt-link>
                        </div>
                      </div>
                    </div>
                    <div class="tabs-content" v-if="active === 1">
                      <h4>Jornada completa para você:</h4>
                      <p>&bull; Dominar os fundamentos de Copy</p>
                      <p>&bull; Criar Big Idea e Headlines que vendem</p>
                      <p>&bull; Fazer Copy para Lançamento, Carta de Vendas</p>
                      <p>&bull; Usar gatilhos mentais e criar ofertas irresistíveis</p>
                      <p>&bull; E muito mais</p>
                      <div class="tab-content-wrapper">
                        <div class="wrapper-title">
                          <h4>O conteúdo certo para você</h4>
                        </div>
                        <div class="wrapper-images">
                          <nuxt-link to="/mentor/roberta-santos-copywriting/">
                            <img src="@/assets/img/Card_Roberta_Newlp.png" alt="Card Roberta" />
                          </nuxt-link>
                          <nuxt-link to="/mentor/bruno-perini-gatilhos-mentais/">
                            <img src="@/assets/img/Card_Bruno_Newlp.png" alt="Card Bruno" />
                          </nuxt-link>
                          <nuxt-link to="/mentor/thiago-concer-ensina-vendas/">
                            <img src="@/assets/img/Card_ThiagoConcer_Newlp.png" alt="Card Thiago Concer" />
                          </nuxt-link>
                        </div>
                      </div>
                    </div>
                    <div class="tabs-content" v-if="active === 2">
                      <h4>Jornada completa para você:</h4>
                      <p>&bull; Criar e organizar campanhas</p>
                      <p>&bull; Analisar, otimizar métricas e fazer relatórios</p>
                      <p>&bull; Fazer tráfego direto, em lançamento e desafios</p>
                      <p>&bull; Usar tráfego em e-commerce e negócios locais</p>
                      <p>&bull; E muito mais</p>
                      <div class="tab-content-wrapper">
                        <div class="wrapper-title">
                          <h4>O conteúdo certo para você</h4>
                        </div>
                        <div class="wrapper-images">
                          <nuxt-link to="/mentor/trafego-direto-micha-menezes/">
                            <img src="@/assets/img/Card_Micha_Newlp.png" alt="Card Micha" />
                          </nuxt-link>
                          <nuxt-link to="/mentor/gustavo-esteves-metricas/">
                            <img src="@/assets/img/Card_Gustavo_Newlp.png" alt="Card Gustavo" />
                          </nuxt-link>
                          <nuxt-link to="/mentor/alejandro-vazquez-ecommerce/">
                            <img src="@/assets/img/Card_Alejandro_Newlp.png" alt="Card Alejandro" />
                          </nuxt-link>
                        </div>
                      </div>
                    </div>
                    <div class="tabs-content" v-if="active === 3">
                      <h4>Jornada completa para você:</h4>
                      <p>&bull; Aprender os fundamentos</p>
                      <p>&bull; Fazer um mínimo laçamento viável</p>
                      <p>&bull; Usar lançamento pra Branding e Posicionamento</p>
                      <p>&bull; Escalar usando diversas estratégias de lançamento</p>
                      <p>&bull; E muito mais</p>
                      <div class="tab-content-wrapper">
                        <div class="wrapper-title">
                          <h4>O conteúdo certo para você</h4>
                        </div>
                        <div class="wrapper-images">
                          <nuxt-link to="/mentor/treinos-com-norton-mello/">
                            <img src="@/assets/img/Card_Norton_Newlp.png" alt="Card Norton" />
                          </nuxt-link>
                          <nuxt-link to="/mentor/thiago-nigro-primo-rico-lancamento-legado/">
                            <img src="@/assets/img/Card_ThiagoNigroLegado_Newlp.png" alt="Card Thiago Nigro Legado" />
                          </nuxt-link>
                          <nuxt-link to="/mentor/investidor-breno-perrucho-jovens/">
                            <img src="@/assets/img/Card_Breno_Newlp.png" alt="Card Breno" />
                          </nuxt-link>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <input type="radio" name="tabs" class="rd_tab" id="tab3" />
                <label for="tab3" class="tab_label">
                  <img src="@/assets/img/Icon-lateral-menu3.webp" alt="Icon 3" />
                  Fonte de Renda
                </label>
                <div class="tab-content">
                  <div class="tabs" id="tabs">
                    <div class="tabs-triggers">
                      <div
                        class="tabs-trigger"
                        v-for="(item, index) in categories3"
                        :key="index"
                        :class="[index === active ? 'tabs-trigger--active' : '']"
                        @click="activate(index)"
                      >
                        <p>{{ categories3[index] }}</p>
                      </div>
                    </div>
                    <div class="tabs-content" v-if="active === 0">
                      <h4>Jornada completa para você:</h4>
                      <p>&bull; Aprenda aulas práticas</p>
                      <p>&bull; Preste serviços específicos</p>
                      <p>&bull; Faça uma renda extra no seu tempo</p>
                      <div class="tab-content-wrapper">
                        <div class="wrapper-title">
                          <h4>O conteúdo certo para você</h4>
                        </div>
                        <div class="wrapper-images">
                          <nuxt-link to="/mentor/rodolfo-corradin-fotos-profissionais-instagram/">
                            <img src="@/assets/img/Card_Rodolfo_Newlp.png" alt="Card Rodolfo" />
                          </nuxt-link>
                          <nuxt-link to="/mentor/renata-estevo-ecommerce/">
                            <img src="@/assets/img/Card_Renata_Newlp.png" alt="Card Renata" />
                          </nuxt-link>
                          <nuxt-link to="/mentor/como-fazer-stories-que-engajam/">
                            <img src="@/assets/img/Card_Malu_Newlp.png" alt="Card Malu" />
                          </nuxt-link>
                        </div>
                      </div>
                    </div>
                    <div class="tabs-content" v-if="active === 1">
                      <h4>Jornada completa para você:</h4>
                      <p>&bull; Faça um curso completo</p>
                      <p>&bull; Domine uma habilidade</p>
                      <p>&bull; Crie uma nova fonte de renda</p>
                      <div class="tab-content-wrapper">
                        <div class="wrapper-title">
                          <h4>O conteúdo certo para você</h4>
                        </div>
                        <div class="wrapper-images">
                          <nuxt-link to="/mentor/comunidades-com-camila-vidal/">
                            <img src="@/assets/img/Card_Camila_Newlp.png" alt="Card Camila" />
                          </nuxt-link>
                          <nuxt-link to="/mentor/roberta-santos-copywriting/">
                            <img src="@/assets/img/Card_Roberta_Newlp.png" alt="Card Roberta" />
                          </nuxt-link>
                          <nuxt-link to="/mentor/trafego-direto-micha-menezes/">
                            <img src="@/assets/img/Card_Micha_Newlp.png" alt="Card Micha" />
                          </nuxt-link>
                        </div>
                      </div>
                    </div>
                    <div class="tabs-content" v-if="active === 2">
                      <h4>Jornada completa para você:</h4>
                      <p>&bull; Complete uma trilha de conteúdo</p>
                      <p>&bull; Se torne um profissional da internet</p>
                      <p>&bull; Faça mais dinheiro com mais liberdade</p>
                      <div class="tab-content-wrapper">
                        <div class="wrapper-title">
                          <h4>O conteúdo certo para você</h4>
                        </div>
                        <div class="wrapper-images">
                          <nuxt-link to="/mentor/bruno-perini-gatilhos-mentais/">
                            <img src="@/assets/img/Card_Bruno_Newlp.png" alt="Card Bruno" />
                          </nuxt-link>
                          <nuxt-link to="/mentor/duda-vieira-ensina-instagram/">
                            <img src="@/assets/img/Card_Duda_Newlp.png" alt="Card Duda" />
                          </nuxt-link>
                          <nuxt-link to="/mentor/trafego-direto-micha-menezes/">
                            <img src="@/assets/img/Card_Micha_Newlp.png" alt="Card Micha" />
                          </nuxt-link>
                        </div>
                      </div>
                    </div>
                    <div class="tabs-content" v-if="active === 3">
                      <h4>Jornada completa para você:</h4>
                      <p>&bull; Mergulhe em todas as trilhas</p>
                      <p>&bull; Seja um profissional completo</p>
                      <p>&bull; Comece a ser sócio de projetos</p>
                      <div class="tab-content-wrapper">
                        <div class="wrapper-title">
                          <h4>O conteúdo certo para você</h4>
                        </div>
                        <div class="wrapper-images">
                          <nuxt-link to="/mentor/philip-kotler-ensina-marketing/">
                            <img src="@/assets/img/Card_Kotler_Newlp.png" alt="Card Kotler" />
                          </nuxt-link>
                          <nuxt-link to="/mentor/thiago-concer-ensina-vendas/">
                            <img src="@/assets/img/Card_ThiagoConcer_Newlp.png" alt="Card Thiago Concer" />
                          </nuxt-link>
                          <nuxt-link to="/mentor/recomeco-thiago-nigro/">
                            <img src="@/assets/img/Card_ThiagoNigro_Newlp.png" alt="Card Thiago Nigro" />
                          </nuxt-link>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
    <section class="s-how-learn">
      <div class="how-learn-container">
        <div class="how-learn-text">
          <h3>Como você aprende</h3>
          <div class="how-learn-items">
            <div class="item-icon">
              <img src="@/assets/img/learn_icon1.png" alt="Learn Icon 1" />
            </div>
            <div class="item-text">
              <h4>Cursos que te fazem evoluir</h4>
              <p>
                Um único curso te dá a habilidade de melhorar as vendas do seu negócio, conseguir fazer renda extra ou te
                tornar um profissional da internet.
              </p>
            </div>
          </div>
          <div class="how-learn-items">
            <div class="item-icon">
              <img src="@/assets/img/learn_icon2.png" alt="Learn Icon 2" />
            </div>
            <div class="item-text">
              <h4>Professores com resultados</h4>
              <p>
                Aprenda com Thiago Nigro, Philip Kotler e dezenas de professores que tem resultados
                usando o marketing digital todos os dias.
              </p>
            </div>
          </div>
          <div class="how-learn-items">
            <div class="item-icon">
              <img src="@/assets/img/learn_icon3.png" alt="Learn Icon 3" />
            </div>
            <div class="item-text">
              <h4>Documentários que impulsionam seus resultados</h4>
              <p>
                Veja como tudo é feito na prática, aprenda com a grana investida de grandes influenciadores, com seus erros e
                acertos para economizar tempo, dinheiro e impulsionar seus resultados.
              </p>
            </div>
          </div>
        </div>
        <div class="how-learn-image">
          <img
            src="@/assets/img/how-learn-image.png"
            alt="Imagem de como aprender"
            v-prlx="{ reverse: true, speed: 0.3, fromBottom: true }"
          />
        </div>
      </div>
    </section>
    <section class="s-content">
      <div class="content-container">
        <div class="content-bg">
          <img src="@/assets/img/BG-Image-Content.png" alt="BG Content" />
        </div>
        <div class="content-title">
          <div class="title-text">
            <h3>Conteúdo disponível</h3>
            <p>Confira todos os conteúdos já disponíveis na plataforma</p>
          </div>
          <div class="content-link">
            <a href="/content"
              >Ver todos os conteúdos <img src="@/assets/img/Content-button-icon.png" alt="Button Content"
            /></a>
          </div>
        </div>
        <div class="swiper-new-lp">
          <SwiperNewLp />
          <div class="title-cards">
            <div class="title-card">
              <div class="card-image">
                <span>Staageclass</span>
              </div>
              <p>Domine as principais competências, com os melhores nomes</p>
            </div>
            <div class="title-card">
              <div class="card-image">
                <span class="tag-bck">Bastidores</span>
              </div>
              <p>Viva os bastidores de lançamentos e estratégias de marketing</p>
            </div>
            <div class="title-card">
              <div class="card-image">
                <span class="tag-bck">Na Prática</span>
              </div>
              <p>Aprenda na prática diversas habilidades</p>
            </div>
            <div class="title-card">
              <div class="card-image">
                <span class="tag-bck">Staagedocs</span>
              </div>
              <p>Histórias de pessoas que criaram negócios e se transformaram através do digital.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="s-assine-newlp">
      <div class="assine-newlp-container">
        <div class="assine-newlp-title">
          <h3>
            Assine agora<br />
            e tenha acesso a
          </h3>
          <span>TODOS os cursos da plataforma</span>
        </div>
        <div class="assine-list">
          <div class="assine-list-item">
            <img src="@/assets/img/check-newlp.webp" alt="Check" />
            <p>Staageclass – Cursos completos de habilidades específicas</p>
          </div>
          <div class="assine-list-item">
            <img src="@/assets/img/check-newlp.webp" alt="Check" />
            <p>Backstaage – Documentários de estratégias do Marketing Digital</p>
          </div>
          <div class="assine-list-item">
            <img src="@/assets/img/check-newlp.webp" alt="Check" />
            <p>Na Prática – Aulas mais curtas, objetivas e práticas</p>
          </div>
          <div class="assine-list-item">
            <img src="@/assets/img/check-newlp.webp" alt="Check" />
            <p>Ebook - Material Complementar em todas as Stageclasses</p>
          </div>
          <div class="assine-list-item">
            <img src="@/assets/img/check-newlp.webp" alt="Check" />
            <p>Update - Atualização mensal de conteúdo</p>
          </div>
          <div class="assine-list-item">
            <img src="@/assets/img/check-newlp.webp" alt="Check" />
            <p>Grupo - Comunidade exclusiva dos Staagers</p>
          </div>
          <div class="assine-list-item">
            <img src="@/assets/img/check-newlp.webp" alt="Check" />
            <p>Philip Kotler – Curso completo com o pai do marketing</p>
          </div>
        </div>
        <div class="assine-price">
          <p>Por apenas</p>
          <h4>R$ 39,90<span> / mês</span></h4>
          <p>No plano anual</p>
          <div class="btn">
            <a
              href="https://app.staage.com/initiate/register"
              class="btn-comece buttonRegister"
              target="_blank"
              rel="noopener"
            >
              Comece agora
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
// import ExitOverlay from '../components/ExitOverlay.vue'
// import ExitOverlayDefault from '../components/ExitOverlayDefault.vue'
export default {
  components: {
    // ExitOverlay,
    // ExitOverlayDefault
  },
  data() {
    return {
      active: 0,
      categories: ['Do Zero', 'Iniciante', 'Intermediário', 'Avançado'],
      categories2: ['Social Media', 'Copywriting', 'Tráfego', 'Lançamentos'],
      categories3: ['Do Zero à R$1.000', 'R$1.000 à R$5.000', 'R$5.000 à R$10.000', 'Mais de R$10.000'],
      modules: ['@nuxtjs/gtm'],
      gtm: { id: 'GTM-MDH43QJ' }
    }
  },

  methods: {
    activate(index) {
      this.active = index
    }
  },
  computed: {
    showExitOverlayPrincipal() {
      return this.$store.state.user.showExitOverlayPrincipal
    }
  }
}
</script>
