<template>
  <div class="mar">
    <section class="mar_principal">
      <snowflakes />
      <div class="mar_principal_container">
        <div class="mar_logo_hero">
          <img src="@/assets/img/lps/l05anstg/Logo-Staage-Natal.svg" alt="Logo Staage Natal" />
          <span>apresenta</span>
        </div>
        <div class="mar_span_hero">
          <img src="@/assets/img/lps/l05anstg/christmas-tree.png" alt="Árvore Natal" />
          <span>Natal da Staage</span>
        </div>
        <h1>SE DÊ UM PRESENTE NESTE FIM DE ANO: APROVEITE O NATAL DA STAAGE.</h1>
        <p>
          Aproveite a última oferta do ano da Staage, e garanta o seu acesso a mais de 30 cursos de marketing, pagando muito
          menos neste fim de ano!
          <br /><br />
          Esse é o último “empurrãozinho” que nós daremos para que você comece o ano de 2022 tirando o seu negócio digital do
          zero, iniciando uma nova carreira no digital, ou fazendo renda extra.
        </p>
        <a href="https://app.staage.com/initiate/register/" class="btn-comece buttonRegister" target="_blank">
          <span>Aproveitar oferta</span>
        </a>
        <lightrope :lightropeClass="'lightrope'" />
      </div>
    </section>

    <section class="mar_gifts">
      <div class="mar_gifts_layer"></div>
      <div class="mar_gifts_container">
        <div class="mar_gifts_title">
          <h3>O Papai Noel te trouxe 6 presentes</h3>
          <p>
            Além dos cursos que já estão disponíveis na plataforma, você receberá um verdadeiro combo com 6 bônus exclusivos
            para este final de ano. Você vai começar 2022 em outro patamar.
          </p>
        </div>
        <div class="mar_gifts_cards">
          <div class="mar_card">
            <div class="mar_card_image">
              <img src="@/assets/img/lps/l05anstg/Mockup-Codigo-da-Riqueza.png" alt="Código da Riqueza" />
            </div>
            <div class="mar_card_text">
              <div class="mar_card_price">
                <h4>Código da Riqueza</h4>
                <span>R$1.997,00</span>
              </div>
              <p>
                Descobrimos as características e hábitos que todas as pessoas bem-sucedidas têm em comum, em 6 campos
                diferentes: ambiente, comportamentos, competências, mindset, propósito e dinheiro. E com esse curso, você
                aprenderá todos eles.
              </p>
            </div>
            <img src="@/assets/img/lps/l05anstg/gift-stamp.png" class="gift_stamp" alt="Gift Stamp" />
          </div>

          <div class="mar_card">
            <div class="mar_card_image">
              <img src="@/assets/img/lps/l05anstg/Mockup-Treinamento-de-Vendas.png" alt="Treinamento de Vendas" />
            </div>
            <div class="mar_card_text">
              <div class="mar_card_price">
                <h4>Treinamento de Vendas com Thiago Nigro</h4>
                <span>Valor Inestimável</span>
              </div>
              <p>
                Você vai receber o mesmo treinamento que temos internamente no Grupo Primo. O Thiago Nigro vai te revelar as
                técnicas de vendas que usamos diariamente.
              </p>
            </div>
            <img src="@/assets/img/lps/l05anstg/gift-stamp.png" class="gift_stamp" alt="Gift Stamp" />
          </div>

          <div class="mar_card">
            <div class="mar_card_image">
              <img src="@/assets/img/lps/l05anstg/Mockup-Marketing-Vendas.png" alt="Mockup Marketing e Vendas" />
            </div>
            <div class="mar_card_text">
              <div class="mar_card_price">
                <h4>Masterclass de Marketing e Vendas com Joel Jota</h4>
                <span>R$ 297,00</span>
              </div>
              <p>
                Por que alguns empreendedores conseguem manter os seus negócios faturando bem em qualquer cenário econômico,
                enquanto alguns sofrem para pagar as contas quando as grandes crises aparecem?
                <br /><br />
                É simples: o primeiro grupo descobriu como fazer vendas e aumentar o faturamento, sempre que for necessário.
                Neste treinamento, Joel Jota vai te ensinar um método simples e eficaz de melhorar o seu marketing e aumentar
                as vendas do seu negócio.
              </p>
            </div>
            <img src="@/assets/img/lps/l05anstg/gift-stamp.png" class="gift_stamp" alt="Gift Stamp" />
          </div>

          <div class="mar_card">
            <div class="mar_card_image">
              <img src="@/assets/img/lps/l05anstg/Mockup-Beta.png" alt="Mockup Beta" />
            </div>
            <div class="mar_card_text">
              <div class="mar_card_price">
                <h4>Acesso a versão BETA da comunidade Staagers</h4>
                <span>Valor Inestimável</span>
              </div>
              <p>
                O Bruno Perini tem uma frase que vem se provando cada vez mais forte nos últimos anos: “Clichê é clichê
                porque funciona”. E estar na comunidade BETA da Staage te trás 2 benefícios que pode parecer clichê no
                primeiro momento.
                <br /><br />
                Você vai beber água limpa e direto da fonte: Você vai fazer parte de um grupo de profissionais do marketing
                digital, social media, copywriters, gestores de tráfego, design e tantos outros que estão no campo de batalha
                fazendo acontecer.
                <br /><br />
                Se quer ir rápido, vá sozinho. Se quer ir longe, vá acompanhado. Fazer parte de uma comunidade e se tornar um
                Staager é muito mais do que aprender marketing digital, é ir longe com outras pessoas, alcançar o que não
                conseguiria sozinho e estar no mesmo ambiente onde o seu sócio, parceiro, especialista pode estar te
                esperando.
              </p>
            </div>
            <img src="@/assets/img/lps/l05anstg/gift-stamp.png" class="gift_stamp" alt="Gift Stamp" />
          </div>

          <div class="mar_card">
            <div class="mar_card_image">
              <img src="@/assets/img/lps/l05anstg/Mockup-Networking.png" alt="Mockup Networking" />
            </div>
            <div class="mar_card_text">
              <div class="mar_card_price">
                <h4>Masterclass de Networking com Joel Jota</h4>
                <span>R$ 297,00</span>
              </div>
              <p>
                Para você, quanto vale ter aquele insight, conhecer a pessoa certa, falar com aquele cliente chave ou
                encontrar aquele investidor? Isso pode mudar o rumo do seu negócio ou da sua carreira para sempre.
                <br /><br />
                O networking é uma habilidade chave nos negócios e o Joel Jota vai te ensinar como usá-la ao seu favor em
                todas as áreas da sua vida.
              </p>
            </div>
            <img src="@/assets/img/lps/l05anstg/gift-stamp.png" class="gift_stamp" alt="Gift Stamp" />
          </div>

          <div class="mar_card">
            <div class="mar_card_image">
              <img src="@/assets/img/lps/l05anstg/Livros.png" alt="Livros" />
            </div>
            <div class="mar_card_text">
              <div class="mar_card_price">
                <h4>Combo de Livros Digitais - Skeelo + Staage</h4>
                <span>R$ 180,00</span>
              </div>
              <p>
                Cada livro foi pensado para te ajudar e aperfeiçoar a forma de pensar, se comportar e agir no marketing
                digital.
                <br /><br />
                “A mente do empreendedor” e “Decifre seu talento”, vão te ajudar a moldar sua mentalidade e identificar seu
                talento para aplicar no mundo digital.
                <br /><br />
                “6 competências para surfar na transformação digital”, vai te dar a direção que você precisa para escolher
                qual é a mais adequada para você, de acordo com seu talento.
                <br /><br />
                “Persuasão”, “Atenção: o maior ativo do mundo” e “Negocie qualquer coisa com qualquer pessoa”, vão te ajudar
                a atrair mais clientes usando as redes sociais, utilizando elementos persuasivos e te ajudar a negociar
                melhor e vender mais.
              </p>
            </div>
            <img src="@/assets/img/lps/l05anstg/gift-stamp.png" class="gift_stamp" alt="Gift Stamp" />
          </div>
        </div>
      </div>
    </section>

    <section class="mar_price">
      <div class="mar_price_container">
        <div class="mar_price_text">
          <h3>Aproveite a oferta de natal</h3>
          <p>
            Lançamos a Staage em 2021, e para democratizar o acesso ao marketing digital preparamos ofertas imperdíveis nos
            primeiros meses de vida da nossa plataforma.
            <br /><br />
            Para o ano que vem, estamos preparando grandes novidades para torná-la ainda melhor. Por isso, não podemos
            garantir que os preços continuarão os mesmos depois da virada do ano.
            <br /><br />
            Esta é a última chance do ano de assinar a plataforma da Staage com desconto!
          </p>
        </div>
        <div class="mar_price_card">
          <img src="@/assets/img/lps/l05anstg/Tag-price-mar.svg" alt="Tag Price Mar" />
          <h4>Tudo que você irá receber 👇</h4>
          <div class="mar_price_list">
            <div class="mar_list_item">
              <img src="@/assets/img/lps/l05anstg/l05anstg-check.png" alt="Check List" />
              <p>+ de 30 cursos de marketing digital - <span>R$ 478,80</span></p>
            </div>
            <div class="mar_list_item">
              <img src="@/assets/img/lps/l05anstg/l05anstg-check.png" alt="Check List" />
              <p>Acesso a versão BETA da comunidade Staagers</p>
            </div>
            <div class="mar_list_item">
              <img src="@/assets/img/lps/l05anstg/l05anstg-check.png" alt="Check List" />
              <p>Treinamento de Vendas com Thiago Nigro</p>
            </div>
            <div class="mar_list_item">
              <img src="@/assets/img/lps/l05anstg/l05anstg-check.png" alt="Check List" />
              <p>Masterclass de Marketing e Vendas com Joel Jota - <span>R$ 297,00</span></p>
            </div>
            <div class="mar_list_item">
              <img src="@/assets/img/lps/l05anstg/l05anstg-check.png" alt="Check List" />
              <p>Masterclass de Networking com Joel Jota - <span>R$ 297,00</span></p>
            </div>
            <div class="mar_list_item">
              <img src="@/assets/img/lps/l05anstg/l05anstg-check.png" alt="Check List" />
              <p>Combo de Livros Digitais - Skeelo + Staage - <span>R$ 180,00</span></p>
            </div>
            <div class="mar_list_subtitle">
              <p>Total dos presentes - <span>R$ 3.249,80</span></p>
            </div>
          </div>
          <div class="mar_price_number1">
            <p>De R$ 3.249,80</p>
            <span>por apenas</span>
          </div>
          <div class="mar_price_number2">
            <h5>R$ 39,90</h5>
            <span>/ mês</span>
          </div>
          <div class="mar_price_number3">
            <span>no plano anual</span>
          </div>
          <a href="https://app.staage.com/initiate/register/" class="btn-comece buttonRegister" target="_blank">
            <span>Aproveitar Oferta</span>
          </a>
        </div>
      </div>
    </section>

    <footer>
      <div class="footer_container">
        <div class="footer_items">
          <img src="../assets/img/blackfriday/Logo-Staage-footer.svg" alt="Logo Staage Footer" />
          <p>© Copyright 2021 Grupo Primo. Todos os direitos reservados.</p>
          <div class="footer_links">
            <a href="https://app.staage.com/support/termsOfUse" rel="noreferrer" target="blank">Termos de uso</a>
            <span>|</span>
            <a href="https://app.staage.com/support/termsOfUse" rel="noreferrer" target="blank">Políticas de privacidade</a>
            <span>|</span>
            <a href="https://privacy.staage.com" rel="noreferrer" target="blank"> Proteja sua privacidade</a>
          </div>
        </div>
      </div>
    </footer>

    <section class="bannerBottom_container_mar">
      <div class="bannerBottom_box_mar">
        <div class="bannerBottom_box_mar_text">
          <p>Natal Staage</p>
          <span>12x de <strong>R$ 39,90</strong> /mês</span>
          <p>no plano anual</p>
        </div>
        <a href="https://app.staage.com/initiate/register/" class="btn-comece buttonRegister" target="_blank">
          <strong>Aproveitar Oferta</strong>
        </a>
      </div>
    </section>
  </div>
</template>
<script>
import Lightrope from '../components/Lightrope.vue'
import Snowflakes from '../components/Snowflakes.vue'
export default {
  layout: 'empty',
  components: {
    Lightrope,
    Snowflakes
  },
  data() {
    return {
      days: 0,
      hrs: 0,
      mins: 0,
      secs: 0,
      active: 0,
      name: '',
      email: '',
      privacyTerms: false,
      isLoading: false
    }
  },
  head() {
    return {
      title: 'Staage - Oferta de Natal',
      description: 'Assine a maior plataforma de marketing digital por um preço jamais visto',
      meta: [
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://assine.staage.com/l05anst'
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Staage - Oferta de Natal'
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Assine a maior plataforma de marketing digital por um preço jamais visto'
        },
        { hid: 'og:image', property: 'og:image', content: '' },
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image'
        },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: 'https://assine.staage.com/l05anst'
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Staage - Black Friday'
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Assine a maior plataforma de marketing digital por um preço jamais visto'
        },
        { hid: 'twitter:image', property: 'twitter:image', content: '' }
      ]
    }
  },
  mounted() {
    this.countdown()
  },
  methods: {
    countdown() {
      const timeLoop = setInterval(() => {
        const currentTime = new Date()
        const deadLine = new Date('Dec 26, 2021 00:00:10')
        const timeDiff = deadLine.getTime() - currentTime.getTime()

        if (timeDiff < 0) {
          clearInterval(timeLoop)
        }

        this.days = Math.floor(timeDiff / 86400000)
        this.hrs = Math.floor((timeDiff % 86400000) / 3600000)
        this.mins = Math.floor((timeDiff % 3600000) / 60000)
        this.secs = Math.floor((timeDiff % 60000) / 1000)
      }, 1000)
    },
    async submit() {
      this.isLoading = true
      const subscription = {
        unit: 'STAAGE',
        email: this.email,
        name: this.name,
        source: 'campaign',
        tag: '74',
        meta: {
          origin: window.location.href
        }
      }
      try {
        const response = await this.$store.dispatch('lead/subscribe', subscription)
        if (response.status) {
          this.isLoading = false
          this.$router.push(`/l05anstobrigado/${window.location.search}`)
        }
      } catch (error) {
        this.isLoading = false
        alert('Falha ao cadastrar e-mail, recarregue a página e tente novamente')
      }
    }
  },
  middleware(ctx) {
    ctx.$gtm.push({ event: 'ssr' })
  }
}
</script>
