<template>
  <div>
    <section class="s-banner-gdt-typ">
      <div class="container-gdt-typ">
        <h4>Obrigado!</h4>
        <h5>A sua inscrição está quase finalizada</h5>
        <div class="gdt-typ-text">
          <p>
            Estamos felizes que você se cadastrou para participar do evento “Gestor 10K”. Uma série gratuita que vai te
            ensinar como sair do zero aos 10 mil por mês como Gestor de Tráfego.
          </p>
          <p>
            Mas antes, precisamos que você faça <span>3 coisas</span> para GARANTIR que não irá perder nenhum conteúdo desse
            evento.
          </p>
        </div>
        <div class="gdt-typ-cards">
          <div class="gdt-typ-card">
            <div class="card-step">
              <img src="@/assets/img/lps/trafego/tag-typ-trafego.svg" alt="Tag Tráfego" />
              <span>Primeiro passo</span>
              <h6>Entre na nossa lista do WhatsApp.</h6>
            </div>
            <div class="card-text">
              <p>
                Lá você vai receber os links e lembretes mais importantes, e será avisado no momento que as aulas forem
                liberadas
              </p>
            </div>
            <div class="card-button">
              <a href="http://zapclick.digital/r/gt10k" target="_blank">Entrat no grupo</a>
            </div>
          </div>
          <div class="gdt-typ-card">
            <div class="card-step">
              <img src="@/assets/img/lps/trafego/tag-typ-trafego.svg" alt="Tag Tráfego" />
              <span>Segundo passo</span>
              <h6>Responda o nosso formulário.</h6>
            </div>
            <div class="card-text">
              <p>
                Queremos entregar o melhor conteúdo para você! Para isso, precisamos que você responda algumas perguntas
                rápidas. É só tocar no botão e reservar 3 minutinhos.
              </p>
            </div>
            <div class="card-button-two">
              <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=6ez5YgM1m0G2Yyy_xOsD27bO6peVx3FPoaGHNInqKH5UQTg5UlRZVUtaODJYTEJVTzBaOUQxS1c3QiQlQCN0PWcu" target="_blank">Responder formulário</a>
            </div>
          </div>
          <div class="gdt-typ-card-two">
            <div class="card-step">
              <img src="@/assets/img/lps/trafego/tag-typ-trafego.svg" alt="Tag Tráfego" />
              <span>Terceiro passo</span>
              <h6>Favorite o nosso e-mail, apertando na estrelinha ao lado esquerdo do remetente.</h6>
            </div>
            <div class="card-text">
              <p>Isso garante que qualquer atualização importante do evento “Gestor 10k” chegue até você como prioridade.</p>

              <p>Isso faz total diferença nos resultados que você terá após o nosso evento.</p>

              <p>Nos vemos por lá!</p>
            </div>
            <div class="card-button-two">
              <img src="@/assets/img/lps/trafego/image-card-typ.svg" alt="Card Typ Image" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="footer-gdt">
      <div class="footer_container_gdt">
        <div class="footer_items_gdt">
          <img src="../assets/img/lps/redessociaislucrativas/logo-grupo-primo-fsm.png" alt="Logo Staage Footer" />
          <p>© Copyright 2021 Grupo Primo. Todos os direitos reservados.</p>
          <div class="footer_links_gdt">
            <a href="https://app.staage.com/support/termsOfUse" tabindex="-1" target="blank">Termos de uso</a>
            <span>|</span>
            <a href="https://app.staage.com/support/termsOfUse" tabindex="-1" target="blank">Políticas de privacidade</a>
            <span>|</span>
            <a href="https://privacy.staage.com" tabindex="-1" target="blank">Proteja sua privacidade</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'empty',
  data() {
    return {
      isVisible: true,
      email: '',
      phone: '',
      privacyTerms: false,
      isLoading: false
    }
  },
  head() {
    return {
      title: 'Gestor de tráfego 10k',
      description: 'Marketing digital do zero para iniciantes',
      meta: [
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://assine.staage.com/l07gt10k_typ'
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Gestor de tráfego 10k'
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Gestor de tráfego 10k'
        },
        { hid: 'og:image', property: 'og:image', content: '' },
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image'
        },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: 'https://assine.staage.com/l07gt10k_typ'
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Gestor de tráfego 10k'
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Gestor de tráfego 10k'
        },
        { hid: 'twitter:image', property: 'twitter:image', content: '' }
      ]
    }
  }
}
</script>
