<template>
  <div>
    <section class="s-banner-gdt" id="home">
      <div class="container-gdt">
        <div class="gdt-text-box">
          <p>Evento Online &bull; 100% gratuito</p>
          <div class="gdt-logo-mobile">
            <img src="@/assets/img/lps/trafego/logo-gestor-trafego-mobile.svg" alt="Logo Gestor de Tráfego" />
          </div>
          <div class="gdt-date">
            <img src="@/assets/img/lps/trafego/calendar.svg" alt="Icone de calendário" />
            <p>28 de fevereiro até 03 de março</p>
          </div>
        </div>
        <div class="gdt-title">
          <h3>Como sair <span>do zero a 10 mil reais</span> por mês como Gestor de Tráfego</h3>
          <p>Aprenda com os Gestores de Tráfego do Grupo Primo</p>
        </div>
        <form-validate v-slot="{ invalid }">
          <form @submit.prevent="submit" class="infos_email">
            <field-validate :rules="{ required: true }" v-slot="{ errors }">
              <input
                class="name"
                type="text"
                v-model="name"
                name="name"
                placeholder="Digite seu nome"
                :class="{ error_input: errors[0] }"
              />
            </field-validate>
            <field-validate rules="required|email" v-slot="{ errors }">
              <input
                type="email"
                v-model="email"
                name="Email"
                placeholder="Seu melhor e-mail"
                :class="{ error_input: errors[0] }"
              />
            </field-validate>
            <button class="cta-modal-button" :disabled="invalid || disabled">
              <strong v-if="!isLoading" class="button_text">Quero participar</strong>
              <span v-else class="loader"></span>
            </button>
            <span>Ao clicar em quero participar você concorda com nossos termos de privacidade</span>
          </form>
        </form-validate>
      </div>
    </section>
    <section class="s-meet-gdt">
      <div class="container-meet-gdt">
        <div class="meet-image-gdt">
          <img src="@/assets/img/lps/trafego/socios-image.png" alt="Imagem de Sócios">
        </div>
        <div class="meet-text-gdt">
          <img src="@/assets/img/lps/trafego/retangle-learn.svg" alt="Retangle" />
          <h4>Conheça o <span>grupo primo</span></h4>
          <p>
            O Grupo Primo é uma empresa que nasceu de um único propósito: Dar acesso.
            Somos um ecossistema que busca democratizar o acesso ao conhecimento para
            pessoas que almejam conquistar a liberdade financeira.
          </p>
        </div>
      </div>
    </section>
    <section class="s-learn-gdt">
      <div class="container-learn-gdt">
        <img src="@/assets/img/lps/trafego/retangle-learn.svg" alt="Retangle" />
        <h4><span>O que você vai aprender</span> nessa série</h4>
        <p>4 episódios inéditos e gratuítos</p>
        <div class="learn-gdt-cards">
          <div class="learn-gdt-card-one">
            <img src="@/assets/img/lps/trafego/future-icon.svg" alt="Future Icon" />
            <h5>A profissão do futuro</h5>
            <p>
              Você saberá como pessoas comuns estão saindo do zero e faturando os primeiros 5 dígitos mensais, fazendo
              anúncios online.
            </p>
          </div>
          <div class="learn-gdt-card-two">
            <img src="@/assets/img/lps/trafego/money-icon.svg" alt="Money Icon" />
            <h5>Gestor 10k</h5>
            <p>
              Você saberá o que separa aqueles que faturam 10 mil reais (ou mais) como gestores de tráfego, daqueles que não
              conseguem e como se destacar em 2022.
            </p>
          </div>
          <div class="learn-gdt-card-three">
            <img src="@/assets/img/lps/trafego/infinite-icon.svg" alt="Infinite Icon" />
            <h5>Demanda infinita</h5>
            <p>
              Nesta aula, você terá em mãos um guia prático de como abordar e conquistar os primeiros bons clientes para
              aproveitar a demanda infinita que o mercado tem para os gestores de tráfego.
            </p>
          </div>
          <div class="learn-gdt-card-four">
            <img src="@/assets/img/lps/trafego/map-icon.svg" alt="Map Icon" />
            <h5>O plano final</h5>
            <p>O plano para fazer 10k por mês, e como você poderá dar o próximo passo.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="s-professors-gdt">
      <div class="container-professors-gdt">
        <img src="@/assets/img/lps/trafego/retangle-learn.svg" alt="Retangle" />
        <h4>Quem serão os seus professores?</h4>
        <div class="professors-gdt-cards">
          <div class="professors-gdt-card">
            <img src="@/assets/img/lps/trafego/Igor-card-image.png" alt="Igor Image" />
            <h5>Igor rodrigues</h5>
            <p>
              Igor é Gestor de Tráfego e Estrategista do Grupo Primo e está por trás de alguns dos maiores lançamentos do
              mercado brasileiro
            </p>
          </div>
          <div class="professors-gdt-card">
            <img src="@/assets/img/lps/trafego/Dhiego-card-image.png" alt="Dhiego Image" />
            <h5>Dhiego lins</h5>
            <p>Gestor de Tráfego do Grupo Primo e da Staage e conta com +20MM gerenciados em anúncios nos últimos anos</p>
          </div>
        </div>
        <h6>
          Ambos são responsáveis por grandes operações de marketing, e agora vão te ensinar aquilo que fizeram para construir
          uma carreira de sucesso
        </h6>
        <a href="#home">Quero Participar</a>
      </div>
    </section>
    <div class="footer-gdt">
      <div class="footer_container_gdt">
        <div class="footer_items_gdt">
          <img src="../assets/img/lps/redessociaislucrativas/logo-grupo-primo-fsm.png" alt="Logo Staage Footer" />
          <p>© Copyright 2021 Grupo Primo. Todos os direitos reservados.</p>
          <div class="footer_links_gdt">
            <a href="https://app.staage.com/support/termsOfUse" tabindex="-1" target="blank">Termos de uso</a>
            <span>|</span>
            <a href="https://app.staage.com/support/termsOfUse" tabindex="-1" target="blank">Políticas de privacidade</a>
            <span>|</span>
            <a href="https://privacy.staage.com" tabindex="-1" target="blank">Proteja sua privacidade</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ValidationObserver as FormValidate, ValidationProvider as FieldValidate } from 'vee-validate'
export default {
  layout: 'empty',
  components: {
    FieldValidate,
    FormValidate
  },
  data() {
    return {
      isVisible: true,
      email: '',
      name: '',
      isLoading: false,
      disabled: false
    }
  },
  modules: ['@nuxtjs/gtm'],
  gtm: { id: 'GTM-5MSK88G' },
  head() {
    return {
      title: 'Gestor de tráfego 10k',
      description: 'Marketing digital do zero para iniciantes',
      meta: [
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://assine.staage.com/l07gt10k'
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Gestor de tráfego 10k'
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Gestor de tráfego 10k'
        },
        { hid: 'og:image', property: 'og:image', content: '' },
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image'
        },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: 'https://assine.staage.com/l07gt10k'
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Gestor de tráfego 10k'
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Gestor de tráfego 10k'
        },
        { hid: 'twitter:image', property: 'twitter:image', content: '' }
      ]
    }
  },

  methods: {
    async submit() {
      this.isLoading = true
      this.disabled = true
      const search = {
        userEmail: this.email,
        userFirstname: this.name
      }
      try {
        const response = await this.$store.dispatch('lead/search', search)
        if (response.status === true) {
          const campaing = {
            SL_ID: response.data.user.SL_ID,
            unit: 'STAAGE',
            eventSource: 'campaign',
            eventAction: 'conversion:campaign',
            eventCampaign: 'CPG_STAAGE_L07GT10K',
            eventMeta: {
              url: window.location.href
            }
          }
          await this.$store.dispatch('lead/campaing', campaing)
          this.isLoading = false
          this.$router.push(`/l07gt10k_typ/${window.location.search}`)
        }
      } catch (err) {
        this.isLoading = false
        alert('Falha ao cadastrar e-mail, recarregue a página e tente novamente')
      }
    }
  }
}
</script>
