<template>
  <div>
    <section class="principal">
      <div class="principal_container">
        <div class="infos_box">
          <img src="../assets/img/lps/p01mktz/Logo-Staage.png" class="logo_header" alt="Logo staage" />
          <h2>Webinar</h2>
          <h1><span>Marketing</span> digital do zero para iniciantes</h1>
          <div class="infos_list">
            <div class="list_item">
              <img src="../assets/img/lps/p01mktz/Check.png" alt="Check" />
              <p>Como usar o Marketing Digital no Instagram do zero</p>
            </div>
            <div class="list_item">
              <img src="../assets/img/lps/p01mktz/Check.png" alt="Check" />
              <p>Como ter uma audiência compradora</p>
            </div>
            <div class="list_item">
              <img src="../assets/img/lps/p01mktz/Check.png" alt="Check" />
              <p>Vender na hora certa</p>
            </div>
            <div class="list_item">
              <img src="../assets/img/lps/p01mktz/Check.png" alt="Check" />
              <p>Nunca mais sofrer com aquisição de clientes</p>
            </div>
          </div>
          <form-validate v-slot="{ invalid }">
            <form @submit.prevent="submit" class="infos_email">
              <field-validate rules="required|email" v-slot="{ errors }">
                <input
                  type="email"
                  v-model="email"
                  name="Email"
                  placeholder="Seu melhor e-mail"
                  :class="{ error_input: errors[0] }"
                />
                <small class="error_message">{{ errors[0] }}</small>
              </field-validate>

              <field-validate
                :rules="{ required: true, phone: /^\(?([0-9]{2})\)?[-. ]?([0-9]{5})[-. ]?([0-9]{4})$/ }"
                v-slot="{ errors }"
              >
                <input
                  type="text"
                  v-model="phone"
                  name="Phone"
                  placeholder="Seu telefone (com DDD)"
                  :class="{ error_input: errors[0] }"
                  minlength="10"
                  v-mask="['(##) ####-####', '(##) #####-####']"
                />
                <small class="error_message">{{ errors[0] }}</small>
              </field-validate>

              <field-validate :rules="{ required: { allowFalse: false } }">
                <div class="aceite-termo">
                  <input id="privacy-terms-checkbox" type="checkbox" v-model="privacyTerms" name="aceite" />
                  <label class="aceite" for="privacy-terms-checkbox">
                    Aceito receber informações por e-mail e telefone
                  </label>
                </div>
              </field-validate>

              <button class="cta-modal-button" :disabled="invalid || disabled">
                <strong v-if="!isLoading" class="button_text">Quero participar</strong>
                <span v-else class="loader"></span>
              </button>
            </form>
          </form-validate>
          <div class="infos_aula">
            <img
              src="../assets/img/lps/p01mktz/Aula_Online_e_gratuita_Desk.png"
              class="infos_aula_img_desk"
              alt="Aula Online e Gratuita"
            />
            <img
              src="../assets/img/lps/p01mktz/Aula_Online_e_gratuita_Mobile.png"
              class="infos_aula_img_mb"
              alt="Aula Online e Gratuita"
            />
          </div>
        </div>
        <div class="image_box">
          <img src="../assets/img/lps/p01mktz/Joel_Jota.png" alt="Joel Jota" />
        </div>
      </div>
    </section>
    <section class="staage">
      <div class="staage_container">
        <div class="staage_image">
          <img src="../assets/img/lps/p01mktz/Staage_image_desk.png" alt="Staage image" />
        </div>
        <div class="staage_text">
          <h3>O que é a Staage?</h3>
          <hr />
          <p>
            A Staage é uma plataforma de educação que permite que qualquer pessoa aprenda com os maiores especialistas em
            marketing do mundo.
            <br /><br />
            Todos os conteúdos da Staage estão disponíveis a qualquer hora e em qualquer lugar no seu smartphone ou
            computador pessoal.
            <br /><br />
            Aproveite um acesso <span>100% GRATUITO</span> a aula com o Joel Jota para você conhecer e começar sua jornada no
            marketing digital!
          </p>
        </div>
      </div>
    </section>
    <div class="footer">
      <div class="footer_container">
        <div class="footer_items">
          <img src="../assets/img/lps/p01mktz/Logo-Staage.png" alt="Logo Staage Footer" />
          <p>© Copyright 2021 Grupo Primo. Todos os direitos reservados.</p>
          <div class="footer_links">
            <a href="https://app.staage.com/support/termsOfUse" target="blank">Termos de uso</a>
            <span>|</span>
            <a href="https://app.staage.com/support/termsOfUse" target="blank">Políticas de privacidade</a>
            <span>|</span>
            <a href="https://privacy.staage.com" target="blank">Proteja sua privacidade</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ValidationObserver as FormValidate, ValidationProvider as FieldValidate } from 'vee-validate'
export default {
  layout: 'empty',
  components: {
    FieldValidate,
    FormValidate
  },
  data() {
    return {
      email: '',
      phone: '',
      privacyTerms: false,
      isLoading: false,
      disabled: false
    }
  },
  head() {
    return {
      title: 'Webinar - Joel Jota',
      description: 'Marketing digital do zero para iniciantes',
      meta: [
        { hid: 'og:type', property: 'og:type', content: 'website' },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://assine.staage.com/p01mktz'
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: 'Webinar - Joel Jota'
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: 'Webinar - Joel Jota by staage'
        },
        { hid: 'og:image', property: 'og:image', content: '' },
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image'
        },
        {
          hid: 'twitter:url',
          name: 'twitter:url',
          content: 'https://assine.staage.com/p01mktz'
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: 'Webinar - Joel Jota'
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: 'Webinar - Joel Jota by staage'
        },
        { hid: 'twitter:image', property: 'twitter:image', content: '' }
      ]
    }
  },
  methods: {
    async submit() {
      this.isLoading = true
      this.disabled = true
      const subscription = {
        unit: 'STAAGE',
        email: this.email,
        phone: this.phone,
        source: 'campaign',
        tag: '41',
        meta: {
          origin: window.location.href
        }
      }
      try {
        const response = await this.$store.dispatch('lead/subscribe', subscription)
        if (response.status) {
          this.$router.push(`/webinar/${window.location.search}`)
        }
      } catch (error) {
        alert('Falha ao cadastrar e-mail, recarregue a página e tente novamente')
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>
