<template>
  <div>
    <section class="s-banner-lpportugal">
      <div class="container-banner-lpportugal">
        <div class="text-banner-lpportugal">
          <h1>APRENDA MARKETING DIGITAL DO ZERO</h1>
          <h2>
            CRIE UM NEGÓCIO ONLINE
            <br />
            SEJA UM PROFISSIONAL DA INTERNET
            <br />
            TENHA UMA NOVA FONTE DE RENDA
          </h2>
          <span>
            Faça parte do grupo de pessoas que vivem com mais liberdade, trabalhando com o que amam e fazendo dinheiro de
            forma escalável<br />
            e exponencial.
          </span>

          <a
            href="https://app.staage.com/initiate/register/?pt=2&pmp=STG-VEX-QRCD-STG-BSTG-20220214-ORG-STAAGE-X-VSTAAGELPPORTUGAL&utm_source=qrcode&utm_campaign=org-qrcode-site-lp-portugal-venda-staage-14-02-22&utm_medium=qrcode&utm_content=cta&utm_term=STG-VEX-QRCD-STG-BSTG-20220214-ORG-STAAGE-X-VSTAAGELPPORTUGAL&cupom=STAAGEPT"
            class="btn-comece"
            target="_blank"
            rel="noopener"
          >
            <img src="@/assets/img/arrow-right.svg" alt="arrow-right" />
            <strong> Comece agora </strong>
            <img src="@/assets/img/arrow-left.svg" alt="arrow-left" />
          </a>
          <p>
            🔥 Garanta seu acesso agora por apenas<br />
            <strong>R$ 478,80/ano</strong>
            <br>
            <Strong>Aproximadamente € 82,02 /ano</strong>
          </p>
        </div>
        <div class="down-icon-lpportugal">
          <a href="#content">
            <img src="@/assets/img/Down-newlp.webp" alt="Down icon" />
          </a>
        </div>
        <div class="bg-lpportugal">
          <img src="@/assets/img/lps/p03ap/BG-Hero-Desk-LpPortugal-Desk.png" alt="Banner hero" />
        </div>
        <div class="bg-lpportugal-tablet">
          <img src="@/assets/img/lps/p03ap/BG-Hero-LpPortugal-Tablet.png" alt="Banner Tablet" />
        </div>
      </div>
    </section>
    <section class="s-content-lpportugal" id="content">
      <div class="content-container-lpportugal">
        <div class="content-bg-lpportugal">
          <img src="@/assets/img/BG-Image-Content.png" alt="BG Content" />
        </div>
        <div class="content-title-lpportugal">
          <div class="title-text-lpportugal">
            <h3>Conteúdos da plataforma</h3>
          </div>
          <div class="content-link">
            <p>Mais de 40 cursos de Marketing Digital disponíveis e novos conteúdos todo mês</p>
          </div>
        </div>
        <div class="swiper-new-lp">
          <SwiperNewLp />
          <div class="title-cards">
            <div class="title-card">
              <div class="card-image">
                <span>Staageclass</span>
              </div>
              <p>Domine as principais competências, com os melhores nomes</p>
            </div>
            <div class="title-card">
              <div class="card-image">
                <span class="tag-bck">Bastidores</span>
              </div>
              <p>Viva os bastidores de lançamentos e estratégias de marketing</p>
            </div>
            <div class="title-card">
              <div class="card-image">
                <span class="tag-bck">Na Prática</span>
              </div>
              <p>Aprenda na prática diversas habilidades</p>
            </div>
            <div class="title-card">
              <div class="card-image">
                <span class="tag-bck">Staagedocs</span>
              </div>
              <p>Histórias de pessoas que criaram negócios e se transformaram através do digital.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="s-how-learn-lpportugal">
      <div class="how-learn-container-lpportugal">
        <div class="how-learn-text-lpportugal">
          <h3>Como você aprende</h3>
          <div class="how-learn-items-lpportugal">
            <div class="item-icon">
              <img src="@/assets/img/learn_icon1.png" alt="Learn Icon 1" />
            </div>
            <div class="item-text-lpportugal">
              <h4>Cursos que te fazem evoluir</h4>
              <p>
                Um único curso te dá a habilidade de melhorar as vendas do seu negócio, conseguir fazer renda extra ou te
                tornar um profissional da internet.
              </p>
            </div>
          </div>
          <div class="how-learn-items-lpportugal">
            <div class="item-icon-lpportugal">
              <img src="@/assets/img/learn_icon2.png" alt="Learn Icon 2" />
            </div>
            <div class="item-text-lpportugal">
              <h4>Professores com resultados</h4>
              <p>
                Aprenda com Thiago Nigro, Philip Kotler, Joel Jota, Susana Torres e dezenas de professores que tem resultados
                usando o marketing digital todos os dias.
              </p>
            </div>
          </div>
          <div class="how-learn-items-lpportugal">
            <div class="item-icon-lpportugal">
              <img src="@/assets/img/learn_icon3.png" alt="Learn Icon 3" />
            </div>
            <div class="item-text-lpportugal">
              <h4>Documentários que impulsionam seus resultados</h4>
              <p>
                Veja como tudo é feito na prática, aprenda com a grana investida de grandes influenciadores, com seus erros e
                acertos para economizar tempo, dinheiro e impulsionar seus resultados.
              </p>
            </div>
          </div>
        </div>
        <div class="how-learn-image-lpportugal">
          <img
            src="@/assets/img/lps/p03ap/learn-image-web.png"
            alt="Imagem de como aprender"
            v-prlx="{ reverse: true, speed: 0.3, fromBottom: true }"
          />
        </div>
      </div>
    </section>
    <section class="s-popular-lpportugal">
      <div class="popular-container-lpportugal">
        <div class="popular-text">
          <h4>Os mais populares da semana</h4>
          <p>Os conteúdos que mais bombaram na Staage</p>
        </div>
        <div class="popular-swiper">
          <swiper-top-content />
        </div>
      </div>
    </section>
    <section class="s-soon-lpportugal">
      <div class="soon-container-lpportugal">
        <div class="soon-text">
          <h4>Em breve na Staage</h4>
          <p>Os lançamentos mais aguardados</p>
        </div>
        <div class="soon-swiper">
          <swiper-soon />
        </div>
      </div>
    </section>
    <section class="s-assine-lpportugal">
      <div class="assine-lpportugal-container">
        <div class="assine-lpportugal-title">
          <h3>
            Assine agora<br />
            e tenha acesso a
          </h3>
          <span>TODOS os cursos da plataforma</span>
        </div>
        <div class="assine-list-lpportugal">
          <div class="assine-list-item-lpportugal">
            <img src="@/assets/img/check-newlp.webp" alt="Check" />
            <p>Staageclass – Cursos completos de habilidades específicas</p>
          </div>
          <div class="assine-list-item-lpportugal">
            <img src="@/assets/img/check-newlp.webp" alt="Check" />
            <p>Backstaage – Documentários de estratégias do Marketing Digital</p>
          </div>
          <div class="assine-list-item-lpportugal">
            <img src="@/assets/img/check-newlp.webp" alt="Check" />
            <p>Na Prática – Aulas mais curtas, objetivas e práticas</p>
          </div>
          <div class="assine-list-item-lpportugal">
            <img src="@/assets/img/check-newlp.webp" alt="Check" />
            <p>Ebook - Material Complementar em todas as Stageclasses</p>
          </div>
          <div class="assine-list-item-lpportugal">
            <img src="@/assets/img/check-newlp.webp" alt="Check" />
            <p>Update - Atualização mensal de conteúdo</p>
          </div>
          <div class="assine-list-item-lpportugal">
            <img src="@/assets/img/check-newlp.webp" alt="Check" />
            <p>Grupo - Comunidade exclusiva dos Staagers</p>
          </div>
          <div class="assine-list-item-lpportugal">
            <img src="@/assets/img/check-newlp.webp" alt="Check" />
            <p>Philip Kotler – Curso completo com o pai do marketing</p>
          </div>
        </div>
        <div class="assine-price-lpportugal">
          <p>Por apenas</p>
          <h4>R$ 478,80<span> /ano</span></h4>
          <p>Aproximadamente <strong>€ 82,02 </strong> /ano</p>
          <div class="btn">
            <a
              href="https://app.staage.com/initiate/register/?pt=2&pmp=STG-VEX-QRCD-STG-BSTG-20220214-ORG-STAAGE-X-VSTAAGELPPORTUGAL&utm_source=qrcode&utm_campaign=org-qrcode-site-lp-portugal-venda-staage-14-02-22&utm_medium=qrcode&utm_content=cta&utm_term=STG-VEX-QRCD-STG-BSTG-20220214-ORG-STAAGE-X-VSTAAGELPPORTUGAL&cupom=STAAGEPT"
              class="btn-comece"
              target="_blank"
              rel="noopener"
            >
              Comece agora
            </a>
          </div>
          <div class="cupom-lpportugal">
            <p>Assine agora e garanta <strong>3 meses grátis</strong></p>
            <span>Utilize o Cupom <strong>STAAGEPT</strong></span>
          </div>
        </div>
      </div>
    </section>
    <section class="frequently-questions-lpportugal"></section>
    <section class="s-perguntas">
      <div class="container">
        <div class="top">
          <div class="titulo">
            <img src="@/assets/img/square.svg" alt="square" />
            <h2>Perguntas frequentes</h2>
          </div>
          <div class="redes-sociais">
            <span>Acompanhe</span>
            <ul>
              <li>
                <a href="https://www.instagram.com/staagebr/" target="_blank" rel="noopener" aria-label="instagram link">
                  <span>Instagram</span>
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/Staagebr" target="_blank" rel="noopener" aria-label="twitter link">
                  <span>Twitter</span>
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/company/staage/about/"
                  target="_blank"
                  rel="noopener"
                  aria-label="linkedin link"
                >
                  <span>Linkedin</span>
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://www.youtube.com/channel/UCpG6NpEbQ9ETrFYjAv7rXMA"
                  target="_blank"
                  rel="noopener"
                  aria-label="youtube link"
                >
                  <span>Youtube</span>
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="faq">
          <div class="left">
            <div class="descricao">
              <img src="@/assets/img/icon-plano.svg" alt="Plano e assinatura" />
              <h3>Planos & Assinatura</h3>
            </div>
            <accordion id="accordion-first" title="Como funcionará o período gratuito?" accordionClass="card">
              <p>
                Assinando a plataforma com o cupom STAAGEPT, você terá 3 meses gratuitos para utilizá-la e após esse período,
                nós realizaremos a cobrança no cartão de crédito informado de acordo com o prazo de pagamento escolhido. Após
                a cobrança, os usuários portugueses terão 14 dias corridos de garantia a partir da data de expiração do cupom
                promocional e o os usuários brasileiros terão 7 dias corridos de garantia a partir da data de expiração do
                cupom promocional, para a desistência e devolução integral do valor que foi pago.
              </p>
            </accordion>

            <accordion id="accordion-second" title="Quanto custa a Staage?" accordionClass="card">
              <p>A assinatura anual da Staage custa R$ 478,80, com cobrança anual, após os 3 meses de degustação.</p>
            </accordion>

            <accordion id="accordion-thirty" title="Como será o processo de cobrança?" accordionClass="card">
              <p>
                O seu pagamento será processado em reais brasileiros (BRL), após o período de degustação. O valor
                correspondente em euro (€) será resultado da conversão baseada na cotação REAL/EURO da data de emissão da sua
                fatura, incluindo os impostos locais.
              </p>
            </accordion>

            <accordion
              id="accordion-fourth"
              title="Haverá cobrança de impostos ou comissões adicionais?"
              accordionClass="card"
            >
              <p>
                Esta é uma compra realizada pela internet e processada em reais brasileiros (BRL). Portanto, o seu banco
                poderá cobrar comissões por utilização do cartão de crédito em moeda estrangeira. Para consultar estas
                comissões, solicite os preçários em vigor no banco emissor do seu cartão de crédito.
              </p>
            </accordion>

            <accordion id="accordion-fifth" title="Como funciona a renovação da assinatura?" accordionClass="card">
              <p>
                A renovação é automática, e ocorre após 12 meses da confirmação do primeiro pagamento (exceto casos
                promocionais).
              </p>
            </accordion>

            <accordion id="accordion-sixth" title="Como cancelar a minha assinatura?" accordionClass="card">
              <p>
                Para cancelar a assinatura com direito a reembolso, você deve realizá-lo dentro do prazo informado acima,
                acessando a área de perfil, clicando em assinatura e selecionando a opção “cancelamento de conta estorno de
                pagamento”. Caso você queira cancelar a assinatura após o período de garantia, a opção disponível será a de
                cancelar a renovação automática! Sendo assim, o seu acesso ficará disponível por um ano. Lembrando que, neste
                caso, não ocorrerá o reembolso.
              </p>
            </accordion>
            <accordion id="accordion-eigth" title="Qual é o prazo para o estorno?" accordionClass="card">
              <p>
                O processo de reembolso adotado varia entre as operadoras. Desta forma, indicamos que em caso de dúvidas
                sobre o processo e prazos, consulte o SAC de seu cartão.
              </p>
            </accordion>
          </div>

          <div class="right">
            <div class="descricao">
              <img src="@/assets/img/icon-geral.svg" alt="Plano e assinatura" />
              <h3>Geral</h3>
            </div>
            <accordion
              id="accordion-nineth"
              title="O que está incluso na minha assinatura anual da Staage?"
              accordionClass="card"
            >
              <p>
                A assinatura anual da Staage inclui o acesso a todo o catálogo da plataforma com mais de 40 cursos completos,
                incluindo cursos, aulas práticas, documentários e acesso ao grupo exclusivo para alunos.
              </p>
            </accordion>

            <accordion id="accordion-tenth" title="Qual é o curso certo para mim?" accordionClass="card">
              <p>
                A Staage oferece mais de 40 cursos em diversas categorias de marketing, como copywriting, tráfego, vendas,
                redes sociais, podcast, instagram e muito mais, para você dominar uma habilidade para trabalhar de qualquer
                lugar do mundo, a hora que quiser, fazer renda extra ou criar um negócio digital do zero.
              </p>
            </accordion>

            <accordion id="accordion-eleventh" title="Onde posso reportar possíveis erros?" accordionClass="card">
              <p>
                Acesse a nossa Atendente Virtual no canto inferior da página, ela te ajudará da forma mais rápida e com a
                solução para qualquer problema enfrentado na plataforma Staage!
              </p>
            </accordion>
            <accordion id="accordion-twelve" title="Tem a opção de conta familiar?" accordionClass="card">
              <p>O acesso a plataforma é individual, ou seja, não é possível compartilhar seu login com outras pessoas.</p>
            </accordion>
            <accordion id="accordion-thirteen" title="Como acesso a plataforma?" accordionClass="card">
              <p>Ao concluir o seu cadastro e pagamento, você entrará automaticamente dentro da área de alunos.</p>
            </accordion>
            <accordion id="accordion-fourteen" title="Como acesso a comunidade de alunos?" accordionClass="card">
              <p>Você receberá um e-mail com acesso a partir de 10 dias da sua assinatura.</p>
            </accordion>
            <accordion
              id="accordion-fifteen"
              title="Quais são as categorias de conteúdo dentro da Staage?"
              accordionClass="card"
            >
              <p>
                Temos 4 categorias atualmente: (1) Bastidores, que mostram o dia a dia de lançamentos digitais dos principais
                influenciadores do Brasil, (2) Staageclass, que são cursos completos de marketing para você dominar uma
                habilidade específica (3) Staagedocs, quem conta a história de pessoas comuns que usaram a internet para
                mudar de vida (4) Na Prática, que são aulas curtas e rápidas te mostrando como aplicar o conteúdo no dia a
                dia.
              </p>
            </accordion>
            <accordion id="accordion-sixteen" title="Por onde começar?" accordionClass="card">
              <p>
                Nossa recomendação é começar pelo curso que pode pagar o preço investido na assinatura e te dar lucro em 1
                mês - 30 formas de fazer R$ 2.000,00 com Joel Jota.
              </p>
            </accordion>
            <accordion
              id="accordion-seventeen"
              title="De quanto em quanto tempo são liberados novos conteúdos?"
              accordionClass="card"
            >
              <p>Semanalmente iremos liberar novos conteúdos exclusivos dentro da plataforma.</p>
            </accordion>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import SwiperSoon from '../components/SwiperSoon.vue'
import SwiperTopContent from '../components/SwiperTopContent.vue'
import Accordion from '../components/Accordion.vue'
export default {
  layout: 'portugal',
  components: {
    SwiperTopContent,
    SwiperSoon,
    Accordion
  },
  modules: ['@nuxtjs/gtm'],
  gtm: { id: 'GTM-MDH43QJ' },
  methods: {
    activate(index) {
      this.active = index
    }
  },
  computed: {
    showExitOverlayPrincipal() {
      return this.$store.state.user.showExitOverlayPrincipal
    }
  }
}
</script>
