<template>
  <div>
    <section class="s-banner-sarah">
      <div class="container">
        <div class="text">
          <img src="@/assets/img/LP-Sarah/Logo/768-1920.png" alt="Logo Sarah Andrade" />
          <p>
            "Faça como eu, e escolha a Staage para aprender os caminhos de como empreender no digital, trabalhar com o que
            ama e ter mais liberdade." - Sarah Andrade
          </p>
          <a href="https://app.staage.com/initiate/register" class="btn-comece buttonRegister" target="_blank">
            <img src="@/assets/img/arrow-right.svg" alt="arrow-right" />
            <strong>Comece agora por R$ 39,90/mês</strong>
            <img src="@/assets/img/arrow-left.svg" alt="arrow-left" />
          </a>

          <span
            >Desconto exclusivo por tempo limitado!<br />
            <strong>De R$ 39,90/mês</strong> por R$ 39,90/mês
          </span>
          <img class="cupom-sarah" src="@/assets/img/LP-Sarah/Hero/cupom-sarah.svg" alt="Cupom Sarah Andrade" />
        </div>
      </div>
    </section>

    <section class="s-os-melhores">
      <div class="container">
        <div class="os-melhores-title">
          <img src="@/assets/img/icon-os-melhores.png" alt="Icone os melhores" />
          <h3>Aprenda com os melhores</h3>
        </div>
        <div class="os-melhores-description">
          <p>
            Conte com a ajuda das maiores referências do mercado digital para te ensinar o caminho das pedras para ter MUITO
            resultado.
          </p>
        </div>
      </div>
      <swiper-new-lp />
    </section>

    <section class="s-porque">
      <div class="container">
        <div class="porque-text">
          <img src="@/assets/img/3icon.png" alt="icon" />
          <h3>Por que escolher a Staage?</h3>
        </div>
        <div class="porque-list">
          <div class="porque-column">
            <div class="porque-items">
              <img src="@/assets/img/Rectangle-porque.png" alt="Porque" />
              <p>Em um ano, teremos mais de 600 aulas disponíveis para você.</p>
            </div>
            <div class="porque-items">
              <img src="@/assets/img/Rectangle-porque.png" alt="Porque" />
              <p>Estudar no seu tempo, quando e onde quiser.</p>
            </div>
            <div class="porque-items">
              <img src="@/assets/img/Rectangle-porque.png" alt="Porque" />
              <p>Aulas semanais sobre os principais assuntos dentro do marketing digital.</p>
            </div>
            <div class="porque-items">
              <img src="@/assets/img/Rectangle-porque.png" alt="Porque" />
              <p>Uma carga horária próxima a um MBA.</p>
            </div>
            <div class="porque-items">
              <img src="@/assets/img/Rectangle-porque.png" alt="Porque" />
              <p>Os melhores nomes do mercado nacional e internacional.</p>
            </div>
          </div>

          <div class="porque-column">
            <div class="porque-items">
              <img src="@/assets/img/Rectangle-porque.png" alt="Porque" />
              <p>Trilhas de conhecimentos específicas de acordo com o seu objetivo.</p>
            </div>
            <div class="porque-items">
              <img src="@/assets/img/Rectangle-porque.png" alt="Porque" />
              <p>Acesso aos bastidores dos maiores negócios digitais do Brasil.</p>
            </div>
            <div class="porque-items">
              <img src="@/assets/img/Rectangle-porque.png" alt="Porque" />
              <p>Menos da metade do valor da concorrência.</p>
            </div>
            <div class="porque-items">
              <img src="@/assets/img/Rectangle-porque.png" alt="Porque" />
              <p>Qualidade de som e imagem, para uma melhor experiência.</p>
            </div>
            <div class="porque-items">
              <img src="@/assets/img/Rectangle-porque.png" alt="Porque" />
              <p>Material complementar em todas as aulas.</p>
            </div>
          </div>
        </div>
        <div class="porque-button">
          <a href="https://app.staage.com/initiate/register" class="btn-comece buttonRegister" target="_blank">
            <strong>Destravar acesso ao conteúdo</strong>
          </a>
        </div>
      </div>
    </section>

    <start-today plan="39,90" />
  </div>
</template>

<script>
import StartToday from '../components/StartToday.vue'
import SwiperNewLp from '../components/SwiperNewLp.vue'
export default {
  components: {
    StartToday,
    SwiperNewLp
  },
  layout: 'promotional',
  head() {
    return {
      image: '@/assets/img/LP-Sarah/Hero/375.png',
      title: 'Sarah Andrade',
      description: 'Sarah description',
      meta: [
        { hid: 'twitter:card', name: 'twitter:card', content: 'summary_large_image' },
        { hid: 'twitter:image', property: 'twitter:image', content: '@/assets/img/LP-Sarah/Hero/375.png' },
        { hid: 'twitter:title', name: 'twitter:title', content: 'Sarah Andrade' },
        { hid: 'twitter:description', name: 'twitter:description', content: 'Sarah description' },
        { hid: 'og:title', property: 'og:title', content: 'Sarah Andrade' },
        { hid: 'og:description', property: 'og:description', content: 'Sarah description' },
        { hid: 'og:site_name', property: 'og:site_name', content: 'Sarah Andrade' },
        { hid: 'og:image', property: 'og:image', content: '@/assets/img/LP-Sarah/Hero/768.png' },
        { hid: 'og:image:secure_url', property: 'og:image:secure_url', content: '@/assets/img/LP-Sarah/Hero/375.png' },
        { hid: 'og:image:width', property: 'og:image:width', content: '200' },
        { hid: 'og:image:height', property: 'og:image:height', content: '200' }
      ]
    }
  }
}
</script>
