<template>
  <div>
    <section class="webinar">
      <div class="webinar_container">
        <img src="../assets/img/lps/p01mktz/Logo-Staage.png" class="logo_header" alt="Logo staage" />
        <div class="webinar_box">
          <h2>Webinar</h2>
          <h1><span>Marketing</span> digital do zero para iniciantes</h1>
        </div>
        <div class="video_container">
          <iframe
            width="100%"
            height="100%"
            src="https://www.youtube-nocookie.com/embed/XD-jenwKpP0?controls=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="webinar_subscribe" id="webinar_subscribe">
          <a href="" id="link-staage" class="buttonRegister" target="_blank">Quero participar</a>
        </div>
      </div>
    </section>
    <section class="cupom">
      <div class="cupom_container">
        <div class="cupom_title">
          <h3>Cupom liberado por tempo limitado!</h3>
          <hr />
          <div class="cupom_off">
            <h4>25% OFF</h4>
            <img src="../assets/img/lps/p01mktz/Cupom_Joel_Jota.png" alt="Cupom Joel Jota" />
          </div>
        </div>
        <div class="cupom_text">
          <p>
            Dezenas de cursos e documentários completos para você aprender marketing digital, criar um negócio online, ter
            uma nova profissão da internet ou criar uma nova fonte de renda.
          </p>
        </div>
      </div>
    </section>
    <section class="conteudo-webinar">
      <div class="conteudo_vector">
        <img src="../assets/img/lps/p01mktz/logo_vector_conteudo.png" alt="Vector Conteudo" />
      </div>
      <div class="conteudo_container">
        <div class="conteudo_details">
          <div class="conteudo_title">
            <h3>Conteúdo disponível</h3>
            <p>Confira todos os conteúdos disponíveis na plataforma</p>
          </div>
          <div class="conteudo_skills">
            <div class="skill_detail">
              <img src="../assets/img/lps/p01mktz/tag_staageclass.png" alt="Tag Staageclass" />
              <p>Domine as principais competências, com os melhores nomes</p>
            </div>
            <div class="skill_detail">
              <img src="../assets/img/lps/p01mktz/tag_backstaage.png" alt="Tag Backstaage" />
              <p>Viva os bastidores de lançamentos e estratégias de marketing</p>
            </div>
          </div>
        </div>

        <swiper-default
          principalClass="swiper-webinar"
          swiperClass="slide-class"
          :swiperNavigationClass="['swiper-button-next', 'swiper-button-prev']"
        >
          <template slot="swiper">
            <div class="swiper-slide">
              <img src="../assets/img/lps/p01mktz/Card_Thiago_Nigro.png" alt="Thiago Nigro" />
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/lps/p01mktz/Card_Philip_Kotler.png" alt="Philip Kotler" />
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/lps/p01mktz/Card_Bruno_Perini.png" alt="Bruno Perini" />
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/lps/p01mktz/Card_Roberta_Santos.png" alt="Roberta Santos" />
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/lps/p01mktz/Card_Joel_Jota.png" alt="Joel Jota" />
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/lps/p01mktz/Card_Micha_Menezes.png" alt="Micha Menezes" />
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/lps/p01mktz/Card_Duda_Vieira.png" alt="Duda Vieira" />
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/lps/p01mktz/Card_Thiago_Concer.png" alt="Thiago Concer" />
            </div>
            <div class="swiper-slide">
              <img src="../assets/img/lps/p01mktz/Card_Breno_Perucho.png" alt="Breno Perucho" />
            </div>
          </template>
          <template slot="navigation">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </template>
        </swiper-default>
      </div>
    </section>
    <section class="assine">
      <div class="assine_layer"></div>
      <div class="assine_container">
        <div class="assine_details">
          <div class="assine_title">
            <h3>Assine agora e tenha acesso a</h3>
            <h4>TODOS os cursos da plataforma</h4>
          </div>
          <div class="assine_list">
            <div class="list_item">
              <img src="../assets/img/lps/p01mktz/Check_Webinar.png" alt="Check Webinar" />
              <p>Staageclass – cursos completos de habilidades específicas</p>
            </div>
            <div class="list_item">
              <img src="../assets/img/lps/p01mktz/Check_Webinar.png" alt="Check Webinar" />
              <p>Backstaage – Documentários de estratégias do Marketing Digital</p>
            </div>
            <div class="list_item">
              <img src="../assets/img/lps/p01mktz/Check_Webinar.png" alt="Check Webinar" />
              <p>Na Prática – Aulas mais curtas, objetivas e práticas</p>
            </div>
            <div class="list_item">
              <img src="../assets/img/lps/p01mktz/Check_Webinar.png" alt="Check Webinar" />
              <p>Ebook - Material Complementar em todas as Stageclasses</p>
            </div>
            <div class="list_item">
              <img src="../assets/img/lps/p01mktz/Check_Webinar.png" alt="Check Webinar" />
              <p>Update - Atualização mensal de conteúdo</p>
            </div>
            <div class="list_item">
              <img src="../assets/img/lps/p01mktz/Check_Webinar.png" alt="Check Webinar" />
              <p>Grupo - Comunidade exclusiva dos Staagers</p>
            </div>
            <div class="list_item">
              <img src="../assets/img/lps/p01mktz/Check_Webinar.png" alt="Check Webinar" />
              <p>Philip Kotler – curso completo com o pai do marketing</p>
            </div>
          </div>
          <div class="price">
            <h3>De <span>R$ 478,80</span> por apenas</h3>
            <h4>R$ 39,90 <span>/mês</span></h4>
            <p>no plano anual</p>
            <img src="../assets/img/lps/p01mktz/Joel_Jota_25off.png" alt="Cupom Joel Jota" />
            <a href="" id="link-staage" class="buttonRegister" target="_blank">Comece agora</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import SwiperDefault from '../components/SwiperDefault.vue'
export default {
  components: {
    SwiperDefault
  },
  layout: 'empty',
  head() {
    return {
      title: 'Webinar - Joel Jota',
      description: 'Webinar - Joel Jota by staage',
      meta: [
        { hid: 'og:type', property: 'og:type', content: 'website' },
        { hid: 'og:url', property: 'og:url', content: 'https://assine.staage.com/p01mktz' },
        { hid: 'og:title', property: 'og:title', content: 'Webinar - Joel Jota' },
        { hid: 'og:description', property: 'og:description', content: 'Webinar - Joel Jota by staage' },
        { hid: 'og:image', property: 'og:image', content: '' },
        { hid: 'twitter:card', name: 'twitter:card', content: 'summary_large_image' },
        { hid: 'twitter:url', name: 'twitter:url', content: 'https://assine.staage.com/p01mktz' },
        { hid: 'twitter:title', name: 'twitter:title', content: 'Webinar - Joel Jota' },
        { hid: 'twitter:description', name: 'twitter:description', content: 'Webinar - Joel Jota by staage' },
        { hid: 'twitter:image', property: 'twitter:image', content: '' }
      ]
    }
  }
}
</script>
