.card {
  padding: 1.25rem 1.5rem 1.1875rem 1.5rem;
  background-color: $dark-700;
  border-radius: 6px;
  margin-bottom: 1rem;
  cursor: pointer;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }

  .titulo {
    display: flex;
    justify-content: space-between;

    .icon {
      background-color: $dark-600;
      border-radius: 3px;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 480px) {
        display: none;
      }
    }
  }

  .subtitulo {
    display: none;
  }

  &.active {
    .subtitulo {
      display: block;
      animation: slideDown 0.6s forwards;

      p {
        margin-top: 1rem;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        font-family: 'Proxima-nova';
        line-height: 1.625rem;
        letter-spacing: -0.005em;

        color: rgba(255, 255, 255, 0.7);
      }
    }
  }

  @media (max-width: 835px) {
    .titulo {
      h4 {
        font-size: 1rem;
      }
    }

    .subtitulo {
      p {
        font-size: 1rem;
      }
    }
  }

  @media (max-width: 560px) {
    .titulo {
      h4 {
        max-width: 82%;
      }
    }
    &.active {
      .subtitulo {
        p {
          font-size: 1rem;
        }
      }
    }
  }

  @media (max-width: 375px) {
    padding: 1.25rem 1.5rem 1.25rem 1.5rem;

    .titulo {
      h4 {
        max-width: 223px;
      }
    }
  }

  @media (max-width: 320px) {
    .titulo {
      h4 {
        max-width: 196px;
      }
    }
  }
}

@keyframes slideDown {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
