.cardVideo {
  width: 100%;
  background-color: transparent;
  border-radius: 6px;
  margin-bottom: 1rem;
  padding: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:last-child {
    margin-bottom: 0;
  }

  .titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    font-size: 15px;
    cursor: pointer;
    color: #fff;
    h4 {
      width: 80%;
    }
    .titulo {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        transition: all ease 0.3s;
      }
    }
  }

  .subtitulo {
    display: none;
  }

  &.active {
    .titulo {
      img {
        transform: rotate(180deg);
        transition: all ease 0.3s;
      }
    }
    .subtitulo {
      display: block;
      animation: slideDown 0.6s forwards;

      p {
        margin-top: 1rem;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        font-family: 'Proxima-nova';
        line-height: 1.625rem;
        letter-spacing: -0.005em;
        color: rgba(255, 255, 255, 0.7);
        @media (max-width: 375px) {
          margin-top: 0.5rem;
        }
      }
    }
  }

  @media (max-width: 835px) {
    .titulo {
      h4 {
        font-size: 16px;
      }
    }

    .subtitulo {
      p {
        font-size: 1rem;
      }
    }
  }

  @media (max-width: 560px) {
    .titulo {
      h4 {
        max-width: 82%;
      }
    }
    &.active {
      .subtitulo {
        p {
          font-size: 1rem;
        }
      }
    }
  }

  @media (max-width: 375px) {
    padding: 0;

    .titulo {
      h4 {
        max-width: 223px;
      }
    }
  }

  @media (max-width: 320px) {
    .titulo {
      h4 {
        max-width: 196px;
      }
    }
  }
}

@keyframes slideDown {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
