.s-bastidores {
  background-color: #17191f;
  @media (max-width: 480px) {
    padding-bottom: 80px;
  }
  .container {
    background: transparent;
    @media (max-width: 480px) {
      width: 100%;
    }
    .bastidores-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20.28px;
      padding: 80px 0 68px 0;
      @media (max-width: 820px) {
        display: flex;
        flex-direction: column;
      }
      h3 {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        @media (max-width: 820px) {
          text-align: center;
        }
      }
    }
    .bastidores-text {
      display: flex;
      justify-content: space-between;
      position: relative;
      @media (max-width: 820px) {
        display: flex;
        flex-direction: column;
      }
      .bastidores-description {
        width: 458px;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 80px;
        @media (max-width: 820px) {
          width: 100%;
        }
        p {
          width: 458px;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          margin-bottom: 25px;
          @media (max-width: 820px) {
            width: 100%;
          }
        }
        .btn-comece {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 281px;
          height: 58px;
          background-color: $orange;
          margin-top: 39px;
          @media (max-width: 820px) {
            position: absolute;
            bottom: 80px;
            left: 243.5px;
          }
          @media (max-width: 480px) {
            position: absolute;
            bottom: 40px;
            left: 20px;
          }
          strong {
            margin-right: 0.625rem;
            margin-left: 0.625rem;

            font-style: normal;
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.375rem;
            text-transform: uppercase;

            color: #ffffff;
          }

          &:hover {
            background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
            transition: all ease 0.3s;
          }
        }
      }
      .bastidores-swiper {
        @media (max-width: 820px) {
          margin-left: 0;
          margin-top: -100px;
          margin-bottom: 60px;
        }
        @media (max-width: 480px) {
          width: 100%;
          margin-top: -1000px;
        }
      }
    }
  }
}
