.cardSocial {
    width: 800px;
    height: auto;
    background-color: #FFFFFF;
    border: 1px solid #A6A7A9;
    margin-bottom: 1rem;
    padding: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 820px) {
      width: 664px;
    }
    @media (max-width: 480px) {
      width: 335px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  
    .titulo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      width: 100%;
      height: auto;
      margin: 0;
      cursor: pointer;
      color: #202227;
      h4 {
        width: 25%;
        font-family: 'gotham';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: #2100EC;
        @media (max-width: 820px) {
          font-size: 16px;
          line-height: 24px;
        }
        @media (max-width: 480px) {
          font-size: 14px;
          line-height: 21px;
          padding-left: 10px;
          width: 30%;
        }
      }
      h5 {
        width: 80%;
        color: #202227;
        font-family: 'gotham';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        @media (max-width: 820px) {
          width: 70%;
          font-size: 16px;
          line-height: 24px;
        }
        @media (max-width: 480px) {
          width: 50%;
          font-size: 14px;
          line-height: 21px;
        }
      }
      .icon {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          transition: all ease 0.3s;
          filter: invert(100%);
        }
      }
    }
  
    .subtitulo {
      display: none;
    }
  
    &.active {
      .titulo {
        img {
          transform: rotate(180deg);
          transition: all ease 0.3s;
        }
      }
      .subtitulo {
        display: block;
        animation: slideDown 0.6s forwards;
  
        p {
          margin-top: 1rem;
          font-style: normal;
          font-weight: normal;
          font-size: 1.125rem;
          font-family: 'gotham';
          line-height: 1.625rem;
          letter-spacing: -0.005em;
          color: #202227;
          opacity: 0.8;
          @media (max-width: 480px) {
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
          }
          @media (max-width: 375px) {
            margin-top: 0.5rem;
          }
        }
      }
    }
  
    @media (max-width: 835px) {
      .titulo {
        h4 {
          font-size: 16px;
        }
      }
  
      .subtitulo {
        p {
          font-size: 1rem;
        }
      }
    }
  
    @media (max-width: 560px) {
      .titulo {
        h4 {
          max-width: 82%;
        }
      }
      &.active {
        .subtitulo {
          p {
            font-size: 1rem;
          }
        }
      }
    }
  
    @media (max-width: 375px) {
      padding: 0;
  
      .titulo {
        h4 {
          max-width: 223px;
        }
      }
    }
  
    @media (max-width: 320px) {
      .titulo {
        h4 {
          max-width: 196px;
        }
      }
    }
  }
  
  @keyframes slideDown {
    from {
      transform: translateX(-20px);
      opacity: 0;
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  