.bannerBottom_container_black {
  width: 100%;
  height: 108px;
  position: fixed;
  display: flex;
  background-color: #12161d;
  bottom: 0px;
  z-index: 9999;
  @media (max-width: 480px) {
    display: none;
  }
  .bannerBottom_box_black {
    width: 100%;
    max-width: 1216px;
    height: auto;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 30.82px;
    @media (max-width: 768px) {
      width: 100%;
      justify-content: center;
    }
    @media (max-width: 480px) {
      width: 90%;
      flex-direction: column;
      gap: 8px;
    }
    hr {
      top: 0;
      width: 100%;
      display: flex;
      position: absolute;
      height: 4px;
      background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
    }
    .bannerBottom_timer {
      @media (max-width: 780px) {
        display: none;
      }
      #dapp {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        gap: 15px;
        .timer_input {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 5px;
          h3 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            font-size: 25px;
            font-weight: 400;
            color: #ffffff;
            border: 1px solid $red-orange;
            border-radius: 14px;
          }
          h4 {
            font-size: 40px;
            color: tomato;
          }
          span {
            color: #ffffff;
          }
        }
      }
    }
    .bannerBottom_text {
      display: flex;
      align-items: center;
      gap: 20px;
      @media (max-width: 480px) {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }
      p {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        display: flex;
        align-items: center;
        color: #ffffff;
        @media (max-width: 480px) {
          width: 100%;
          text-align: center;
        }
      }
      span {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        opacity: 0.8;
        @media (max-width: 480px) {
          width: 100%;
          text-align: center;
        }
        s {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          opacity: 0.8;
          text-decoration: line-through;
          @media (max-width: 480px) {
            width: 100%;
            text-align: center;
          }
        }
      }
    }

    .btn-comece-blackfriday {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 232.45px;
      height: 40px;
      background-color: $orange;
      @media (max-width: 480px) {
        width: 311px;
      }
      strong {
        margin-right: 0.625rem;
        margin-left: 0.625rem;
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.375rem;
        text-transform: uppercase;
        color: #ffffff;
      }
      &:hover {
        background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
        transition: all ease 0.3s;
      }
    }
  }
}
