.bannerBottom_container {
  width: 100%;
  height: 76px;
  position: fixed;
  display: flex;
  background-color: $dark-700;
  bottom: 0px;
  z-index: 999;
  @media (max-width: 480px) {
    display: none;
  }
  .bannerBottom_box {
    width: 1217px;
    height: auto;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-end;
    gap: 30.82px;
    @media (max-width: 1024px) {
      width: 75%;
      justify-content: space-between;
    }
    @media (max-width: 768px) {
      width: 70%;
      justify-content: space-between;
    }
    @media (max-width: 480px) {
      width: 90%;
      flex-direction: column-reverse;
      gap: 8px;
      padding-top: 15.5px;
      height: 111px;
      align-items: left;
    }
    p {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      display: flex;
      align-items: center;
      color: #ffffff;
    }
    .btn-comece {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 232.45px;
      height: 40px;
      background-color: $orange;
      @media (max-width: 480px) {
        width: 70%;
        margin-right: 100px;
      }
      strong {
        margin-right: 0.625rem;
        margin-left: 0.625rem;
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.375rem;
        text-transform: uppercase;
        color: #ffffff;
      }
      &:hover {
        background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
        transition: all ease 0.3s;
      }
    }
  }
}
