.black-friday {
  .principal {
    height: 840px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../assets/img/blackfriday/BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 40px 0;
    @media (max-width: 1200px) {
      height: 773px;
      background: url(../../assets/img/blackfriday/BG_Tablet.png);
    }
    @media (max-width: 480px) {
      height: 718px;
      background: url(../../assets/img/blackfriday/BG_Mobile.png);
    }
    .principal_container {
      width: 100%;
      max-width: 1216px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 120px;
      @media (max-width: 1280px) {
        width: 90%;
        gap: 40px;
      }
      @media (max-width: 1200px) {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        margin: 0 auto;
      }
      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 0;
        padding: 0;
      }
      .principal_box1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 42px;
        @media (max-width: 1200px) {
          gap: 10px;
        }
        img {
          @media (max-width: 1200px) {
            width: 201px;
          }
        }
      }
      .principal_box2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width: 1200px) {
          margin-top: 37px;
        }
        @media (max-width: 480px) {
          width: 100%;
        }
        h1 {
          width: 520px;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 45px;
          letter-spacing: 0.05em;
          text-align: center;
          color: #ffffff;
          text-transform: uppercase;
          margin-bottom: 24px;
          @media (max-width: 1200px) {
            font-size: 30px;
            line-height: 42px;
            width: 514px;
          }
          @media (max-width: 480px) {
            width: 100%;
            font-size: 21px;
            line-height: 29px;
            width: 335px;
          }
        }
        p {
          width: 254px;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
          margin-bottom: 24px;
          text-transform: uppercase;
          @media (max-width: 1200px) {
            font-size: 16px;
            line-height: 24px;
            width: 402px;
          }
          @media (max-width: 480px) {
            width: 90%;
          }
        }
        a {
          width: 406px;
          height: 48px;
          display: flex;
          background: transparent;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          border: 2px solid $red-orange;
          border-radius: 25px;
          @media (max-width: 1200px) {
            width: 335px;
          }
          span {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
          }
        }
        #clockdiv {
          display: inline-block;
          font-weight: 100;
          text-align: center;
          & > div {
            padding: 10px;
            border-radius: 3px;
            background: transparent;
            display: inline-block;
            @media (max-width: 480px) {
              padding: 1px;
            }
          }

          div > span {
            width: 80px;
            height: 80px;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
            background: transparent;
            display: flex;
            border-radius: 14px;
            border: 1px solid $red-orange;
            color: #fff;
            font-size: 30px;
            @media (max-width: 480px) {
              padding: 15px;
              width: 30px;
              height: 30px;
            }
            @media (max-width: 400px) {
              padding: 15px;
              width: 25px;
              height: 25px;
            }
          }
        }

        .smalltext {
          padding-top: 5px;
          font-size: 16px;
          color: #fff;
          text-align: center;
        }
      }
    }
  }

  .staage {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background: #020202;
    @media (max-width: 1200px) {
      height: 707px;
    }
    @media (max-width: 480px) {
      height: 512px;
      padding-top: 56px;
      padding-bottom: 30px;
    }
    .staage_container {
      width: 100%;
      max-width: 1216px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 137px;
      @media (max-width: 1200px) {
        flex-direction: column-reverse;
        gap: 59px;
      }
      @media (max-width: 480px) {
        width: 90%;
      }
      .staage_box1 {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 480px) {
          width: 100%;
        }
        img {
          @media (max-width: 480px) {
            width: 100%;
          }
        }
      }
      .staage_box2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width: 480px) {
          width: 100%;
        }
        h3 {
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 38px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
          margin-bottom: 8px;
          @media (max-width: 480px) {
            font-size: 24px;
            line-height: 28px;
          }
        }
        hr {
          width: 59px;
          height: 3px;
          background: $orange;
          margin-bottom: 40px;
        }
        p {
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          @media (max-width: 1200px) {
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            width: 592px;
          }
          @media (max-width: 480px) {
            width: 100%;
            font-size: 16px;
            line-height: 24px;
            text-align: left;
          }
        }
      }
    }
  }

  .conteudo {
    height: 819px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #020202;
    .conteudo_container {
      width: 100%;
      max-width: 1216px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .conteudo_details {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1220px) {
          display: flex;
          flex-direction: column;
          width: 90%;
          gap: 40px;
        }

        .conteudo_title {
          width: 492px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          z-index: 99;
          @media (max-width: 1200px) {
            width: 100%;
          }
          h3 {
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 49px;
            letter-spacing: 0em;
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
            @media (max-width: 1200px) {
              font-size: 32px;
              line-height: 38.4px;
            }
            @media (max-width: 480px) {
              font-size: 24px;
              line-height: 29.23px;
            }
          }
          p {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: center;
            color: #ffffff;
            @media (max-width: 1200px) {
              font-size: 18px;
              line-height: 27px;
            }
            @media (max-width: 480px) {
              font-size: 16px;
              line-height: 24px;
              width: 204px;
            }
          }
        }
        .conteudo_skills {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 18px;
          .skill_detail {
            width: 339px;
            height: 96px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $dark-700;
            position: relative;
            @media (max-width: 480px) {
              width: 160px;
              height: 104px;
            }
            p {
              width: 285px;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
              @media (max-width: 480px) {
                font-size: 12px;
                line-height: 18px;
                text-align: center;
              }
            }
            img {
              position: absolute;
              top: -22px;
              left: 27px;
              @media (max-width: 480px) {
                left: 15px;
              }
            }
          }
        }
      }

      .s-swiper-black-friday {
        .area-swiper {
          margin-top: 0;
          position: relative;
          .slide-blackfriday {
            width: 100%;
            height: 422px;
            display: flex;
            margin-top: 100px;
            overflow: hidden;
            .swiper-slide {
              width: 270px;
              height: 100%;
              text-align: center;
              font-size: 18px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              -webkit-justify-content: center;
              justify-content: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              -webkit-align-items: center;
              align-items: center;
              img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .actions {
              .swiper-button-next {
                position: absolute;
                right: -30px;
                bottom: 192px;
                z-index: 1;
                width: 100%;
                color: transparent;
                @media (max-width: 1100px) {
                  display: none;
                }
                img {
                  position: absolute;
                  right: 0;
                }
              }
              .swiper-button-prev {
                position: absolute;
                left: -30px;
                bottom: 192px;
                z-index: 1;
                color: transparent;
                width: 100%;
                @media (max-width: 1100px) {
                  display: none;
                }
                img {
                  transform: rotate(180deg);
                  position: absolute;
                  left: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .price {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #020202;
    padding-bottom: 64px;
    @media (max-width: 1200px) {
      height: auto;
      padding: 50px 0;
    }
    @media (max-width: 480px) {
      height: auto;
      padding: 50px 0;
    }
    .price_container {
      width: 100%;
      max-width: 1216px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
      @media (max-width: 1200px) {
        flex-direction: column;
      }
      @media (max-width: 480px) {
        width: 90%;
      }
      .price_card {
        width: 487px;
        height: 889px;
        background: linear-gradient(357.92deg, rgba(243, 114, 44, 0.67) 3.7%, rgba(243, 114, 44, 0) 121.3%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width: 480px) {
          width: 100%;
        }
        .price_discount {
          width: 353px;
          height: 47px;
          border: 1px solid $dark-100;
          border-radius: 56px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 14px;
          margin-bottom: 24px;
          @media (max-width: 480px) {
            width: 90%;
          }
          p {
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 31px;
            letter-spacing: 0em;
            text-align: center;
            color: #ffffff;
            @media (max-width: 480px) {
              font-size: 12px;
              line-height: 20px;
            }
          }
        }
        h4 {
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 29px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
          margin-bottom: 48px;
        }
        .price_list {
          width: 353px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          margin-bottom: 48px;
          @media (max-width: 480px) {
            width: 90%;
          }
          .price_list_item {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
            p {
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
            }
          }
        }
        .price_numbers {
          display: flex;
          flex-direction: column;
          gap: 4px;
          justify-content: center;
          align-items: center;
          margin-bottom: 48px;
          h3 {
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: center;
            color: #ffffff;
          }
          .price_number1 {
            display: flex;
            gap: 5px;
            p {
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px;
              letter-spacing: 0em;
              text-align: center;
              color: #ffffff;
              opacity: 0.8;
              text-decoration: line-through;
            }
            span {
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px;
              letter-spacing: 0em;
              text-align: center;
              color: #ffffff;
              opacity: 0.8;
              text-decoration: none;
            }
          }
          .price_number2 {
            display: flex;
            gap: 5px;
            align-items: center;
            margin-bottom: 48px;
            strong {
              font-size: 58px;
              font-style: normal;
              font-weight: 700;
              line-height: 58px;
              letter-spacing: 0em;
              text-align: center;
              color: #ffffff;
            }
            span {
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px;
              letter-spacing: 0em;
              text-align: center;
              color: #ffffff;
              opacity: 0.8;
              text-decoration: none;
            }
          }
          .price_button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 12px;
            a {
              width: 300px;
              height: 48px;
              border: 2px solid $red-orange;
              border-radius: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              text-decoration: none;
              span {
                // font-family: 'night-outline';
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: center;
                color: #ffffff;
                text-transform: uppercase;
              }
            }
            p {
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
            }
          }
        }
      }
    }
  }

  .cursos {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #090807;
    @media (max-width: 1200px) {
      height: 1092px;
    }
    @media (max-width: 480px) {
      height: 1493px;
    }
    .faixa_sup {
      width: 100%;
      position: absolute;
      top: 0;
      overflow: hidden;
      @media (max-width: 480px) {
        display: none;
      }
    }
    .faixa_sup_tablet {
      @media (max-width: 4000px) {
        display: none;
      }
      @media (max-width: 820px) {
        display: flex;
        position: absolute;
        top: 0;
        width: 100%;
      }
      @media (max-width: 480px) {
        display: none;
      }
    }
    .faixa_sup_mobile {
      display: none;
      @media (max-width: 480px) {
        display: flex;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    .faixa_inf {
      width: 100%;
      position: absolute;
      bottom: 0;
      overflow: hidden;
      @media (max-width: 480px) {
        display: none;
      }
    }
    .faixa_inf_tablet {
      @media (max-width: 4000px) {
        display: none;
      }
      @media (max-width: 820px) {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      @media (max-width: 480px) {
        display: none;
      }
    }
    .faixa_inf_mobile {
      display: none;
      @media (max-width: 480px) {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
    .cursos_container {
      width: 100%;
      max-width: 1216px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 32px;
      @media (max-width: 480px) {
        width: 90%;
      }
      .cursos_title {
        width: 635px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 35px;
        @media (max-width: 480px) {
          width: 100%;
        }
        h3 {
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: 49px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
          @media (max-width: 480px) {
            font-size: 20px;
            line-height: 24px;
          }
          span {
            color: $orange;
          }
        }
      }
      .cursos_info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        @media (max-width: 1200px) {
          flex-direction: column;
        }
        .cursos_info_details {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 29px;
          @media (max-width: 480px) {
            flex-direction: column;
            margin-bottom: 80px;
          }
          .cursos_text {
            width: 320px;
            h4 {
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: 29px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
              margin-bottom: 4px;
            }
            span {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 18px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
              opacity: 0.7;
            }
            p {
              margin-top: 16px;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
              opacity: 0.8;
              margin-bottom: 16px;
            }
            strong {
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
              text-decoration: line-through;
            }
          }
        }
        .cursos_info_details2 {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 29px;
          @media (max-width: 1200px) {
            flex-direction: row-reverse;
          }
          @media (max-width: 480px) {
            flex-direction: column;
          }
          .cursos_text {
            width: 320px;
            h4 {
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: 29px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
              margin-bottom: 4px;
            }
            span {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 18px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
              opacity: 0.7;
            }
            p {
              margin-top: 16px;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
              opacity: 0.8;
              margin-bottom: 16px;
            }
            strong {
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
              text-decoration: line-through;
            }
          }
        }
      }
    }
  }

  .form {
    height: 898px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: $dark-900;
    @media (max-width: 480px) {
      height: 734px;
      padding: 30px 0;
    }
    .form_container {
      width: 100%;
      max-width: 1216px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media (max-width: 480px) {
        width: 90%;
      }
      h3 {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        margin-bottom: 36px;
        text-transform: uppercase;
        @media (max-width: 820px) {
          text-align: center;
        }
        @media (max-width: 480px) {
          font-size: 24px;
          line-height: 29px;
          text-align: center;
        }
      }
      p {
        width: 502px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        opacity: 0.8;
        margin-bottom: 39px;
        @media (max-width: 480px) {
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          width: 100%;
        }
        span {
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
          @media (max-width: 480px) {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
      .form_box {
        display: flex;
        flex-direction: column;
        span {
          width: 200px;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 21px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          margin-bottom: 5px;
          padding-left: 0;
          cursor: auto;
        }
        input {
          width: 284px;
          height: 48px;
          background: $dark-800;
          border: 1px solid #dadae1;
          margin-top: 5px;
          margin-bottom: 3px;
          color: #ffffff;
          padding-left: 16px;
          @media (max-width: 480px) {
            width: 320px;
          }
        }
        .error_message {
          font-size: 15px;
          color: red;
          font-weight: lighter;
        }
        .error_input {
          border: 1px solid red;
        }
        .loader {
          border: 2px solid rgba(0, 0, 0, 0.1);
          border-left-color: #fff;
          height: 30px;
          width: 30px;
          margin-right: 10px;
          border-radius: 50%;
          animation: spin 1s linear infinite;
        }
        @keyframes spin {
          to {
            transform: rotate(360deg);
          }
        }
        .cta-modal-button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
          border: none;
        }
        button {
          width: 300px;
          height: 48px;
          border: 2px solid $red-orange;
          border-radius: 25px;
          color: #ffffff;
          background: transparent;
          text-transform: uppercase;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: center;
          cursor: pointer;
          margin-top: 37px;
          @media (max-width: 480px) {
            width: 335px;
            height: 56px;
            border-radius: 6px;
          }
          strong {
            color: #ffffff;
          }
          &:disabled {
            border: 2px solid $red-orange;
            border-radius: 25px;
            background: transparent;
            cursor: not-allowed;
            strong {
              color: rgb(96, 93, 93);
            }
          }
        }
        .button--loading {
          .button__text {
            visibility: hidden;
            opacity: 0;
          }

          &::after {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border: 4px solid transparent;
            border-top-color: #ffffff;
            border-radius: 50%;
            animation: button-loading-spinner 1s ease infinite;
          }
        }
        @keyframes button-loading-spinner {
          from {
            transform: rotate(0turn);
          }

          to {
            transform: rotate(1turn);
          }
        }
      }
      h4.terms {
        width: 400px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        color: #ffffff;
        text-align: center;
        margin-top: 20px;
        @media (max-width: 480px) {
          width: 335px;
          height: 56px;
          border-radius: 6px;
        }
        a {
          text-decoration: none;
          color: #ffffff;
          font-weight: 700;
          display: inline;
        }
      }
    }
  }

  .aceite-termo {
    min-width: 100%;
    display: flex;
    margin-top: 33px;
    align-items: center;
    justify-content: flex-start;
  }

  label {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    position: relative;
    color: #ffffff;
    padding-left: 36px;
  }

  label:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: -2px;
    color: #ffffff;
  }

  input[type='checkbox'] {
    display: none;
  }

  .aceite-termo label:before {
    background: url('../../assets/img/blackfriday/Check.png') left center no-repeat;
    margin-top: 0px;
    cursor: pointer;
  }

  input[type='checkbox']:checked + label:before {
    background: url('../../assets/img/blackfriday/Checked.png') left center no-repeat;
    cursor: pointer;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  .banner-bottom {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    background: $dark-800;
    z-index: 999999;
    @media (max-width: 480px) {
      height: 110px;
      background-color: rgb(29, 29, 29);
    }
    .banner-bottom_container {
      width: 100%;
      max-width: 1216px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 62px;
      @media (max-width: 480px) {
        width: 90%;
        flex-direction: column;
        gap: 0px;
      }
      .banner_text {
        display: flex;
        flex-direction: column;
        gap: 2px;
        @media (max-width: 480px) {
          align-items: center;
          justify-content: center;
        }
        h3 {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          @media (max-width: 480px) {
            text-align: center;
          }
        }
        .banner_price {
          display: flex;
          align-items: center;
          gap: 3px;
          span {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: center;
            color: #ffffff;
          }
          p {
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: 0em;
            text-align: center;
            color: #ffffff;
          }
        }
      }
      .banner_buttom {
        a {
          width: 241px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color: #ffffff;
          border: 2px solid $red-orange;
          border-radius: 25px;
          text-transform: uppercase;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: center;
          @media (max-width: 820px) {
            width: 300px;
            font-size: 14px;
          }
          span {
            // font-family: 'night-outline';
          }
        }
      }
    }
  }

  #clockdiv2 {
    display: flex;
    justify-content: center;
    font-weight: 100;
    text-align: center;
    @media (max-width: 480px) {
      display: none;
    }
    & > div {
      padding: 10px;
      border-radius: 3px;
      background: transparent;
      display: inline-block;
    }

    div > span {
      width: 60px;
      height: 60px;
      align-items: center;
      justify-content: center;
      background: transparent;
      display: flex;
      border-radius: 14px;
      border: 1px solid $red-orange;
      font-size: 20px;
      color: #fff;
      @media (max-width: 480px) {
        padding: 15px;
        width: 35px;
        height: 35px;
      }
    }
    .smalltext {
      font-size: 15px;
      margin-top: 5px;
      color: #fff;
      text-align: center;
    }
  }
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $dark-900;
    padding-bottom: 30px;
    margin-bottom: 110px;
    @media (max-width: 1220px) {
      position: relative;
      padding: 30px 0;
    }
    @media (max-width: 480px) {
      margin-bottom: 0px;
    }
    .footer_container {
      width: 100%;
      max-width: 1216px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .footer_items {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 48px;
        @media (max-width: 1440px) {
          padding-top: 20px;
        }
        @media (max-width: 1220px) {
          display: flex;
          flex-direction: column;
          gap: 30px;
        }
        @media (max-width: 550px) {
          width: 90%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding-top: 10px;
        }
        p {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
        }
        .footer_links {
          display: flex;
          align-items: center;
          @media (max-width: 550px) {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          span {
            color: #ffffff;
            opacity: 0.7;
            padding: 0 8px;
          }
          a {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: -0.005em;
            text-align: center;
            color: #ffffff;
            opacity: 0.7;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }
  }

  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $dark-900;
    padding-bottom: 30px;
    margin-bottom: 110px;
    @media (max-width: 1220px) {
      position: relative;
      padding: 30px 0;
    }
    @media (max-width: 480px) {
      margin-bottom: 0px;
    }
    .footer_container {
      width: 100%;
      max-width: 1216px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .footer_items {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 48px;
        @media (max-width: 1440px) {
          padding-top: 20px;
        }
        @media (max-width: 1220px) {
          display: flex;
          flex-direction: column;
          gap: 30px;
        }
        @media (max-width: 550px) {
          width: 90%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding-top: 10px;
        }
        p {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
        }
        .footer_links {
          display: flex;
          align-items: center;
          @media (max-width: 550px) {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          span {
            color: #ffffff;
            opacity: 0.7;
            padding: 0 8px;
          }
          a {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: -0.005em;
            text-align: center;
            color: #ffffff;
            opacity: 0.7;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}
