.s-banner-top {
  width: 100%;
  height: 100%;
  background: $dark-900;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    height: 92px;
    margin-top: 100px;
  }
  @media (max-width: 480px) {
    display: none;
  }
  .container-buy {
    width: 1217px;
    height: 92px;
    background: $dark-700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 144px;
    margin-bottom: 80px;
    @media (max-width: 768px) {
      width: 704px;
      height: 92px;
      justify-content: center;
    }
    @media (max-width: 480px) {
      display: none;
    }
    .container-buy-title {
      padding: 0 0 0 24.57px;
      p {
        font-family: Proxima Nova;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        @media (max-width: 768px) {
          display: none;
          left: 24px;
        }
      }
    }
    .container-buy-button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 24.57px 0 0;
      gap: 32.49px;
      p {
        font-family: Proxima Nova;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
      }
      .btn-comece {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 232.45px;
        height: 48px;
        background-color: $orange;

        strong {
          margin-right: 0.625rem;
          margin-left: 0.625rem;

          font-style: normal;
          font-weight: 600;
          font-size: 1rem;
          line-height: 1.375rem;
          text-transform: uppercase;

          color: #ffffff;
        }

        &:hover {
          background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
          transition: all ease 0.3s;
        }
      }
    }
  }
}

.cards {
  width: 100%;
  height: 100%;
  background: $dark-900;
  display: flex;
  align-items: center;
  .cards-container {
    width: 1217px;
    height: auto;
    position: relative;
    display: flex;
    margin: 0 auto;
    @media (max-width: 768px) {
      flex-direction: column;
    }

    .cards-options {
      height: auto;
      @media (max-width: 768px) {
        display: none;
      }
      ul {
        width: 260px;
        @media (max-width: 768px) {
          width: auto;
          display: flex;
          padding-bottom: 56px;
          gap: 24px;
          overflow: hidden;
          align-items: center;
          justify-content: center;
        }
        li a {
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;
          padding: 0 0 16.19px 0;
          color: #ffffff;
          cursor: pointer;
          @media (max-width: 768px) {
            width: auto;
            background-color: $dark-700;
            border: 2px solid $orange;
            border-radius: 48px;
            padding: 16px 13px;
            text-align: center;
          }
        }
        .category-link {
          display: inline-block;
          color: #fff;
          text-decoration: none;
        }
        .category-link::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: $orange;
          transition: width 0.3s;
        }
        .category-link:hover::after {
          width: 30px;
          //transition: width .3s;
        }
      }
    }
    .cards-box {
      display: flex;
      flex-direction: column;
      @media (max-width: 768px) {
        margin: 0 auto;
      }
      .cards-bg {
        width: 900px;
        height: 400px;
        background: url(../../assets/img/Banner-Joel-desktop.png) no-repeat;
        position: relative;
        margin-bottom: 40px;
        margin-left: 60px;
        @media (max-width: 768px) {
          width: 704px;
          height: 407px;
          margin-left: 0;
          background: url(../../assets/img/Banner-Joel-Tablet.png);
        }
        @media (max-width: 480px) {
          width: 327px;
          height: 407px;
          background: url(../../assets/img/Banner-Joel-Mobile.png) no-repeat;
        }
        .cards-content {
          width: 490px;
          height: auto;
          padding: 65px 0 108px 48px;
          @media (max-width: 480px) {
            width: 100%;
            padding: 36.93px 0 37px 31.81px;
          }
          .cards-tag {
            display: flex;
            align-items: center;
            padding-bottom: 16.43px;
            .tag {
              width: 80.28px;
              height: 25.64px;
              background-color: rgba(66, 69, 77, 0.5);
              backdrop-filter: blur(35.4622px);
              border-radius: 45.2143px;

              display: flex;
              align-items: center;
              justify-content: center;

              span {
                font-style: normal;
                font-weight: bold;
                font-size: 0.75rem;
                line-height: 0.9375rem;
                letter-spacing: 0.02em;
                color: $yellow-orange;
              }
            }
            p {
              width: 148px;
              height: 22px;
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 22px;
              color: #ffffff;
              padding-left: 16.12px;
            }
          }
        }
        .mentors {
          display: flex;
          flex-direction: column;
          gap: 14px;
          padding-bottom: 27px;
          h3 {
            width: 131px;
            height: 48px;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 150%;
            color: #ffffff;
          }
          p {
            width: 490.01px;
            height: 54px;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 150%;
            color: #ffffff;
            opacity: 0.8;
            @media (max-width: 768px) {
              width: 380.75px;
              height: 81px;
            }
            @media (max-width: 480px) {
              width: 248.06px;
              height: auto;
              font-size: 14px;
            }
          }
        }
        .cards-btns {
          display: flex;
          align-items: center;
          @media (max-width: 480px) {
            width: 232.55px;
            height: auto;
            flex-direction: column;
            gap: 20px;
          }
          .start-btn {
            padding-right: 20.45px;
            .btn-comece {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 232.45px;
              height: 48px;
              background-color: $orange;
              strong {
                margin-right: 0.625rem;
                margin-left: 0.625rem;
                font-style: normal;
                font-weight: 600;
                font-size: 1rem;
                line-height: 1.375rem;
                text-transform: uppercase;
                color: #ffffff;
              }
              &:hover {
                background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
                transition: all ease 0.3s;
              }
            }
          }
          .trailer-btn {
            display: flex;
            align-items: center;
            @media (max-width: 480px) {
              width: 100%;
              height: auto;
              justify-content: flex-start;
            }
            img {
              cursor: pointer;
            }
            p {
              position: static;
              width: 50.95px;
              height: 20.08px;
              font-style: normal;
              font-weight: bold;
              font-size: 15px;
              line-height: 150%;
              text-align: center;
              color: #ffffff;
            }
          }
        }
      }

      .cards-bg2 {
        width: 900px;
        height: 400px;
        background: url(../../assets/img/Banner-Micha-Desktop.png) no-repeat;
        position: relative;
        margin-bottom: 40px;
        margin-left: 60px;
        @media (max-width: 768px) {
          width: 704px;
          height: 407px;
          margin-left: 0;
          background: url(../../assets/img/Banner-Micha-Tablet.png);
        }
        @media (max-width: 480px) {
          width: 327px;
          height: 407px;
          background: url(../../assets/img/Banner-Micha-Mobile.png) no-repeat;
        }
        .cards-content {
          width: 490px;
          height: auto;
          padding: 65px 0 108px 48px;
          @media (max-width: 480px) {
            width: 100%;
            padding: 36.93px 0 37px 31.81px;
          }
          .cards-tag {
            display: flex;
            align-items: center;
            padding-bottom: 16.43px;
            .tag2 {
              width: 94px;
              height: 25.64px;
              background-color: rgba(66, 69, 77, 0.5);
              backdrop-filter: blur(35.4622px);
              border-radius: 45.2143px;

              display: flex;
              align-items: center;
              justify-content: center;

              span {
                font-style: normal;
                font-weight: bold;
                font-size: 0.75rem;
                line-height: 0.9375rem;
                letter-spacing: 0.02em;
                color: $red;
              }
            }
            p {
              width: 148px;
              height: 22px;
              font-style: normal;
              font-weight: bold;
              font-size: 18px;
              line-height: 22px;
              color: #ffffff;
              padding-left: 16.12px;
            }
          }
        }
        .mentors {
          display: flex;
          flex-direction: column;
          gap: 14px;
          padding-bottom: 27px;
          h3 {
            width: 226px;
            height: 48px;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 150%;
            color: #ffffff;
          }
          p {
            width: 490.01px;
            height: 54px;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 150%;
            color: #ffffff;
            opacity: 0.8;
            @media (max-width: 768px) {
              width: 380.75px;
              height: 81px;
            }
            @media (max-width: 480px) {
              width: 248.06px;
              height: auto;
              font-size: 14px;
            }
          }
        }
        .cards-btns {
          display: flex;
          align-items: center;
          @media (max-width: 480px) {
            width: 232.55px;
            height: auto;
            flex-direction: column;
            gap: 20px;
          }
          .start-btn {
            padding-right: 20.45px;
            .btn-comece {
              display: flex;
              align-items: center;
              justify-content: center;

              width: 232.45px;
              height: 48px;
              background-color: $orange;

              strong {
                margin-right: 0.625rem;
                margin-left: 0.625rem;

                font-style: normal;
                font-weight: 600;
                font-size: 1rem;
                line-height: 1.375rem;
                text-transform: uppercase;

                color: #ffffff;
              }

              &:hover {
                background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
                transition: all ease 0.3s;
              }
            }
          }
          .trailer-btn {
            display: flex;
            align-items: center;
            @media (max-width: 480px) {
              width: 100%;
              height: auto;
              justify-content: flex-start;
            }
            img {
              cursor: pointer;
            }
            p {
              position: static;
              width: 50.95px;
              height: 20.08px;
              font-style: normal;
              font-weight: bold;
              font-size: 15px;
              line-height: 150%;
              text-align: center;
              color: #ffffff;
            }
          }
        }
      }

      .card-soon {
        width: 904px;
        height: 572.82px;
        display: flex;
        align-items: center;
        background: $dark-700;
        margin-bottom: 71.07px;
        margin-left: 60px;
        @media (max-width: 768px) {
          width: 704px;
          margin-left: 0;
        }
        @media (max-width: 480px) {
          width: 327.38px;
          height: auto;
          flex-direction: column;
        }
        .soon-img {
          width: 383.65px;
          height: 100%;
          background: url(../../assets/img/winderson-soon.png) no-repeat;
          @media (max-width: 768px) {
            width: 264.12px;
            background: url(../../assets/img/whinderson-soon-tablet.png) no-repeat;
          }
          @media (max-width: 480px) {
            width: 327.38px;
            height: 245.77px;
            background: url(../../assets/img/whindersson-soon-mobile.png) no-repeat;
          }
        }
        .card-soon-content {
          width: 384px;
          padding-top: 56.53px;
          padding-left: 32.35px;
          @media (max-width: 480px) {
            width: 327.38px;
            height: auto;
            padding-left: 0;
          }
          .cards-tag {
            display: flex;
            align-items: center;
            padding-bottom: 16.13px;
            @media (max-width: 480px) {
              padding-left: 14.38px;
            }
            .tag3 {
              width: 102px;
              height: 25.64px;
              background-color: rgba(66, 69, 77, 0.5);
              backdrop-filter: blur(35.4622px);
              border-radius: 45.2143px;

              display: flex;
              align-items: center;
              justify-content: center;
              span {
                font-style: normal;
                font-weight: bold;
                font-size: 1rem;
                line-height: 1.5rem;
                letter-spacing: 0.02em;
                color: #ffffff;
                text-transform: uppercase;
              }
            }
            p {
              width: 148px;
              height: 22px;
              font-style: normal;
              font-weight: bold;
              font-size: 18px;
              line-height: 22px;
              color: #ffffff;
              padding-left: 16.12px;
            }
          }
          .card-soon-name {
            width: 100%;
            padding-bottom: 64.1px;
            @media (max-width: 480px) {
              padding-left: 14.38px;
            }
            h3 {
              position: absolute;
              width: 376.85px;
              height: 39px;
              font-style: normal;
              font-weight: bold;
              font-size: 32px;
              line-height: 39px;
              color: #ffffff;
            }
          }
          .card-soon-form {
            width: 100%;
            p {
              width: 327px;
              height: 76px;
              font-style: normal;
              font-weight: normal;
              font-size: 20px;
              line-height: 140%;
              color: #ffffff;
              padding-bottom: 48.1px;
              @media (max-width: 480px) {
                padding-left: 14.38px;
              }
            }
            .form-soon {
              display: flex;
              flex-direction: column;
              gap: 24px;
              #email,
              #nome {
                background: black;
                opacity: 0.3;
                color: #fff;
                width: 100%;
                max-width: 385px;
                padding: 13px;
                font-size: 17px;
                @media (max-width: 600px) {
                  max-width: 100%;
                }
                @media (max-width: 480px) {
                  width: 90%;
                  margin: 0 auto;
                }
              }
            }
            .aceite-termo {
              margin-top: -10px;
              display: flex;
              @media (max-width: 480px) {
                width: 90%;
                margin: 0 auto;
              }
            }

            input#aceite {
              background: url('../../assets/img/icon-checkbox.webp') no-repeat;
              width: 20px;
              height: 20px;
              padding: 0;
              background-size: 23px;
              cursor: pointer;
              margin-right: 14px;
              @media (max-width: 480px) {
                width: 10%;
                margin: 0 auto;
              }
            }
            input#aceite:checked {
              background: url('../../assets/img/icon-checked.png') no-repeat;
              width: 20px;
              height: 20px;
              padding: 0;
              bottom: -13px;
              margin-right: 14px;
            }
            label.aceite {
              width: 293px;
              height: 60px;
              top: 0;
              font-weight: normal;
              font-size: 14px;
              line-height: 140%;
              color: #86868d;
              @media (max-width: 480px) {
                width: 100%;
                height: auto;
              }
            }
            .submit {
              color: #fff;
              background: -o-linear-gradient(182.74deg, $red-orange -0.71%, $red 130.41%);
              background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
              padding: 12px 29px;
              width: 100%;
              max-width: 380px;
              font-size: 16px;
              text-align: center;
              font-weight: bold;
              &:hover {
                background: -o-linear-gradient(182.74deg, $red -0.71%, $red-orange 130.41%);
                background: linear-gradient(267.26deg, $red -0.71%, $red-orange 130.41%);
                -webkit-transition: all ease 0.3s;
                -o-transition: all ease 0.3s;
                transition: all ease 0.3s;
              }
              @media (max-width: 600px) {
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.card-options-mb {
  display: none;
  @media (max-width: 768px) {
    display: block;
    block-size: border-box;
  }
  @media (max-width: 480px) {
    display: block;
  }
}
