//Colors / brand
$orange: #f3722c;
$red: #f94144;
$yellow-orange: #f8961e;
$red-orange: #ff9d57;
$maize: #f9c74f;

$seer-stone: #0093dc;
$spirit-stone: #00e7f9;
$soul-light: linear-gradient(54.54deg, #0093dc -1.26%, #00e7f9 95.85%);

//Colors / gray-scale
$dark-900: #000000;
$dark-800: #0f1116;
$dark-700: #202227;
$dark-600: #313338;
$dark-500: #424449;
$dark-400: #53555a;
$dark-300: #64666b;
$dark-200: #75777c;
$dark-100: #86888d;
