.s-contentpage {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 160px;
    padding-bottom: 300px;
    @media (max-width: 1000px) {margin-bottom: 100px; margin-top: 0px;}
    @media (max-width: 480px) {height: auto; padding: 60px 0; margin-top: 0;}
    .contentpage-container {
        width: 100%;
        max-width: 1216px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 1024px) {width: 94%;}
        @media (max-width: 1000px) {width: 90%;}
        .contentpage-title {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 48px;
            @media (max-width: 820px) {margin-bottom: 0;}
            @media (max-width: 480px) {margin-top: 56px; margin-bottom: 0;}
            h4 {
                width: 100%;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 19px;
                letter-spacing: 0.04em;
                text-align: left;
                background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-transform: uppercase;
                margin-bottom: 12px;
                @media (max-width: 480px) {text-align: center;}
            }
            h3 {
                width: 100%;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: 49px;
                letter-spacing: 0em;
                text-align: left;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-bottom: 24px;
                @media (max-width: 1000px) {font-size: 32px; line-height: 38px;}
                @media (max-width: 480px) {width: 100%; font-size: 32px; line-height: 38px; text-align: center;}
            }
            p {
                width: 100%;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: left;
                color: #FFFFFF;
                opacity: 0.8;
                @media (max-width: 480px) {text-align: center; font-size: 16px; line-height: 24px; width: 229px;}
            }
        }
        .contentpage-box {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
            @media (max-width: 820px) {flex-direction: column; justify-content: center; padding-top: 64px;}
            @media (max-width: 480px) {padding-top: 56px;}
            .contentpage-nav {
                display: flex;
                ::-webkit-scrollbar {display: none;}
                nav {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    
                    @media (max-width: 820px) {flex-direction: row; overflow: scroll;}
                    a {
                        cursor: pointer;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: rgba(255, 255, 255, 0.7);
                        position: relative;
                        @media (max-width: 820px) {display: inline-block;
                            width:initial;
                            float:left;
                            white-space: nowrap;}
                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: 0px;
                            width: 0px;
                            height: 2px;
                            background: linear-gradient(267.26deg, #ff9d57 -0.71%, #f94144 130.41%);
                            transition: width 0.3s;                            
                        }
                        &.active,
                        &:hover {
                        color: #fff;
                        &:after {
                            width: 24px;
                        }
                        }
                    }
                }
            }
            .contentpage-cards-box {
                width: 904px;
                display: flex;
                flex-wrap: wrap;
                gap: 16px;
                @media (max-width: 820px) {width: 100%; align-items: center; margin-top: 32px; justify-content: center;}
                @media (max-width: 480px) {justify-content: center;}
                .contentpage-card {
                    width: 211px;
                    height: 329px;
                    position: relative;
                    @media (max-width: 820px) {width: 211px; height: 329px;}
                    @media (max-width: 480px) {width: 160px; height: 250px;}
                    a { 
                        cursor: pointer;
                    }
                    
                    .img-card {
                        overflow: hidden;
                        position: relative;
                        img {
                            width: 100%;
                            height: 100%;
                            transition: transform .5s;
                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                    .card-tag {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 80px;
                        height: 21px;
                        background: $dark-700;
                        border-radius: 36.31px;
                        top: 15px;
                        left: 22px;
                        @media (max-width: 480px) {width: 80px; top: 155px;}
                        span {
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 13.4px;
                            letter-spacing: 0.02em;
                            text-align: center;
                            @media (max-width: 480px) {font-size: 10px;}
                        }
                    }
                    .card-title {
                        width: 90%;
                        position: absolute;
                        top: 240px;
                        left: 16px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @media (max-width: 820px) {top: 270px; left: 50%; right: 50%; transform: translate(-50%, -50%);}
                        @media (max-width: 480px) {top: 200px;}
                        h4 {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: center;
                            color: #FFFFFF;
                            @media (max-width: 820px) {font-size: 18px;}
                            @media (max-width: 480px) {font-size: 14px;}
                        }
                    }
                    
                }
            }
        }
    }
}