@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

#dy-popup-overlay-natal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  z-index: 99999999;
}
.dy-popup-container-natal {
  position: relative;
  z-index: 99999;
  display: flex;
  width: 100%;
  max-width: 659px;
  height: 641px;
  border-radius: 4px;
  background: url(../../assets/img/BG-Overlay-Natal-desk.png);
  margin: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s;
  opacity: 1;
  animation-name: dy-fadein;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  // @media (max-width: 1024px) {width:469px; height: 641px;}
  @media (max-width: 1024px) {
    width: 90%;
    height: 641px;
  }

  .dy-popup-close-natal {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
    height: 20px;
    transition: opacity 0.2s;
    cursor: pointer;
    z-index: 999999;
    &:hover {
      opacity: 1;
    }
    &:before,
    &:after {
      position: absolute;
      left: 10px;
      content: '';
      height: 20px;
      width: 2px;
      background-color: #fff;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  .overlay-box1-natal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 1024px) {
      width: 100%;
    }
    @media (max-width: 480px) {
      width: 100%;
      z-index: 999;
      display: flex;
      margin-top: -30px;
    }
    .overlay-natal-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-bottom: 35px;
      span {
        color: #ffffff;
      }
    }
    h2 {
      width: 393px;
      font-family: 'Fredoka One';
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: 48px;
      letter-spacing: 0em;
      text-align: center;
      color: #ffffff;
      margin-bottom: 32px;
      @media (max-width: 1024px) {
        width: 324px;
        font-size: 20px;
        line-height: 24px;
      }
      @media (max-width: 480px) {
        width: 200px;
        text-align: center;
      }
    }
    p {
      width: 579px;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: center;
      color: #ffffff;
      opacity: 0.9;
      margin-bottom: 32px;
      @media (max-width: 1024px) {
        width: 324px;
        font-size: 14px;
        line-height: 21px;
      }
      @media (max-width: 480px) {
        width: 90%;
        text-align: center;
        margin-bottom: 32px;
      }
    }
    a {
      width: 345px;
      height: 50px;
      border-radius: 4px;
      background: linear-gradient(0deg, #e42b2e 0%, $red 100%);
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 480px) {
        width: 90%;
      }
      span {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
      }
    }
  }
}
