#dy-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  z-index: 99999999;
  @media (max-width: 480px) {
    flex-direction: column;
  }
}
.exit-overlay-principal {
  width: 100%;
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s;
  animation-name: dy-fadein;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  @media (max-width: 1024px) {
    width: 738px;
    height: 646px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 480px) {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 40px;
  }

  .dy-popup-close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
    height: 20px;
    transition: opacity 0.2s;
    cursor: pointer;
    z-index: 99;
    &:hover {
      opacity: 1;
    }
    &:before,
    &:after {
      position: absolute;
      left: 10px;
      content: '';
      height: 20px;
      width: 2px;
      background-color: #fff;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  .overlay-box1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 1024px) {
      width: 100%;
    }
    @media (max-width: 480px) {
      width: 100%;
      z-index: 999;
      display: flex;
      margin-top: -30px;
    }
    h4 {
      width: 378px;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.04em;
      text-align: left;
      background: linear-gradient(267.26deg, #ff9d57 -0.71%, #f94144 130.41%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 8px;
      @media (max-width: 1024px) {
        width: 324px;
      }
      @media (max-width: 480px) {
        width: 100%;
        text-align: center;
      }
    }
    h2 {
      width: 378px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 29px;
      letter-spacing: 0em;
      text-align: left;
      color: #ffffff;
      margin-bottom: 16px;
      @media (max-width: 1024px) {
        width: 324px;
        font-size: 20px;
        line-height: 24px;
      }
      @media (max-width: 480px) {
        width: 200px;
        text-align: center;
      }
    }
    p {
      width: 378px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      color: #ffffff;
      opacity: 0.8;
      margin-bottom: 40px;
      @media (max-width: 1024px) {
        width: 324px;
        font-size: 14px;
        line-height: 21px;
      }
      @media (max-width: 480px) {
        width: 250px;
        text-align: center;
        margin-bottom: 0;
      }
    }

    .infos_email_overlay {
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: relative;
      @media (max-width: 1024px) {
        width: 324px;
      }
      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        gap: 13px;
        margin-top: 24px;
        align-items: center;
        justify-content: center;
        gap: 16px;
      }
      input {
        width: 377px;
        height: 48px;
        padding-left: 24px;
        background: #1a1a1a;
        color: #ffffff;
        @media (max-width: 1024px) {
          width: 324px;
        }
        @media (max-width: 480px) {
          width: 305px;
          height: 56px;
          border-radius: 6px;
        }
      }
      span {
        width: 378px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #86868d;
        @media (max-width: 1024px) {
          width: 324px;
        }
      }
      p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #86868d;
        margin-top: 16px;
      }
      input.error_input_overlay {
        border: 1px solid red;
      }
      small.error_message_overlay {
        display: flex;
        font-size: 15px;
        color: red;
      }
      .fa-check {
        color: #ffffff;
        font-size: 20px;
        -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
        -o-animation: fadein 1s; /* Opera < 12.1 */
        animation: fadein 1s;
      }
      @keyframes fadein {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      .cta-modal-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .loader {
          border: 2px solid rgba(0, 0, 0, 0.1);
          border-left-color: #fff;
          height: 30px;
          width: 30px;
          margin-right: 10px;
          border-radius: 50%;
          animation: spin 1s linear infinite;
        }
      }
      button {
        width: 377px;
        height: 48px;
        background: #f3722c;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        cursor: pointer;
        strong {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffffff;
        }
        @media (max-width: 1024px) {
          width: 324px;
        }
        @media (max-width: 480px) {
          width: 335px;
          height: 56px;
          border-radius: 6px;
          margin-bottom: 32px;
        }
        &:disabled {
          color: black;
          background: rgba(243, 114, 44, 0.38);
          cursor: default;
          strong {
            color: black;
          }
        }
      }
    }
  }
}
.overlay-box2 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 1024px) {
    width: 100%;
    height: 100%;
  }
  .bg_overlay_desk {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    @media (max-width: 1024px) {
      display: none;
    }
    @media (max-width: 480px) {
      display: none;
    }
  }
  .bg_overlay_tablet {
    display: none;
    @media (max-width: 1024px) {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
    }
    @media (max-width: 480px) {
      display: none;
    }
  }
  .bg_overlay_mobile {
    display: none;
    @media (max-width: 1024px) {
      display: none;
    }
    @media (max-width: 480px) {
      display: flex;
    }
  }

  .box2-images {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1024px) {
      width: 100%;
    }
    img {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      @media (max-width: 480px) {
        width: 80%;
      }
    }
  }
}
