@font-face {
  font-family: 'proxima-it';
  src: url(../../assets/fonts/ProximaNova-RegularIt.ttf), url(../../assets/fonts/ProximaNova-RegularIt.eot),
    url(../../assets/fonts/ProximaNova-RegularIt.woff), url(../../assets/fonts/ProximaNova-RegularIt.woff2),
    url(../../assets/fonts/ProximaNova-RegularIt.svg);
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'proxima-bd';
  src: url(../../assets/fonts/ProximaNova-Bold.eot), url(../../assets/fonts/ProximaNova-Bold.eot),
    url(../../assets/fonts/ProximaNova-Bold.woff), url(../../assets/fonts/ProximaNova-Bold.woff2),
    url(../../assets/fonts/ProximaNova-Bold.svg);
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'proxima-lt';
  src: url(../../assets/fonts/ProximaNova-Light.eot), url(../../assets/fonts/ProximaNova-Light.eot),
    url(../../assets/fonts/ProximaNova-Light.woff), url(../../assets/fonts/ProximaNova-Light.woff2),
    url(../../assets/fonts/ProximaNova-Light.svg);
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'proxima-sbd';
  src: url(../../assets/fonts/ProximaNova-Semibold.eot), url(../../assets/fonts/ProximaNova-Semibold.eot),
    url(../../assets/fonts/ProximaNova-Semibold.woff), url(../../assets/fonts/ProximaNova-Semibold.woff2),
    url(../../assets/fonts/ProximaNova-Semibold.svg);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'RNS Miles';
  src: url(../../assets/fonts/RNSMiles-Medium.eot);
  src: local('RNS Miles Medium'), local('RNSMiles-Medium'),
      url(../../assets/fonts/RNSMiles-Medium.eot?#iefix) format('embedded-opentype'),
      url(../../assets/fonts/RNSMiles-Medium.woff2) format('woff2'),
      url(../../assets/fonts/RNSMiles-Medium.woff) format('woff'),
      url(../../assets/fonts/RNSMiles-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'RNS Miles';
  src: url(../../assets/fonts/RNSMiles-BlackItalic.eot);
  src: local('RNS Miles Black Italic'), local('RNSMiles-BlackItalic'),
      url(../../assets/fonts/RNSMiles-BlackItalic.eot?#iefix) format('embedded-opentype'),
      url(../../assets/fonts/RNSMiles-BlackItalic.woff2) format('woff2'),
      url(../../assets/fonts/RNSMiles-BlackItalic.woff) format('woff'),
      url(../../assets/fonts/RNSMiles-BlackItalic.ttf) format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'RNS Miles';
  src: url(../../assets/fonts/RNSMiles-RegularItalic.eot);
  src: local('RNS Miles Regular Italic'), local('RNSMiles-RegularItalic'),
      url(../../assets/fonts/RNSMiles-RegularItalic.eot?#iefix) format('embedded-opentype'),
      url(../../assets/fonts/RNSMiles-RegularItalic.woff2) format('woff2'),
      url(../../assets/fonts/RNSMiles-RegularItalic.woff) format('woff'),
      url(../../assets/fonts/RNSMiles-RegularItalic.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'RNS Miles';
  src: url(../../assets/fonts/RNSMiles-LightItalic.eot);
  src: local('RNS Miles Light Italic'), local('RNSMiles-LightItalic'),
      url(../../assets/fonts/RNSMiles-LightItalic.eot?#iefix) format('embedded-opentype'),
      url(../../assets/fonts/RNSMiles-LightItalic.woff2) format('woff2'),
      url(../../assets/fonts/RNSMiles-LightItalic.woff) format('woff'),
      url(../../assets/fonts/RNSMiles-LightItalic.ttf) format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'RNS Miles';
  src: url(../../assets/fonts/RNSMiles-ThinItalic.eot);
  src: local('RNS Miles Thin Italic'), local('RNSMiles-ThinItalic'),
      url(../../assets/fonts/RNSMiles-ThinItalic.eot?#iefix) format('embedded-opentype'),
      url(../../assets/fonts/RNSMiles-ThinItalic.woff2) format('woff2'),
      url(../../assets/fonts/RNSMiles-ThinItalic.woff) format('woff'),
      url(../../assets/fonts/RNSMiles-ThinItalic.ttf) format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'RNS Miles';
  src: url(../../assets/fonts/RNSMiles-MediumItalic.eot);
  src: local('RNS Miles Medium Italic'), local('RNSMiles-MediumItalic'),
      url(../../assets/fonts/RNSMiles-MediumItalic.eot?#iefix) format('embedded-opentype'),
      url(../../assets/fonts/RNSMiles-MediumItalic.woff2) format('woff2'),
      url(../../assets/fonts/RNSMiles-MediumItalic.woff) format('woff'),
      url(../../assets/fonts/RNSMiles-MediumItalic.ttf) format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'RNS Miles XBold';
  src: url(../../assets/fonts/RNSMiles-XBoldItalic.eot);
  src: local('RNS Miles XBold Italic'), local('RNSMiles-XBoldItalic'),
      url(../../assets/fonts/RNSMiles-XBoldItalic.eot?#iefix) format('embedded-opentype'),
      url(../../assets/fonts/RNSMiles-XBoldItalic.woff2) format('woff2'),
      url(../../assets/fonts/RNSMiles-XBoldItalic.woff) format('woff'),
      url(../../assets/fonts/RNSMiles-XBoldItalic.ttf) format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'RNS Miles';
  src: url(../../assets/fonts/RNSMiles-BoldItalic.eot);
  src: local('RNS Miles Bold Italic'), local('RNSMiles-BoldItalic'),
      url(../../assets/fonts/RNSMiles-BoldItalic.eot?#iefix) format('embedded-opentype'),
      url(../../assets/fonts/RNSMiles-BoldItalic.woff2) format('woff2'),
      url(../../assets/fonts/RNSMiles-BoldItalic.woff) format('woff'),
      url(../../assets/fonts/RNSMiles-BoldItalic.ttf) format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'RNS Miles';
  src: url(../../assets/fonts/RNSMiles-Bold.eot);
  src: local('RNS Miles Bold'), local('RNSMiles-Bold'),
      url(../../assets/fonts/RNSMiles-Bold.eot?#iefix) format('embedded-opentype'),
      url(../../assets/fonts/RNSMiles-Bold.woff2) format('woff2'),
      url(../../assets/fonts/RNSMiles-Bold.woff) format('woff'),
      url(../../assets/fonts/RNSMiles-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'RNS Miles';
  src: url(../../assets/fonts/RNSMiles-Regular.eot);
  src: local('RNS Miles Regular'), local('RNSMiles-Regular'),
      url(../../assets/fonts/RNSMiles-Regular.eot?#iefix) format('embedded-opentype'),
      url(../../assets/fonts/RNSMiles-Regular.woff2) format('woff2'),
      url(../../assets/fonts/RNSMiles-Regular.woff) format('woff'),
      url(../../assets/fonts/RNSMiles-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RNS Miles';
  src: url(../../assets/fonts/RNSMiles-Light.eot);
  src: local('RNS Miles Light'), local('RNSMiles-Light'),
      url(../../assets/fonts/RNSMiles-Light.eot?#iefix) format('embedded-opentype'),
      url(../../assets/fonts/RNSMiles-Light.woff2) format('woff2'),
      url(../../assets/fonts/RNSMiles-Light.woff) format('woff'),
      url(../../assets/fonts/RNSMiles-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RNS Miles XBold';
  src: url(../../assets/fonts/RNSMiles-XBold.eot);
  src: local('RNS Miles XBold'), local('RNSMiles-XBold'),
      url(../../assets/fonts/RNSMiles-XBold.eot?#iefix) format('embedded-opentype'),
      url(../../assets/fonts/RNSMiles-XBold.woff2) format('woff2'),
      url(../../assets/fonts/RNSMiles-XBold.woff) format('woff'),
      url(../../assets/fonts/RNSMiles-XBold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'RNS Miles';
  src: url(../../assets/fonts/RNSMiles-Black.eot);
  src: local('RNS Miles Black'), local('RNSMiles-Black'),
      url(../../assets/fonts/RNSMiles-Black.eot?#iefix) format('embedded-opentype'),
      url(../../assets/fonts/RNSMiles-Black.woff2) format('woff2'),
      url(../../assets/fonts/RNSMiles-Black.woff) format('woff'),
      url(../../assets/fonts/RNSMiles-Black.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'RNS Miles';
  src: url(../../assets/fonts/RNSMiles-Thin.eot);
  src: local('RNS Miles Thin'), local('RNSMiles-Thin'),
      url(../../assets/fonts/RNSMiles-Thin.eot?#iefix) format('embedded-opentype'),
      url(../../assets/fonts/RNSMiles-Thin.woff2) format('woff2'),
      url(../../assets/fonts/RNSMiles-Thin.woff) format('woff'),
      url(../../assets/fonts/RNSMiles-Thin.ttf) format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'gotham';
  src: url(../../assets/fonts/Gotham-Black.otf);
}
@font-face {
  font-family: 'gotham-it';
  src: url(../../assets/fonts/Gotham-BlackIta.otf);
}
@font-face {
  font-family: 'gotham-bd';
  src: url(../../assets/fonts/Gotham-Bold.otf);
}
@font-face {
  font-family: 'strretchsans';
  src: url(../../assets/fonts/STRRETCHSANSFREE.ttf);
}

body {
  font-family: 'proxima-sbd';
  font-style: normal;
}
p,
label {
  font-family: 'proxima-lt' !important;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
  font-family: 'proxima-bd';
  font-style: normal;
}
