footer {
  background-color: transparent;
  .container {
    background: transparent;

  }
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid $dark-700;
    @media (max-width: 820px) {
      flex-direction: column;
      justify-content: center;
    }
    .left {
      display: flex;
      padding-top: 51.57px;
      position: relative;
      @media (max-width: 820px) {
        padding-bottom: 0;
      }
    }
  }
  .copy {
    display: flex;
    flex-direction: column;
    padding-top: 51.57px;
    position: relative;
    @media (max-width: 820px) {
      padding-top: 24px;
      padding-bottom: 57px;
    }
    a {
      color: rgba(255, 255, 255, 0.7);
      @media (max-width: 480px) {
        font-size: 12px;
      }
    }
    .links {
      display: flex;
      @media (max-width: 415px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    .center {
      display: flex;
      position: relative;
      justify-content: flex-end;
      @media (max-width: 820px) {
        padding-top: 24px;
        padding-bottom: 0;
        justify-content: center;
      }
      span {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: right;
        color: $dark-100;
        @media (max-width: 480px) {
          text-align: center;
          font-size: 12px;
        }
      }
    }
  }
  .snipet-container {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 87px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 9000;
    @media (max-width: 480px) {
      right: 20px;
      bottom: 20px;
    }
  }
  .fa-whatsapp {
    color: #ffffff;
  }
  .snipet-container-icon {
    margin-top: 16px;
  }
}
