.s-perguntas {
  padding-top: 2.3125rem;
  .container {
    background: transparent;
  }
  .top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media (max-width: 480px) {
      padding-top: 30px;
    }
    .titulo {
      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 3.5rem;
        line-height: 3.6875rem;
        letter-spacing: -0.01em;
        color: #ffffff;
        margin-top: 3.0625rem;
      }
    }

    .redes-sociais {
      @media (max-width: 768px) {
        text-align: center;
      }
      span {
        font-style: normal;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #ffffff;
      }

      ul {
        display: flex;
        margin-top: 1rem;

        li {
          margin-right: 2rem;

          &:last-child {
            margin-right: 0;
          }

          a {
            .fab {
              color: #fff;
              font-size: 1.0625rem;
              transition: all ease 0.3s;

              &:hover {
                color: $orange;
                transition: all ease 0.3s;
              }
            }
          }

          span {
            display: none;
          }
        }
      }
    }
  }

  .faq {
    margin-top: 92px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 8.625rem;
    position: relative;

    .left {
      width: 100%;
      max-width: 592px;

      .descricao {
        display: flex;
        margin-bottom: 2.0625rem;

        img {
          margin-right: 1rem;
        }

        h3 {
          font-style: normal;
          font-weight: 600;
          font-size: 1.125rem;
          line-height: 25px;

          letter-spacing: -0.005em;

          color: #ffffff;
        }
      }

      .card {
        background-color: $dark-700;
        border-radius: 6px;
        padding: 20px 23px 19px 24px;
        margin-bottom: 1rem;
        overflow: hidden;
        cursor: pointer;

        &:last-child {
          margin-bottom: 0;
        }

        .titulo {
          display: flex;
          justify-content: space-between;

          h4 {
            font-style: normal;
            font-weight: 600;
            font-size: 1.125rem;
            line-height: 25px;
            letter-spacing: -0.005em;

            color: #ffffff;
          }

          .arrow {
            width: 24px;
            height: 24px;
            background-color: $dark-600;
            border-radius: 3px;

            display: flex;
            align-items: center;
            justify-content: center;

            img {
              transition: all ease 0.3s;
            }
          }
        }

        .subtitulo {
          display: none;
          p {
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 1.4375rem;
            letter-spacing: -0.005em;
            color: rgba(255, 255, 255, 0.7);
            margin-top: 1rem;
          }
        }

        &.active {
          .titulo {
            img {
              transform: rotate(180deg);
              transition: all ease 0.3s;
              filter: invert(44%) sepia(88%) saturate(684%) hue-rotate(342deg) brightness(101%) contrast(91%);
            }
          }

          .subtitulo {
            display: block;
            animation: slideDown 0.6s forwards;
          }
        }
      }
    }

    .right {
      width: 100%;
      max-width: 592px;

      // &::after {
      //   content: '';
      //   width: 66px;
      //   height: 66px;
      //   background: url('./assets/img/staage-circle.svg') no-repeat;
      //   position: absolute;
      //   bottom: -30px;
      //   left: 47%;
      // }

      .descricao {
        display: flex;
        margin-bottom: 2.0625rem;

        img {
          margin-right: 1rem;
        }

        h3 {
          font-style: normal;
          font-weight: 600;
          font-size: 1.125rem;
          line-height: 25px;

          letter-spacing: -0.005em;

          color: #ffffff;
        }
      }

      .card {
        background-color: $dark-700;
        border-radius: 6px;
        padding: 20px 23px 19px 24px;
        margin-bottom: 1rem;
        overflow: hidden;
        cursor: pointer;

        &:last-child {
          margin-bottom: 0;
        }

        .titulo {
          display: flex;
          justify-content: space-between;

          h4 {
            font-style: normal;
            font-weight: 600;
            font-size: 1.125rem;
            line-height: 25px;
            letter-spacing: -0.005em;

            color: #ffffff;
          }

          .arrow {
            width: 24px;
            height: 24px;
            background-color: $dark-600;
            border-radius: 3px;

            display: flex;
            align-items: center;
            justify-content: center;

            img {
              transition: all ease 1.3s;
            }
          }
        }

        .subtitulo {
          display: none;

          p {
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 1.4375rem;
            letter-spacing: -0.005em;
            color: rgba(255, 255, 255, 0.7);
            margin-top: 1rem;
          }
        }

        &.active {
          .titulo {
            img {
              transform: rotate(180deg);
              transition: all ease 0.3s;
              filter: invert(44%) sepia(88%) saturate(684%) hue-rotate(342deg) brightness(101%) contrast(91%);
            }
          }

          .subtitulo {
            display: block;
            animation: slideDown 0.6s forwards;
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .faq {
      .left {
        max-width: 560px;
      }

      .right {
        max-width: 560px;
      }
    }
  }

  @media (max-width: 1100px) {
    .faq {
      .left {
        max-width: 510px;
      }

      .right {
        max-width: 510px;
      }
    }
  }

  @media (max-width: 1050px) {
    .faq {
      .left {
        max-width: 490px;
      }

      .right {
        max-width: 490px;
      }
    }
  }

  @media (max-width: 1024px) {
    .faq {
      .left {
        max-width: 480px;
      }

      .right {
        max-width: 480px;
      }
    }
  }

  @media (max-width: 990px) {
    .faq {
      .left {
        max-width: 455px;
      }

      .right {
        max-width: 455px;
      }
    }
  }

  @media (max-width: 835px) {
    .top {
      .titulo {
        img {
          display: none;
        }

        h2 {
          font-size: 2.5rem;
          margin-top: 0;
          max-width: 318px;
          line-height: 2.625rem;
        }
      }
    }

    .faq {
      margin-top: 2.5rem;
      display: flex;
      flex-direction: column;
      padding-bottom: 6.5rem;

      .left {
        max-width: 100%;
      }

      .right {
        max-width: 100%;
        margin-top: 2rem;
      }
    }
  }

  @media (max-width: 600px) {
    padding-top: 0px;

    .top {
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;

      .titulo {
        margin-top: 50px;
        h2 {
          text-align: center;
          max-width: 100%;
        }
      }

      .redes-sociais {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }

    .faq {
      padding-bottom: 80px;

      .left {
        .card {
          .titulo {
            h4 {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 375px) {
    .faq {
      .left {
        .card {
          .titulo {
            h4 {
              max-width: 236px;
            }
          }
        }
      }

      .right {
        .card {
          .titulo {
            h4 {
              max-width: 232px;
            }
          }
        }
      }
    }
  }
}
