@keyframes arrow-animation {
  0%,
  40% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  70% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
}
.s-informativo {
  display: none;
  padding-top: 0;
  padding-bottom: 0;

  &.active {
    background: linear-gradient(267.26deg, rgba(255, 157, 87, 0.8) -0.71%, rgba(249, 65, 68, 0.8) 130.41%) !important;
    backdrop-filter: blur(24px);

    padding-top: 6px;
    padding-bottom: 6px;

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
  }

  .container {
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
  }

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #ffffff;
  }

  button {
    width: 32px;
    height: 32px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.25rem;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0;
    top: 0;
  }

  @media (max-width: 600px) {
    &.active {
      display: none;
    }
  }
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  padding-top: 3.125rem;
  &.main {
    height: auto;
  }
  &.fixed-menu {
    background-color: rgba(0, 0, 0, 1);
    padding-top: 46px;
    padding-bottom: 16px;
    transition: all ease 0.3s;
  }
  &.transparent-header {
    background-color: rgba(0, 0, 0, 0);
  }

  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1600px;
    background: transparent;
    @media (max-width: 1480px) {
      max-width: 1216px;
    }
    .logo-natal {
      width: 120px;
    }
  }

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .btn-nav-action {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-style: normal;
      font-weight: 600;
      font-size: 0.9375rem;
      line-height: 1.3125rem;
      color: #ffffff;
      margin-right: 3.375rem;
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s;
      img {
        margin-right: 1rem;
      }
      &:hover {
        color: $orange;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
      }
    }
    .btn-assine {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-style: normal;
      font-weight: 600;
      font-size: 0.9375rem;
      line-height: 1.3125rem;
      color: #ffffff;
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s;
      img {
        margin-right: 1rem;
        -webkit-animation: arrow-animation 1.5s infinite alternate;
        animation: arrow-animation 1.5s infinite alternate;
      }
      &:hover {
        color: $orange;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
      }
    }
  }
  .menu-button {
    display: none;
  }
  .menu-mobile {
    display: none;
    width: 100%;
    height: 100vh;
    left: 0;
    background: #000;
    position: fixed;
    -webkit-transform: translateY(52%);
    -ms-transform: translateY(52%);
    transform: translateY(52%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0 1.5rem;

    a {
      margin: 2rem 0;
      color: #fff;
      text-transform: uppercase;
    }

    &.active {
      display: block;
    }
  }
}
header.fixed-header {
  background-color: #000;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  padding-bottom: 16px;
  .menu-mobile {
    height: calc(100% - 71px);
  }
}
.menu-opened {
  overflow: hidden;
  header {
    .menu-mobile {
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
      opacity: 1;
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s;
    }
  }
}
@media (max-width: 768px) {
  header {
    nav {
      display: none;
    }
    .menu-button {
      display: block;
    }
  }
}
@media (max-width: 600px) {
  header {
    padding-top: 29px;
  }
}
