.s-banner {
  position: relative;
  padding-top: 103px;
  padding-bottom: 6.15625rem;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .text {
    width: 100%;
    max-width: 584px;
    margin-top: 64px;
    position: relative;
    z-index: 1;

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 6.5rem;
      line-height: 6.1875rem;
      letter-spacing: -0.02em;

      color: #ffffff;
      margin-top: 1.9375rem;
    }

    span {
      display: block;
      margin-top: 1.9375rem;
      max-width: 374px;
      font-style: normal;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1.6875rem;
      color: rgba(255, 255, 255, 0.8);
    }

    .btn-comece {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 281px;
      height: 58px;
      background-color: $orange;
      margin-top: 2.375rem;

      strong {
        margin-right: 0.625rem;
        margin-left: 0.625rem;

        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.375rem;
        text-transform: uppercase;

        color: #ffffff;
      }

      &:hover {
        background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
        transition: all ease 0.3s;
      }
    }

    p {
      margin-top: 2.375rem;
      max-width: 340px;
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.3125rem;
      color: rgba(255, 255, 255, 0.7);

      strong {
        font-weight: 700;
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }

  .imagens {
    display: flex;
    position: absolute;
    width: 1016px;
    height: 730px;
    top: 103px;
    right: 136px;

    img {
      margin-right: 22px;

      &:last-child {
        margin-right: 0;
      }
    }

    .info {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 591px;

      right: 220px;
      bottom: 122px;
      z-index: 1;

      img {
        margin-right: 0;
      }

      a {
        animation: arrow-down 1.5s infinite alternate;
      }
    }
  }

  @media (max-width: 1700px) {
    .imagens {
      right: 47px;
    }
  }

  @media (max-width: 1600px) {
    .imagens {
      right: -7px;
    }
  }

  @media (max-width: 1500px) {
    .imagens {
      right: -56px;
    }
  }

  @media (max-width: 1440px) {
    .imagens {
      right: -121px;
    }
  }

  @media (max-width: 1300px) {
    .imagens {
      right: -167px;
    }
  }

  @media (max-width: 1200px) {
    .imagens {
      right: -224px;

      .info {
        right: 274px;
      }
    }
  }

  @media (max-width: 1100px) {
    .imagens {
      right: -335px;

      .info {
        right: 367px;
      }
    }
  }

  @media (max-width: 990px) {
    .imagens {
      right: -390px;

      .info {
        right: -164px;
        .check {
          display: none;
        }
      }
    }
  }

  @media (max-width: 835px) {
    padding-bottom: 178px;
    .text {
      margin-top: 0.8125rem;
      max-width: 446px;

      h1 {
        font-size: 5rem;
        line-height: 4.75rem;
      }

      span {
        margin-top: 2.625rem;
      }
    }

    .imagens {
      right: -441px;

      .info {
        right: -97px;
        bottom: 181px;
      }
    }
  }

  @media (max-width: 768px) {
    padding-bottom: 4.75rem;
    .imagens {
      width: 575px;
      height: 626px;
      right: -71px;

      .info {
        bottom: 14%;
        left: 78%;
        right: 0;
      }
    }
  }

  @media (max-width: 600px) {
    padding-top: 0;
    padding-bottom: 28px;

    .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
    }

    .text {
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: -143px;

      .square {
        display: none;
      }

      h1 {
        margin-top: 0;
        font-size: 40px;
        text-align: center;
        max-width: 265px;
        line-height: 2.5rem;
      }

      span {
        font-size: 16px;
        text-align: center;
        margin-top: 0.3125rem;
        max-width: 253px;
      }

      p {
        text-align: center;
        margin-top: 1.6875rem;
      }

      .btn-comece {
        &:hover {
          background: $orange;
          transition: none;
        }
      }
    }

    .imagens {
      position: relative;
      width: 629px;
      height: 484px;
      right: 51px;
      top: 82px;

      img {
        margin-right: 0.53125rem;
        height: 100%;
      }

      &:nth-child(3) {
        img {
          margin-right: 0;
        }
      }

      .info {
        display: none;
      }
    }
  }

  @media (max-width: 480px) {
    .text {
      margin-top: -82px;
    }
    .imagens {
      width: 475px;
      height: 343px;
      right: 45px;
    }
  }

  @media (max-width: 375px) {
    .text {
      .btn-comece {
        width: 100%;
      }
    }

    .imagens {
      width: 393px;
      height: 282px;
    }
  }
}

.s-materiais {
  padding-top: 6.15625rem;
  padding-bottom: 3.5625rem;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;

      position: relative;

      &::after {
        content: '';
        width: 2px;
        height: 42px;
        background: url('./assets/img/dots.svg') no-repeat;

        position: absolute;
        left: 210px;
        top: 71px;
      }

      &:nth-child(2) {
        &::after {
          left: 250px;
        }
      }

      &:nth-child(3) {
        margin-top: -20px;

        &::after {
          top: 89px;
        }

        h2 {
          margin-top: 0;
        }
      }

      &:last-child {
        &::after {
          content: none;
        }
      }

      h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.6875rem;

        text-align: center;

        color: #ffffff;
        margin-top: 2.5rem;
      }
    }
  }

  @media (max-width: 1050px) {
    ul {
      li {
        &::after {
          left: 175px;
        }

        &:nth-child(2) {
          &::after {
            left: 222px;
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    ul {
      li {
        &::after {
          left: 167px;
        }

        &:nth-child(2) {
          &::after {
            left: 210px;
          }
        }
      }
    }
  }

  @media (max-width: 990px) {
    ul {
      li {
        &:first-child {
          &::after {
            left: 160px;
          }
        }
        &::after {
          left: 161px;
        }

        &:nth-child(2) {
          &::after {
            left: 209px;
          }
        }

        &:nth-child(3) {
          &::after {
            left: 170px;
          }
        }

        &:nth-child(4) {
          &::after {
            left: 148px;
          }
        }
      }
    }
  }

  @media (max-width: 835px) {
    padding-bottom: 2.09375rem;

    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 60px;
      row-gap: 63px;

      li {
        &:first-child {
          order: 1;

          &::after {
            left: 241px;
          }
        }

        &:nth-child(2) {
          order: 3;

          &::after {
            content: none;
          }
        }

        &:nth-child(3) {
          order: 2;

          &::after {
            left: 241px;
          }
        }

        &:nth-child(4) {
          order: 4;

          &::after {
            left: 241px;
          }
        }

        &:last-child {
          order: 5;
        }
      }
    }
  }

  @media (max-width: 600px) {
    padding-top: 28px;
    padding-bottom: 30.5px;

    ul {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 48px;

      li {
        &::after {
          content: none;
        }

        h2 {
          margin-top: 0.5rem;
          font-size: 1rem;
          br {
            display: none;
          }
        }
      }
    }
  }
}

.s-midias {
  padding-top: 3.5625rem;
  padding-bottom: 5.375rem;

  .video {
    position: relative;
    width: 100%;
    max-width: 1042px;
    height: 585px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      border: 0;
    }

    .img {
      z-index: 2;
    }

    .conteudo {
      width: 100%;
      max-width: 355px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      z-index: 2;

      .play {
        transform: scale(1);
        animation: pulse 2s infinite;
      }

      h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 1.8125rem;
        letter-spacing: -0.005em;
        color: #ffffff;
        max-width: 355px;
        text-align: center;
        margin-top: 1.625rem;
      }
    }

    .trailer {
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.375rem;
      color: #ffffff;
      position: absolute;
      left: 44px;
      bottom: 32px;
      z-index: 2;
    }
  }

  .imprensa {
    display: flex;
    align-items: center;
    margin-top: 6rem;

    span {
      display: flex;
      align-items: center;
      margin-right: 3.4375rem;

      font-style: normal;
      font-weight: bold;
      font-size: 1.125rem;
      line-height: 1.375rem;
      color: rgba(255, 255, 255, 0.8);

      img {
        margin-left: 1.1875rem;
        animation: arrow-right 1.5s infinite alternate;
      }
    }

    ul {
      display: flex;
      align-items: center;

      li {
        margin-right: 4rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .imprensa {
      span {
        margin-right: 45px;
      }

      ul {
        li {
          margin-right: 54px;
        }
      }
    }
  }

  @media (max-width: 1100px) {
    .imprensa {
      ul {
        li {
          margin-right: 40px;
        }
      }
    }
  }

  @media (max-width: 1050px) {
    .video {
      height: 543px;
      iframe {
        height: 100%;
      }
    }
    .imprensa {
      ul {
        li {
          margin-right: 30px;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .imprensa {
      span {
        margin-right: 18px;
      }
    }
  }

  @media (max-width: 990px) {
    .imprensa {
      span {
        margin-right: 2rem;
        font-size: 16px;

        img {
          margin-left: 1.125rem;
        }
      }

      ul {
        li {
          margin-right: 1.4375rem;
        }
      }
    }
  }

  @media (max-width: 835px) {
    padding-top: 2.09375rem;

    .video {
      height: 404px;
    }

    .imprensa {
      span {
        font-size: 0.75rem;
        line-height: 0.9375rem;
        width: 112px;
      }

      ul {
        li {
          margin-right: 37.56px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .imprensa {
      ul {
        li {
          margin-right: 1.285rem;
        }
      }
    }
  }

  @media (max-width: 600px) {
    padding-top: 30.5px;
    padding-bottom: 61px;

    .video {
      height: 183px;
      iframe {
        height: 100%;
      }
      .conteudo {
        .play {
          width: 100px;
          height: 100px;
        }
        h2 {
          font-size: 0.875rem;
          max-width: 194px;
          line-height: 17px;
        }
      }

      .trailer {
        display: none;
      }
    }

    .imprensa {
      flex-direction: column;
      margin-top: 61px;

      span {
        margin-right: 0;
        max-width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
          display: none;
        }
      }

      ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 16px;
        row-gap: 16px;
        margin-top: 16px;

        li {
          margin: 0 auto;
        }
      }
    }
  }
}

.s-aprender {
  padding-top: 6.75rem;
  padding-bottom: 7.25rem;
  position: relative;

  .container {
    display: flex;
  }

  .conteudo {
    width: 100%;
    max-width: 518px;
    @media (max-width: 480px) {
      padding-bottom: 50px;
    }
    .titulo {
      h2 {
        margin-top: 2.125rem;
        font-style: normal;
        font-weight: bold;
        font-size: 3.5rem;
        line-height: 3.6875rem;
        letter-spacing: -0.01em;
        color: #ffffff;
      }
    }

    .modulos {
      margin-top: 45px;
      @media (max-width: 820px) {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
      }
      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      .info {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        &:last-child {
          margin-bottom: 0;
        }

        img {
          margin-right: 2rem;
        }

        .descricao {
          h3 {
            font-style: normal;
            font-weight: 600;
            font-size: 1.125rem;
            line-height: 1.6875rem;
            color: #ffffff;
            @media (max-width: 480px) {
              text-align: left;
            }
          }

          p {
            font-style: normal;
            font-weight: normal;
            font-size: 0.9375rem;
            line-height: 1.375rem;
            letter-spacing: -0.005em;
            color: rgba(255, 255, 255, 0.8);
            margin-top: 8px;
            @media (max-width: 820px) {
              width: 500px;
              text-align: left;
            }
            @media (max-width: 480px) {
              width: 100%;
              text-align: left;
            }
          }
        }
      }
    }
  }

  .imagem {
    position: absolute;
    right: 119px;
    max-width: 841px;
    height: 867px;
    .card {
      position: absolute;
      background: transparent;
      bottom: -100px;
      // margin-bottom: 100vh;
      // margin-top: 110vh;
      left: 0;
    }
  }

  @media (max-width: 1600px) {
    .imagem {
      right: 62px;
      .cards {
        margin-top: 135vh;
      }
    }
  }

  @media (max-width: 1500px) {
    .imagem {
      right: -3px;
    }
  }

  @media (max-width: 1440px) {
    .imagem {
      right: -117px;
    }
  }

  @media (max-width: 1200px) {
    .imagem {
      right: -150px;
    }
  }

  @media (max-width: 1100px) {
    .imagem {
      right: -249px;
    }
  }

  @media (max-width: 1050px) {
    .imagem {
      right: -298px;
    }
  }

  @media (max-width: 1024px) {
    .imagem {
      right: -317px;
    }
  }

  @media (max-width: 990px) {
    .imagem {
      right: -353px;
    }
  }

  @media (max-width: 835px) {
    padding-top: 6.8125rem;
    padding-bottom: 0;

    .container {
      flex-direction: column;
    }

    .conteudo {
      max-width: 100%;

      .titulo {
        h2 {
          font-size: 2.5rem;
        }
      }

      .modulos {
        margin-top: 2.25rem;

        .info {
          &:last-child {
            .descricao {
              p {
                max-width: 570px;
              }
            }
          }
        }
      }
    }

    .imagem {
      position: relative;
      right: 0;
      margin-top: 6.75rem;
      height: 720px;
      z-index: -1;
    }
  }

  @media (max-width: 768px) {
    .imagem {
      height: 677px;
    }
  }

  @media (max-width: 600px) {
    padding-top: 80px;

    .conteudo {
      .titulo {
        img {
          display: none;
        }
        h2 {
          text-align: center;
          margin-top: 0;
        }
      }
    }

    .imagem {
      height: 527px;
    }
  }

  @media (max-width: 560px) {
    .imagem {
      height: 481px;
    }
  }

  @media (max-width: 480px) {
    .imagem {
      height: 407px;
    }
  }

  @media (max-width: 450px) {
    .imagem {
      margin-top: 2.6875rem;
    }
  }

  @media (max-width: 375px) {
    .imagem {
      height: 309px;
    }
  }
}

.s-plataforma {
  position: relative;
  background-color: #17191f;
  padding-top: 7.375rem;
  padding-bottom: 6.5625rem;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      width: 100%;
      max-width: 379px;

      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 3.5rem;
        line-height: 3.6875rem;
        letter-spacing: -0.01em;
        color: #ffffff;
        margin-top: 2.4375rem;
      }
    }

    .right {
      width: 100%;
      max-width: 640px;
      display: flex;
      position: relative;

      p {
        margin-left: 4.9375rem;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #ffffff;

        &::after {
          content: '';
          width: 100px;
          height: 4px;
          background: url('./assets/img/line.svg') no-repeat;
          position: absolute;
          bottom: -25px;
          left: 28%;
        }
      }
    }
  }

  .modulos-plataforma {
    display: flex;
    margin-top: 5.9375rem;

    .item {
      width: 304px;
      height: 295px;
      border: 1px solid #41444d;
      padding: 51px 23px 66px 40px;
      position: relative;

      &::after {
        content: '';
        width: 45px;
        height: 45px;
        background: url('./assets/img/arrow-modulos.svg') no-repeat center center;
        position: absolute;
        right: -23px;
        top: 54px;
        z-index: 1;
      }

      &:last-child {
        &::after {
          content: none;
        }
      }

      .numero {
        span {
          font-style: normal;
          font-weight: normal;
          font-size: 3rem;
          line-height: 3.625rem;
          background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .titulo {
        margin-top: 1.5625rem;
        h3 {
          font-style: normal;
          font-weight: bold;
          font-size: 1.125rem;
          line-height: 1.375rem;
          color: #ffffff;
        }

        p {
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
          line-height: 1.5rem;
          color: rgba(255, 255, 255, 0.8);
          margin-top: 1.5625rem;
        }
      }
    }
  }

  .info-app {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.4375rem;

    .left {
      display: flex;
      align-items: center;

      img {
        margin-right: 1.5rem;
      }

      span {
        font-style: normal;
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: #ffffff;
      }
    }

    ul {
      display: flex;
      margin-left: 4.8125rem;

      li {
        margin-right: 1.5rem;

        a {
          .icon {
            background: url('./assets/img/btn-plataforma.svg') no-repeat 0 0;
            width: 183px;
            height: 64px;
          }

          &:hover {
            .icon {
              background: url('./assets/img/btn-plataforma.svg') no-repeat 0 -120px;
              width: 183px;
              height: 64px;
            }
          }
        }

        &:last-child {
          margin-right: 0;
          a {
            .icon {
              background: url('./assets/img/btn-plataforma.svg') no-repeat -207px 0;
              width: 183px;
              height: 64px;
            }

            &:hover {
              .icon {
                background: url('./assets/img/btn-plataforma.svg') no-repeat -207px -120px;
                width: 183px;
                height: 64px;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 1050px) {
    .top {
      .right {
        img {
          display: none;
        }

        p {
          &::after {
            left: 14%;
          }
        }
      }
    }

    .modulos-plataforma {
      .item {
        padding: 53px 23px 19px 40px;
      }
    }
  }

  @media (max-width: 990px) {
    .top {
      .right {
        img {
          display: none;
        }

        p {
          &::after {
            left: 14%;
          }
        }
      }
    }

    .modulos-plataforma {
      .item {
        padding: 28px 23px 28px 40px;
      }
    }
  }

  @media (max-width: 835px) {
    padding-top: 5.9375rem;
    padding-bottom: 7.0625rem;

    .top {
      .left {
        max-width: 271px;
        img {
          display: none;
        }

        h2 {
          margin-top: 0;
          font-size: 2.5rem;
          line-height: 2.625rem;
        }
      }

      .right {
        width: 414px;

        p {
          margin-left: 0;
          font-size: 0.875rem;

          &::after {
            left: 0;
          }
        }
      }
    }

    .modulos-plataforma {
      margin-top: 6.6875rem;
      flex-direction: column;

      .item {
        width: 100%;
        height: 148px;
        padding: 45px 0 45px 54px;

        display: flex;

        &::after {
          transform: rotate(90deg);
          right: 50%;
          top: 121px;
        }

        .numero {
          margin-right: 3.125rem;
        }

        .titulo {
          margin-top: 0;

          p {
            margin-top: 8px;
          }
        }
      }
    }

    .info-app {
      .left {
        width: 100%;

        span {
          font-size: 16px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .info-app {
      .left {
        span {
          max-width: 149px;
        }
      }
    }
  }

  @media (max-width: 600px) {
    padding-top: 71px;
    padding-bottom: 79px;

    .top {
      justify-content: center;
      flex-direction: column;

      .left {
        h2 {
          text-align: center;
        }
      }

      .right {
        margin-top: 22px;
        p {
          text-align: center;

          &::after {
            left: 39%;
          }
        }
      }
    }

    .modulos-plataforma {
      margin-top: 48px;

      .item {
        padding: 45px 30px 25px 54px;

        .titulo {
          p {
            max-width: 276px;
          }
        }

        &::after {
          right: 17%;
        }
      }
    }

    .info-app {
      margin-top: 64px;
      flex-direction: column;

      .left {
        justify-content: center;
        flex-direction: column;

        img {
          margin-right: 0;
        }

        span {
          max-width: 100%;
          margin-top: 15px;
        }
      }

      ul {
        margin-left: 0;
        margin-top: 32px;

        li {
          a {
            &:hover {
              .icon {
                background: url('./assets/img/btn-plataforma.svg') no-repeat 0 0;
                width: 183px;
                height: 64px;
              }
            }
          }

          &:last-child {
            a {
              &:hover {
                .icon {
                  background: url('./assets/img/btn-plataforma.svg') no-repeat -207px 0;
                  width: 183px;
                  height: 64px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    .modulos-plataforma {
      .item {
        padding: 24px 30px 25px 24px;
      }
    }
  }

  @media (max-width: 375px) {
    .top {
      .right {
        width: 100%;
      }
    }

    .modulos-plataforma {
      .item {
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 23px 31px 37px 54px;

        .titulo {
          margin-top: 16px;
        }

        &::after {
          top: 190px;
        }
      }
    }

    .info-app {
      ul {
        li {
          margin-right: 1.0625rem;
          a {
            .icon {
              background: url('./assets/img/icones-mobile.svg') no-repeat 0 0;
              width: 157px;
              height: 64px;
            }

            &:hover {
              .icon {
                background: url('./assets/img/icones-mobile.svg') no-repeat 0 0;
                width: 157px;
                height: 64px;
                transition: none;
              }
            }
          }

          &:last-child {
            a {
              .icon {
                background: url('./assets/img/icones-mobile.svg') no-repeat -174px 0;
                width: 157px;
                height: 64px;
                transition: none;
              }

              &:hover {
                .icon {
                  background: url('./assets/img/icones-mobile.svg') no-repeat -174px 0;
                  width: 157px;
                  height: 64px;
                  transition: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

.s-sobre {
  padding-top: 8.4375rem;
  padding-bottom: 4.78125rem;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .left {
    width: 410px;
    position: relative;
    display: flex;
    justify-content: space-between;

    .texto {
      span {
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.1875rem;
        letter-spacing: -0.01em;
        color: rgba(255, 255, 255, 0.8);
        margin-top: 3.6875rem;
      }

      h2 {
        max-width: 282px;
        font-style: normal;
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 2.875rem;
        letter-spacing: -0.01em;
        color: #ffffff;
        margin-top: 1.1875rem;
      }
    }

    .actions {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .btn-slide {
        &.swiper-button-disabled {
          pointer-events: none;
          .icon {
            background: url('./assets/img/arrow-left-d.svg') no-repeat;
          }

          &:last-child {
            .icon {
              background: url('./assets/img/arrow-right-d.svg') no-repeat;
            }
          }
        }

        .icon {
          transition: all 0.3s;
          background: url('./assets/img/arrow-left-a.svg') no-repeat;
          width: 37px;
          height: 37px;
        }

        &:last-child {
          .icon {
            transition: all 0.3s;
            background: url('./assets/img/arrow-right-a.svg') no-repeat;
            width: 37px;
            height: 37px;
          }
        }
      }
    }
  }

  .area-slide {
    width: 696px;
    display: flex;

    .slide-gestores {
      width: 100%;
      height: 296px;

      &.gallery-thumbs {
        cursor: pointer;

        .swiper-slide {
          opacity: 0.3;
          transition: all ease 0.3s;

          &:hover {
            opacity: 1;
            transition: all ease 0.3s;
          }

          &.swiper-slide-thumb-active {
            opacity: 1;
          }
          .item {
            display: flex;
            align-items: center;

            img {
              margin-right: 2rem;
            }

            .tester {
              span {
                font-style: normal;
                font-weight: bold;
                font-size: 1rem;
                line-height: 1.4375rem;
                letter-spacing: -0.005em;
                color: $orange;
              }

              p {
                font-style: normal;
                font-weight: normal;
                font-size: 0.875rem;
                line-height: 1.25rem;
                letter-spacing: -0.005em;
                color: #ffffff;
                max-width: 151px;
                margin-top: 0.25rem;
              }
            }
          }
        }
      }
    }

    .slide-conteudo {
      overflow: hidden;
      width: 100%;
      pointer-events: none;

      &.gallery-top {
        overflow: hidden;
        height: 215px;
        margin-top: 1.6875rem;

        .swiper-slide {
          img {
            margin-bottom: 1.9375rem;
          }

          p {
            font-style: normal;
            font-weight: normal;
            font-size: 1.125rem;
            line-height: 1.75rem;
            letter-spacing: -0.005em;
            color: #ffffff;
          }
        }
      }
    }
  }

  .actions {
    display: none;
  }

  @media (max-width: 1100px) {
    .left {
      width: 380px;
    }
    .area-slide {
      width: 620px;
    }
  }

  @media (max-width: 1050px) {
    .area-slide {
      width: 567px;
    }
  }

  @media (max-width: 990px) {
    .left {
      width: 352px;
    }

    .area-slide {
      width: 550px;
    }
  }

  @media (max-width: 835px) {
    padding-top: 5.3125rem;
    position: relative;
    .container {
      flex-direction: column;
    }

    .left {
      width: 468px;

      .texto {
        img {
          display: none;
        }

        span {
          margin-top: 0;
        }

        h2 {
          max-width: 468px;
        }
      }

      .actions {
        display: none;
      }
    }

    .area-slide {
      margin-top: 3.5rem;
      width: 100%;

      .slide-conteudo {
        width: 835px;
        &.gallery-top {
          margin-top: 0;
        }
      }
    }

    .actions {
      display: flex;
      position: absolute;
      right: 43%;
      bottom: 13%;

      .btn-slide {
        &.swiper-button-disabled {
          pointer-events: none;
          .icon {
            background: url('./assets/img/arrow-left-d.svg') no-repeat;
            transform: rotate(-90deg);
          }

          &:last-child {
            .icon {
              background: url('./assets/img/arrow-right-d.svg') no-repeat;
            }
          }
        }

        .icon {
          transition: all 0.3s;
          background: url('./assets/img/arrow-left-a.svg') no-repeat;
          transform: rotate(-90deg);
          width: 37px;
          height: 37px;
        }

        &:last-child {
          .icon {
            transition: all 0.3s;
            background: url('./assets/img/arrow-right-a.svg') no-repeat;
            width: 37px;
            height: 37px;
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    padding-top: 64px;
    padding-bottom: 34.5px;

    .container {
      align-items: center;
      justify-content: center;
    }

    .left {
      .texto {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h2 {
          text-align: center;
        }
      }
    }

    .area-slide {
      flex-direction: column-reverse;

      .slide-conteudo {
        width: 100%;

        &.gallery-top {
          .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            p {
              text-align: center;
              max-width: 330px;
            }
          }
        }
      }

      .slide-gestores {
        width: 100%;
        height: 72px;
        margin-top: 49px;
      }
    }

    .actions {
      display: none;
    }
  }

  @media (max-width: 375px) {
    .left {
      width: 100%;
      .texto {
        h2 {
          font-size: 32px;
          max-width: 313px;
        }
      }
    }
  }
}

.s-fotos {
  padding-top: 4.78125rem;
  padding-bottom: 4.25rem;
  .top {
    display: flex;
    width: 100%;
    position: relative;
    right: 107px;
    .img {
      margin-right: 22px;
      position: relative;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: gray; /* IE */
      transition: all ease 0.3s;
      &:hover {
        -webkit-filter: none;
        filter: none;
        transition: all ease 0.3s;
      }
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(15, 17, 22, 0.1) 71.36%, $dark-800 111.67%);
        opacity: 0.3;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      img {
        max-width: 288px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .bottom {
    display: flex;
    margin-top: 22px;
    width: 100%;
    position: relative;
    left: -252px;
    .img {
      margin-right: 22px;
      position: relative;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: gray; /* IE */
      transition: all ease 0.3s;
      &:hover {
        -webkit-filter: none;
        filter: none;
        transition: all ease 0.3s;
      }
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(15, 17, 22, 0.1) 71.36%, $dark-800 111.67%);
        opacity: 0.3;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      img {
        max-width: 288px;
      }
      &:last-child {
        margin-right: 0;
      }
      .logo {
        position: absolute;
        top: 77px;
        left: 38px;
      }
      .icon {
        position: absolute;
        top: 68px;
        right: 25px;
      }
    }
  }
}

.s-diferenciais {
  padding-top: 4.25rem;
  padding-bottom: 2.3125rem;
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .left {
    width: 100%;
    max-width: 700px;
    .titulo {
      width: 100%;
      max-width: 309px;
      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 3.5rem;
        line-height: 3.6875rem;
        letter-spacing: -0.01em;
        color: #ffffff;
        margin-top: 3.1875rem;
      }
    }
    .imagem {
      width: 100%;
      max-width: 700px;
      height: 509px;
      margin-top: 6.125rem;
      position: relative;
      left: -210px;
      .iphone {
        position: absolute;
        right: 0;
        top: 111px;
      }
    }
  }
  .right {
    width: 100%;
    max-width: 596px;
    li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-bottom: 2px solid $dark-700;
      padding-bottom: 1.875rem;
      padding-top: 3.0625rem;
      position: relative;
      &::after {
        content: '';
        width: 0;
        height: 2px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        bottom: 0;
        background-color: $dark-100;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
      }
      &:hover {
        &::after {
          width: 100%;
          -webkit-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          transition: all ease 0.3s;
        }
        .texto {
          h3 {
            color: #fff;
            -webkit-transition: all ease 0.3s;
            -o-transition: all ease 0.3s;
            transition: all ease 0.3s;
          }
        }
        .img {
          .icon {
            background: url('./assets/img/numbers.svg') no-repeat -195px -1px;
            width: 73px;
            height: 51px;
          }
        }
        &:nth-child(2) {
          .img {
            .icon {
              background: url('./assets/img/numbers.svg') no-repeat -195px -150px;
              width: 86px;
              height: 51px;
            }
          }
        }
        &:nth-child(3) {
          .img {
            .icon {
              background: url('./assets/img/numbers.svg') no-repeat -195px -303px;
              width: 86px;
              height: 51px;
            }
          }
        }
        &:nth-child(4) {
          .img {
            .icon {
              background: url('./assets/img/numbers.svg') no-repeat -195px -454px;
              width: 88px;
              height: 51px;
            }
          }
        }
        &:last-child {
          .img {
            .icon {
              background: url('./assets/img/numbers.svg') no-repeat -195px -453px;
              width: 88px;
              height: 52px;
            }
          }
        }
      }
      &:first-child {
        padding-top: 0;
      }
      .img {
        width: 73px;
        height: 51px;
        margin-right: 2.875rem;
        .icon {
          background: url('./assets/img/numbers.svg') no-repeat 0 0;
          width: 73px;
          height: 52px;
        }
      }
      .texto {
        max-width: 488px;
        h3 {
          font-style: normal;
          font-weight: 600;
          font-size: 1.125rem;
          line-height: 1.3125rem;
          color: $dark-200;
          -webkit-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          transition: all ease 0.3s;
        }
        p {
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
          line-height: 1.4375rem;
          letter-spacing: -0.005em;
          color: #ffffff;
          margin-top: 0.3125rem;
        }
      }
      &:nth-child(2) {
        .img {
          .icon {
            background: url('./assets/img/numbers.svg') no-repeat 0 -151px;
            width: 86px;
            height: 52px;
          }
        }
      }
      &:nth-child(3) {
        .img {
          .icon {
            background: url('./assets/img/numbers.svg') no-repeat 0 -302px;
            width: 86px;
            height: 52px;
          }
        }
      }
      &:nth-child(4) {
        .img {
          .icon {
            background: url('./assets/img/numbers.svg') no-repeat 0 -453px;
            width: 88px;
            height: 52px;
          }
        }
      }
      &:last-child {
        .img {
          .icon {
            background: url('./assets/img/numbers.svg') no-repeat 0 -453px;
            width: 88px;
            height: 52px;
          }
        }
      }
    }
  }
  .imagem-diferenciais {
    display: none;
  }
}
@media (max-width: 1100px) {
  .s-diferenciais {
    .left {
      .imagem {
        left: -141px;
      }
    }
  }
}
@media (max-width: 835px) {
  .s-diferenciais {
    .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .left {
      .titulo {
        max-width: 100%;
        img {
          display: none;
        }
        h2 {
          margin-top: 0;
        }
      }
      .imagem {
        display: none;
      }
    }
    .right {
      margin-top: 4.8125rem;
      max-width: 100%;
      li {
        .texto {
          max-width: 569px;
        }
        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
          &::after {
            content: none;
          }
        }
      }
    }
    .imagem-diferenciais {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      max-width: 100%;
      height: 509px;
      margin-top: 71px;
      position: relative;
      .iphone {
        position: absolute;
        right: 0;
        top: 111px;
      }
    }
  }
}
@media (max-width: 600px) {
  .s-diferenciais {
    padding-top: 50px;
    .left {
      .titulo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        h2 {
          font-size: 32px;
          line-height: 33px;
          max-width: 177px;
          text-align: center;
        }
      }
    }
    .right {
      margin-top: 49px;
    }
    .imagem-diferenciais {
      height: 387px;
      margin-top: 69px;
      .iphone {
        height: 362px;
      }
    }
  }
}
@media (max-width: 480px) {
  .s-diferenciais {
    .imagem-diferenciais {
      width: 100%;
      height: 100%;
      .iphone {
        height: 100%;
      }
    }
  }
}

.s-portal {
  padding-top: 7.125rem;
  padding-bottom: 9.8125rem;
  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 2.375rem;
      letter-spacing: -0.01em;
      color: #ffffff;
    }

    p {
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.5rem;
      color: rgba(255, 255, 255, 0.8);
      margin-top: 1.0625rem;
    }
  }

  .info {
    margin-top: 2.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    @media (max-width: 480px) {
      margin-top: 6rem;
    }
    .left {
      width: 100%;
      max-width: 296px;
      margin-right: 5.0625rem;

      p {
        display: flex;
        flex-direction: column;
        font-weight: 400;
        color: #ffffff;
        font-size: 16px;
        line-height: 24px;
        strong {
          width: 296px;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
        }
      }
    }

    .btn {
      .btn-comece {
        background: url('./assets/img/bg-btns.svg') no-repeat 0 0;
        width: 333px;
        height: 71px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.375rem;
        text-transform: uppercase;
        color: #ffffff;

        &:hover {
          background: url('./assets/img/bg-btns.svg') no-repeat -373px 0;
          width: 333px;
          height: 71px;
        }
      }
    }
  }

  @media (max-width: 835px) {
    padding-top: 6.3125rem;
    padding-bottom: 10.1875rem;

    .top {
      h2 {
        font-size: 2rem;
      }
    }

    .info {
      flex-direction: column-reverse;
      padding-top: 5.3125rem;

      .left {
        margin-right: 0;
        margin-top: 2.4375rem;

        p {
          text-align: center;

          strong {
            text-align: center;
            margin-bottom: 4px;
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    padding-top: 70px;
    padding-bottom: 200px;

    .top {
      h2 {
        text-align: center;
        max-width: 350px;
      }

      p {
        text-align: center;
        max-width: 287px;
        margin-top: 11px;
      }
    }
  }

  @media (max-width: 375px) {
    .info {
      margin-top: 5.625rem;
      .btn {
        width: 100%;
        .btn-comece {
          width: 100%;
        }
      }
    }
  }
}

@keyframes slideDown {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes arrow-down {
  0%,
  40% {
    transform: translateY(0px);
  }

  70% {
    transform: translateY(5px);
  }
}

@keyframes arrow-right {
  0%,
  40% {
    transform: translateX(0);
  }

  70% {
    transform: translateX(5px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}
