@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.l05anstg {
  .l05anstg_principal {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../assets/img/lps/l05anstg/BG-l05anstg-hero-desk.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 40px 0;
    .l05anstg-infinity-stamp {
      position: absolute;
      top: 300px;
      left: 200px;
      z-index: 3;
      @media (max-width: 820px) {
        top: 512px;
        left: 13px;
      }
      @media (max-width: 480px) {
        top: 236px;
        left: 12px;
        width: 62px;
      }
    }
    .l05anstg-infinity-stamp2 {
      position: absolute;
      top: 100px;
      right: 200px;
      z-index: 3;
      @media (max-width: 820px) {
        top: 50px;
        right: 25px;
      }
      @media (max-width: 480px) {
        top: 98px;
        right: 16px;
        width: 62px;
      }
    }
    .l05anstg-star {
      position: absolute;
      top: 20px;
    }
    .l05anstg_principal_container {
      width: 100%;
      max-width: 1216px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 3;
      @media (max-width: 480px) {
        width: 90%;
      }
      .l05anstg_logo_hero {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 84px;
        span {
          height: 100%;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
          margin-bottom: 0;
        }
      }
      span {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0.02em;
        text-align: center;
        color: $maize;
        margin-bottom: 8px;
        @media (max-width: 480px) {
          font-size: 16px;
          line-height: 22px;
        }
      }
      h1 {
        font-family: 'Fredoka One', cursive;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        margin-bottom: 24px;
        @media (max-width: 820px) {
          font-size: 48px;
          line-height: 48px;
        }
        @media (max-width: 480px) {
          width: 302px;
          font-size: 40px;
          line-height: 48px;
          margin-bottom: 40px;
        }
      }
      p {
        width: 696px;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        color: rgba(255, 255, 255, 0.85);
        @media (max-width: 820px) {
          width: 580px;
          font-size: 18px;
          line-height: 27px;
        }
        @media (max-width: 480px) {
          width: 100%;
          font-size: 16px;
          line-height: 24px;
        }
        strong {
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: center;
          color: rgba(255, 255, 255, 0.85);
          @media (max-width: 820px) {
            font-size: 18px;
            line-height: 27px;
          }
          @media (max-width: 480px) {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
      #clockdiv {
        display: inline-block;
        font-weight: 100;
        text-align: center;
        margin-bottom: 32px;
        @media (max-width: 480px) {
          width: 100%;
        }
        & > div {
          padding: 10px;
          border-radius: 3px;
          background: transparent;
          display: inline-block;
          @media (max-width: 480px) {
            padding: 0 5px;
          }
        }
        div > span {
          font-family: 'Fredoka One', cursive;
          width: 80px;
          height: 80px;
          align-items: center;
          justify-content: center;
          margin-top: 50px;
          background: transparent;
          display: flex;
          border-radius: 14px;
          color: #fff;
          font-size: 48px;
          line-height: 48px;
          @media (max-width: 480px) {
            padding: 15px;
            width: 70px;
            height: 70px;
          }
          @media (max-width: 360px) {
            padding: 15px;
            width: 50px;
            height: 50px;
          }
        }
        .smalltext {
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 16px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
        }
      }
      a {
        width: 362px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(0deg, #e42b2e 0%, $red 100%);
        margin-bottom: 192px;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 4px;
        &:hover {
          background: linear-gradient(0deg, #bc2022 100%, $red 0%);
          transition: all ease 0.3s;
        }
        @media (max-width: 480px) {
          width: 100%;
        }
        span {
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
          margin-bottom: 0;
        }
      }
    }
  }

  .l05anstg_staage {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    position: relative;
    padding: 40px 0;
    .l05anstg_staage_container {
      width: 100%;
      max-width: 1216px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 79px;
      @media (max-width: 820px) {
        flex-direction: column-reverse;
      }
      @media (max-width: 480px) {
        width: 90%;
        gap: 40px;
      }
      .l05anstg_staage_box2 {
        width: 592px;
        @media (max-width: 480px) {
          width: 100%;
        }
        h3 {
          font-family: 'Fredoka One';
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: 40px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
          margin-bottom: 50px;
          @media (max-width: 480px) {
            font-size: 28px;
            line-height: 33.6px;
            margin-bottom: 24px;
          }
        }
        p {
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          opacity: 0.85;
          @media (max-width: 480px) {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }

  .l05anstg_gifts {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../assets/img/lps/l05anstg/BG-l05anstg-gifts-desk.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 40px 0;
    .l05anstg_gifts_layer {
      width: 100%;
      height: 100%;
      position: absolute;
      background: black;
      opacity: 0.85;
      z-index: 2;
    }
    .l05anstg_gifts_container {
      width: 100%;
      max-width: 1216px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 3;
      padding-bottom: 99px;
      @media (max-width: 480px) {
        width: 90%;
      }
      .l05anstg_gifts_title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin-bottom: 70px;
        @media (max-width: 820px) {
          flex-direction: column;
        }
        @media (max-width: 480px) {
          gap: 24px;
        }
        h3 {
          width: 584px;
          font-family: 'Fredoka One';
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: 60px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          @media (max-width: 820px) {
            width: 454px;
            font-size: 32px;
            line-height: 48px;
            text-align: center;
          }
          @media (max-width: 480px) {
            width: 100%;
            font-size: 28px;
            line-height: 42px;
          }
        }
        p {
          width: 592px;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: left;
          color: #eeeeee;
          @media (max-width: 820px) {
            width: 688px;
            font-size: 18px;
            line-height: 27px;
            text-align: center;
          }
          @media (max-width: 480px) {
            width: 100%;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
      .l05anstg_gifts_cards {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
        justify-content: center;
        @media (max-width: 480px) {
          width: 100%;
        }
        .l05anstg_card {
          width: 100%;
          height: auto;
          background: #280102;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          position: relative;
          gap: 70px;
          padding: 40px;
          @media (max-width: 820px) {
            width: 688px;
            flex-direction: column;
            gap: 24px;
          }
          @media (max-width: 480px) {
            width: 100%;
          }
          img {
            margin-bottom: 32px;
          }
          .l05anstg_card_price {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 32px;
            margin-bottom: 32px;
            @media (max-width: 820px) {
              flex-direction: column;
              gap: 0;
            }
            h4 {
              width: 451px;
              font-family: 'Fredoka One';
              font-size: 32px;
              font-style: normal;
              font-weight: 400;
              line-height: 48px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
              @media (max-width: 820px) {
                width: 100%;
              }
              @media (max-width: 480px) {
                width: 100%;
                font-size: 24px;
                line-height: 36px;
              }
            }
            span {
              font-family: 'Fredoka One';
              font-size: 32px;
              font-style: normal;
              font-weight: 400;
              line-height: 48px;
              letter-spacing: 0em;
              text-align: left;
              color: $dark-100;
              text-decoration: line-through;
              @media (max-width: 820px) {
                width: 100%;
              }
            }
          }
          p {
            width: 808px;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;
            opacity: 0.85;
            @media (max-width: 820px) {
              width: 608px;
              font-size: 18px;
              line-height: 27px;
            }
            @media (max-width: 480px) {
              width: 100%;
            }
          }
          .gift_stamp {
            position: absolute;
            top: 0;
            right: 0;
            @media (max-width: 480px) {
              width: 140px;
            }
          }
        }
      }
    }
  }
}

.l05anstg_price {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../assets/img/lps/l05anstg/BG-l05anstg-price-desk.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: -140px;
  z-index: 3;
  @media (max-width: 820px) {
    background: url(../../assets/img/lps/l05anstg/BG-l05anstg-price-tablet.png);
    background-repeat: no-repeat;
    margin-top: -100px;
  }
  @media (max-width: 480px) {
    background: url(../../assets/img/lps/l05anstg/BG-l05anstg-price-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -100px;
  }
  .l05anstg_price_container {
    width: 100%;
    max-width: 1216px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    z-index: 3;
    padding-top: 323px;
    padding-bottom: 176px;
    @media (max-width: 820px) {
      flex-direction: column;
      padding-top: 200px;
      gap: 40px;
    }
    @media (max-width: 480px) {
      width: 90%;
      gap: 32px;
      margin-bottom: 50px;
    }
    .l05anstg_price_text {
      width: 696px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      @media (max-width: 480px) {
        width: 100%;
      }
      h3 {
        width: 100%;
        font-family: 'Fredoka One';
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: 0em;
        text-align: left;
        color: $red;
        text-transform: uppercase;
        @media (max-width: 820px) {
          font-size: 32px;
          line-height: 48px;
          text-align: center;
          margin-bottom: 46px;
        }
        @media (max-width: 480px) {
          font-size: 28px;
          line-height: 33.6px;
          text-align: center;
          margin-bottom: 32px;
        }
      }
      p {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: $dark-800;
        @media (max-width: 820px) {
          font-size: 18px;
          line-height: 27px;
        }
        @media (max-width: 480px) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    .l05anstg_price_card {
      width: 488px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      box-shadow: 0px 16px 14px 1px #eeeeee;
      border-radius: 16px;
      @media (max-width: 480px) {
        width: 100%;
      }
      img {
        margin-bottom: 48px;
      }
      .l05anstg_price_number1 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-bottom: 24px;
        p {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0em;
          text-align: center;
          text-decoration: line-through;
          color: $dark-900;
          opacity: 0.8;
        }
        span {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0em;
          text-align: center;
          text-decoration: line-through;
          color: $dark-900;
          opacity: 0.8;
          text-decoration: none;
        }
      }
      .l05anstg_price_number2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-bottom: 24px;
        h6 {
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 16px;
          letter-spacing: 0em;
          text-align: center;
          color: $red;
          border: 1px solid $red;
          border-radius: 8px;
          padding: 8px;
        }
        h5 {
          font-family: 'Fredoka One';
          font-size: 58px;
          font-style: normal;
          font-weight: 400;
          line-height: 58px;
          letter-spacing: 0em;
          text-align: center;
          color: $red;
          @media (max-width: 480px) {
            font-size: 48px;
          }
        }
        span {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: $dark-800;
        }
      }
      .l05anstg_price_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
        margin-bottom: 48px;
        .l05anstg_list_item {
          width: 261px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 16px;
          img {
            margin-bottom: 0;
          }
          p {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            color: $dark-900;
            span {
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px;
              letter-spacing: 0em;
              text-align: left;
              color: $dark-100;
              text-decoration: line-through;
            }
          }
        }
      }
      a {
        width: 362px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(0deg, #e42b2e 0%, $red 100%);
        margin-bottom: 56px;
        cursor: pointer;
        border-radius: 4px;
        text-transform: uppercase;
        &:hover {
          background: linear-gradient(0deg, #bc2022 100%, $red 0%);
          transition: all ease 0.3s;
        }
        @media (max-width: 820px) {
          margin-bottom: 32px;
        }
        @media (max-width: 480px) {
          width: 272px;
        }
        span {
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
          margin-bottom: 0;
        }
      }
    }
  }
}

.l05anstg_form {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $dark-900;
  z-index: 3;
  .l05anstg_form_container {
    width: 100%;
    max-width: 1216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    z-index: 3;
    padding: 80px 0;
    @media (max-width: 820px) {
      width: 90%;
    }
    @media (max-width: 480px) {
      width: 90%;
    }
    .l05anstg_form_title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 38px;
      @media (max-width: 480px) {
        width: 100%;
      }
      h3 {
        width: 477px;
        font-family: 'Fredoka One';
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        @media (max-width: 820px) {
          font-size: 32px;
          line-height: 38px;
        }
        @media (max-width: 480px) {
          width: 90%;
          font-size: 28px;
          line-height: 33.6px;
        }
      }
      p {
        width: 656px;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        opacity: 0.85;
        margin-bottom: 32px;
        @media (max-width: 820px) {
          width: 688px;
          font-size: 18px;
          line-height: 27px;
          text-align: center;
        }
        @media (max-width: 480px) {
          width: 90%;
          font-size: 16px;
          line-height: 24px;
        }
      }
      img {
        margin-bottom: 40px;
      }
    }
    .l05anstg_form_box {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 136px;
      @media (max-width: 820px) {
        gap: 24px;
      }
      @media (max-width: 480px) {
        flex-direction: column;
      }
      .l05anstg_form_box_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h5 {
          font-family: 'Fredoka One';
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: 48px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          margin-bottom: 38px;
          @media (max-width: 820px) {
            font-size: 32px;
            line-height: 38px;
          }
          @media (max-width: 480px) {
            width: 90%;
            font-size: 28px;
            line-height: 33.6px;
            text-align: center;
          }
        }
        p {
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          opacity: 0.85;
          @media (max-width: 480px) {
            width: 90%;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
          }
        }
      }
      .l05anstg_form_inputs {
        display: flex;
        flex-direction: column;
        .form_box {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          span {
            display: flex;
            flex-direction: column;
            input {
              width: 488px;
              height: 48px;
              background: #ffffff;
              border-radius: 4px;
              padding-left: 20px;
              @media (max-width: 820px) {
                width: 332px;
              }
            }
            span {
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 21px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
            }
          }
          .error_message {
            font-size: 15px;
            color: red;
            font-weight: lighter;
          }
          .error_input {
            border: 1px solid red;
          }
          .cta-modal-button {
            width: 488px;
            height: 52px;
            background: linear-gradient(0deg, #e42b2e 0%, $red 100%);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            &:hover {
              background: linear-gradient(0deg, #bc2022 100%, $red 0%);
              transition: all ease 0.3s;
            }
            @media (max-width: 820px) {
              width: 332px;
            }
            strong {
              font-size: 20px;
              font-style: normal;
              font-weight: 700;
              line-height: 20px;
              letter-spacing: 0em;
              text-align: center;
              color: #ffffff;
              text-transform: uppercase;
            }
            &:disabled {
              border: 2px solid #e42b2e;
              border-radius: 4px;
              background: transparent;
              cursor: not-allowed;
              strong {
                color: rgb(96, 93, 93);
              }
            }
          }
          .loader {
            border: 2px solid rgba(0, 0, 0, 0.1);
            border-left-color: #fff;
            height: 30px;
            width: 30px;
            margin-right: 10px;
            border-radius: 50%;
            animation: spin 1s linear infinite;
          }
          @keyframes spin {
            to {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }
}

.aceite-termo-l05anstg {
  min-width: 100%;
  display: flex;
  margin-top: 37px;
  margin-bottom: 24px;
  margin-left: 15px;
  align-items: center;
  justify-content: flex-start;
}

label {
  width: 100%;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  position: relative;
  color: #ffffff;
}

label:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: -2px;
  color: #ffffff;
}

input[type='checkbox'] {
  display: none;
}

.aceite-termo-l05anstg label:before {
  background: url('../../assets/img/lps/l05anstg/check.png') left center no-repeat;
  margin-top: 0px;
  cursor: pointer;
}

input[type='checkbox']:checked + label:before {
  background: url('../../assets/img/lps/l05anstg/checked.svg') left center no-repeat;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $dark-900;
  padding-bottom: 30px;
  margin-bottom: 110px;
  @media (max-width: 1220px) {
    position: relative;
    padding: 30px 0;
  }
  @media (max-width: 480px) {
    margin-bottom: 0px;
  }
  .footer_container {
    width: 100%;
    max-width: 1216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .footer_items {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 48px;
      @media (max-width: 1440px) {
        padding-top: 20px;
      }
      @media (max-width: 1220px) {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
      @media (max-width: 550px) {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;
      }
      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
      }
      .footer_links {
        display: flex;
        align-items: center;
        @media (max-width: 550px) {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        span {
          color: #ffffff;
          opacity: 0.7;
          padding: 0 8px;
        }
        a {
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: -0.005em;
          text-align: center;
          color: #ffffff;
          opacity: 0.7;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}

.bannerBottom_container_l05anstg {
  width: 100%;
  height: 110px;
  position: fixed;
  display: flex;
  background: #0f1116fa;
  bottom: 0px;
  z-index: 999;
  @media (max-width: 480px) {
    display: none;
  }
  .bannerBottom_box_l05anstg {
    width: 1217px;
    height: auto;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-end;
    gap: 30.82px;
    @media (max-width: 1024px) {
      width: 75%;
      justify-content: space-between;
    }
    @media (max-width: 768px) {
      width: 70%;
      justify-content: space-between;
    }
    @media (max-width: 480px) {
      width: 90%;
      flex-direction: column-reverse;
      gap: 8px;
      padding-top: 15.5px;
      height: 111px;
      align-items: left;
    }
    .bannerBottom_box_l05anstg_text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
      }
      span {
        width: 100%;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        display: flex;
        justify-content: flex-end;
        strong {
          width: 100%;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 36px;
          letter-spacing: 0em;
          text-align: right;
          color: #ffffff;
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 362px;
        height: 52px;
        background: linear-gradient(0deg, #e42b2e 0%, $red 100%);
        border-radius: 4px;
        &:hover {
          background: linear-gradient(0deg, #bc2022 100%, $red 0%);
          transition: all ease 0.3s;
        }
        @media (max-width: 480px) {
          width: 70%;
          margin-right: 100px;
        }
        strong {
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
          text-transform: uppercase;
        }
        // &:hover {
        //     background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
        //     transition: all ease 0.3s;
        // }
      }
      @media (max-width: 480px) {
        width: 70%;
        margin-right: 100px;
      }
      strong {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
      }
      // &:hover {
      //     background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
      //     transition: all ease 0.3s;
      // }
    }
  }
}
