@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.typ_natal_obrigado {
  height: 775px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../assets/img/lps/l05anstg/BG-lp05anstg-typ-desk.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 90px 0;
  // @media (max-width: 1200px) {
  //   height: auto;
  //   background: url(../../assets/img/blackfriday/BG_Tablet.png);
  // }
  // @media (max-width: 480px) {
  //   height: auto;
  //   background: url(../../assets/img/blackfriday/BG_Mobile.png);
  // }
  .l05anstg-infinity-stamp {
    position: absolute;
    top: 300px;
    left: 200px;
    z-index: 3;
    @media (max-width: 1024px) {
      width: 72px;
      top: 512px;
      left: 13px;
    }
    @media (max-width: 480px) {
      top: 336px;
      left: 12px;
      width: 62px;
    }
  }
  .l05anstg-infinity-stamp2 {
    position: absolute;
    top: 100px;
    right: 200px;
    z-index: 3;
    @media (max-width: 1024px) {
      width: 92px;
      top: 50px;
      right: 25px;
    }
    @media (max-width: 480px) {
      top: 98px;
      right: 16px;
      width: 62px;
    }
  }
  .typ_natal_obrigado_layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #00000006 0%, $dark-900 100%);
  }
  .typ_natal_container {
    width: 100%;
    max-width: 1216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    z-index: 2;
    @media (max-width: 480px) {
      width: 90%;
    }
    .l05anstg_logo_hero {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-bottom: 84px;
      @media (max-width: 480px) {
        margin-bottom: 58px;
      }
      span {
        height: 100%;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        margin-bottom: 0;
      }
    }
    .typ_natal_principal_box1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
      @media (max-width: 480px) {
        width: 100%;
      }
      span {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0.02em;
        text-align: center;
        color: $maize;
        text-transform: uppercase;
      }
      h1 {
        font-family: 'Fredoka One';
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        margin-bottom: 54px;
        @media (max-width: 1024px) {
          font-size: 48px;
          line-height: 48px;
          margin-bottom: 32px;
        }
        @media (max-width: 480px) {
          font-size: 40px;
          line-height: 40px;
          margin-bottom: 40px;
        }
      }
    }
    .typ_natal_principal_box2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media (max-width: 480px) {
        width: 100%;
      }
      p {
        width: 458px;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        margin-bottom: 67px;
        @media (max-width: 1024px) {
          width: 580px;
          font-size: 18px;
          line-height: 27px;
        }
        @media (max-width: 480px) {
          width: 100%;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 41px;
        }
      }
      .progress {
        background: #ffffff;
        justify-content: flex-start;
        border-radius: 100px;
        align-items: center;
        position: relative;
        display: flex;
        height: 4px;
        width: 216px;
        margin-top: 32px;
        margin-bottom: 35px;
      }
      .progress-value {
        animation: load 3s normal forwards;
        box-shadow: 0 10px 40px -10px $red;
        background: $red;
        height: 4px;
        width: 0;
        position: relative;
        span {
          color: #ffffff;
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: 12px;
          letter-spacing: 0em;
          text-align: center;
          position: absolute;
          top: -16px;
          left: 160px;
        }
      }
      @keyframes load {
        0% {
          width: 0;
        }

        100% {
          width: 50%;
        }
      }
    }
  }
}

.passos {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  position: relative;
  padding: 90px 0;
  @media (max-width: 1024px) {
    padding-bottom: 300px;
  }
  @media (max-width: 480px) {
    padding-bottom: 30px;
  }

  .passos_container {
    width: 100%;
    max-width: 1216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: relative;
    padding: 200px 0;
    @media (max-width: 480px) {
      padding: 10px 0;
      width: 90%;
    }
    .passos_cards {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
      position: absolute;
      top: -150px;
      @media (max-width: 480px) {
        flex-direction: column;
        position: relative;
      }
      .passos_card {
        display: flex;
        flex-direction: column;
        .passos_card_title {
          width: 138px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-top: 4px solid #ffffff;
          border-left: 4px solid #ffffff;
          border-right: 4px solid #ffffff;
          border-radius: 8px 8px 0 0;
          span {
            font-family: 'Fredoka One';
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;
          }
        }
        .passos_card_text {
          width: 592px;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          border: 4px solid #ffffff;
          border-radius: 0px 8px 8px 8px;
          background: #280102;
          @media (max-width: 1024px) {
            width: 328px;
            gap: 24px;
          }
          .passos_card_image {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 32px;
            margin-top: 40px;
            margin-bottom: 24px;
            h5 {
              width: 440px;
              height: 68px;
              font-family: 'Fredoka One';
              font-size: 28px;
              font-style: normal;
              font-weight: 400;
              line-height: 34px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              @media (max-width: 1024px) {
                width: 176px;
                font-size: 24px;
                line-height: 28.8px;
              }
            }
          }
          p {
            width: 512px;
            height: 120px;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;
            opacity: 0.85;
            margin-bottom: 40px;
            @media (max-width: 1024px) {
              width: 248px;
              height: 216px;
              font-size: 18px;
              line-height: 27px;
            }
          }
          a {
            width: 512px;
            height: 52px;
            display: flex;
            background: linear-gradient(0deg, #e42b2e 0%, $red 100%);
            align-items: center;
            justify-content: center;
            text-decoration: none;
            border-radius: 4px;
            gap: 16px;
            margin-bottom: 40px;
            @media (max-width: 1024px) {
              width: 248px;
              height: 72px;
            }
            span {
              font-size: 20px;
              font-style: normal;
              font-weight: 700;
              line-height: 20px;
              letter-spacing: 0em;
              text-align: center;
              color: #ffffff;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}

.footer_typ_natal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $dark-900;
  padding-bottom: 30px;
  @media (max-width: 1220px) {
    position: relative;
    padding: 30px 0;
  }
  .footer_container_typ_natal {
    width: 100%;
    max-width: 1216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .footer_items_typ_natal {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 48px;
      @media (max-width: 1440px) {
        padding-top: 20px;
      }
      @media (max-width: 1220px) {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
      @media (max-width: 550px) {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;
      }
      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
      }
      .footer_links_typ_natal {
        display: flex;
        align-items: center;
        @media (max-width: 550px) {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        span {
          color: #ffffff;
          opacity: 0.7;
          padding: 0 8px;
        }
        a {
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: -0.005em;
          text-align: center;
          color: #ffffff;
          opacity: 0.7;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}
