.s-informativo {
  display: none;
  padding-top: 0;
  padding-bottom: 0;

  &.active {
    background: linear-gradient(267.26deg, rgba(255, 157, 87, 0.8) -0.71%, rgba(249, 65, 68, 0.8) 130.41%);
    backdrop-filter: blur(24px);

    padding-top: 6px;
    padding-bottom: 6px;

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #ffffff;
  }

  button {
    width: 32px;
    height: 32px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.25rem;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0;
    top: 0;
  }

  @media (max-width: 600px) {
    &.active {
      display: none;
    }
  }
}
