.s-banner-fsm {
  width: 100%;
  height: 850px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-hero-1920.png);
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 1440px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-hero-1440.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 1280px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-hero-1280.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 1025px) {
    height: auto;
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-hero-tablet.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 480px) {
    height: auto;
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-hero-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner-fsm-image6 {
    position: absolute;
    bottom: -60px;
    z-index: 2;
    @media (max-width: 1025px) {
      display: none;
    }
  }
  .banner-fsm-image7 {
    display: none;
    @media (max-width: 1025px) {
      display: flex;
      position: absolute;
      bottom: -50px;
      z-index: 2;
    }
    @media (max-width: 480px) {
      display: none;
    }
  }
  .banner-fsm-image8 {
    display: none;
    
    @media (max-width: 480px) {
      display: flex;
      position: absolute;
      bottom: -50px;
      z-index: 2;
    }
  }
  .container-fsm {
    width: 100%;
    max-width: 1216px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 1025px) {
      width: 90%;
      flex-direction: column;
      padding-top: 190px;
      padding-bottom: 285px;
    }
    @media (max-width: 480px) {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 93px;
      padding-bottom: 140px;
    }
    .container-fsm-text { 
      width: 591px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      gap: 24px;
      @media (max-width: 1025px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
      h1 {
        width: 488px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #EC008C;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
        text-transform: uppercase;
        @media (max-width: 480px) {
          width: 335px;
          height: 76px;
        }
      }
      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
      }
    }
    .hero-fsm-video {
      width: 594px;
      height: 334px;
      margin-top: 32px;
      @media (max-width: 480px) {
        width: 335px;
        height: 175px;
      }
    }
    .cta-pre {
      width: 318px;
      height: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #FFFFFF;
      border: 1.5px solid #202227;
      box-shadow: -4px 4px 0px #0F0F0F;
      -webkit-box-shadow: -4px 4px 0px #0F0F0F;
      -moz-box-shadow: -4px 4px 0px #0F0F0F;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      color: #202227;
      text-transform: uppercase;
      margin-top: 48px;
      @media (max-width: 1025px) {
        margin-top: 48px;
      }
    }
  }
}

.s-atention-fsm {
  width: 100%;
  height: auto;
  background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-atention-1920.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  @media (max-width: 1440px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-atention-1440.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 1280px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-atention-1280.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 1025px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-atention-tablet.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 480px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-atention-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container-atention-fsm {
    width: 100%;
    max-width: 1216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 178px 0;
    @media (max-width: 1025px) {
      width: 90%;
      flex-direction: column;
      padding: 81px 0;
      gap: 0px;
    }
    @media (max-width: 480px) {
      width: 90%;
      flex-direction: column;
      padding: 80px 0;
    }
    p {
      width: 1008px;
      height: auto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: center;
      color: #000000;
      @media (max-width: 1025px) {
        width: 664px;
      }
      @media (max-width: 480px) {
        width: 335px;
        font-size: 16px;
        line-height: 23px;
      }
    }
    .atention-fsm-cards {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
      margin-top: 40px;
      @media (max-width: 480px) {
        flex-direction: column;
      }
      .atention-card {
        width: 592px;
        height: 288px;
        border: 1px solid #000000;
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 32px;
        @media (max-width: 1025px) {
          width: 316px;
          height: 432px;
        }
        @media (max-width: 480px) {
          height: auto;
          padding-top: 30px;
          padding-bottom: 50px;
        }
        img {
          padding-left: 32px;
        }
        p {
          width: 528px;
          height: 144px;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: #202227;
          padding-left: 32px;
          @media (max-width: 1025px) {
            width: 252px;
            height: 288px;
          }
          @media (max-width: 480px) {
            width: 287px;
            height: 220px;
            font-size: 16px;
            line-height: 23px;
          }
        }
      }
    }
    h4 {
      width: 592px;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: center;
      color: #000000;
      margin-top: 40px;
      @media (max-width: 480px) {
        width: 335px;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

.s-how-fsm {
  width: 100%;
  height: auto;
  background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-who-1920.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  @media (max-width: 1440px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-who-1440.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 1280px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-who-1280.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 1025px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-who-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (max-width: 480px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-who-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container-how-fsm {
    width: 100%;
    max-width: 1216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 80px 0;
    @media (max-width: 1025px) {
      width: 90%;
      padding: 81px 0;
    }
    @media (max-width: 480px) {
      width: 90%;
      padding: 40px 0;
    }
    .how-title {
      width: 592px;
      height: 52px;
      background: #097E80;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 480px) {
        width: 329px;
        height: 46px;
      }
      h3 {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
        color: #EFF26D;
        text-transform: uppercase;
        @media (max-width: 480px) {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
    .how-cards-box {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 32px;
      .how-card1 {
        width: 488px;
        height: 198px;
        background: #6DF2DA;
        box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.4);
        position: relative;
        @media (max-width: 1025px) {
          width: 316px;
          height: 192px;
        }
        @media (max-width: 480px) {
          width: 335px;
          height: 109px;
        }
        img {
          position: absolute;
          top: 32px;
          left: 32px;
          @media (max-width: 480px) {
            top: 24px;
            left: 24px;
            width: 24px;
            height: 24px;
          }
        }
        h4 {
          width: 424px;
          position: absolute;
          top: 112px;
          left: 32px;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: left;
          color: #000000;
          @media (max-width: 1025px) {
            width: 252px;
            font-size: 16px;
            line-height: 24px;
          }
          @media (max-width: 480px) {
            width: 287px;
            font-size: 14px;
            line-height: 21px;
            top: 64px;
            left: 24px;
          }
        }
      }
      .how-card2 {
        width: 488px;
        height: 198px;
        background: #EFF26D;
        box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.4);
        position: relative;
        @media (max-width: 1025px) {
          width: 316px;
          height: 192px;
        }
        @media (max-width: 480px) {
          width: 335px;
          height: 109px;
        }
        img {
          position: absolute;
          top: 32px;
          left: 32px;
          @media (max-width: 480px) {
            top: 24px;
            left: 24px;
            width: 24px;
            height: 24px;
          }
        }
        h4 {
          width: 424px;
          position: absolute;
          top: 112px;
          left: 32px;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: left;
          color: #000000;
          @media (max-width: 1025px) {
            width: 252px;
            font-size: 16px;
            line-height: 24px;
          }
          @media (max-width: 480px) {
            width: 287px;
            font-size: 14px;
            line-height: 21px;
            top: 64px;
            left: 24px;
          }
        }
      }
      .how-card3 {
        width: 488px;
        height: 198px;
        background: #AEE33C;
        box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.4);
        position: relative;
        @media (max-width: 1025px) {
          width: 316px;
          height: 192px;
        }
        @media (max-width: 480px) {
          width: 335px;
          height: 109px;
        }
        img {
          position: absolute;
          top: 32px;
          left: 32px;
          @media (max-width: 480px) {
            top: 24px;
            left: 24px;
            width: 24px;
            height: 24px;
          }
        }
        h4 {
          width: 424px;
          position: absolute;
          top: 112px;
          left: 32px;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: left;
          color: #000000;
          @media (max-width: 1025px) {
            width: 252px;
            font-size: 16px;
            line-height: 24px;
          }
          @media (max-width: 480px) {
            width: 287px;
            font-size: 14px;
            line-height: 21px;
            top: 64px;
            left: 24px;
          }
        }
      }
      .how-card4 {
        width: 488px;
        height: 198px;
        background: #6DBAF2;
        box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.4);
        position: relative;
        @media (max-width: 1025px) {
          width: 316px;
          height: 192px;
        }
        @media (max-width: 480px) {
          width: 335px;
          height: 109px;
        }
        img {
          position: absolute;
          top: 32px;
          left: 32px;
          @media (max-width: 480px) {
            top: 24px;
            left: 24px;
            width: 24px;
            height: 24px;
          }
        }
        h4 {
          width: 424px;
          position: absolute;
          top: 112px;
          left: 32px;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: left;
          color: #000000;
          @media (max-width: 1025px) {
            width: 252px;
            font-size: 16px;
            line-height: 24px;
          }
          @media (max-width: 480px) {
            width: 287px;
            font-size: 14px;
            line-height: 21px;
            top: 64px;
            left: 24px;
          }
        }
      }
    }
  }
}

.s-what-fsm {
  width: 100%;
  height: auto;
  background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-what-1920.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @media (max-width: 1440px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-what-1440.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 1280px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-what-1280.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 1025px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-what-tablet.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
  }
  @media (max-width: 480px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-what-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
  }
  .container-what-fsm {
    width: 100%;
    max-width: 1216px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
    position: relative;
    @media (max-width: 1025px) {
      width: 90%;
      flex-direction: column-reverse;
      padding: 80px 0;
      gap: 26px;
    }
    @media (max-width: 480px) {
      width: 90%;
      flex-direction: column-reverse;
      padding: 40px 0;
      gap: 32px;
    }
    .what-image {
      display: flex;
      margin-bottom: -80px;
      @media (max-width: 1025px) {
        margin-bottom: -80px;
      }
    }
    .what-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h4 {
        width: 592px;
        height: 52px;
        background: #A221FF;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
        color: #EFF26D;
        text-transform: uppercase;
        margin-bottom: 24px;
        @media (max-width: 480px) {
          width: 335px;
        }
      }
      h3 {
        width: 522px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: center;
        color: #EC008C;
        text-transform: uppercase;
        margin-bottom: 32px;
        @media (max-width: 480px) {
          width: 335px;
          font-size: 24px;
          line-height: 28px;
        }      
      }
      p {
        width: 592px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        color: #202227;
        @media (max-width: 480px) {
          width: 335px;
          font-size: 14px;
          line-height: 21px;
        }
      }
      .what-text-cards {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin: 40px 0;
        @media (max-width: 480px) {
          flex-direction: column;
          margin: 32px 0;
        }
        .what-card {
          width: 288px;
          height: 144px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          border: 1px solid #86888D;
          @media (max-width: 480px) {
            width: 335px;
            height: 96px;
          }
          .what-check {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;
            height: 48px;
            position: absolute;
            left: 24px;
            span {
              width: 192px;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              @media (max-width: 480px) {
                width: 270px;
              }
            }
          }
        }
      }
    }
  }
}

.s-learn-fsm {
  width: 100%;
  height: auto;
  background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-learn-1920.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @media (max-width: 1440px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-learn-1440.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 1280px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-learn-1280.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 1025px) {
    height: auto;
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-learn-tablet.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 480px) {
    height: auto;
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-learn-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container-learn-fsm {
    width: 100%;
    max-width: 1216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    position: relative;
    .learn-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h4 {
        width: 592px;
        height: 52px;
        background: #EC008C;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-bottom: 24px;
        @media (max-width: 480px) {
          width: 335px;
          height: 88px;
        }
      }
      h3 {
        width: 592px;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-bottom: 32px;
        @media (max-width: 480px) {
          width: 335px;
          font-size: 24px;
          line-height: 28px;
        }
      }
      p {
        width: 800px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 40px;
        @media (max-width: 1025px) {
          width: 664px;
        }
        @media (max-width: 480px) {
          width: 335px;
          font-size: 14px;
          line-height: 21px;
        }
      }
    }
    .cta-pre {
      width: 318px;
      height: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #FFFFFF;
      border: 1.5px solid #202227;
      box-shadow: -4px 4px 0px #0F0F0F;
      -webkit-box-shadow: -4px 4px 0px #0F0F0F;
      -moz-box-shadow: -4px 4px 0px #0F0F0F;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      color: #202227;
      text-transform: uppercase;
      margin-top: 48px;
      @media (max-width: 1025px) {
        margin-top: 48px;
      }
    }
  }
}

.s-first-fsm {
  width: 100%;
  height: auto;
  background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-first-1920.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @media (max-width: 1440px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-first-1440.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 1280px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-first-1280.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 1025px) {
    height: auto;
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-first-tablet.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 480px) {
    height: auto;
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-first-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container-first-fsm {
    width: 100%;
    max-width: 1216px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 80px 0;
    position: relative;
    @media (max-width: 1025px) {
      align-items: center;
      justify-content: center;
    }
    .first-title {
      height: 88px;
      width: 592px;
      background: #B62F93;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 24px;
      @media (max-width: 480px) {
        width: 335px;
        height: 88px;
      }
      h4 {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
        text-transform: uppercase;
      }
    }
    .first-text {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 136px;
      margin-bottom: 40px;
      @media (max-width: 1025px) {
        flex-direction: column;
        gap: 24px;
      }
      h3 {
        width: 592px;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
        text-transform: uppercase;
        @media (max-width: 480px) {
          width: 335px;
          font-size: 24px;
          line-height: 28px;
        }
      }
      p {
        width: 420px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
        @media (max-width: 1025px) {
          text-align: center;
        }
        @media (max-width: 480px) {
          width: 335px;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    .first-cards-box {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
      @media (max-width: 1025px) {
        flex-direction: column;
      }
      .first-card {
        width: 592px;
        height: 347px;
        border: 1px solid #202227;
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 32px;
        gap: 32px;
        @media (max-width: 480px) {
          width: 335px;
          height: auto;
          gap: 24px;
          padding: 24px;
        }
        img {
          width: 48px;
          @media (max-width: 480px) {
            width: 26px;
          }
        }
        h5 {
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: left;
          color: #B62F93;
          @media (max-width: 480px) {
            font-size: 16px;
            line-height: 24px;
          }
        }
        p {
          height: 144px;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: #202227;
          @media (max-width: 480px) {
            height: auto;
            font-size: 14px;
            line-height: 21px;
          }
        }
      }
    }
  }
}

.s-bonus-fsm {
  width: 100%;
  height: auto;
  background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-bonus-1920.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @media (max-width: 1440px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-bonus-1440.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 1280px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-bonus-1280.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 1025px) {
    height: auto;
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-bonus-tablet.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 480px) {
    height: auto;
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-bonus-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bonus-faixa {
    position: absolute;
    top: 0;
    @media (max-width: 1025px) {
      display: none;
    }
  }
  .bonus-faixa-tablet {
    display: none;
    @media (max-width: 1025px) {
      width: 100%;
      display: flex;
      position: absolute;
      top: 0;
    }
    @media (max-width: 480px) {
      display: none;
    }
  }
  .bonus-faixa-mobile {
    display: none;
    @media (max-width: 480px) {
      width: 100%;
      display: flex;
      position: absolute;
      top: 0;
    }
  }
  .container-bonus-fsm {
    width: 100%;
    max-width: 1216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    position: relative;
    .bonus-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h4 {
        width: 106px;
        height: 52px;
        background: #EC008C;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-bottom: 24px;
      }
      h3 {
        width: 384px;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-bottom: 40px;
        @media (max-width: 480px) {
          width: 335px;
          margin-bottom: 25px;
        }
      }
      p {
        width: 800px;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 64px;
        @media (max-width: 1025px) {
          width: 664px;
        }
        @media (max-width: 480px) {
          width: 335px;
          font-size: 14px;
          line-height: 21px;
          margin-bottom: 32px;
        }
      }
    }
    .bonus-cards-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 32px;
      margin-bottom: 56px;
      position: relative;
      @media (max-width: 1025px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
      }
      @media (max-width: 480px) {
        flex-direction: column;
        gap: 16px;
      }
      .bonus-card {
        width: 1216px;
        height: 232px;
        background: #FFFAF4;
        display: flex;
        gap: 32px;
        box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.25);
        @media (max-width: 1025px) {
          width: 316px;
          height: 583px;
          flex-direction: column;
          gap: 0;
        }
        @media (max-width: 480px) {
          width: 335px;
          height: 553px;
        }
        .bonus-card-img {
          width: 200px;
          height: 232px;
          background: #05494A;
          display: flex;
          align-items: center;
          justify-content: center;
          @media (max-width: 1025px) {
            width: 316px;
            height: 160px;
          }
          @media (max-width: 480px) {
            width: 335px;
            height: 130px;
          }
          img {
            @media (max-width: 480px) {
              width: 120px;
            }
            @media (max-width: 360px) {
              width: 100px;
            }
          }
        }
        .bonus-card-price {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 32px;
          @media (max-width: 1025px) {
            align-items: center;
            gap: 24px;
            margin-top: 24px;
            margin-bottom: 32px;
          }
          h5 {
            width: 320px;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            color: #097E80;
            @media (max-width: 1025px) {
              width: 268px;
              font-size: 16px;
              line-height: 24px;
            }
          }
          p {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: #202227;
            opacity: 0.5;
            @media (max-width: 1025px) {
              width: 268px;
            }
          }
        }
        .bonus-card-text {
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            width: 600px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #202227;
            @media (max-width: 1025px) {
              width: 268px;
              font-size: 14px;
              line-height: 21px;
            }
          }
        }
      }
      .bonus-card2 {
        width: 1216px;
        height: 232px;
        background: #FFFAF4;
        display: flex;
        gap: 32px;
        box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.25);
        @media (max-width: 1025px) {
          width: 316px;
          height: 583px;
          flex-direction: column;
          gap: 0;
        }
        @media (max-width: 820px) {
          width: 664px;
          height: 457px;
          flex-direction: column;
          gap: 0;
        }
        @media (max-width: 480px) {
          width: 335px;
          height: 580px;
        }
        .bonus-card-img2 {
          width: 200px;
          height: 232px;
          background: #05494A;
          display: flex;
          align-items: center;
          justify-content: center;
          @media (max-width: 1025px) {
            width: 316px;
            height: 160px;
          }
          @media (max-width: 820px) {
            width: 664px;
            height: 160px;
          }
          @media (max-width: 480px) {
            width: 335px;
            height: 130px;
          }
        }
        .bonus-card-price2 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 32px;
          @media (max-width: 1025px) {
            align-items: center;
            gap: 24px;
            margin-top: 24px;
            margin-bottom: 32px;
          }
          @media (max-width: 820px) {
            align-items: center;
            gap: 24px;
            margin-top: 24px;
            margin-bottom: 32px;
          }
          h5 {
            width: 320px;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            color: #097E80;
            @media (max-width: 1025px) {
              width: 268px;
              font-size: 16px;
              line-height: 24px;
            }
            @media (max-width: 820px) {
              width: 616px;
              font-size: 16px;
              line-height: 24px;
            }
            @media (max-width: 480px) {
              width: 268px;
            }
          }
          p {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: #202227;
            opacity: 0.5;
            @media (max-width: 1025px) {
              width: 268px;
            }
            @media (max-width: 820px) {
              width: 616px;
            }
            @media (max-width: 480px) {
              width: 268px;
            }
          }
        }
        .bonus-card-text2 {
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            width: 600px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #202227;
            @media (max-width: 1025px) {
              width: 268px;
              font-size: 14px;
              line-height: 21px;
            }
            @media (max-width: 820px) {
              width: 616px;
              font-size: 14px;
              line-height: 21px;
            }
            @media (max-width: 480px) {
              width: 268px;
              padding-bottom: 24px;
            }
          }
        }
      }
    }
    .cta-pre {
      width: 318px;
      height: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #FFFFFF;
      border: 1.5px solid #202227;
      box-shadow: -4px 4px 0px #0F0F0F;
      -webkit-box-shadow: -4px 4px 0px #0F0F0F;
      -moz-box-shadow: -4px 4px 0px #0F0F0F;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      color: #202227;
      text-transform: uppercase;
    }
  }
}

.s-price-fsm {
  width: 100%;
  height: auto;
  background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-price-1920.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @media (max-width: 1440px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-price-1440.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 1280px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-price-1280.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 1025px) {
    height: auto;
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-price-tablet.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 480px) {
    height: auto;
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-price-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container-price-fsm {
    width: 100%;
    max-width: 1216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    position: relative;
    .price-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;
      margin-bottom: 64px;
      @media (max-width: 480px) {
        margin-bottom: 24px;
      }
      h4 {
        width: 414px;
        height: 52px;
        background: #2100EC;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'strretchsans';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
        text-transform: uppercase;
        @media (max-width: 480px) {
          width: 284px;
          height: 50px;
          font-size: 21px;
          line-height: 24px;
        }
      }
      h3 {
        width: 298px;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: center;
        color: transparent;
        -webkit-text-stroke: 1px #2100EC;
        text-stroke: 1px #2100EC;
        text-transform: uppercase;
        @media (max-width: 480px) {
          width: 223px;
          font-size: 24px;
          line-height: 28px;
        }
      }
    }
    .price-cards-box {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
      margin-bottom: 64px;
      @media (max-width: 480px) {
        flex-direction: column;
        gap: 16px;
        margin-bottom: 32px;
      }
      .price-card {
        width: 361px;
        height: 225px;
        border: 1px solid #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        @media (max-width: 360px) {
          width: 340px;
        }
        .student-price {
          width: 100%;
          height: 40px;
          background: #F3722C;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          h6 {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            color: #FFFFFF;
          }
        }
        h5 {
          font-size: 48px;
          font-style: normal;
          font-weight: 600;
          line-height: 43px;
          letter-spacing: 0em;
          text-align: center;
          color: #2100EC;
          span {
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 48px;
            letter-spacing: 0em;
            text-align: center;
            color: #2100EC;
          }
        }
        p {
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 33px;
          letter-spacing: 0em;
          text-align: center;
          color: #8D8FE2;
          
        }
      }
    }
    .cta-pre {
      width: 318px;
      height: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #FFFFFF;
      border: 1.5px solid #202227;
      box-shadow: -4px 4px 0px #0F0F0F;
      -webkit-box-shadow: -4px 4px 0px #0F0F0F;
      -moz-box-shadow: -4px 4px 0px #0F0F0F;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      color: #202227;
      text-transform: uppercase;
    }
  }
}

.s-professors-fsm {
  width: 100%;
  height: auto;
  background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-professors-1920.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @media (max-width: 1440px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-professors-1440.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 1280px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-professors-1280.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 1025px) {
    height: auto;
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-professors-tablet.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 480px) {
    height: auto;
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-professors-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container-professors-fsm {
    width: 100%;
    max-width: 1216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    position: relative;
    .professors-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;
      margin-bottom: 40px;
      h4 {
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
        text-transform: uppercase;
        @media (max-width: 480px) {
          font-size: 24px;
          line-height: 28px;
        }
      }
      h3 {
        width: 271px;
        background: #EFF26D;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: center;
        color: #EC008C;
        text-transform: uppercase;
        @media (max-width: 480px) {
          width: 271px;
        }
      }
    }
    .professors-cards-box {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 32px;
      margin-bottom: 40px;
      @media (max-width: 1025px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
      }
      @media (max-width: 480px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      .professors-card {
        width: 384px;
        height: 170px;
        border: 1px solid rgba(0, 0, 0, 0.98);
        background: #FFFFFF;
        position: relative;
        @media (max-width: 1025px) {
          width: 316px;
        }
        @media (max-width: 480px) {
          width: 159.5px;
          height: 268px;
        }
        .professors-card-image {
          width: 176px;
          height: 168px;
          @media (max-width: 1025px) {
            width: 170px;
            height: 170px;
          }
          @media (max-width: 480px) {
            width: 100%;
            height: 170px;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
        .professors-card-text {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 4px;
          position: absolute;
          top: 64.5px;
          right: 8px;
          @media (max-width: 1025px) {
            top: 55.5px;
          }
          @media (max-width: 480px) {
            top: 180px;
          }
          h5 {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: center;
            color: #000000;
            @media (max-width: 1025px) {
              width: 130px;
            }
            @media (max-width: 480px) {
              width: 132px;
            }
          }
          p {
            width: 192px;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: center;
            color: #202227;
            opacity: 0.8;
            @media (max-width: 1025px) {
              width: 130px;
            }
            @media (max-width: 480px) {
              width: 143px;
            }
          }
        }
      }
    }
    .cta-pre {
      width: 318px;
      height: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #FFFFFF;
      border: 1.5px solid #202227;
      box-shadow: -4px 4px 0px #0F0F0F;
      -webkit-box-shadow: -4px 4px 0px #0F0F0F;
      -moz-box-shadow: -4px 4px 0px #0F0F0F;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      color: #202227;
      text-transform: uppercase;
    }
  }
}

.footer-fsm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../../assets/img/lps/redessociaislucrativas/bg-fsm-footer-desk-1920.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -60px;
  margin-bottom: 0;
  @media (max-width: 1440px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-fsm-footer-desk-1440.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 1280px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-fsm-footer-desk-1280.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 1025px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-fsm-footer-tablet.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -80px;
  }
  @media (max-width: 480px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-fsm-footer-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -80px;
  }
  .footer_container_fsm {
    width: 100%;
    max-width: 1216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 22px;
    padding-top: 48px;
    @media (max-width: 1025px) {
      padding-top: 97px;
      padding-bottom: 81px;
    }
    @media (max-width: 480px) {
      padding-top: 44px;
      padding-bottom: 40px;
    }
    .footer_items_fsm {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 48px;
      @media (max-width: 1025px) {
        flex-direction: column;
        gap: 36px;
      }
      @media (max-width: 480px) {
        gap: 24px;
      }
      img {
        width: 132px;
        @media (max-width: 1025px) {
          width: 270px;
        }
        @media (max-width: 480px) {
          width: 132px;
        }
      }
      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        @media (max-width: 1025px) {
          width: 502px;
          font-size: 32px;
          line-height: 49px;
        }
        @media (max-width: 480px) {
          width: 250px;
          font-size: 16px;
          line-height: 24px;
        }
      }
      .footer_links {
        display: flex;
        align-items: center;
        @media (max-width: 1025px) {
          flex-direction: column;
          gap: 16px;
        }
        @media (max-width: 480px) {
          gap: 8px;
        }
        span {
          color: #ffffff;
          opacity: 0.7;
          padding: 0 8px;
          @media (max-width: 1025px) {
            display: none;
          }
        }
        a {
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: -0.005em;
          text-align: center;
          color: #ffffff;
          opacity: 0.7;
          text-decoration: none;
          cursor: pointer;
          @media (max-width: 1025px) {
            font-size: 32px;
            line-height: 49px;
          }
          @media (max-width: 480px) {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }
}

.s-bottom-menu-fsm-mobile {
  display: none;
  @media (max-width: 1025px) {
    width: 100%;
    height: 172px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    background: #000000fa;
    z-index: 9999;
  }

  .bottom-menu-fsm-container {
    @media (max-width: 1025px) {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }

    .cta-modal-button-fsm {
      @media (max-width: 1025px) {
        width: 335px;
        height: 38px;
        display: flex;
        font-family: 'strretchsans';
        align-items: center;
        justify-content: center;
        background: #ffffff;
        border: 1, 5px solid $dark-700;
      }
      span {
        @media (max-width: 1025px) {
          font-family: 'strretchsans';
          font-size: 12px;
          font-style: normal;
          font-weight: 300;
          line-height: 14px;
          letter-spacing: 0em;
          text-align: left;
          color: $dark-700;
          text-transform: uppercase;
        }
      }
    }
    h3 {
      @media (max-width: 1025px) {
        font-family: 'strretchsans';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: center;
        color: #ec008c;
        text-transform: uppercase;
      }
    }
  }
}

/* TYP PAGE STYLE */

.s-banner-fsm-typ { 
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-typ-1920.png);
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 1440px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-hero-1440.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 1280px) {
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-hero-1280.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 1025px) {
    height: auto;
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-hero-tablet.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media (max-width: 480px) {
    height: auto;
    background: url(../../assets/img/lps/redessociaislucrativas/bg-redes-hero-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner-fsm-image-mobile1 {
    position: absolute;
    top: 0;
    right: 0;
    @media (max-width: 1025px) {
      display: none;
    }
    @media (max-width: 480px) {
      display: none;
    }
  }
  .banner-fsm-image-mobile2 {
    position: absolute;
    bottom: 0;
    left: 0;
    @media (max-width: 1025px) {
      display: none;
    }
    @media (max-width: 480px) {
      display: none;
    }
  }
  .banner-fsm-image-mobile3 {
    width: 14px;
    position: absolute;
    top: 62px;
    right: 149px;
    @media (max-width: 1025px) {
      display: none;
    }
    @media (max-width: 480px) {
      display: none;
    }
  }
  .banner-fsm-image-mobile4 {
    position: absolute;
    top: 143px;
    left: 909px;
    @media (max-width: 1025px) {
      display: none;
    }
    @media (max-width: 480px) {
      display: none;
    }
  }
  .banner-fsm-image-mobile5 {
    position: absolute;
    top: 233px;
    right: 33px;
    @media (max-width: 1025px) {
      display: none;
    }
    @media (max-width: 480px) {
      display: none;
    }
  }
  .banner-fsm-image6 {
    position: absolute;
    bottom: -60px;
    z-index: 2;
    @media (max-width: 1025px) {
      display: none;
    }
  }

  .container-fsm-typ {
    width: 100%;
    max-width: 1216px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 1025px) {
      width: 90%;
      flex-direction: column;
      padding: 80px 0;
    }
    @media (max-width: 480px) {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .container-fsm-text-typ {
      width: 591px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      // padding: 168px 0;
      @media (max-width: 1025px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
      }
      .fsm-title-typ {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        @media (max-width: 1025px) {
          width: 80%;
          justify-content: center;
          margin-bottom: 24px;
        }
        @media (max-width: 480px) {
          width: 80%;
          justify-content: center;
          margin-bottom: 14px;
        }
        h3 {
          width: 343px;
          height: 34px;
          background: #2100ec;
          box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 1);
          -webkit-box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 1);
          -moz-box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 1);
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: 'strretchsans';
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0.03em;
          text-align: center;
          text-transform: uppercase;
          color: #ffffff;
          @media (max-width: 1025px) {
            width: 343px;
            height: 34px;
            font-size: 12px;
            line-height: 18px;
          }
          @media (max-width: 480px) {
            width: 197px;
            height: 19px;
            font-size: 6.95px;
            line-height: 10.43px;
            text-transform: uppercase;
          }
        }
      }
      .fsm-text-typ {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 1025px) {
          width: 80%;
          justify-content: center;
        }
        @media (max-width: 480px) {
          width: 80%;
          margin-bottom: 0;
        }
        .image-fsm-text-typ {
          width: 403px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-bottom: 80px;
          @media (max-width: 480px) {
            width: 100%;
          }
        }
        .loadingbar-fsm-typ {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-bottom: 80px;
          h5 {
            width: 698px;
            font-size: 18px;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: center;
            color: #ffffff;
            margin-bottom: 24px;
            @media (max-width: 480px) {
              width: 100%
            }
          }
          .progress-typ {
            background: #ffffff;
            border: 1.5px solid $dark-900;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            display: flex;
            height: 30px;
            width: 560px;
            @media (max-width: 480px) {
              width: 304px;
            }
            .progress-value-typ {
              animation: loaded 3s normal forwards;
              background: #85e33c;
              height: 30px;
              width: 0;
              left: 0;
              position: relative;
            }
          }

          @keyframes loaded {
            0% {
              width: 0;
            }

            100% {
              width: 90%;
            }
          }
        }
        p {
          width: 100%;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
          margin-bottom: 24px;
          @media (max-width: 1025px) {
            font-size: 32px;
            line-height: 49px;
            text-align: center;
            margin-bottom: 32px;
          }
          @media (max-width: 480px) {
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            margin-bottom: 16px;
          }
          strong {
            color: #ffffff;
            @media (max-width: 1025px) {
              font-size: 32px;
              line-height: 49px;
              text-align: center;
            }
            @media (max-width: 480px) {
              font-size: 16px;
              line-height: 24px;
              text-align: center;
            }
          }
          span {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0em;
            color: #ffffff;
            background: #ec008c;
            @media (max-width: 1025px) {
              font-size: 32px;
              line-height: 49px;
              text-align: center;
            }
            @media (max-width: 480px) {
              font-size: 16px;
              line-height: 24px;
              text-align: center;
            }
          }
        }
      }
    }
    .typ-passos {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
      @media (max-width: 1025px) {
        flex-direction: column;
        gap: 80px;
      }
      .passos-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        .cta-whatsapp {
          width: 290px;
          height: 46px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #FFFFFF;
          border: 1.5px solid #202227;
          box-shadow: -4px 4px 0px #0F0F0F;
          -webkit-box-shadow: -4px 4px 0px #0F0F0F;
          -moz-box-shadow: -4px 4px 0px #0F0F0F;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;
          color: #202227;
          text-transform: uppercase;
          margin-top: 24px;
        }
        h6 {
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: center;
          color: #FFFFFF;
        }
      }
    }
  }
}
