.s-banner-gdt-typ {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(../../assets/img/lps/trafego/bg-typ-trafego-1920.png);
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 1440px) {
        background: url(../../assets/img/lps/trafego/bg-typ-trafego-1440.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    @media (max-width: 1025px) {
        background: url(../../assets/img/lps/trafego/bg-typ-trafego-tablet.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    @media (max-width: 480px) {
        background: #000;
    }
    .container-gdt-typ {
        width: 100%;
        max-width: 1216px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 64px;
        h4 {
            font-family: 'RNS Miles';
            font-size: 36px;
            font-style: normal;
            font-weight: 800;
            line-height: 44px;
            letter-spacing: 0px;
            text-align: center;
            color: #FFFFFF;
            text-transform: uppercase;
            margin-bottom: 32px;
            @media (max-width: 480px) {
                font-size: 24px;
                line-height: 32px;
            }
        }
        h5 {
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 32px;
            @media (max-width: 480px) {
                font-size: 18px;
                line-height: 22px;
            }
        }
        .gdt-typ-text {
            width: 584px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 32px;
            margin-bottom: 64px;
            @media (max-width: 480px) {
                width: 343px;
                margin-bottom: 56px;
            }
            @media (max-width: 320px) {
                width: 90%;
            }
            p {
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0px;
                text-align: center;
                color: #FFFFFF;
                span {
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0px;
                    text-align: center;
                    color: #E8331A;
                    @media (max-width: 480px) {
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
                @media (max-width: 480px) {
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
        .gdt-typ-cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 32px;
            .gdt-typ-card {
                width: 1216px;
                height: 217px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                align-items: center;
                justify-content: center;
                position: relative;
                background: linear-gradient(180deg, #212529 -178.43%, rgba(33, 37, 41, 0.31) 240.61%);
                border-radius: 5px;
                @media (max-width: 1025px) {
                    width: 676px;
                    height: 203px;
                    display: flex;
                }
                @media (max-width: 480px) {
                    width: 343px;
                    height: 349px;
                }
                .card-step {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    padding-left: 32px;
                    @media (max-width: 1025px) {
                        position: absolute;
                        padding-left: 0;
                        left: 24px;
                        top: 24px;
                    }
                    
                    img {
                        padding-bottom: 24px;
                    }
                    span {
                        padding-bottom: 32px;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: 0px;
                        text-align: left;
                        color: #DEE2E6;
                        @media (max-width: 1025px) {
                            font-size: 16px;
                            line-height: 24px;
                        }
                        @media (max-width: 480px) {
                            padding-bottom: 24px;
                        }
                    }
                    h6 {
                        width: 336px;
                        font-family: 'RNS Miles';
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 24px;
                        letter-spacing: 0px;
                        text-align: left;
                        color: #CED4DA;
                        text-transform: uppercase;
                        @media (max-width: 1025px) {
                            width: 282px;
                            font-size: 18px;
                            line-height: 24px;
                        }
                        @media (max-width: 480px) {
                            width: 295px;
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                }
                .card-text {
                    width: 336px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @media (max-width: 1025px) {
                        position: absolute;
                        top: 24px;
                        right: 24px;
                    }
                    @media (max-width: 480px) {
                        width: 295px;
                        top: 181px;
                        left: 24px;
                    }
                    p {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0px;
                        text-align: left;
                        color: #CED4DA;
                    }
                }
                .card-button {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding-right: 32px;
                    @media (max-width: 1025px) {
                        position: absolute;
                        bottom: 29.5px;
                        right: 93px;
                        padding-right: 0;
                    }
                    @media (max-width: 480px) {
                        width: 295px;
                        bottom: 24px;
                        left: 24px;
                    }
                    a {
                        width: 267px;
                        height: 58px;
                        background: #E8331A;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 5px;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px;
                        letter-spacing: 0px;
                        text-align: center;
                        color: #FFFFFF;
                        text-transform: uppercase;
                        @media (max-width: 1025px) {
                            width: 198px;
                            height: 40px;
                        }
                        @media (max-width: 480px) {
                            width: 295px;
                        }
                    }
                }
                .card-button-two {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding-right: 32px;
                    @media (max-width: 1025px) {
                        position: absolute;
                        bottom: 24px;
                        right: 64px;
                        padding-right: 0;
                    }
                    @media (max-width: 480px) {
                        width: 295px;
                        bottom: 24px;
                        left: 24px;
                    }
                    a {
                        width: 332px;
                        height: 58px;
                        background: #E8331A;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 5px;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px;
                        letter-spacing: 0px;
                        text-align: center;
                        color: #FFFFFF;
                        text-transform: uppercase;
                        @media (max-width: 1025px) {
                            width: 256px;
                            height: 40px;
                        }
                        @media (max-width: 480px) {
                            width: 295px;
                        }
                    }
                }
            }
            .gdt-typ-card-two {
                width: 1216px;
                height: 256px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                align-items: center;
                justify-content: center;
                position: relative;
                background: linear-gradient(180deg, #212529 -178.43%, rgba(33, 37, 41, 0.31) 240.61%);
                border-radius: 5px;
                @media (max-width: 1025px) {
                    width: 676px;
                    height: 370px;
                    display: flex;
                }
                @media (max-width: 480px) {
                    width: 343px;
                    height: 515px;
                }
                .card-step {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    padding-left: 32px;
                    @media (max-width: 1025px) {
                        position: absolute;
                        padding-left: 0;
                        left: 24px;
                        top: 95.6px;
                    }
                    @media (max-width: 480px) {
                        left: 24px;
                        top: 24px;
                    }
                    img {
                        padding-bottom: 24px;
                    }
                    span {
                        padding-bottom: 32px;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: 0px;
                        text-align: left;
                        color: #DEE2E6;
                        @media (max-width: 1025px) {
                            font-size: 16px;
                            line-height: 24px;
                        }
                        @media (max-width: 480px) {
                            padding-bottom: 24px;
                        }
                    }
                    h6 {
                        width: 336px;
                        font-family: 'RNS Miles';
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 24px;
                        letter-spacing: 0px;
                        text-align: left;
                        color: #CED4DA;
                        text-transform: uppercase;
                        @media (max-width: 1025px) {
                            width: 282px;
                            font-size: 18px;
                            line-height: 24px;
                        }
                        @media (max-width: 480px) {
                            width: 295px;
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                }
                .card-text {
                    width: 336px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 24px;
                    @media (max-width: 1025px) {
                        position: absolute;
                        top: 24px;
                        right: 24px;
                    }
                    @media (max-width: 480px) {
                        width: 295px;
                        top: 181px;
                        left: 24px;
                    }
                    p {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0px;
                        text-align: left;
                        color: #CED4DA;
                        @media (max-width: 480px) {
                            font-size: 14px;
                            line-height: 24px;
                        }
                    }
                }
                .card-button-two {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding-right: 32px;
                    @media (max-width: 1025px) {
                        position: absolute;
                        bottom: 24px;
                        right: 24px;
                        padding-right: 0;
                    }
                    @media (max-width: 480px) {
                        bottom: 24px;
                        left: 24px;
                    }
                }
            }
        }
    }
}

.footer-gdt {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $dark-900;
    padding: 68px 0;
    @media (max-width: 1220px) {
        position: relative;
        padding: 30px 0;
    }
    .footer_container_gdt {
        width: 100%;
        max-width: 1216px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .footer_items_gdt {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 48px;
        @media (max-width: 1440px) {
            padding-top: 20px;
        }
        @media (max-width: 1220px) {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        @media (max-width: 550px) {
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-top: 10px;
        }
        img {
            width: 132px;
        }
        p {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            color: #ffffff;
        }
        .footer_links_gdt {
            display: flex;
            align-items: center;
            @media (max-width: 550px) {
            display: flex;
            align-items: center;
            justify-content: center;
            }
            span {
            color: #ffffff;
            opacity: 0.7;
            padding: 0 8px;
            }
            a {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: -0.005em;
            text-align: center;
            color: #ffffff;
            opacity: 0.7;
            text-decoration: none;
            cursor: pointer;
            }
        }
        }
    }
}