.s-banner-gdt {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(../../assets/img/lps/trafego/bg-hero-trafego-1920.png);
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 1440px) {
        background: url(../../assets/img/lps/trafego/bg-hero-trafego-1440.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    @media (max-width: 1025px) {
        background: url(../../assets/img/lps/trafego/bg-hero-trafego-tablet.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    @media (max-width: 480px) {
        background: #000;
    }
    .container-gdt {
        width: 100%;
        max-width: 1216px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 53px 0;
        @media (max-width: 1025px) {
            align-items: center;
            padding-top: 600px;
            padding-bottom: 30px;
        }
        @media (max-width: 480px) {
            padding-top: 73px;
        }
        .gdt-text-box {
            display: flex;
            flex-direction: column;
            @media (max-width: 1025px) {
                display: flex;
                flex-direction: row;
                gap: 24px;
                margin-bottom: 40px;
            }
            @media (max-width: 480px) {
                display: flex;
                flex-direction: column;
            }
            p {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0px;
                text-align: center;
                color: #E8331A;
                text-transform: uppercase;
                margin-bottom: 24px;
                @media (max-width: 1025px) {
                    margin-bottom: 0;
                }
            }
            .gdt-logo-mobile {
                display: none;
                @media (max-width: 480px) {
                    display: flex;
                }
            }
            .gdt-date {
                width: 488px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                margin-bottom: 64px;
                @media (max-width: 1025px) {
                    width: auto;
                    margin-bottom: 0;
                }
                p {
                    margin-bottom: 0;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0px;
                    text-align: center;
                    color: #F1F3F5;
                }
            }
        }
        
        .gdt-title {
            // width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 32px;
            margin-bottom: 64px;
            @media (max-width: 1025px) {
                margin-bottom: 40px;
            }
            @media (max-width: 480px) {
                gap: 16px;
            }
            h3 {
                width: 488px;
                font-family: 'RNS Miles';
                font-size: 36px;
                font-style: normal;
                font-weight: 800;
                line-height: 44px;
                letter-spacing: 0px;
                text-align: center;
                color: #FFFFFF;
                text-transform: uppercase;
                
                span {
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 44px;
                    letter-spacing: 0px;
                    text-align: center;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    color: #E8331A;
                    @media (max-width: 1025px) {
                        font-size: 32px;
                        line-height: 40px;
                    }
                    @media (max-width: 480px) {
                        font-size: 24px;
                        line-height: 32px;
                    }
                }
                @media (max-width: 1025px) {
                    width: 680px;
                    font-size: 32px;
                    line-height: 40px;
                }
                @media (max-width: 480px) {
                    width: 330px;
                    font-size: 24px;
                    line-height: 32px;
                }
            }
            p {
                width: 435px;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 0px;
                text-align: center;
                color: #FFFFFF;
                @media (max-width: 1025px) {
                    width: 680px;
                    font-size: 22px;
                    line-height: 26px;
                }
                @media (max-width: 480px) {
                    width: 217px;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
        .infos_email {
            // width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            margin-top: 40px;
            position: relative;
            @media (max-width: 1025px) {
                margin-top: 0;
            }
            @media (max-width: 480px) {
                display: flex;
                flex-direction: column;
                gap: 13px;
                margin-top: 24px;
                align-items: center;
                justify-content: center;
                gap: 25px;
            }
            input.name {
                text-transform: capitalize;
            }
            input {
                width: 488px;
                height: 48px;
                padding-left: 24px;
                background: #1a1a1a;
                color: #ffffff;
                border-radius: 4px;
                @media (max-width: 480px) {
                    width: 343px;
                    height: 48px;
                    border-radius: 6px;
                }
                @media (max-width: 320px) {
                    width: 300px;
                }
            }
            input.error_input {
                border: 1px solid red;
            }
            small.error_message {
                font-size: 15px;
                color: red;
            }
            .loader {
                border: 2px solid rgba(0, 0, 0, 0.1);
                border-left-color: #fff;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                animation: spin 1s linear infinite;
            }
            @keyframes spin {
                to {
                    transform: rotate(360deg);
                }
            }
            .cta-modal-button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }
            button {
                width: 488px;
                height: 58px;
                background: $orange;
                color: #ffffff;
                text-transform: uppercase;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: center;
                cursor: pointer;
                border-radius: 4px;
                @media (max-width: 480px) {
                    width: 343px;
                    height: 40px;
                    border-radius: 6px;
                }
                @media (max-width: 320px) {
                    width: 300px;
                }
                &:disabled {
                    color: black;
                    background: rgba(243, 114, 44, 0.38);
                    cursor: default;
                }
            }
            span {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0px;
                text-align: center;
                color: #495057;
                @media (max-width: 480px) {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
    }
}

.s-meet-gdt {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(../../assets/img/lps/trafego/bg-meet-trafego-1440.png);
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 1025px) {
        background: url(../../assets/img/lps/trafego/bg-meet-trafego-tablet.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    @media (max-width: 425px) {
        background: url(../../assets/img/lps/trafego/bg-meet-trafego-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container-meet-gdt {
        width: 100%;
        max-width: 1216px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 70px 0;
        gap: 33px;
        @media (max-width: 1025px) {
            flex-direction: column;
        }
        .meet-image-gdt {
            @media (max-width: 1025px) {
                width: 591px;
            }
            @media (max-width: 425px) {
                width: 335px;
            }
        }
        .meet-text-gdt {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 32px;
            @media (max-width: 425px) {
                gap: 24px;
            }
            h4 {
                font-family: 'RNS Miles';
                font-size: 32px;
                font-style: normal;
                font-weight: 800;
                line-height: 40px;
                letter-spacing: 0px;
                text-align: center;
                color: #FFFFFF;
                text-transform: uppercase;
                @media (max-width: 1025px) {
                    font-size: 24px;
                    line-height: 32px;
                }
                span {
                    font-family: 'RNS Miles';
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 40px;
                    letter-spacing: 0px;
                    text-align: center;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    color: #E8331A;
                    @media (max-width: 1025px) {
                        font-size: 24px;
                        line-height: 32px;
                    }
                }
            }
            p {
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 0px;
                text-align: center;
                color: #FFFFFF;
                @media (max-width: 1025px) {
                    width: 680px;
                    font-size: 22px;
                    line-height: 26px;
                }
                @media (max-width: 425px) {
                    width: 335px;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}

.s-learn-gdt {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(../../assets/img/lps/trafego/bg-learn-trafego-1920.png);
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 1440px) {
        background: url(../../assets/img/lps/trafego/bg-learn-trafego-1440.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    @media (max-width: 1025px) {
        background: url(../../assets/img/lps/trafego/bg-learn-trafego-tablet.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container-learn-gdt {
        width: 100%;
        max-width: 1216px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 92px 0;
        @media (max-width: 425px) {
            padding: 30px 0;
        }
        img {
            margin-bottom: 32px;
        }
        h4 {
            font-family: 'RNS Miles';
            font-size: 32px;
            font-style: normal;
            font-weight: 800;
            line-height: 40px;
            letter-spacing: 0px;
            text-align: center;
            color: #FFFFFF;
            text-transform: uppercase;
            margin-bottom: 32px;
            @media (max-width: 1025px) {
                font-size: 24px;
                line-height: 32px;
            }
            @media (max-width: 480px) {
                width: 343px;
                margin-bottom: 24px;
            }
            span {
                font-family: 'RNS Miles';
                font-size: 32px;
                font-style: normal;
                font-weight: 800;
                line-height: 40px;
                letter-spacing: 0px;
                text-align: center;
                color: #E8331A;
                text-transform: uppercase;
                @media (max-width: 1025px) {
                    font-size: 24px;
                    line-height: 32px;
                }
            }
        }
        p {
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 64px;
            @media (max-width: 1025px) {
                font-size: 22px;
                line-height: 26px;
            }
            @media (max-width: 480px) {
                width: 218px;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 56px;
            }
        }
        .learn-gdt-cards {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 32px;
            @media (max-width: 1025px) {
                flex-wrap: wrap;
            }
            .learn-gdt-card-one {
                width: 280px;
                height: 430px;
                background: url(../../assets/img/lps/trafego/bg-card1-web.svg);
                border-radius: 4px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                position: relative;
                @media (max-width: 1025px) {
                    width: 330px;
                    height: 275px;
                    background: url(../../assets/img/lps/trafego/bg-card1-tablet.svg);
                }
                img {
                    position: absolute;
                    top: 32px;
                    left: 24px;
                }
                h5 {
                    width: 232px;
                    position: absolute;
                    top: 88px;
                    left: 24px;
                    font-family: 'RNS Miles';
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 32px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    @media (max-width: 1025px) {
                        width: 282px;
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
                p {
                    width: 232px;
                    position: absolute;
                    top: 255px;
                    left: 24px;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #CED4DA;
                    @media (max-width: 1025px) {
                        width: 282px;
                        font-size: 16px;
                        line-height: 24px;
                        top: 147px;
                    }
                }
            }
            .learn-gdt-card-two {
                width: 280px;
                height: 430px;
                background: url(../../assets/img/lps/trafego/bg-card2-web.svg);
                border-radius: 4px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                position: relative;
                @media (max-width: 1025px) {
                    width: 330px;
                    height: 275px;
                    background: url(../../assets/img/lps/trafego/bg-card2-tablet.svg);
                }
                img {
                    position: absolute;
                    top: 40px;
                    left: 24px;
                }
                h5 {
                    position: absolute;
                    top: 88px;
                    left: 24px;
                    width: 232px;
                    font-family: 'RNS Miles';
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 32px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    @media (max-width: 1025px) {
                        width: 282px;
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
                p {
                    width: 232px;
                    position: absolute;
                    top: 230px;
                    left: 24px;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #CED4DA;
                    @media (max-width: 1025px) {
                        width: 282px;
                        font-size: 16px;
                        line-height: 24px;
                        top: 147px;
                    }
                }
            }
            .learn-gdt-card-three {
                width: 280px;
                height: 430px;
                background: url(../../assets/img/lps/trafego/bg-card3-web.svg);
                border-radius: 4px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                position: relative;
                @media (max-width: 1025px) {
                    width: 330px;
                    height: 275px;
                    background: url(../../assets/img/lps/trafego/bg-card3-tablet.svg);
                }
                img {
                    position: absolute;
                    top: 40px;
                    left: 24px;
                }
                h5 {
                    position: absolute;
                    top: 88px;
                    left: 24px;
                    width: 232px;
                    font-family: 'RNS Miles';
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 32px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    @media (max-width: 1025px) {
                        width: 282px;
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
                p {
                    position: absolute;
                    width: 232px;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #CED4DA;
                    left: 24px;
                    top: 230px;
                    @media (max-width: 1025px) {
                        width: 282px;
                        font-size: 16px;
                        line-height: 24px;
                        top: 147px;
                    }
                }
            }
            .learn-gdt-card-four {
                width: 280px;
                height: 430px;
                background: url(../../assets/img/lps/trafego/bg-card4-web.svg);
                border-radius: 4px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                position: relative;
                @media (max-width: 1025px) {
                    width: 330px;
                    height: 275px;
                    background: url(../../assets/img/lps/trafego/bg-card4-tablet.svg);
                }
                img {
                    position: absolute;
                    top: 32px;
                    left: 24px;
                }
                h5 {
                    width: 232px;
                    position: absolute;
                    top: 88px;
                    left: 24px;
                    font-family: 'RNS Miles';
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 32px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    @media (max-width: 1025px) {
                        width: 282px;
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
                p {
                    width: 232px;
                    position: absolute;
                    top: 300px;
                    left: 24px;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #CED4DA;
                    @media (max-width: 1025px) {
                        width: 282px;
                        font-size: 16px;
                        line-height: 24px;
                        top: 147px;
                    }
                }
            }
        }
    }
}

.s-professors-gdt {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(../../assets/img/lps/trafego/bg-professors-trafego-1920.png);
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 1440px) {
        background: url(../../assets/img/lps/trafego/bg-professors-trafego-1440.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    @media (max-width: 1025px) {
        background: url(../../assets/img/lps/trafego/bg-professors-trafego-1440.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container-professors-gdt {
        width: 100%;
        max-width: 1216px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 67px;
        img {
            margin-bottom: 32px;
        }
        h4 {
            font-family: 'RNS Miles';
            font-size: 32px;
            font-style: normal;
            font-weight: 800;
            line-height: 40px;
            letter-spacing: 0px;
            text-align: center;
            color: #FFFFFF;
            text-transform: uppercase;
            margin-bottom: 180px;
            @media (max-width: 1025px) {
                font-size: 24px;
                line-height: 32px;
            }
        }
        .professors-gdt-cards {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 32px;
            margin-bottom: 64px;
            @media (max-width: 480px) {
                flex-direction: column;
                gap: 113px;
            }
            .professors-gdt-card {
                width: 343px;
                height: 408px;
                border-radius: 16px;
                background: linear-gradient(180deg, #212529 0%, rgba(33, 37, 41, 0.39) 100%);
                position: relative;
                @media (max-width: 480px) {
                    width: 343px;
                    height: 314px;
                }
                img {
                    position: absolute;
                    top: -250px;
                }
                h5 {
                    position: absolute;
                    top: 230px;
                    left: 24px;
                    font-family: 'RNS Miles';
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 32px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    @media (max-width: 480px) {
                        top: 144px;
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
                p {
                    width: 295px;
                    position: absolute;
                    top: 280px;
                    left: 24px;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0px;
                    text-align: left;
                    color: #FFFFFF;
                    @media (max-width: 480px) {
                        top: 186px;
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
            }
        }
        h6 {
            width: 922px;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 64px;
            @media (max-width: 1025px) {
                width: 650px;
                font-size: 22px;
                line-height: 26px;
            }
            @media (max-width: 480px) {
                width: 343px;
                font-size: 16px;
                line-height: 24px;
            }
            @media (max-width: 320px) {
                width: 90%;
            }
        }
        a {
            width: 488px;
            height: 58px;
            background: #E8331A;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0px;
            text-align: center;
            color: #FFFFFF;
            text-transform: uppercase;
            @media (max-width: 480px) {
                width: 343px;
                font-size: 16px;
                line-height: 16px;
            }
            @media (max-width: 320px) {
                width: 90%;
            }
        }
    }
}

.footer-gdt {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $dark-900;
    padding: 68px 0;
    @media (max-width: 1220px) {
        position: relative;
        padding: 30px 0;
    }
    .footer_container_gdt {
        width: 100%;
        max-width: 1216px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .footer_items_gdt {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 48px;
        @media (max-width: 1440px) {
            padding-top: 20px;
        }
        @media (max-width: 1220px) {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        @media (max-width: 550px) {
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-top: 10px;
        }
        img {
            width: 132px;
        }
        p {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            color: #ffffff;
        }
        .footer_links_gdt {
            display: flex;
            align-items: center;
            @media (max-width: 550px) {
            display: flex;
            align-items: center;
            justify-content: center;
            }
            span {
            color: #ffffff;
            opacity: 0.7;
            padding: 0 8px;
            }
            a {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: -0.005em;
            text-align: center;
            color: #ffffff;
            opacity: 0.7;
            text-decoration: none;
            cursor: pointer;
            }
        }
        }
    }
}