.loader-default {
  background-color: $dark-800;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2025;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
  img {
    animation: pulse 2s infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}
