.s-producoes1 {
  padding-bottom: 2.0625rem;

  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    span {
      font-style: normal;
      font-weight: normal;
      font-size: 1.125rem;
      line-height: 1.1875rem;
      letter-spacing: -0.01em;
      color: rgba(255, 255, 255, 0.8);
    }

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 3.5rem;
      line-height: 3.6875rem;
      letter-spacing: -0.01em;
      color: #ffffff;
      margin-top: 0.5rem;
    }
  }

  .area-professors {
    position: relative;

    .top-slide {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;

        .title {
          display: flex;
          align-items: center;

          img {
            margin-right: 0.875rem;
          }

          h3 {
            font-style: normal;
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 1.8125rem;

            color: #ffffff;
            margin-right: 38px;
          }
        }

        span {
          margin-left: 24px;
          font-style: normal;
          font-weight: normal;
          font-size: 1rem;
          line-height: 1.5rem;
          color: rgba(255, 255, 255, 0.9);
          margin-left: 1.5rem;
        }
      }

      .actions {
        .swiper-pagination {
          position: relative;
          display: flex;
          .swiper-pagination-bullet {
            border-radius: 0;
            width: 24px;
            height: 2px;
            background: rgba(66, 68, 73, 1);
            transition: all ease 0.3s;
            margin-right: 6px;

            &.swiper-pagination-bullet-active {
              opacity: 1;
              background: #fff;
            }
          }
        }
      }
    }

    .slide-backstage {
      margin-top: 2.5625rem;
      overflow: hidden;

      .swiper-slide {
        a {
          cursor: pointer;
          .img {
            max-width: 282px;
            overflow: hidden;
            &:after {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              width: 100%;
              background: linear-gradient(180deg, rgba(15, 17, 22, 0.1) 51.36%, $dark-800 108.33%);
            }
            img {
              transform: scale(1);
              transition: all ease 0.3s;
              width: 100%;

              &:hover {
                transform: scale(1.1);
                transition: all ease 0.3s;
              }
            }
          }

          .tag {
            padding: 0 10px;
            height: 25.64px;
            background-color: rgba(15, 17, 22, 0.5);
            backdrop-filter: blur(35.4622px);
            border-radius: 45.2143px;

            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;
            top: 22px;
            left: 22px;

            span {
              font-style: normal;
              font-weight: bold;
              font-size: 0.75rem;
              line-height: 0.9375rem;
              letter-spacing: 0.02em;
              color: $yellow-orange;
            }
          }

          .info {
            position: absolute;
            bottom: 33px;
            left: 22px;

            h4 {
              font-style: normal;
              font-weight: bold;
              font-size: 1.25rem;
              line-height: 1.5rem;
              color: #ffffff;
              padding: 0 20px 0 0;
            }

            p {
              font-style: normal;
              font-weight: normal;
              font-size: 0.875rem;
              line-height: 1.3125rem;
              color: rgba(255, 255, 255, 0.8);
              margin-top: 0.4375rem;
              padding: 0 20px 0 0;
            }
          }
        }
      }

      .actions {
        .btn-slide {
          &.swiper-button-disabled {
            opacity: 0;
            transition: all ease 0.3s;
            pointer-events: none;
          }

          &.button-next {
            position: absolute;
            right: -30px;
            bottom: 192px;
            z-index: 1;
          }

          &.button-prev {
            position: absolute;
            left: -30px;
            bottom: 192px;
            z-index: 1;
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .area-professors {
      .slide-backstage {
        .actions {
          .btn-slide {
            &.button-prev {
              left: -20px;
            }

            &.button-next {
              right: -20px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .area-swiper {
      .slide-backstage {
        .actions {
          .btn-slide {
            &.button-prev {
              left: -20px;
            }

            &.button-next {
              right: -20px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 835px) {
    padding-top: 1.25rem;
    padding-bottom: 1.125rem;

    .area-professors {
      margin-top: 3.1875rem;

      .top-slide {
        .left {
          .title {
            h3 {
              font-size: 1.299175rem;
            }
          }

          span {
            font-size: 0.875rem;
          }
        }
        .actions {
          display: none;
        }
      }

      .slide-backstage {
        overflow: initial;

        .swiper-slide {
          a {
            .info {
              h4 {
                font-size: 1rem;
              }
            }
          }
        }

        .actions {
          display: none;
        }
      }
    }
  }

  @media (max-width: 768px) {
  }

  @media (max-width: 600px) {
    padding-top: 30px;
    padding-bottom: 30px;

    .area-professors {
      margin-top: 39px;

      .top-slide {
        align-items: center;
        justify-content: left;
        .left {
          flex-direction: column;

          .title {
            border-right: none;

            h3 {
              margin-right: 0;
            }
          }

          span {
            margin-left: 0;
            margin-top: 6px;
            text-align: center;
            max-width: 268px;
          }
        }
      }

      .slide-backstage {
        .swiper-slide {
          a {
            .info {
              p {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
