.s-page-not-found {
  margin-top: 8.8rem;
  padding-top: 6.6rem;
  background: url('../../assets/img/bg-not-found.png') no-repeat top 6.6rem center;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    max-width: 57.2rem;
    text-align: center;
    margin-bottom: 4.6rem;
  }
  p {
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 150%;
    color: #ffffff;
    opacity: 0.8;
    margin-bottom: 4rem;
  }
  .btn {
    width: 12rem;
    height: 3rem;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: 1px solid #ffffff;
    font-weight: bold;
    font-size: 1rem;
    color: #191b21;
  }
}
