.s-banner-newlp {
  position: relative;
  padding-top: 170px;
  padding-bottom: 6.15625rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 1000px) {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: column;
    padding-top: 95px;
    padding-bottom: 0;
    height: 1200px;
  }
  @media (max-width: 480px) {
    height: 650px;
    margin-top: 0px;
  }
  .container-banner-newlp {
    width: 100%;
    max-width: 1216px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @media (max-width: 1280px) {
      max-width: 1216px;
    }
    @media (max-width: 1000px) {
      flex-direction: column;
    }

    .text-banner-newlp {
      width: 592px;
      z-index: 2;
      @media (max-width: 1000px) {
        margin-top: 550px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      @media (max-width: 480px) {
        margin-top: 300px;
      }
      h1 {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0.04em;
        text-align: left;
        background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 16px;
        @media (max-width: 1000px) {
          text-align: center;
          width: 100%;
        }
        @media (max-width: 480px) {
          width: 100%;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
        }
      }
      h2 {
        // width: 964px;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        margin-bottom: 32px;
        @media (max-width: 1280px) {
          font-size: 38px;
          line-height: 48px;
        }
        @media (max-width: 1000px) {
          width: 100%;
          font-size: 40px;
          line-height: 48px;
          text-align: center;
        }
        @media (max-width: 480px) {
          width: 100%;
          font-size: 18px;
          line-height: 29px;
          text-align: center;
          margin-bottom: 10px;
        }
      }
      span {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        opacity: 0.8;
        margin-bottom: 32px;
        @media (max-width: 1000px) {
          width: 100%;
          text-align: center;
        }
        @media (max-width: 480px) {
          display: none;
        }
      }
      .btn-comece {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 281px;
        height: 58px;
        background-color: $orange;
        margin-top: 32px;
        gap: 10px;
        @media (max-width: 1000px) {
          margin-top: 0;
        }
        strong {
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
          text-transform: uppercase;
        }

        &:hover {
          background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
          transition: all ease 0.3s;
        }
      }
      p {
        margin-top: 2.375rem;
        max-width: 340px;
        font-style: normal;
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 1.3125rem;
        color: rgba(255, 255, 255, 0.7);
        @media (max-width: 480px) {
          margin-top: 10px;
        }
        strong {
          font-weight: 700;
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
    .bg-newlp {
      .image-hero-natal-desk {
        @media (max-width: 1000px) {
          display: none;
        }
      }
      .image-hero-natal-tablet {
        display: none;
        @media (max-width: 1000px) {
          display: flex;
        }
        @media (max-width: 480px) {
          display: none;
        }
      }
      .image-hero-natal-mobile {
        @media (max-width: 3000px) {
          display: none;
        }
        @media (max-width: 480px) {
          display: flex;
        }
      }
      width: 550px;
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      z-index: 1;
      margin-bottom: 100px;
      @media (max-width: 1000px) {
        width: 100%;
        top: 0;
      }
      img {
        width: 100%;
      }
    }

    .bg-newlp {
        width: 728px;
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        z-index: 1;
        margin-bottom: 100px;
        @media (max-width: 1000px) {width: 100%; top: 0;}
        img {
            width: 100%;
        }
    }
  }
  .down-icon-newlp {
    position: absolute;
    bottom: 50px;
    cursor: pointer;
    animation: arrow-down 1.5s infinite alternate;
    @media (max-width: 1000px) {
      bottom: 0;
    }
    @media (max-width: 480px) {
      display: none;
    }
  }
}

.s-objective {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 300px;
  @media (max-width: 1000px) {
    margin-bottom: 100px;
    margin-top: 0px;
  }
  @media (max-width: 480px) {
    height: auto;
    padding: 60px 0;
    margin-top: 0;
  }
  .objective-container {
    width: 100%;
    max-width: 1216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1000px) {
      width: 90%;
    }
    .objective-title {
      width: 704px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 48px;
      @media (max-width: 1000px) {
        width: 100%;
      }
      h3 {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        @media (max-width: 1000px) {
          font-size: 32px;
          line-height: 38px;
        }
        @media (max-width: 480px) {
          width: 100%;
          font-size: 18px;
          line-height: 21px;
          text-align: center;
        }
      }
    }
    .objective-content {
      width: 100%;
      .nav_tabs {
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: relative;
        @media (max-width: 1000px) {
          flex-direction: row;
        }
        @media (max-width: 480px) {
          width: 100%;
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 24px;
          @media (max-width: 1000px) {
            flex-direction: row;
            gap: 16px;
          }
          @media (max-width: 480px) {
            flex-direction: column;
            width: 100%;
          }

          li {
            float: left;
          }
        }
      }
      .tab_label {
        display: block;
        width: 384px;
        height: 88px;
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: flex-start;
        background-color: $dark-800;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        color: $dark-100;
        cursor: pointer;
        text-align: center;
        padding-left: 48px;
        @media (max-width: 1000px) {
          width: 218px;
          height: 72px;
          font-size: 16px;
          padding-left: 25px;
        }
        @media (max-width: 480px) {
          width: 100%;
        }
      }

      .nav_tabs .rd_tab {
        display: none;
        position: absolute;

        &:checked ~ label {
          background-color: $dark-700;
          border-left: 4px solid $orange;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
        }
      }

      .tab-content {
        background: $dark-800;
        display: none;
        position: absolute;
        height: 600px;
        width: 800px;
        top: 0;
        left: 400px;
        @media (max-width: 1000px) {
          width: 688px;
          height: 600px;
          left: 0;
          top: 86px;
        }
        @media (max-width: 480px) {
          width: 100%;
          height: auto;
          top: 270px;
        }
        h2 {
          padding: 10px;
          color: #87d3b7;
        }

        article {
          padding: 10px;
          color: #555;
        }
        .tabs {
          .tabs-triggers {
            display: flex;
            gap: 48px;
            padding-top: 40px;
            padding-left: 40px;
            cursor: pointer;
            @media (max-width: 480px) {
              flex-wrap: wrap;
              padding-left: 10px;
              gap: 28px;
            }
            p {
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: 22px;
              letter-spacing: 0em;
              text-align: center;
              color: #ffffff;
              opacity: 0.6;
              @media (max-width: 480px) {
                font-size: 16px;
              }
            }
          }
          .tabs-trigger--active {
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: center;
            color: #ffffff;
            p {
              position: relative;
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: 22px;
              letter-spacing: 0em;
              text-align: center;
              color: #ffffff;
              opacity: 1;
              &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -8px;
                width: 40px;
                height: 2px;
                background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
                -webkit-transition-property: left right;
                -webkit-transition-property: width;
                transition-property: width;
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
              }
            }
          }
          .tabs-content {
            padding-left: 40px;
            padding-top: 32px;
            height: 500px;
            display: flex;
            flex-direction: column;
            position: relative;
            @media (max-width: 480px) {
              padding-left: 10px;
              height: 680px;
            }

            h4 {
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: 27px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
              margin-bottom: 18px;
            }
            p {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
              opacity: 0.8;
            }
            .tab-content-wrapper {
              display: flex;
              flex-direction: column;
              position: absolute;
              bottom: 0;
              .wrapper-title {
                h4 {
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 27px;
                  letter-spacing: 0em;
                  text-align: left;
                  color: #ffffff;
                }
              }
              .wrapper-images {
                display: flex;
                gap: 8px;
                @media (max-width: 480px) {
                  flex-wrap: wrap;
                  width: 100%;
                  margin-bottom: 20px;
                }
                img {
                  width: 174px;
                  @media (max-width: 480px) {
                    width: 150px;
                  }
                }
              }
            }
          }
        }
      }

      .rd_tab:checked ~ .tab-content {
        display: block;
      }

      .tab-content {
        h2 {
          padding: 10px;
          color: #87d3b7;
        }

        article {
          padding: 10px;
          color: #555;
        }
      }
    }
  }
}

.s-how-learn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 100px;
  @media (max-width: 1025px) {
    height: 950px;
    flex-direction: column;
    margin-bottom: 200px;
    padding-top: 0;
  }
  @media (max-width: 480px) {
    height: auto;
    margin-top: 830px;
    margin-bottom: 0px;
  }
  .how-learn-container {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    position: relative;
    @media (max-width: 1280px) {
      max-width: 1216px;
    }
    @media (max-width: 1025px) {
      width: 90%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .how-learn-text {
      display: flex;
      flex-direction: column;
      gap: 40px;
      h3 {
        @media (max-width: 1000px) {
          text-align: center;
          text-transform: uppercase;
        }
      }
      .how-learn-items {
        display: flex;
        align-items: center;
        gap: 32px;
        .item-text {
          width: 545px;
          @media (max-width: 1000px) {
            width: 100%;
          }
          h4 {
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;
            padding-bottom: 8px;
          }
          p {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: -0.005em;
            text-align: left;
            color: #cfcfd0;
          }
        }
      }
    }
    .how-learn-image {
      width: 850px;
      position: absolute;
      right: -200px;
      top: 150px;
      @media (max-width: 1025px) {
        top: 550px;
      }
      @media (max-width: 480px) {
        top: 100px;
        right: -50px;
        position: relative;
        width: 150%;
      }
    }
  }
}

.s-content {
  width: 100%;
  height: 950px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
  @media (max-width: 480px) {margin-top: -200px;}
  
  
  .content-container {
      width: 100%;
      max-width: 1400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      @media (max-width: 1000px) {width: 90%;}
      .content-bg {
          position: absolute;
          right: -100px;
          top: 0;
      }
      .content-title {
          width: 100%;
          max-width: 1216px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 28px;
          margin-bottom: 50px; 
          @media (max-width: 1000px) {flex-direction: column;}
          .title-text {
              display: flex;
              flex-direction: column;
              gap: 16px;
              @media (max-width: 480px) {width: 100%; align-items: center; justify-content: center;}
              h3 {
                  font-size: 40px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 49px;
                  letter-spacing: 0em;
                  text-align: left;
                  color: #FFFFFF;
                  text-transform: uppercase;
                  @media (max-width: 480px) {font-size: 18px; line-height: 21px; text-align: center; z-index: 9999;}
              }
              p {
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 30px;
                  letter-spacing: 0em;
                  text-align: left;
                  color: #FFFFFF;
                  opacity: 0.8;
                  @media (max-width: 480px) {font-size: 16px; line-height: 24px; text-align: center; width: 247px;}

              }
          }
          .content-link {
              height: 100%;
              z-index: 999;
              a {
                  height: 100%;
                  display: flex;
                  gap: 8px;
                  align-items: center;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 20px;
                  letter-spacing: 0em;
                  text-align: center;
                  color: #FFFFFF;
              }
          }
          
      }
      .swiper-new-lp {
          width: 100%;
          .title-cards {
              width: 100%;
              max-width: 1216px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: 0 auto;
              padding-bottom: 150px;
              @media (max-width: 480px) {margin-top: 80px; padding-bottom: 0; flex-wrap: wrap; justify-content: center; gap: 20px;}
              @media (max-width: 345px) {padding-bottom: 100px;}
              .title-card {
                  width: 280px;
                  height: 140px;
                  background: $dark-700;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  position: relative;
                  @media (max-width: 480px) {width: 155px; height: 104px;}
                  .card-image {
                      width: 97px;
                      height: 27px;
                      border-radius: 45px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      background: #1B1B1A;
                      position: absolute;
                      top: -13.5px;
                      left: 27px;
                      span {
                          font-size: 14px;
                          font-style: normal;
                          font-weight: 700;
                          line-height: 17px;
                          letter-spacing: 0.02em;
                          text-align: left;
                          color: $red;
                      }
                      .tag-bck {
                          color: $yellow-orange;
                      }
                  }
                  p {
                      width: 232px;
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 600;
                      line-height: 24px;
                      letter-spacing: 0em;
                      text-align: left;
                      color: #FFFFFF;
                      opacity: 0.9;
                      @media (max-width: 480px) {font-size: 12px; line-height: 18px; text-align: center; width: 95%;}
                  }
              }
          }
      }
  }
}

.s-soon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .soon-container-newlp {
    width: 100%;
    max-width: 1216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
    @media (max-width: 480px) {
      width: 90%;
    }
    .soon-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;
      margin-bottom: 48px;
      h3 {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        @media (max-width: 480px) {
          font-size: 18px;
          line-height: 22px;
        }
      }
      p {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        opacity: 0.9;
        @media (max-width: 480px) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    .soon-cards {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 32px;
      .soon-card {
        width: 592px;
        height: 248px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 21px;
        position: relative;
        @media (max-width: 480px) {
          width: 343px;
          height: 150px;
        }
        .card-layer {
          width: 185%;
          height: 250px;
          right: 0;
          background: linear-gradient(
            270deg,
            #111419 22.38%,
            #1e212b 29.37%,
            rgba(30, 33, 43, 0.3) 36.14%,
            rgba(30, 33, 43, 0) 46.77%,
            rgba(30, 33, 43, 0) 69.59%
          );
          position: absolute;
          overflow: hidden;
          z-index: 2;
          @media (max-width: 480px) {
            height: 150px;
          }
        }
        .soon-card-image {
          width: 280px;
          height: 248px;
          position: absolute;
          left: 0;
          z-index: 1;
          @media (max-width: 480px) {
            width: 164px;
            height: 150px;
          }
        }
        .soon-card-text {
          width: 231px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          z-index: 9;
          position: absolute;
          right: 49px;
          @media (max-width: 480px) {
            width: 163px;
            right: 25px;
          }
          span {
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: left;
            background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @media (max-width: 480px) {
              font-size: 14px;
              line-height: 21px;
            }
          }
          p {
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: center;
            color: #ffffff;
            @media (max-width: 480px) {
              font-size: 16px;
              line-height: 19px;
            }
          }
        }
      }
    }
  }
}

.s-assine-newlp {
  width: 100%;
  height: 800px;
  background: url(../../assets/img/BG-assine-newlp-desk.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  .assine-newlp-container {
    width: 100%;
    max-width: 1216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 480px) {
      width: 90%;
    }
    .assine-newlp-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;
      h3 {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: center;
        text-transform: uppercase;
        background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media (max-width: 480px) {
          font-size: 18px;
          line-height: 22px;
        }
      }
      span {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        @media (max-width: 480px) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    .assine-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-top: 16px;
      gap: 16px;
      .assine-list-item {
        width: 512px;
        display: flex;
        align-items: center;
        gap: 10px;
        @media (max-width: 480px) {
          width: 345px;
        }
        p {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          opacity: 0.8;
          @media (max-width: 480px) {
            font-size: 14px;
            line-height: 21px;
          }
        }
      }
    }
    .assine-price {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        opacity: 0.8;
      }
      h4 {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        span {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          opacity: 0.8;
        }
      }
      .btn {
        .btn-comece {
          background: url('./assets/img/bg-btns.svg') no-repeat 0 0;
          width: 211px;
          height: 48px;

          display: flex;
          align-items: center;
          justify-content: center;

          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 16px;
          text-transform: uppercase;
          color: #ffffff;
          margin-top: 16px;
          &:hover {
            background: url('./assets/img/bg-btns.svg') no-repeat -373px 0;
            width: 211px;
            height: 48px;
          }
        }
      }
    }
  }
}
