.obrigado {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../assets/img/blackfriday/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 90px 0;
  @media (max-width: 1200px) {
    height: auto;
    background: url(../../assets/img/blackfriday/BG_Tablet.png);
  }
  @media (max-width: 480px) {
    height: auto;
    background: url(../../assets/img/blackfriday/BG_Mobile.png);
  }
  .obrigado_container {
    width: 100%;
    max-width: 1216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    @media (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      width: 90%;
      height: auto;
      margin: 0 auto;
    }
    @media (max-width: 480px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      gap: 0;
      padding: 0;
    }
    .principal_box1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
      @media (max-width: 1200px) {
        gap: 10px;
      }
      img {
        width: 50%;
        @media (max-width: 1200px) {
          width: 201px;
        }
      }
    }
    .principal_box2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media (max-width: 1200px) {
        margin-top: 37px;
      }
      @media (max-width: 480px) {
        width: 100%;
      }
      h1 {
        width: 270px;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: 0.05em;
        text-align: center;
        color: #ffffff;
        margin-bottom: 24px;
        @media (max-width: 1200px) {
          font-size: 30px;
          line-height: 42px;
          width: 514px;
        }
        @media (max-width: 480px) {
          width: 100%;
          font-size: 21px;
          line-height: 29px;
          width: 335px;
        }
      }
      .progress {
        background: $dark-800;
        justify-content: flex-start;
        border-radius: 100px;
        align-items: center;
        position: relative;
        display: flex;
        height: 4px;
        width: 216px;
        margin-top: 32px;
        margin-bottom: 35px;
      }
      .progress-value {
        animation: load 3s normal forwards;
        box-shadow: 0 10px 40px -10px $red-orange;
        background: $red-orange;
        height: 4px;
        width: 0;
        position: relative;
        span {
          color: #ffffff;
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: 12px;
          letter-spacing: 0em;
          text-align: center;
          position: absolute;
          top: -16px;
          left: 160px;
        }
      }
      @keyframes load {
        0% {
          width: 0;
        }

        100% {
          width: 80%;
        }
      }
      p {
        width: 335px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        margin-bottom: 24px;
        @media (max-width: 1200px) {
          font-size: 16px;
          line-height: 24px;
          width: 402px;
        }
      }
      a {
        width: 304px;
        height: 48px;
        display: flex;
        background: #25d366;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 25px;
        gap: 16px;
        @media (max-width: 1200px) {
          width: 304px;
        }
        span {
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: center;
          color: #075e54;
        }
      }
      h3 {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        margin-top: 26.5px;
        strong {
          color: #ffffff;
        }
      }
      .smalltext {
        padding-top: 5px;
        font-size: 16px;
      }
    }
  }
}
