.s-form-teacher {
  height: 555px;
  background-image: url('../../assets/img/bg-fom-teacher.png');
  background-position: center;
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
  display: flex;
  margin: 0 0 77px 0;
  @media (max-width: 820px) {
    height: 579px;
  }
  @media (max-width: 480px) {
    width: 100%;
    background-color: transparent;
    height: auto;
  }

  .box-img {
    width: 63%;
    float: left;
    display: block;
    padding: 0;
    margin-top: 56px;
    @media (max-width: 820px) {
      width: 50%;
    }
    @media (max-width: 480px) {
      float: none;
      width: 100%;
    }
    img {
      width: 100%;
      max-width: 644.08px;
      height: auto;
      top: 36px;
      position: relative;
      @media (max-width: 820px) {
        top: 0px;
        left: -105px;
        width: 120%;
      }
      @media (max-width: 480px) {
        top: 0px;
        left: 0;
        width: 100%;
      }
    }
  }
  .box-form {
    width: 37%;
    float: left;
    display: block;
    padding: 0 0 0 2%;
    margin-top: 164px;
    @media (max-width: 820px) {
      width: 50%;
      padding: 0 0 176px 0;
    }
    @media (max-width: 480px) {
      width: 100%;
      margin: 0;
      padding: 0;
    }
    h2 {
      font-size: 40px;
      color: $orange;
      margin-bottom: 32px;
      @media (max-width: 820px) {
        font-size: 32px;
        line-height: 38.98px;
      }
      @media (max-width: 480px) {
        margin-bottom: 10px;
      }
      span {
        color: #fff;
        font-size: 40px;
        @media (max-width: 820px) {
          font-size: 32px;
        }
      }
    }
    p {
      font-size: 20px;
      color: #fff;
      line-height: 28px;
      margin: 25px 0;
      @media (max-width: 820px) {
        margin: 32px 0 24px 0;
      }
      @media (max-width: 480px) {
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 10px 0;
        width: 100%;
      }
    }
    a.btn-comece {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 384px;
      height: 48px;
      background-color: $orange;
      font-size: 26px;
      font-weight: 600;
      text-transform: uppercase;
      left: 0;
      @media (max-width: 820px) {
        width: 340px;
      }
      @media (max-width: 480px) {
        width: 100%;
      }
      &:hover {
        background: -o-linear-gradient(182.74deg, $red-orange -0.71%, $red 130.41%);
        background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
      }
      strong {
        color: #fff;
        padding: 0 10px;
      }
    }
  }
}
