.principal {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0d0e12;
  flex-direction: column;
  position: relative;
  padding: 40px 0;
  @media (max-width: 820px) {
    height: auto;
    padding-bottom: 10px;
  }
  @media (max-width: 480px) {
    height: auto;
    padding-bottom: 30px;
  }
  .principal_container {
    width: 100%;
    max-width: 1216px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    @media (max-width: 1320px) {
      gap: 0;
    }
    @media (max-width: 1220px) {
      width: 80%;
      height: auto;
      flex-direction: column-reverse;
    }
    @media (max-width: 820px) {
      display: flex;
      flex-direction: column-reverse;
      width: 90%;
      height: auto;
      margin: 0 auto;
    }
    @media (max-width: 480px) {
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      height: auto;
      gap: 0;
      padding: 0;
    }
    .infos_box {
      @media (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      @media (max-width: 480px) {
        width: 335px;
        height: auto;
        padding: 0;
      }
      .logo_header {
        margin-bottom: 40px;
      }
      h2 {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        background: $orange;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media (max-width: 480px) {
          font-size: 16px;
          line-height: 24px;
        }
      }
      h1 {
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 67px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        @media (max-width: 1000px) {
          width: 592px;
          font-size: 48px;
          line-height: 57.6px;
        }
        @media (max-width: 480px) {
          font-size: 32px;
          line-height: 38.4px;
          width: 100%;
        }
        span {
          background-color: $orange;
          font-size: 56px;
        }
      }
      .infos_list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 40px;
        @media (max-width: 1000px) {
          width: 100%;
          align-items: center;
          justify-content: center;
        }
        @media (max-width: 480px) {
          margin-top: 24px;
        }
        .list_item {
          display: flex;
          align-items: center;
          gap: 16px;
          width: 100%;
          @media (max-width: 1000px) {
            width: 592px;
          }
          @media (max-width: 480px) {
            width: 100%;
          }
          img {
            width: 20px;
            height: 20px;
          }
          p {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            color: #d3d3d3;
            @media (max-width: 480px) {
              font-size: 16px;
              line-height: 24px;
            }
          }
        }
      }
      .infos_email {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 40px;
        position: relative;
        @media (max-width: 480px) {
          display: flex;
          flex-direction: column;
          gap: 13px;
          margin-top: 24px;
          align-items: center;
          justify-content: center;
          gap: 25px;
        }
        input {
          width: 568px;
          height: 62px;
          padding-left: 24px;
          background: #1a1a1a;
          color: #ffffff;
          @media (max-width: 480px) {
            width: 305px;
            height: 56px;
            border-radius: 6px;
          }
        }
        input.error_input {
          border: 1px solid red;
        }
        small.error_message {
          font-size: 15px;
          color: red;
        }
        .loader {
          border: 2px solid rgba(0, 0, 0, 0.1);
          border-left-color: #fff;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          animation: spin 1s linear infinite;
        }
        @keyframes spin {
          to {
            transform: rotate(360deg);
          }
        }
        .cta-modal-button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
        }
        button {
          width: 592px;
          height: 62px;
          background: $orange;
          color: #ffffff;
          text-transform: uppercase;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: center;
          cursor: pointer;
          @media (max-width: 480px) {
            width: 335px;
            height: 56px;
            border-radius: 6px;
          }
          &:disabled {
            color: black;
            background: rgba(243, 114, 44, 0.38);
            cursor: default;
          }
        }
      }

      .infos_aula {
        width: 592px;
        margin-top: 40px;
        @media (max-width: 480px) {
          width: 100%;
          margin-top: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .infos_aula_img_desk {
          @media (max-width: 480px) {
            display: none;
          }
          img {
            width: 100%;
          }
        }
        .infos_aula_img_mb {
          display: none;
          @media (max-width: 480px) {
            display: flex;
            margin-bottom: 20px;
          }
          img {
            width: 100%;
          }
        }
      }
    }
    .image_box {
      max-width: 592px;
      width: 100%;
      @media (max-width: 1200px) {
        display: flex;
        justify-content: center;
      }
      @media (max-width: 480px) {
        display: flex;
        justify-content: center;
      }
      img {
        @media (max-width: 1220px) {
          width: 383px;
        }
        @media (max-width: 480px) {
          width: 204px;
        }
      }
    }
  }
}

.staage {
  height: 618px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: #171a21;
  @media (max-width: 1200px) {
    height: auto;
  }
  .staage_container {
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 137px;
    @media (max-width: 1300px) {
      gap: 50px;
    }
    @media (max-width: 1200px) {
      flex-direction: column-reverse;
      gap: 30px;
      padding-bottom: 20px;
    }
    @media (max-width: 480px) {
      flex-direction: column-reverse;
      gap: 30px;
      padding-bottom: 20px;
    }
    .staage_image {
      width: 661px;
      margin-left: -60px;
      @media (max-width: 820px) {
        width: 90%;
        margin-left: 0;
      }
      @media (max-width: 480px) {
        width: 90%;
        margin-left: 0;
      }
      img {
        width: 661px;
        padding-top: 50px;
        @media (max-width: 820px) {
          width: 100%;
        }
        @media (max-width: 480px) {
          width: 100%;
        }
      }
    }
    .staage_text {
      width: 488px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media (max-width: 1200px) {
        width: 90%;
        padding: 20px 0;
      }
      h3 {
        width: 100%;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 58px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        @media (max-width: 820px) {
          font-size: 32px;
          line-height: 38.4px;
        }
        @media (max-width: 480px) {
          font-size: 24px;
          line-height: 28.8px;
        }
      }
      hr {
        width: 59px;
        height: 3px;
        background: $orange;
        margin-bottom: 40px;
      }
      p {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;

        @media (max-width: 820px) {
          width: 592px;
          font-size: 18px;
          line-height: 27px;
        }
        @media (max-width: 480px) {
          width: 335px;
          font-size: 16px;
          line-height: 24px;
        }
      }
      span {
        color: #fff;
      }
    }
  }
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0d0e12;
  padding-bottom: 30px;
  @media (max-width: 1220px) {
    position: relative;
    padding: 30px 0;
  }
  .footer_container {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .footer_items {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 48px;
      @media (max-width: 1440px) {
        padding-top: 20px;
      }
      @media (max-width: 1220px) {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
      @media (max-width: 550px) {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;
      }
      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
      }
      .footer_links {
        display: flex;
        align-items: center;
        @media (max-width: 550px) {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        span {
          color: #ffffff;
          opacity: 0.7;
          padding: 0 8px;
        }
        a {
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: -0.005em;
          text-align: center;
          color: #ffffff;
          opacity: 0.7;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}

.aceite-termo {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

label {
  cursor: pointer;
  display: flex;
  position: relative;
  padding-left: 35px; /* 10 px padding right + 15px input type*/
  margin-right: 10px; /* margin between inputs types */
  color: #d3d3d3;
}

label:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  color: #ffffff;
}

input[type='checkbox'] {
  display: none;
}

.aceite-termo label:before {
  background: url('../../assets/img/icon_check1.png') left center no-repeat;
  margin-top: 0px;
}

input[type='checkbox']:checked + label:before {
  background: url('../../assets/img/icon-checked.png') left center no-repeat;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
