.s-banner-lpportugal {
    position: relative;
    padding-top: 170px;
    padding-bottom: 6.15625rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1024px) {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      flex-direction: column;
      padding-top: 95px;
      padding-bottom: 0;
      height: auto;
    }
    @media (max-width: 480px) {
      height: auto;
      margin-top: 0px;
    }
    .container-banner-lpportugal {
      width: 100%;
      max-width: 1600px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      padding-bottom: 124px;
      @media (max-width: 1480px) {
        max-width: 1216px;
      }
      @media (max-width: 1280px) {
        max-width: 1216px;
      }
      @media (max-width: 1024px) {
        flex-direction: column;
        padding-bottom: 110px;
      }
      @media (max-width: 480px) {
        padding-bottom: 32px;
      }
      .text-banner-lpportugal {
        width: 592px;
        z-index: 2;
        @media (max-width: 1024px) {
          margin-top: 650px;
          width: 90%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        @media (max-width: 768px) {
          margin-top: 550px;
          width: 90%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        @media (max-width: 480px) {
          margin-top: 330px;
        }
        h1 {
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 19px;
          letter-spacing: 0.04em;
          text-align: left;
          background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          margin-bottom: 16px;
          @media (max-width: 1024px) {
            text-align: center;
            width: 100%;
          }
          @media (max-width: 480px) {
            width: 100%;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
          }
        }
        h2 {
          width: 696px;
          font-size: 34px;
          font-style: normal;
          font-weight: 700;
          line-height: 34px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          margin-bottom: 32px;
          @media (max-width: 1280px) {
            font-size: 38px;
            line-height: 48px;
          }
          @media (max-width: 1024px) {
            width: 100%;
            font-size: 38px;
            line-height: 48px;
            text-align: center;
          }
          @media (max-width: 480px) {
            width: 100%;
            font-size: 18px;
            line-height: 29px;
            text-align: center;
            margin-bottom: 10px;
          }
          @media (max-width: 360px) {
            width: 100%;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
          }
        }
        span {
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          opacity: 0.8;
          margin-bottom: 32px;
          @media (max-width: 1024px) {
            width: 90%;
            text-align: center;
          }
          @media (max-width: 480px) {
            width: 90%;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 21.7px;
          }
        }
        .btn-comece {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 281px;
          height: 58px;
          background-color: $orange;
          margin-top: 32px;
          gap: 10px;
          @media (max-width: 1024px) {
            margin-top: 0;
          }
          strong {
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
          }
  
          &:hover {
            background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
            transition: all ease 0.3s;
          }
        }
        p {
          margin-top: 2.375rem;
          max-width: 340px;
          font-style: normal;
          font-weight: 700;
          font-size: 0.875rem;
          line-height: 1.3125rem;
          color: rgba(255, 255, 255, 0.7);
          @media (max-width: 1024px) {
            text-align: center;
          }
          @media (max-width: 480px) {
            margin-top: 10px;
          }
          strong {
            font-weight: 700;
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }
      .down-icon-lpportugal {
        position: absolute;
        bottom: 10px;
        left: 0;
        cursor: pointer;
        animation: arrow-down 1.5s infinite alternate;
        @media (max-width: 1024px) {
          bottom: 60px;
          left: 50%;
          transform: translate(-50%);
        }
        @media (max-width: 480px) {
          display: none;
        }
      }
      .bg-lpportugal {
        width: 55%;
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        top: -50px;
        z-index: 1;
        @media (max-width: 1025px) {display: none;}
      }
      .bg-lpportugal-tablet {
        display: none;
        @media (max-width: 1025px) {
          width: 90%;
          display: flex;
          position: absolute;
          top: 0px;
        }
    }
    }
  }
  
  .s-content-lpportugal {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(180deg, rgba(15, 17, 22, 0.8) 0%, rgba(15, 17, 22, 0) 100%);
    @media (max-width: 480px) {}
    .content-container-lpportugal {
        width: 100%;
        max-width: 1600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-top: 64px;
        @media (max-width: 1480px) {
          max-width: 1216px;
        }
        @media (max-width: 1024px) {width: 95%; padding-bottom: 0;}
        .content-bg-lpportugal {
            position: absolute;
            right: -100px;
            top: 0;
        }
        .content-title-lpportugal {
            width: 100%;
            max-width: 1216px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 28px;
            margin-bottom: 50px; 
            @media (max-width: 1024px) {flex-direction: column;}
            .title-text-lpportugal {
                display: flex;
                flex-direction: column;
                gap: 16px;
                @media (max-width: 480px) {width: 100%; align-items: center; justify-content: center;}
                h3 {
                    width: 465px;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 40px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    @media (max-width: 480px) {font-size: 18px; line-height: 21px; text-align: center; z-index: 9999; width: auto;}
                }
                p {
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #FFFFFF;
                    opacity: 0.8;
                    @media (max-width: 480px) {font-size: 16px; line-height: 24px; text-align: center; width: 247px;}
  
                }
            }
            .content-link {
                height: 100%;
                z-index: 999;
                p {
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 27px;
                    letter-spacing: 0em;
                    text-align: right;
                    color: rgba(255, 255, 255, 0.8);
                    @media (max-width: 480px) {
                      text-align: center;
                    }
                }
            }
            
        }
        .swiper-new-lp {
            width: 100%;
            .title-cards {
                width: 100%;
                max-width: 1216px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 auto;
                padding-bottom: 30px;
                @media (max-width: 1024px) {margin-top: 0px; padding-bottom: 0; flex-wrap: wrap; justify-content: center; gap: 32px;}
                @media (max-width: 480px) {margin-top: 80px; padding-bottom: 60px; flex-wrap: wrap; justify-content: center; gap: 20px;}
                @media (max-width: 345px) {padding-bottom: 100px;}
                .title-card {
                    width: 280px;
                    height: 140px;
                    background: $dark-700;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    @media (max-width: 480px) {width: 155px; height: 104px;}
                    .card-image {
                        width: 97px;
                        height: 27px;
                        border-radius: 45px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #1B1B1A;
                        position: absolute;
                        top: -13.5px;
                        left: 27px;
                        @media (max-width: 1024px) {left: 50%; transform: translate(-50%);}
                        span {
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 17px;
                            letter-spacing: 0.02em;
                            text-align: left;
                            color: $red;
                        }
                        .tag-bck {
                            color: $yellow-orange;
                        }
                    }
                    p {
                        width: 232px;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #FFFFFF;
                        opacity: 0.9;
                        @media (max-width: 1024px) {text-align: center;}
                        @media (max-width: 480px) {font-size: 12px; line-height: 18px; text-align: center; width: 95%;}
                    }
                }
            }
        }
    }
  }
  
  .s-how-learn-lpportugal {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 100px;
    @media (max-width: 1024px) {
      height: 950px;
      flex-direction: column;
      margin-bottom: 200px;
      padding-top: 0;
    }
    @media (max-width: 480px) {
      height: auto;
      margin-bottom: 0px;
    }
    .how-learn-container-lpportugal {
      width: 100%;
      max-width: 1600px;
      display: flex;
      justify-content: space-between;
      position: relative;
      @media (max-width: 1480px) {
        max-width: 1216px;
      }
      @media (max-width: 1280px) {
        max-width: 1216px;
      }
      @media (max-width: 1024px) {
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .how-learn-text-lpportugal {
        display: flex;
        flex-direction: column;
        gap: 40px;
        h3 {
          @media (max-width: 1024px) {
            text-align: center;
            text-transform: uppercase;
          }
        }
        .how-learn-items-lpportugal {
          display: flex;
          align-items: center;
          gap: 32px;
          .item-text-lpportugal {
            width: 545px;
            @media (max-width: 1024px) {
              width: 100%;
            }
            h4 {
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: 30px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
              padding-bottom: 8px;
            }
            p {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 23px;
              letter-spacing: -0.005em;
              text-align: left;
              color: #cfcfd0;
            }
          }
        }
      }
      .how-learn-image-lpportugal {
        width: 850px;
        position: absolute;
        right: -80px;
        top: 150px;
        @media (max-width: 1480px) {
          width: 650px;
          right: -30px;
        }
        @media (max-width: 1024px) {
          top: 550px;
          right: 50px;
        }
        @media (max-width: 480px) {
          top: 100px;
          right: 10px;
          position: relative;
          width: 100%;
        }
      }
    }
  }
  
  .s-popular-lpportugal {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(../../assets/img/lps/p03ap/BG-popular-desk.png);
    background-repeat: no-repeat;
    .popular-container-lpportugal {
        width: 100%;
        max-width: 1600px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 64px 0;
        gap: 52px;
        @media (max-width: 1480px) {
          max-width: 1216px;
        }
        @media (max-width: 1024px) {
          flex-direction: column; gap: 0px;
        }

        .popular-text {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 16px;
          @media (max-width: 1024px) {display: flex; flex-direction: row; gap: 60px; padding-bottom: 32px;}
          @media (max-width: 480px) {display: flex; flex-direction: column; gap: 8px;}
          h4 {
            width: 340px;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 0em;
            text-align: center;
            color: #FFFFFF;
            text-transform: uppercase;
            @media (max-width: 1024px) {width: 280px; font-size: 26px; line-height: 40px;}
            @media (max-width: 480px) {width: 290px; font-size: 18px; line-height: 20px;}
          }
          p {
            width: 240px;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: center;
            color: #FFFFFF;
            opacity: 0.8;
            @media (max-width: 1024px) {width: 360px;}
            @media (max-width: 480px) {width: 290px; font-size: 14px; line-height: 21.5px;}
          }
        }
    }
  }
  
  .s-soon-lpportugal {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .soon-container-lpportugal {
        width: 100%;
        max-width: 1400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 64px 0;
        @media (max-width: 480px) {padding-bottom: 0;}
        .soon-text {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 16px;
          margin-bottom: 47px;
          @media (max-width: 480px) {margin-bottom: 0; gap: 8px;}
          h4 {
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 0em;
            text-align: center;
            color: #FFFFFF;
            text-transform: uppercase;
            @media (max-width: 480px) {font-size: 18px; line-height: 20px;}
          }
          p {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: center;
            color: #FFFFFF;
            opacity: 0.8;
            @media (max-width: 480px) {font-size: 14px; line-height: 21.5px;}
          }
        }
    }
  }
  
  .s-soon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .soon-container-newlp {
      width: 100%;
      max-width: 1216px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 80px;
      @media (max-width: 480px) {
        width: 90%;
      }
      .soon-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-bottom: 48px;
        h3 {
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: 49px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
          text-transform: uppercase;
          @media (max-width: 480px) {
            font-size: 18px;
            line-height: 22px;
          }
        }
        p {
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          opacity: 0.9;
          @media (max-width: 480px) {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
      .soon-cards {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 32px;
        .soon-card {
          width: 592px;
          height: 248px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 21px;
          position: relative;
          @media (max-width: 480px) {
            width: 343px;
            height: 150px;
          }
          .card-layer {
            width: 185%;
            height: 250px;
            right: 0;
            background: linear-gradient(
              270deg,
              #111419 22.38%,
              #1e212b 29.37%,
              rgba(30, 33, 43, 0.3) 36.14%,
              rgba(30, 33, 43, 0) 46.77%,
              rgba(30, 33, 43, 0) 69.59%
            );
            position: absolute;
            overflow: hidden;
            z-index: 2;
            @media (max-width: 480px) {
              height: 150px;
            }
          }
          .soon-card-image {
            width: 280px;
            height: 248px;
            position: absolute;
            left: 0;
            z-index: 1;
            @media (max-width: 480px) {
              width: 164px;
              height: 150px;
            }
          }
          .soon-card-text {
            width: 231px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 9;
            position: absolute;
            right: 49px;
            @media (max-width: 480px) {
              width: 163px;
              right: 25px;
            }
            span {
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: 27px;
              letter-spacing: 0em;
              text-align: left;
              background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              @media (max-width: 480px) {
                font-size: 14px;
                line-height: 21px;
              }
            }
            p {
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: 29px;
              letter-spacing: 0em;
              text-align: center;
              color: #ffffff;
              @media (max-width: 480px) {
                font-size: 16px;
                line-height: 19px;
              }
            }
          }
        }
      }
    }
  }
  
  .s-assine-lpportugal {
    width: 100%;
    height: 800px;
    background: url(../../assets/img/BG-assine-newlp-desk.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .assine-lpportugal-container {
      width: 100%;
      max-width: 1216px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media (max-width: 480px) {
        width: 90%;
      }
      .assine-lpportugal-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        h3 {
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: 49px;
          letter-spacing: 0em;
          text-align: center;
          text-transform: uppercase;
          background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          @media (max-width: 480px) {
            font-size: 18px;
            line-height: 22px;
          }
        }
        span {
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
          @media (max-width: 480px) {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
      .assine-list-lpportugal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 16px;
        gap: 16px;
        .assine-list-item-lpportugal {
          width: 512px;
          display: flex;
          align-items: center;
          gap: 10px;
          @media (max-width: 480px) {
            width: 345px;
          }
          @media (max-width: 360px) {
            width: 100%;
          }
          p {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;
            opacity: 0.8;
            @media (max-width: 480px) {
              font-size: 14px;
              line-height: 21px;
            }
          }
        }
      }
      .assine-price-lpportugal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        p {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
          opacity: 0.8;
          strong {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 19px;
            letter-spacing: -0.02em;
            text-align: left;
            color: #FFFFFF;
          }
        }
        h4 {
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: 49px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          span {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;
            opacity: 0.8;
          }
        }
        .btn {
          .btn-comece {
            background: url('./assets/img/bg-btns.svg') no-repeat 0 0;
            width: 211px;
            height: 48px;
  
            display: flex;
            align-items: center;
            justify-content: center;
  
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 16px;
            text-transform: uppercase;
            color: #ffffff;
            margin: 16px 0;
            &:hover {
              background: url('./assets/img/bg-btns.svg') no-repeat -373px 0;
              width: 211px;
              height: 48px;
            }
          }
        }
        .cupom-lpportugal {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1px;
            p {
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: center;
                color: #FFFFFF;
                opacity: 0.8;
                strong {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #FFFFFF;
                    opacity: 0.8;
                }
            }
            span {
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: center;
                color: #FFFFFF;
                strong {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #FFFFFF;
                }
            }
        }
      }
    }
  }
  