h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 4rem;

  letter-spacing: -0.01em;

  color: #ffffff;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.875rem;
  letter-spacing: -0.01em;
  color: $dark-100;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #ffffff;
}

h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #ffffff;
}

.text-20 {
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.8125rem;

  letter-spacing: -0.005em;

  color: #ffffff;
}

.text-18 {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.625rem;
  letter-spacing: -0.005em;

  color: #ffffff;
}

.text-16 {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.4375rem;

  letter-spacing: -0.005em;

  color: #ffffff;
}

.span-banner {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;

  letter-spacing: -0.005em;
  text-transform: uppercase;
}
