* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  text-align: left;
  border: 0;
  color: #23292e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  font-size: 16px;
  font-family: 'proxima-nova';
}

html {
  font-size: 1rem;
  background-color: #000;
  scroll-behavior: smooth;
}

button {
  background: transparent;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

html,
body {
  overflow-x: hidden;
}

a {
  display: block;
}

body.customize-support {
  top: 32px;
}

input,
button,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container {
  max-width: 1246px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0px 24px;
  }
}
