.s-banner-sarah {
  min-height: 100vh;
  position: relative;
  padding-top: 10px;
  padding-bottom: 20.15625rem;
  background: url(@/assets/img/LP-Sarah/Hero/1920.png) no-repeat center;
  @media (max-width: 820px) {
    background: url(@/assets/img/LP-Sarah/Hero/768.png) no-repeat center;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  @media (max-width: 480px) {
    background: url(@/assets/img/LP-Sarah/Hero/375.png) no-repeat center;
    background-size: cover;
    padding-top: 0px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 820px) {
      display: flex;
      justify-content: center;
      position: relative;
    }
    @media (max-width: 480px) {
      display: flex;
      justify-content: center;
      position: relative;
    }
  }

  .text {
    width: 100%;
    max-width: 584px;
    margin-top: 64px;
    bottom: -150px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 820px) {
      bottom: -450px;
    }
    @media (max-width: 480px) {
      position: relative;
      padding-top: 400px;
      bottom: 00px;
    }
    p {
      width: 374px;
      margin-top: 40px;
      font-family: Proxima Nova;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: center;
      color: #ffffff;
      opacity: 0.8;
      @media (max-width: 820px) {
        width: 350px;
        font-size: 16px;
        line-height: 24px;
        margin-top: 32px;
      }
      @media (max-width: 480px) {
        width: 340px;
      }
    }

    .btn-comece {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 388.27px;
      height: 62px;
      background-color: $red;
      margin-top: 2.375rem;
      @media (max-width: 820px) {
        margin-top: 16px;
      }
      @media (max-width: 480px) {
        width: 100%;
      }
      strong {
        margin-right: 0.625rem;
        margin-left: 0.625rem;

        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.375rem;
        text-transform: uppercase;

        color: #ffffff;
        @media (max-width: 375px) {
          width: 100%;
          font-size: 16px;
          text-align: center;
          margin-left: 0;
          margin-right: 0;
        }
      }

      &:hover {
        background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
        transition: all ease 0.3s;
      }
    }

    span {
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: center;
      color: #ffffff;
      opacity: 0.8;
      padding-top: 16px;
      strong {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        text-decoration: line-through;
        color: #ffffff;
        opacity: 0.8;
      }
    }

    .info {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 591px;
      top: 517px;
      z-index: 1;

      img {
        margin-right: 0;
      }

      a {
        animation: arrow-down 1.5s infinite alternate;
      }
    }
    .cupom-sarah {
      margin-top: 24px;
    }
  }

  .imagens {
    display: flex;
    position: absolute;
    width: 1016px;
    height: 730px;
    top: 103px;
    right: 136px;

    img {
      margin-right: 22px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media (max-width: 480px) {
    .text {
      margin-top: -82px;
    }
    .imagens {
      width: 475px;
      height: 343px;
      right: 45px;
    }
  }
}

.s-os-melhores {
  .container {
    .os-melhores-title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20.28px;
      padding: 80px 0 32px 0;
      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
      }
      h3 {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        @media (max-width: 480px) {
          text-align: center;
        }
      }
    }
    .os-melhores-description {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 64px;
      p {
        width: 500px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        opacity: 0.8;
      }
    }
  }
}

.s-porque {
  .container {
    .porque-text {
      width: 527px;
      padding-bottom: 80px;
      @media (max-width: 820px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      h3 {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        padding-top: 16px;
        @media (max-width: 820px) {
          text-align: center;
        }
      }
    }
    .porque-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-bottom: 80px;
      @media (max-width: 820px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .porque-items {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 32px;
        gap: 16px;
        @media (max-width: 820px) {
          width: 554px;
        }
        @media (max-width: 480px) {
          width: 100%;
        }
        p {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          opacity: 0.8;
        }
      }
    }
    .porque-button {
      display: flex;
      align-items: center;
      justify-content: center;
      .btn-comece {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 327px;
        height: 48px;
        background-color: $orange;
        margin-bottom: 80px;
        strong {
          margin-right: 0.625rem;
          margin-left: 0.625rem;

          font-style: normal;
          font-weight: 600;
          font-size: 1rem;
          line-height: 1.375rem;
          text-transform: uppercase;

          color: #ffffff;
        }

        &:hover {
          background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
          transition: all ease 0.3s;
        }
      }
    }
  }
}

.s-teste {
  // background-color: #17191F;
  background: url(@/assets/img/background-7dias-web.png) no-repeat center;
  background-size: cover;
  @media (max-width: 820px) {
    background: url(@/assets/img/background-7dias-tablet.png) no-repeat center;
    background-size: contain;
  }
  @media (max-width: 480px) {
    background: url(@/assets/img/background-7dias-mobile.png) no-repeat center;
    background-size: contain;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 820px) {
      display: flex;
      flex-direction: column-reverse;
      margin-top: -100px;
    }
    @media (max-width: 480px) {
      margin-top: -300px;
    }
    .teste-text {
      width: 488px;
      padding: 80px 0 145px 0;
      @media (max-width: 820px) {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 600px;
      }
      @media (max-width: 480px) {
        padding-top: 800px;
      }
      h3 {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 16px;
        @media (max-width: 820px) {
          text-align: center;
        }
      }
      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: #fff;
        margin-top: 32px;
        @media (max-width: 820px) {
          text-align: center;
        }
      }
      .btn-comece {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 281px;
        height: 58px;
        background-color: $orange;
        margin-top: 74px;
        @media (max-width: 820px) {
          margin: 74px auto;
        }
        strong {
          margin-right: 0.625rem;
          margin-left: 0.625rem;

          font-style: normal;
          font-weight: 600;
          font-size: 1rem;
          line-height: 1.375rem;
          text-transform: uppercase;

          color: #ffffff;
        }

        &:hover {
          background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
          transition: all ease 0.3s;
        }
      }
    }

    .teste-image {
      width: 592px;
      margin-right: -140px;
      img {
        border: 2.40958px solid $dark-500;
        border-radius: 24.353px;
      }
    }
  }
}
