.separator {
  border-bottom: 1px solid #2f3137;
  text-align: center;
  width: 100%;
  margin: 0 0 70px 0;
  img {
    margin: 0 auto;
    bottom: -33px;
    position: relative;
  }
}

.bg-pg-teacher {
  background: #0d0e12;
}

.s-banner-top-professor {
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-image: url('../../assets/img/teacher-banner.jpg');
  @media (max-width: 480px) {
    background-position: center;
    background-size: cover;
  }
  .box-data {
    background: -moz-linear-gradient(180deg, rgba(13, 14, 18, 0.2) 12.83%, #0d0e12 114.21%);
    background: -webkit-linear-gradient(180deg, rgba(13, 14, 18, 0.2) 12.83%, #0d0e12 114.21%);
    background: linear-gradient(180deg, rgba(13, 14, 18, 0.2) 12.83%, #0d0e12 114.21%);
    padding-top: 23%;
  }
  .box-info {
    bottom: 0;
    width: 100%;
    @media (max-width: 820px) {
      margin-top: 150px;
    }
    @media (max-width: 480px) {
      margin-top: 250px;
    }
    h1 {
      font-size: 80px;
      line-height: 75px;
      font-weight: 700;
      color: #fff;
      text-align: center;
      @media (max-width: 820px) {
        font-size: 60px;
        line-height: 73px;
      }
      @media (max-width: 480px) {
        font-size: 40px;
        line-height: 48px;
      }
    }
    .linha {
      width: 30px;
      height: 3px;
      background: $orange;
      display: table;
      margin: 24px auto;
      @media (max-width: 820px) {
        margin: 10px auto;
      }
      @media (max-width: 480px) {
        margin: 20px auto;
      }
    }
    .breveContainer {
      width: 220.67px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 24px auto;
      p {
        width: auto;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0 16px 0 16px;
        background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .em-breve-linha {
        width: 20px;
        height: 3px;
        background: #ffffff;
      }
    }
    p {
      font-size: 20px;
      line-height: 24px;
      color: #fff;
      text-align: center;
      max-width: 877px;
      margin: 0 auto;
    }
    .compartilhe {
      width: auto;
      display: table;
      text-align: center;
      float: left;
      margin: 0 15px;
      cursor: pointer;
      small {
        color: #fff;
        font-weight: 700;
        font-size: 18px;
      }
      img {
        width: 50px;
        height: auto;
        margin: 0 auto;
      }
    }
    .play {
      width: auto;
      display: table;
      text-align: center;
      float: left;
      margin: 0 15px;
      cursor: pointer;
      small {
        color: #fff;
        font-weight: 700;
        font-size: 18px;
      }
      img {
        width: 50px;
        height: auto;
        margin: 0 auto;
      }
    }
    .box-play-compartilhe {
      display: table;
      margin: 40px auto;
      @media (max-width: 820px) {
        margin: 10px auto;
      }
      @media (max-width: 480px) {
        margin: 10px auto;
      }
    }
    a.btn-comece {
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 281px;
      height: 58px;
      background-color: $orange;
      margin: 26px auto;
      font-size: 26px;
      font-weight: 600;
      text-transform: uppercase;
      &:hover {
        background: -o-linear-gradient(182.74deg, $red-orange -0.71%, $red 130.41%);
        background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
      }
      strong {
        color: #fff;
        padding: 0 10px;
      }
    }
    p.condition-value {
      color: #fff;
      font-size: 16px;
      padding-bottom: 20px;
      span {
        color: $dark-100;
      }
    }
    .container {
      background: transparent;

    }
  }
}

.s-playlist-video {
  padding: 100px 0;
  display: flex;
  background: #0d0e12;
  position: relative;
  @media (max-width: 820px) {
    height: 100%;
  }
  .container {
    background: transparent;

    // max-height: 500px;
  }
  .box-video {
    width: 55%;
    height: auto;
    float: left;
    display: block;
    padding: 0;
    #show-video {
      width: 699.87;
      height: 431.13;
      margin: 0 auto;
      padding-bottom: 56.25%;
      padding-top: 25px;
      position: relative !important;
      @media (max-width: 820px) {
        width: 431px;
        height: 264px;
      }
      @media (max-width: 820px) {
        width: 100%;
      }
      iframe {
        width: 696px;
        height: 386.67px;
        left: 0;
        position: absolute !important;
        top: 0;
        width: 100%;
      }
    }
    h3 {
      background: url('../../assets/img/icon-assista-ao-treiler.svg') no-repeat;
      background-position: left;
      font-size: 20px;
      color: #fff;
      padding-left: 30px;
      margin: 0 0 20px 0;
    }
    .title {
      font-weight: bold;
      font-size: 20px;
      color: #fff;
      margin: 30px 0 10px 0;
    }
  }
  .box-lista {
    width: 394px;
    height: auto;
    float: right;
    display: block;
    position: relative;
    @media (max-width: 820px) {
      width: 249px;
      max-height: 436px;
    }
    @media (max-width: 480px) {
      width: 100%;
      max-height: 536px;
    }
    // &::after{
    // 	background: linear-gradient(0deg, #0D0E12 16.17%, rgba(15, 17, 22, 0) 92.03%);;
    // 	content: "";
    // 	width: 100%;
    // 	height: 100px;
    // 	position: absolute;
    // 	bottom: -50px;
    // }
    .box-lista-title {
      width: 394px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h3 {
        background: url('../../assets/img/icon-episodios.svg') no-repeat;
        background-position: left;
        font-size: 20px;
        color: #fff;
        padding-left: 30px;
        margin: 0 0 20px 0;
      }
      p {
        background: url('../../assets/img/down-icon.svg') no-repeat;
        background-position: right;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        font-style: normal;
        color: #fff;
        padding-right: 20px;
        margin: 0 0 20px 0;
      }
    }
    a.btn-comece {
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
      height: 58px;
      background-color: $orange;
      margin: 26px auto;
      font-size: 26px;
      font-weight: 600;
      text-transform: uppercase;
      &:hover {
        background: -o-linear-gradient(182.74deg, $red-orange -0.71%, $red 130.41%);
        background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
      }
      strong {
        color: #fff;
        padding: 0 10px;
      }
    }
  }
  #description_video_playlist {
    @media (max-width: 820px) {
      margin-top: 80px;
    }
    p {
      color: #fff;
      font-size: 16px;
      line-height: 24px;
      opacity: 0.8;
    }
  }
  ul.accordion-list {
    position: relative;
    display: block;
    width: 100%;
    padding: 0 10px 0 0px;
    margin: 0;
    list-style: none;

    li.video {
      padding: 0;
      h2 {
        &::after {
          display: none !important;
          visibility: hidden;
          height: 0px;
        }
      }
      .answer {
        display: none !important;
        visibility: hidden;
        height: 0px;
      }
    }
    li {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
      padding: 5px 10px 5px 5px;
      margin: 0 auto 15px auto;
      border: 1px solid $dark-600;
      cursor: pointer;

      h2 {
        line-height: 1rem;
        font-weight: 600;
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
        font-size: 15px;
        cursor: pointer;
        padding: 10px 25px 10px 10px;
        color: #fff;
        &:after {
          content: url('../../assets/img/icon-seta-accordion.svg');
          transform: rotate(0deg);
          position: absolute;
          right: 15px;
          top: 0;
          color: #fff;
          transition: all 0.3s ease-in-out;
          font-size: 20px;
          margin-top: 6px;
          opacity: 0.5;
        }
      }

      // .temp_ep {
      // 	color: #fff;
      // 	width: auto;
      // 	display: table;
      // 	float: left;
      // 	background: $dark-600;
      // 	padding: 5px 10px;
      // 	border-radius: 51px;
      // 	font-weight: 600;
      // 	font-size: 12px;
      // 	margin: 5px 0 0px 10px;
      // }
      // .duration {
      // 	color: #fff;
      // 	background: url("../../assets/img/icon-duration.svg") no-repeat;
      // 	background-position: left;
      // 	font-weight: 600;
      // 	font-size: 12px;
      // 	color: #fff;
      // 	opacity: 0.6;
      // 	padding-left: 20px;
      // 	width: auto;
      // 	display: inline-block;
      // 	margin: 10px 0 0px 5px;
      // }
    }
  }
}

.s-os-melhores {
  .container {
    background: transparent;
    .os-melhores-title1 {
      display: flex;
      flex-direction: column;
      padding-top: 80px;
    }
    .melhores-title-span {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 0px;
      text-transform: uppercase;

      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
      }
      img {
        @media (max-width: 2560px) {
          display: none;
        }
        @media (max-width: 480px) {
          display: flex;
          margin-bottom: 20.02px;
        }
      }
      .gradient-text {
        background-color: red;
        background-image: linear-gradient(45deg, $red-orange, $red);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;

        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
      }
    }
    .melhores-title-main {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20.28px;
      padding: 8px 0 16px 0;
      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
      }
      img {
        @media (max-width: 480px) {
          display: none;
        }
      }
      h3 {
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        @media (max-width: 480px) {
          text-align: center;
        }
      }
    }
    .os-melhores-description {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 64px;
      p {
        width: 500px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        opacity: 0.8;
      }
    }
  }
}

.sugestao_de_mentores {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #0d0e12;
  .area-backstage {
    margin-top: 0;
    .title {
      border-right: none !important;
    }
  }
}

.s-portal.teacher {
  padding-top: 25px;
}

.s-form-teacher {
  background-image: url('../../assets/img/bg-fom-teacher.webp');
  background-position: center center;
  background-color: #141414;
  background-repeat: no-repeat;
  display: flex;
  margin: 0 0 77px 0;
  .box-img {
    width: 63%;
    float: left;
    display: block;
    padding: 0;
    img {
      width: 100%;
      max-width: 700px;
      height: auto;
      top: -50px;
      position: relative;
    }
  }
  .box-form {
    width: 37%;
    float: left;
    display: block;
    padding: 0px 0 0 2%;
    margin: 30px 0 0 0;
    h2 {
      font-size: 40px;
      color: $orange;
      span {
        color: #fff;
        font-size: 40px;
      }
    }
    p {
      font-size: 20px;
      color: #fff;
      line-height: 28px;
      margin: 25px 0;
    }
    .form {
      .form-imput {
        background: $dark-700;
        opacity: 0.9;
        color: #fff;
        width: 100%;
        margin: 0 0 24px 0;
        padding: 15px;
      }
      .aceite-termo {
        input#aceite {
          background: url('../../assets/img/icon-checkbox.webp') no-repeat;
          width: 29px;
          height: 29px;
          padding: 0;
          margin-bottom: -13px;
          cursor: pointer;
          left: 0;
        }
        input#aceite:checked {
          background: url('../../assets/img/icon-checked.png') no-repeat;
          width: 29px;
          height: 29px;
          padding: 0;
          bottom: -13px;
          margin-left: 5px;
        }
        label.aceite {
          color: #86868d;
          font-size: 14px;
        }
      }
      .button-send {
        .submit {
          font-size: 16px;
          position: relative;
          color: #fff;
          background: -o-linear-gradient(182.74deg, $red-orange -0.71%, $red 130.41%);
          background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
          padding: 12px 29px;
          width: 100%;
          text-align: center;
          font-weight: bold;
          margin: 20px 0;
          &:hover {
            background: -o-linear-gradient(182.74deg, $red -0.71%, $red-orange 130.41%);
            background: linear-gradient(267.26deg, $red -0.71%, $red-orange 130.41%);
            -webkit-transition: all ease-out 2s;
            -moz-transition: all ease-out 2s;
            -o-transition: all ease-out 2s;
            transition: all ease-out 2s;
          }
        }
      }
    }
  }
  .container {
    background: transparent;
  }
}

@media (max-width: 480px) {
  .s-banner-top {
    .box-data {
      padding-top: 0%;
    }
  }
  .s-playlist-video {
    padding: 50px 0 0 0;
    .box-lista {
      padding: 0;
      width: 100%;
    }
    .box-video {
      width: 100%;
    }
    #description_video_playlist {
      margin-bottom: 20px;
      max-height: 300px;
      overflow-y: scroll;
      scrollbar-color: $orange #2b2b2b;
    }
    ul.accordion-list {
      max-height: 300px;
    }
  }
  .sugestao_de_mentores.s-producoes {
    .area-backstage {
      .top-slide {
        float: left;
        margin: 0 0 20px 0;
      }
    }
  }
  .s-form-teacher {
    .box-form {
      width: 100%;
      padding: 0;
      margin: 0;
    }
    .box-img {
      width: 100%;
      img {
        top: -70px;
      }
    }
    background-position: center -200%;
    background-color: #000;
  }
  .s-portal.teacher {
    padding-bottom: 0px;
  }
  .s-perguntas.teacher {
    padding-top: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .s-playlist-video {
    padding: 60px 0 0px 0;
    .box-lista {
      padding: 0;
      width: 100%;
    }
    .box-video {
      width: 100%;
    }
    #description_video_playlist {
      margin-bottom: 20px;
      max-height: 300px;
      overflow-y: scroll;
      scrollbar-color: $orange #2b2b2b;
    }
    ul.accordion-list {
      max-height: 300px;
    }
  }
  .sugestao_de_mentores.s-producoes {
    .area-backstage {
      .top-slide {
        float: left;
        margin: 0 0 20px 0;
      }
    }
  }
  .s-form-teacher {
    .box-form {
      width: 100%;
      padding: 0;
      margin: 0;
    }
    .box-img {
      width: 100%;
      img {
        top: -70px;
      }
    }
    background-position: center -200%;
    background-color: #000;
  }
  .s-portal.teacher {
    padding-bottom: 140px;
  }
  .s-perguntas.teacher {
    padding-top: 10px;
  }
}
// @media (min-width: 768px) and (max-width: 991.98px) {
// 	.s-banner-top {
// 		.box-data {
// 			padding-top: 30%;
// 		}
// 		.box-info {
// 			h1 {
// 				font-size: 40px;
// 			}
// 			p {
// 				font-size: 16px;
// 			}
// 		}
// 	}
// 	.s-playlist-video {
// 		padding: 50px 0;
// 		ul.accordion-list {
// 			max-height: 400px;
// 			li {
// 				h2 {
// 					font-size: 13px;
// 				}
// 			}
// 		}
// 		#description_video_playlist {
// 			p {
// 				font-size: 16px;
// 				line-height: 24px;
// 			}
// 		}
// 	}
// }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .s-playlist-video {
    ul.accordion-list {
      max-height: 500px;
    }
  }
}

.scroll-lista {
  width: 100%;
  max-height: 560px;
  position: relative;
  overflow-y: scroll;
  @media (max-width: 820px) {
    max-height: 450px;
  }
}

.scroll-lista::-webkit-scrollbar {
  width: 6px;
}
.scroll-lista::-webkit-scrollbar-track {
  background: #2b2b2b;
  border-radius: 8px;
}
.scroll-lista::-webkit-scrollbar-thumb {
  background-color: $dark-100;
  border-radius: 8px;
}

#modal {
  height: 0px;
}
