.s-banner-topo-soon {
  margin-top: 100px;
  .bg {
    margin-bottom: 80px;
    background: url('../../assets/img/hero-banner-em-breve.png') no-repeat;
    background-position: right top;
    background-size: contain;
    background-color: $dark-900;
    @media (max-width: 768px) {
      background-position: 320% top;
      margin-bottom: 60px;
    }
    @media (max-width: 600px) {
      background-position: 0px -50%;
      margin-bottom: 50px;
    }
    @media (max-width: 480px) {
      background-position: 0px -22%;
      margin-bottom: 40px;
    }
  }

  .mask {
    @media (max-width: 600px) {
      background: rgba(11, 12, 15);
      background: -moz-radial-gradient(circle rgba(11, 12, 15, 0.5) 0%, rgba(0, 0, 0, 1) 100%);
      background: -webkit-radial-gradient(circle, rgba(11, 12, 15, 0.5) 0%, rgba(0, 0, 0, 1) 100%);
      background: radial-gradient(circle, rgba(11, 12, 15, 0.5) 0%, rgba(0, 0, 0, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#919191",endColorstr="#000000",GradientType=1);
    }
  }

  .square {
    margin: 0 0 30px 2px;
    @media (max-width: 768px) {
      display: none;
    }
  }

  .box-data {
    max-width: 550px;
    width: 100%;
    padding-top: 60px;
    @media (max-width: 768px) {
      padding-top: 80px;
    }
    @media (max-width: 600px) {
      padding-top: 100px;
    }

    h1 {
      background: #f94444;
      background: -webkit-linear-gradient(to right, #f94444 7%, #ff9a56 100%);
      background: -moz-linear-gradient(to right, #f94444 7%, #ff9a56 100%);
      background: linear-gradient(to right, #f94444 7%, #ff9a56 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 104px;
      line-height: 95%;
      @media (max-width: 768px) {
        font-size: 80px;
        line-height: 76px;
      }
      @media (max-width: 600px) {
        text-align: center;
      }
      @media (max-width: 480px) {
        font-size: 48px;
        line-height: 45px;
      }
    }

    p.subtitulo {
      color: #fff;
      font-weight: 600;
      font-size: 24px;
      line-height: 31px;
      padding: 0 6px;
      margin-top: 10px;
      max-width: 410px;
      width: 100%;
      @media (max-width: 600px) {
        width: 100%;
        text-align: center;
        max-width: 100%;
      }
      @media (max-width: 480px) {
        font-size: 16px;
        line-height: 21px;
      }
    }

    .box-form {
      margin-top: 56px;
      @media (max-width: 600px) {
        margin-top: 10%;
      }
      p {
        color: #fff;
        font-size: 18px;
        line-height: 140%;
        padding: 0 6px;
        max-width: 410px;
        width: 100%;
        @media (max-width: 600px) {
          max-width: 100%;
          width: 100%;
          text-align: center;
        }
        @media (max-width: 480px) {
          font-size: 14px;
          line-height: 19px;
        }
      }
      form {
        margin-top: 20px;
        #email {
          background: #1e2025;
          color: #fff;
          width: 100%;
          max-width: 385px;
          padding: 13px;
          font-size: 17px;
          @media (max-width: 600px) {
            max-width: 100%;
          }
        }

        .aceite-termo {
          margin-top: 20px;
        }

        input#aceite {
          background: url('../../assets/img/icon_check1.png') no-repeat;
          width: 20px;
          height: 20px;
          padding: 0;
          margin-bottom: -7px;
          background-size: 17px;
          cursor: pointer;
          margin-right: 5px;
        }
        input#aceite:checked {
          background: url('../../assets/img/icon-checked.png') no-repeat;
          width: 20px;
          height: 20px;
          padding: 0;
          background-size: 17px;
          margin-bottom: -7px;
          margin-right: 5px;

          border: none;
        }

        label.aceite {
          font-weight: normal;
          font-size: 14px;
          line-height: 140%;
          color: #86868d;
        }
        .submit {
          color: #fff;
          background: -o-linear-gradient(182.74deg, $red-orange -0.71%, $red 130.41%);
          background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
          padding: 12px 29px;
          width: 100%;
          max-width: 380px;
          font-size: 16px;
          text-transform: uppercase;
          text-align: center;
          font-weight: bold;
          margin: 20px 0;
          &:hover {
            background: -o-linear-gradient(182.74deg, $red -0.71%, $red-orange 130.41%);
            background: linear-gradient(267.26deg, $red -0.71%, $red-orange 130.41%);
            -webkit-transition: all ease 0.3s;
            -o-transition: all ease 0.3s;
            transition: all ease 0.3s;
          }

          &[disabled] {
            pointer-events: none;
            background: $dark-500;
            opacity: 0.4;
          }

          @media (max-width: 600px) {
            max-width: 100%;
          }
        }
      } /* form */
    } /* box-form */
  } /* box-data */
} /* s-banner-topo-soon  */

.s-topo-soon {
  .box-data {
    p {
      font-size: 18px;
      line-height: 140%;
      color: #ffffff;
      text-align: center;
      @media (max-width: 480px) {
        font-size: 12px;
      }
    }

    h2 {
      font-weight: bold;
      color: #ffffff;
      font-size: 48px;
      line-height: 104.5%;
      text-align: center;
      letter-spacing: -0.01em;
      margin: 10px 0 20px 0;
      @media (max-width: 768px) {
        font-size: 40px;
        line-height: 133%;
      }
      @media (max-width: 480px) {
        font-size: 20px;
        line-height: 133%;
      }
    }

    a {
      margin: 0 auto;
      display: table;
      cursor: pointer;
    }
  } /* box-data */
} /* s-topo-soon */

.s-box-soon {
  padding-top: 55px;
  padding-bottom: 40px;
  @media (max-width: 480px) {
    padding-bottom: 25px;
  }

  .bg {
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    display: table;
    margin-bottom: 80px;
    @media (max-width: 768px) {
      margin-bottom: 70px;
    }
    @media (max-width: 600px) {
      margin-bottom: 60px;
    }
    @media (max-width: 480px) {
      margin-bottom: 50px;
    }
  }

  .container:last-child .bg {
    margin-bottom: 0;
  }

  .container:nth-child(odd) .bg {
    background-position: top right;
    @media (max-width: 768px) {
      background-position: center;
    }
  }
  .container:nth-child(even) .bg {
    background-position: top left;
    @media (max-width: 768px) {
      background-position: center;
    }
  }

  .container:nth-child(odd) .mask {
    display: table;
    width: 100%;
    background: rgba(11, 12, 15);
    background: -moz-radial-gradient(at right 40%, rgba(11, 12, 15, 0.2) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-radial-gradient(at right 40%, rgba(11, 12, 15, 0.2) 0%, rgba(0, 0, 0, 1) 100%);
    background: radial-gradient(at right 40%, rgba(11, 12, 15, 0.2) 0%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#919191",endColorstr="#000000",GradientType=1);
    @media (max-width: 768px) {
      background: rgba(11, 12, 15);
      background: -moz-radial-gradient(circle rgba(11, 12, 15, 0.2) 0%, rgba(0, 0, 0, 1) 100%);
      background: -webkit-radial-gradient(circle, rgba(11, 12, 15, 0.2) 0%, rgba(0, 0, 0, 1) 100%);
      background: radial-gradient(circle, rgba(11, 12, 15, 0.2) 0%, rgba(0, 0, 0, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#919191",endColorstr="#000000",GradientType=1);
    }
  }

  .container:nth-child(even) .mask {
    display: table;
    width: 100%;
    background: rgba(11, 12, 15);
    background: -moz-radial-gradient(at left 40%, rgba(11, 12, 15, 0.2) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-radial-gradient(at left 40%, rgba(11, 12, 15, 0.2) 0%, rgba(0, 0, 0, 1) 100%);
    background: radial-gradient(at left 40%, rgba(11, 12, 15, 0.2) 0%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#919191",endColorstr="#000000",GradientType=1);
    @media (max-width: 768px) {
      background: rgba(11, 12, 15);
      background: -moz-radial-gradient(circle rgba(11, 12, 15, 0.2) 0%, rgba(0, 0, 0, 1) 100%);
      background: -webkit-radial-gradient(circle, rgba(11, 12, 15, 0.2) 0%, rgba(0, 0, 0, 1) 100%);
      background: radial-gradient(circle, rgba(11, 12, 15, 0.2) 0%, rgba(0, 0, 0, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#919191",endColorstr="#000000",GradientType=1);
    }
  }

  .container:nth-child(odd) .box-data {
    float: left;
  }
  .container:nth-child(even) .box-data {
    float: right;
    @media (max-width: 768px) {
      float: left;
    }
  }

  .box-data {
    width: 100%;
    padding: 0 0 0 56px;
    max-width: 600px;
    height: 410px;
    display: table;
    @media (max-width: 768px) {
      width: 360px;
      padding: 30px 0px 30px 30px;
    }
    @media (max-width: 480px) {
      width: 100%;
    }
    // @media (max-width: 600px) {
    // 	height: 290px;
    // 	width: 70%;
    // }

    .center-h {
      display: table-cell;
      vertical-align: middle;
      @media (max-width: 768px) {
        vertical-align: bottom;
      }
    }

    h2 {
      background: #f94444;
      background: -webkit-linear-gradient(to right, #f94444 0%, #ff9a56 25%);
      background: -moz-linear-gradient(to right, #f94444 0%, #ff9a56 25%);
      background: linear-gradient(to right, #f94444 0%, #ff9a56 25%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 30px;
      }
      @media (max-width: 600px) {
        font-size: 16px;
        line-height: 20px;
      }
    }
    h3 {
      width: 630px;
      font-weight: 700;
      font-size: 80px;
      line-height: 88px;
      color: #fff;
      @media (max-width: 768px) {
        font-size: 49px;
        line-height: 60px;
      }
      @media (max-width: 600px) {
        font-size: 32px;
        line-height: 41px;
      }
      @media (max-width: 480px) {
        width: 100%;
      }
    }
  }
}

.soon-separator {
  border-bottom: 1px solid #2f3137;
  text-align: center;
  width: 100%;
  .box-separator {
    img {
      margin: 0 auto;
      bottom: -33px;
      position: relative;
    }
  }
}

.s-portal.soon {
  padding-top: 35px;
  padding-bottom: 15px;

  @media (max-width: 600px) {
    padding-top: 0;
    padding-bottom: 5px;
  }
}

.s-form-teacher.soon {
  margin-top: 120px;
  margin-bottom: 50px;
  @media (max-width: 990px) {
    margin-top: 50px;
  }
  @media (max-width: 768px) {
    margin-top: 100px;
    margin-bottom: 30px;
  }
}

.s-perguntas.soon {
  @media (max-width: 600px) {
    padding-top: 25px;
  }
}
