.s-comece {
  padding-bottom: 80px;
  .container {
    background: transparent;
  }
  .comece-container {
    width: 1216px;
    border-left: 1px solid #41444d;
    border-bottom: 1px solid #41444d;
    border-right: 1px solid #41444d;
    margin-bottom: 80px;
    margin: 0 auto;
    @media (max-width: 820px) {
      width: 95%;
    }
    .comece-banner {
      width: 100%;
      height: 221px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
      background: url(../../assets/img/banner-price-web.png) no-repeat;
      background-size: cover;
      @media (max-width: 820px) {
        width: 100%;
        background: url(../../assets/img/banner-price-tablet.png);
        background-size: cover;
        margin-bottom: 30px;
      }
      @media (max-width: 480px) {
        background: url(../../assets/img/banner-price-mobile.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        height: 284px;
        gap: 32px;
        justify-content: center;
      }
      .comece-title {
        padding-left: 40px;
        @media (max-width: 480px) {
          padding: 0;
        }
        h3 {
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: 58px;
          letter-spacing: 0em;
          text-align: left;
          @media (max-width: 820px) {
            font-size: 32px;
          }
          @media (max-width: 480px) {
            font-size: 32px;
            text-align: center;
          }
        }
        p {
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          margin-top: 20px;
          @media (max-width: 820px) {
            width: 228px;
            font-size: 16px;
          }
          @media (max-width: 480px) {
            font-size: 14px;
            text-align: center;
            width: 215px;
            margin-top: 8px;
          }
        }
      }
      .comece-price {
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width: 480px) {
          padding: 0;
        }
        span {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
          opacity: 0.8;
        }
        h4 {
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: 49px;
          letter-spacing: 0em;
          text-align: left;
          @media (max-width: 480px) {
            font-size: 32px;
          }
        }
        .btn-comece {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 327px;
          height: 48px;
          background-color: $red;
          margin-top: 16px;
          @media (max-width: 480px) {
            display: none;
          }
          strong {
            margin-right: 0.625rem;
            margin-left: 0.625rem;

            font-style: normal;
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.375rem;
            text-transform: uppercase;

            color: #ffffff;
          }

          &:hover {
            background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
            transition: all ease 0.3s;
          }
        }
      }
    }
    .comece-column {
      text-align: center;
      h4 {
        padding-bottom: 32px;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 15%;
        @media (max-width: 820px) {
          margin-left: 0%;
        }
        @media (max-width: 480px) {
          text-align: center;
        }
      }
    }
    .comece-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding-bottom: 80px;
      @media (max-width: 820px) {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-left: 30px;
      }
      @media (max-width: 480px) {
        margin-left: 0px;
        padding-bottom: 0;
      }
      .comece-items {
        width: 296px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 16px;
        gap: 16px;
        margin: 0 auto;
        @media (max-width: 820px) {
          width: 100%;
          align-items: left;
          justify-content: left;
          left: 0;
        }
        @media (max-width: 480px) {
          width: 255px;
        }
        p {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          opacity: 0.8;
          @media (max-width: 480px) {
            font-size: 14px;
          }
        }
      }
    }
    .btn-comece {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 244.27px;
      height: 48px;
      background-color: $red;
      margin-top: 16px;
      @media (max-width: 2560px) {
        display: none;
      }
      @media (max-width: 480px) {
        display: flex;
        margin: 32px auto;
      }
      strong {
        margin-right: 0.625rem;
        margin-left: 0.625rem;

        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.375rem;
        text-transform: uppercase;

        color: #ffffff;
      }

      &:hover {
        background: linear-gradient(267.26deg, $red-orange -0.71%, $red 130.41%);
        transition: all ease 0.3s;
      }
    }
  }
}
