.s-swiper-new-lp-backstaage {
  padding-top: 0;
  padding-bottom: 80px;
  padding-left: 104px;
  @media (max-width: 820px) {
    padding-left: 0;
  }

  .area-swiper {
    margin-top: 40px;
    position: relative;
    @media (max-width: 820px) {
      margin-top: -100px;
    }
    @media (max-width: 480px) {
      margin-top: 900px;
    }
    .top-slide {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;
      }

      .actions {
        .swiper-pagination {
          position: relative;
          display: flex;
          .swiper-pagination-bullet {
            border-radius: 0;
            width: 24px;
            height: 2px;
            background: rgba(66, 68, 73, 1);
            transition: all ease 0.3s;
            margin-right: 6px;

            &.swiper-pagination-bullet-active {
              opacity: 1;
              background: #fff;
            }
          }
        }
      }
    }

    .slide-backstage {
      margin-top: 2.5625rem;
      overflow: hidden;
      @media (max-width: 820px) {
        width: 110%;
      }

      .swiper-slide {
        cursor: pointer;
        .img {
          max-width: 282px;
          overflow: hidden;
          &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(180deg, rgba(15, 17, 22, 0.1) 51.36%, $dark-800 108.33%);
          }
          img {
            transform: scale(1);
            transition: all ease 0.3s;
            width: 100%;

            &:hover {
              transform: scale(1.1);
              transition: all ease 0.3s;
            }
          }
        }

        .tag {
          padding: 0 10px;
          height: 25.64px;
          background-color: rgba(15, 17, 22, 0.5);
          backdrop-filter: blur(35.4622px);
          border-radius: 45.2143px;

          display: flex;
          align-items: center;
          justify-content: center;

          position: absolute;
          top: 22px;
          left: 22px;

          span {
            font-style: normal;
            font-weight: bold;
            font-size: 0.75rem;
            line-height: 0.9375rem;
            letter-spacing: 0.02em;
            color: $red-orange;
          }
        }

        .info {
          height: 80px;
          position: absolute;
          bottom: 33px;
          left: 22px;
          @media (max-width: 820px) {
            width: 90%;
          }
          @media (max-width: 375px) {
            left: 12px;
          }

          h4 {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 18px;
            color: $red-orange;
            @media (max-width: 820px) {
              width: 90%;
            }
          }

          p {
            width: 252px;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #ffffff;
            margin-top: 0.4375rem;
            @media (max-width: 820px) {
              width: 90%;
              height: 48px;
            }
          }
          .more {
            display: flex;
            gap: 40px;
            align-items: center;
            margin-top: 30px;
            margin-bottom: -10px;
            @media (max-width: 820px) {
              gap: 10px;
            }
            button {
              cursor: pointer;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 21px;
              letter-spacing: 0em;
              text-align: left;
              color: #ffffff;
              opacity: 0.8;
              @media (max-width: 480px) {
                font-size: 12px;
                line-height: 18px;
              }
            }
          }
        }
      }

      .actions {
        @media (max-width: 820px) {
          display: none;
        }
        .btn-slide {
          &.swiper-button-disabled {
            opacity: 0;
            transition: all ease 0.3s;
            pointer-events: none;
          }

          &.button-next {
            position: absolute;
            left: 550px;
            top: -32px;
            z-index: 1;
          }

          &.button-prev {
            position: absolute;
            right: 700px;
            top: -32px;
            z-index: 1;
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .area-backstage {
      .slide-backstage {
        .actions {
          .btn-slide {
            &.button-prev {
              left: -20px;
            }

            &.button-next {
              right: -20px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 835px) {
    padding-top: 5.25rem;
    padding-bottom: 7.125rem;

    .area-backstage {
      margin-top: 3.1875rem;

      .top-slide {
        .left {
          .title {
            h3 {
              font-size: 1.299175rem;
            }
          }

          span {
            font-size: 0.875rem;
          }
        }
        .actions {
          display: none;
        }
      }

      .slide-backstage {
        overflow: initial;

        .swiper-slide {
          a {
            .info {
              h4 {
                font-size: 1rem;
              }
            }
          }
        }

        .actions {
          display: none;
        }
      }
    }
  }

  @media (max-width: 600px) {
    padding-top: 67px;
    padding-bottom: 95px;

    .area-backstage {
      margin-top: 39px;
      .top-slide {
        align-items: center;
        justify-content: center;
        .left {
          flex-direction: column;

          .title {
            border-right: none;

            h3 {
              margin-right: 0;
            }
          }

          span {
            margin-left: 0;
            margin-top: 6px;
            text-align: center;
            max-width: 268px;
          }
        }
      }

      .slide-backstage {
        .swiper-slide {
          a {
            .info {
              p {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

.scene1 {
  width: 282px;
  height: 440px;
  @media (max-width: 820px) {
    height: 365px;
    width: 226px;
  }
  @media (max-width: 480px) {
    height: 340px;
    width: 226px;
  }
  @media (max-width: 375px) {
    height: 290px;
    width: 190px;
  }
}

.card1 {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__face1 {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;

  h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: $red-orange;
  }

  p {
    width: 252px;
    margin-top: 384px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }
}

.card__face--front1 {
}

.card__face--back1 {
  background: $dark-700;
  transform: rotateY(180deg);
  .info-cardback {
    width: 90%;
    height: 100%;
    margin: 32px auto;
    h5 {
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: #ffffff;
      @media (max-width: 820px) {
        font-size: 18px;
        line-height: 21.92px;
      }
    }
    p {
      width: 252px;
      margin-top: 24px;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: #ffffff;
      opacity: 0.8;
      @media (max-width: 820px) {
        width: 194px;
        font-size: 14px;
        line-height: 21px;
      }
      @media (max-width: 375px) {
        width: 100%;
      }
    }
  }
}

.flipme1 {
  transform: rotateY(180deg);
}

.swiper1block {
  @media (max-width: 820px) {
    display: none;
  }
}
