.s-swiper-new-lp {
  padding-top: 0;
  padding-bottom: 80px;
  .container {
    background: transparent;

  }
  .area-swiper {
    margin-top: 0;
    position: relative;

    .top-slide {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;
      }

      .actions {
        .swiper-pagination {
          position: relative;
          display: flex;
          .swiper-pagination-bullet {
            border-radius: 0;
            width: 24px;
            height: 2px;
            background: rgba(66, 68, 73, 1);
            transition: all ease 0.3s;
            margin-right: 6px;

            &.swiper-pagination-bullet-active {
              opacity: 1;
              background: #fff;
            }
          }
        }
      }
    }

    .slide-class {
      cursor: grab;
      margin-top: 2.5625rem;
      overflow: hidden;

      .swiper-slide {
        a {
          cursor: pointer !important;
          .img {
            max-width: 282px;
            overflow: hidden;
            &:after {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              width: 100%;
              background: linear-gradient(180deg, rgba(15, 17, 22, 0.1) 51.36%, $dark-800 108.33%);
            }
            img {
              transform: scale(1);
              transition: all ease 0.3s;
              width: 100%;

              &:hover {
                transform: scale(1.1);
                transition: all ease 0.3s;
              }
            }
          }

          .tag {
            padding: 0 10px;
            height: 25.64px;
            background-color: rgba(15, 17, 22, 0.5);
            backdrop-filter: blur(35.4622px);
            border-radius: 45.2143px;

            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;
            top: 12px;
            left: 22px;
            @media (max-width: 480px) {
              top: 5px;
              left: 5px;
            }
            span {
              font-style: normal;
              font-weight: bold;
              font-size: 0.75rem;
              line-height: 0.9375rem;
              letter-spacing: 0.02em;
              color: $red;
            }
          }

          .info {
            height: 60px;
            position: absolute;
            bottom: 33px;
            left: 22px;
            @media (max-width: 480px) {
              width: 90%;
              left: 5px;
            }
            h4 {
              font-style: normal;
              font-weight: bold;
              font-size: 1.25rem;
              line-height: 1.5rem;
              color: #ffffff;
            }

            p {
              font-style: normal;
              font-weight: normal;
              font-size: 0.875rem;
              line-height: 1.3125rem;
              color: rgba(255, 255, 255, 0.8);
              margin-top: 0.4375rem;
            }
          }
        }
      }

      .actions {
        @media (max-width: 820px) {
          display: none;
        }
        .btn-slide {
          &.swiper-button-disabled {
            opacity: 0;
            transition: all ease 0.3s;
            pointer-events: none;
          }

          &.button-next {
            position: absolute;
            right: -30px;
            bottom: 192px;
            z-index: 1;
          }

          &.button-prev {
            position: absolute;
            left: -30px;
            bottom: 192px;
            z-index: 1;
          }
        }
      }
    }

    .slide-backstage {
      margin-top: 2.5625rem;
      overflow: hidden;
      @media (max-width: 820px) {
        margin-top: 0;
      }
      .swiper-slide {
        .img {
          max-width: 282px;
          max-height: 340px;
          overflow: hidden;
          &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(180deg, rgba(15, 17, 22, 0.1) 51.36%, $dark-800 108.33%);
          }
          img {
            transform: scale(1);
            transition: all ease 0.3s;
            width: 100%;

            &:hover {
              transform: scale(1.1);
              transition: all ease 0.3s;
            }
          }
        }

        .info {
          height: 120px;
          position: absolute;
          bottom: 33px;
          left: 22px;
          @media (max-width: 375px) {
            left: 12px;
            bottom: 43px;
          }
          @media (max-width: 480px) {
            bottom: 43px;
          }
          h4 {
            font-style: normal;
            font-weight: bold;
            font-size: 1.25rem;
            line-height: 1.5rem;
            color: $red-orange;
          }

          p {
            width: 252px;
            font-style: normal;
            font-weight: normal;
            font-size: 0.875rem;
            line-height: 1.3125rem;
            color: rgba(255, 255, 255, 0.8);
            margin-top: 0.4375rem;
            @media (max-width: 1024px) {
              width: 95%;
            }
            @media (max-width: 480px) {
              width: 95%;
            }
            @media (max-width: 375px) {
              width: 100%;
            }
          }
        }
      }

      .actions {
        @media (max-width: 820px) {
          display: none;
        }
        .btn-slide {
          &.swiper-button-disabled {
            opacity: 0;
            transition: all ease 0.3s;
            pointer-events: none;
          }

          &.button-next {
            position: absolute;
            right: 0px;
            top: -32px;
            z-index: 1;
          }

          &.button-prev {
            position: absolute;
            right: 70px;
            top: -32px;
            z-index: 1;
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .area-backstage {
      .slide-backstage {
        .actions {
          .btn-slide {
            &.button-prev {
              left: -20px;
            }

            &.button-next {
              right: -20px;
            }
          }
        }
      }
    }
    .area-class {
      .slide-class {
        .actions {
          .btn-slide {
            &.button-prev {
              left: -20px;
            }

            &.button-next {
              right: -20px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 835px) {
    padding-bottom: 7.125rem;

    .area-backstage {
      margin-top: 3.1875rem;

      .top-slide {
        .left {
          .title {
            h3 {
              font-size: 1.299175rem;
            }
          }

          span {
            font-size: 0.875rem;
          }
        }
        .actions {
          display: none;
        }
      }

      .slide-backstage {
        overflow: initial;

        .swiper-slide {
          a {
            .info {
              h4 {
                font-size: 1rem;
              }
            }
          }
        }

        .actions {
          display: none;
        }
      }
    }
    .area-class {
      margin-top: 2.875rem;

      .top-slide {
        .left {
          .title {
            h3 {
              font-size: 1.299175rem;
            }
          }

          span {
            font-size: 0.875rem;
          }
        }
        .actions {
          display: none;
        }
      }

      .slide-class {
        overflow: initial;

        .swiper-slide {
          a {
            cursor: pointer;
            .info {
              h4 {
                font-size: 1rem;
              }
            }
          }
        }

        .actions {
          display: none;
        }
      }
    }
  }

  @media (max-width: 600px) {
    padding-bottom: 5px;

    .area-backstage {
      margin-top: 39px;

      .top-slide {
        align-items: center;
        justify-content: center;
        .left {
          flex-direction: column;

          .title {
            border-right: none;

            h3 {
              margin-right: 0;
            }
          }

          span {
            margin-left: 0;
            margin-top: 6px;
            text-align: center;
            max-width: 268px;
          }
        }
      }

      .slide-backstage {
        .swiper-slide {
          a {
            .info {
              p {
                font-size: 12px;
              }
            }
          }
        }
      }

      .area-class {
        margin-top: 65px;

        .top-slide {
          align-items: center;
          justify-content: center;
          .left {
            flex-direction: column;

            .title {
              border-right: none;

              h3 {
                margin-right: 0;
              }
            }

            span {
              margin-left: 0;
              margin-top: 6px;
              text-align: center;
              max-width: 268px;
            }
          }
        }

        .slide-class {
          .swiper-slide {
            a {
              .info {
                p {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}
