.s-swiper-soon {
    width: 1265px;
    @media (max-width: 1024px) {
      width: 1020px
    }
    @media (max-width: 820px) {
      width: 800px
    }
    @media (max-width: 768px) {
      width: 740px
    }
    @media (max-width: 480px) {
        width: 420px;
        margin-top: 0;
    }
    @media (max-width: 375px) {
      width: 400px;
      margin-top: 0;
  }
    .area-soon {
      position: relative;
      .top-slide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .actions {
          .swiper-pagination-soon {
            position: relative;
            display: flex;
            .swiper-pagination-bullet {
              border-radius: 0;
              width: 24px;
              height: 2px;
              background: rgba(66, 68, 73, 1);
              transition: all ease 0.3s;
              margin-right: 6px;
  
              &.swiper-pagination-bullet-active {
                opacity: 1;
                background: #fff;
              }
            }
          }
        }
      }
  
      .slide-soon-content {
        overflow: hidden;
  
        .swiper-slide {
            .img {
              max-width: 385px;
              height: 280px;
              overflow: hidden;
              &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background: linear-gradient(180deg, rgba(15, 17, 22, 0.1) 51.36%, $dark-800 108.33%);
                @media (max-width: 1024px) {height: 226px;}
                @media (max-width: 820px) {height: 281px;}
                @media (max-width: 768px) {height: 272px;}
                @media (max-width: 480px) {height: 185px;}
                @media (max-width: 375px) {height: 165px;}
              }
              img {
                transform: scale(1);
                transition: all ease 0.3s;
                width: 100%;
  
                &:hover {
                  transform: scale(1.1);
                  transition: all ease 0.3s;
                }
              }
            }
            .info {
              height: 50px;
              position: absolute;
              bottom: 30px;
              left: 71.5px;
              @media (max-width: 1024px) {left: 50%; transform: translate(-50%); bottom: 60px; width: 90%;}
              @media (max-width: 820px) {left: 50%; transform: translate(-50%); bottom: 30px; width: 90%;}
              @media (max-width: 480px) {left: 50%; transform: translate(-50%); bottom: 100px;}
              h4 {
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: center;
                color: #FFFFFF;
                margin-bottom: 8px;
                @media (max-width: 480px) {font-size: 14px; line-height: 21.5px; width: 220px; margin-bottom: 0;}
              }
  
              p {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: -0.01em;
                text-align: center;
                color: #FFFFFF;
                opacity: 0.8;
                @media (max-width: 480px) {font-size: 12px; line-height: 18px; width: auto;}

              }
            }
        }
  
        .actions {
            @media (max-width: 1024px) {display: none;}

          .btn-slide {
            &.swiper-button-disabled {
              opacity: 0;
              transition: all ease 0.3s;
              pointer-events: none;
            }
  
            &.button-next {
              position: absolute;
              right: -30px;
              bottom: 116px;
              z-index: 1;
            }
  
            &.button-prev {
              position: absolute;
              left: -30px;
              bottom: 116px;
              z-index: 1;
            }
          }
        }
      }
    }
    @media (max-width: 1200px) {
      .area-soon {
        .slide-soon-content {
          .actions {
            .btn-slide {
              &.button-prev {
                left: -20px;
              }
  
              &.button-next {
                right: -20px;
              }
            }
          }
        }
      }
    }
    @media (max-width: 1030px) {
      padding-top: 0rem;
      padding-bottom: 0rem;
  
      .top {
        h2 {
          font-size: 3rem;
        }
      }
  
      .area-soon-content {
        margin-top: 3.1875rem;
  
        .top-slide {
          .left {
            .title {
              h3 {
                font-size: 1.299175rem;
              }
            }
  
            span {
              font-size: 0.875rem;
            }
          }
          .actions {
            display: none;
          }
        }
  
        .slide-soon-content {
          overflow: initial;
  
          .swiper-slide {
            a {
              .info {
                h4 {
                  font-size: 1rem;
                }
              }
            }
          }
  
          .actions {
            display: none;
          }
        }
      }
    }
    @media (max-width: 600px) {
      padding-top: 0px;
      padding-bottom: 0px;
  
      .top {
        span {
          font-size: 1rem;
        }
  
        h2 {
          font-size: 40px;
          line-height: 42px;
          max-width: 337px;
          text-align: center;
          margin-top: 17px;
        }
      }
  
      .area-soon {
        margin-top: 39px;
  
        .top-slide {
          align-items: center;
          justify-content: center;
          .left {
            flex-direction: column;
  
            .title {
              border-right: none;
  
              h3 {
                margin-right: 0;
              }
            }
  
            span {
              margin-left: 0;
              margin-top: 6px;
              text-align: center;
              max-width: 268px;
            }
          }
        }
  
        .slide-soon-content {
          .swiper-slide {
            a {
              .info {
                p {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
  