.s-swiper-lpportugal {
    width: 964px;
    @media (max-width: 1024px) {
      width: 1020px;
      margin-top: 0;
    }
    @media (max-width: 820px) {
      width: 764px;
      margin-top: 0;
    }
    @media (max-width: 480px) {
      width: 420px;
      margin-top: 0;
    }
    .top {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  
      span {
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.1875rem;
        letter-spacing: -0.01em;
        color: rgba(255, 255, 255, 0.8);
        @media (max-width: 480px) {
          width: 70%;
          text-align: center;
        }
      }
  
      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 3.5rem;
        line-height: 3.6875rem;
        letter-spacing: -0.01em;
        color: #ffffff;
        margin-top: 0.5rem;
      }
    }
  
    .area-top-content {
      position: relative;
        
      .top-slide {
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .left {
          display: flex;
          align-items: center;
  
          .title {
            display: flex;
            align-items: center;
            border-right: 1px solid rgba(255, 255, 255, 0.7);
  
            img {
              margin-right: 0.875rem;
            }
  
            h3 {
              font-style: normal;
              font-weight: bold;
              font-size: 1.5rem;
              line-height: 1.8125rem;
  
              color: #ffffff;
              margin-right: 38px;
            }
          }
  
          span {
            margin-left: 24px;
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 1.5rem;
            color: rgba(255, 255, 255, 0.9);
            margin-left: 1.5rem;
          }
        }
  
        .actions {
          .swiper-pagination-top {
            position: relative;
            display: flex;
            .swiper-pagination-bullet {
              border-radius: 0;
              width: 24px;
              height: 2px;
              background: rgba(66, 68, 73, 1);
              transition: all ease 0.3s;
              margin-right: 6px;
  
              &.swiper-pagination-bullet-active {
                opacity: 1;
                background: #fff;
              }
            }
          }
        }
      }
  
      .slide-top-content {
        overflow: hidden;
  
        .swiper-slide {
          a {
            cursor: pointer;
            .img {
              max-width: 282px;
              overflow: hidden;
              &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background: linear-gradient(180deg, rgba(15, 17, 22, 0.1) 51.36%, $dark-800 108.33%);
              }
              img {
                transform: scale(1);
                transition: all ease 0.3s;
                width: 100%;
  
                &:hover {
                  transform: scale(1.1);
                  transition: all ease 0.3s;
                }
              }
            }
  
            .tag {
              padding: 0 10px;
              height: 25.64px;
              background-color: rgba(15, 17, 22, 0.5);
              backdrop-filter: blur(35.4622px);
              border-radius: 45.2143px;
  
              display: flex;
              align-items: center;
              justify-content: center;
  
              position: absolute;
              top: 22px;
              left: 22px;
  
              span {
                font-style: normal;
                font-weight: bold;
                font-size: 0.75rem;
                line-height: 0.9375rem;
                letter-spacing: 0.02em;
                color: $yellow-orange;
              }
            }
  
            .info {
              height: 70px;
              position: absolute;
              bottom: 33px;
              left: 22px;
  
              h4 {
                font-style: normal;
                font-weight: bold;
                font-size: 1.25rem;
                line-height: 1.5rem;
                color: #ffffff;
                height: 50px;
              }
  
              p {
                font-style: normal;
                font-weight: normal;
                font-size: 0.875rem;
                line-height: 1.3125rem;
                color: rgba(255, 255, 255, 0.8);
                margin-top: 0.4375rem;
              }
            }
          }
        }
  
        .actions {
          .btn-slide {
            &.swiper-button-disabled {
              opacity: 0;
              transition: all ease 0.3s;
              pointer-events: none;
            }
  
            &.button-next {
              position: absolute;
              right: -30px;
              bottom: 192px;
              z-index: 1;
            }
  
            &.button-prev {
              position: absolute;
              left: -30px;
              bottom: 192px;
              z-index: 1;
            }
          }
        }
      }
    }
    @media (max-width: 1200px) {
      .area-top-content {
        .slide-top-content {
          .actions {
            .btn-slide {
              &.button-prev {
                left: -20px;
              }
  
              &.button-next {
                right: -20px;
              }
            }
          }
        }
      }
    }
    @media (max-width: 1024px) {
      padding-top: 0rem;
      padding-bottom: 0rem;
      .top {
        h2 {
          font-size: 3rem;
        }
      }
  
      .area-top-content {
        margin-top: 3.1875rem;
  
        .top-slide {
          .left {
            .title {
              h3 {
                font-size: 1.299175rem;
              }
            }
  
            span {
              font-size: 0.875rem;
            }
          }
          .actions {
            display: none;
          }
        }
  
        .slide-top-content {
          overflow: initial;
  
          .swiper-slide {
            a {
              .info {
                h4 {
                  font-size: 1rem;
                }
              }
            }
          }
  
          .actions {
            display: none;
          }
        }
      }
    }
    @media (max-width: 600px) {
      padding-top: 0px;
      padding-bottom: 0px;
  
      .top {
        span {
          font-size: 1rem;
        }
  
        h2 {
          font-size: 40px;
          line-height: 42px;
          max-width: 337px;
          text-align: center;
          margin-top: 17px;
        }
      }
  
      .area-top-content {
        margin-top: 39px;
  
        .top-slide {
          align-items: center;
          justify-content: center;
          .left {
            flex-direction: column;
  
            .title {
              border-right: none;
  
              h3 {
                margin-right: 0;
              }
            }
  
            span {
              margin-left: 0;
              margin-top: 6px;
              text-align: center;
              max-width: 268px;
            }
          }
        }
  
        .slide-top-content {
          .swiper-slide {
            a {
              .info {
                p {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
  