.webinar {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #0d0e12;
  padding: 80px 0;
  .webinar_container {
    width: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 60px 0;
    @media (max-width: 480px) {
      width: 90%;
    }
    img {
      // top: 0;
      // left: -200px;
      // position: absolute;
      width: 160px;
      margin-bottom: 20px;
    }
    .webinar_box {
      width: 100%;
      max-width: 592px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (max-width: 480px) {
        width: 90%;
      }

      h2 {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        background: -webkit-linear-gradient($red-orange, $red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 20px;
        @media (max-width: 480px) {
          font-size: 16px;
          line-height: 24px;
        }
      }
      h1 {
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 67px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        @media (max-width: 480px) {
          font-size: 32px;
          line-height: 38.4px;
          width: 100%;
        }
        span {
          font-size: 56px;
          background-color: $orange;
        }
      }
    }
    .video_container {
      width: 700px;
      height: 420px;
      display: flex;
      margin: 40px auto;
      @media (max-width: 1220px) {
        width: 688px;
        height: 306px;
      }
      @media (max-width: 480px) {
        width: 325px;
        height: 188px;
      }
    }
    #webinar_subscribe {
      width: 384px;
      height: 62px;
      background: $orange;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      @media (max-width: 480px) {
        width: 100%;
      }
      a {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.cupom {
  height: 469px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: #ededed;
  @media (max-width: 820px) {
    height: auto;
    padding: 40px 0;
  }
  .cupom_container {
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 137px;
    @media (max-width: 820px) {
      width: 90%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .cupom_title {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media (max-width: 820px) {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      h3 {
        width: 522px;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 58px;
        letter-spacing: 0em;
        text-align: left;
        color: #0d0e12;
        text-transform: uppercase;
        @media (max-width: 480px) {
          font-size: 24px;
          line-height: 28.8px;
          text-align: center;
          width: 100%;
        }
      }
      hr {
        width: 59px;
        height: 3px;
        background: $orange;
      }
      .cupom_off {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        margin-top: 58px;
        @media (max-width: 1220px) {
          width: 90%;
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
        h4 {
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: 58px;
          letter-spacing: 0em;
          text-align: left;
          background: -webkit-linear-gradient($red-orange, $red);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    .cupom_text {
      display: flex;
      p {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: #0d0e12;
        @media (max-width: 480px) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}

.conteudo-webinar {
  height: 819px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: linear-gradient(180deg, $yellow-orange 0%, $orange 100%);
  .conteudo_vector {
    position: absolute;
    right: 58px;
    top: 98px;
  }
  .conteudo_container {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .conteudo_details {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 1220px) {
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 40px;
      }

      .conteudo_title {
        width: 492px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 99;
        @media (max-width: 820px) {
          width: 100%;
        }
        h3 {
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: 49px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
          text-transform: uppercase;
          @media (max-width: 820px) {
            font-size: 32px;
            line-height: 38.4px;
          }
          @media (max-width: 480px) {
            font-size: 24px;
            line-height: 29.23px;
          }
        }
        p {
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
          @media (max-width: 820px) {
            font-size: 18px;
            line-height: 27px;
          }
          @media (max-width: 480px) {
            font-size: 16px;
            line-height: 24px;
            width: 204px;
          }
        }
      }
      .conteudo_skills {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 18px;
        .skill_detail {
          width: 339px;
          height: 96px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #ffffff;
          position: relative;
          @media (max-width: 480px) {
            width: 160px;
            height: 104px;
          }
          p {
            width: 285px;
            height: auto;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #0d0e12;
            @media (max-width: 480px) {
              font-size: 12px;
              line-height: 18px;
              text-align: center;
            }
          }
          img {
            position: absolute;
            top: -30px;
            left: 27px;
            @media (max-width: 480px) {
              left: 15px;
            }
          }
        }
      }
    }
  }
}

.swiper-webinar {
  width: 100%;
  height: 422px;
  position: relative;
  margin-top: 100px;
  @media (max-width: 480px) {
    margin-top: 33px;
  }
  @media (max-width: 820px) {
    margin-top: 56px;
  }
  .container {
    width: inherit;
    max-width: 100%;
    height: inherit;
    padding: 0;
    margin: 0;
    .area-swiper {
      .swiper-slide {
        width: 302.5px;
        height: 422px;
        text-align: center;
        font-size: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .swiper-button-next {
    color: $orange;
    @media (max-width: 820px) {
      display: none;
    }
  }
  .swiper-button-prev {
    color: $orange;
    @media (max-width: 820px) {
      display: none;
    }
  }
}

.assine {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: url(../../assets/img/lps/p01mktz/BG_Assine_desk.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (max-width: 480px) {
    background: url(../../assets/img/lps/p01mktz/BG_Assine_Mobile.png);
  }
  .assine_container {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 112px 0;
    @media (max-width: 480px) {
      width: 90%;
    }
    .assine_details {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .assine_title {
        display: flex;
        flex-direction: column;
        width: 340px;
        gap: 24px;
        margin-bottom: 24px;
        @media (max-width: 480px) {
          align-items: center;
          justify-content: center;
        }
        h3 {
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: 49px;
          letter-spacing: 0em;
          text-align: center;
          text-transform: uppercase;
          background: -webkit-linear-gradient($red-orange, $red);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          @media (max-width: 480px) {
            font-size: 24px;
            line-height: 29.23px;
            width: 222px;
          }
        }
        h4 {
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
          @media (max-width: 480px) {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
      .assine_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        margin-bottom: 40px;
        .list_item {
          display: flex;
          align-items: center;
          gap: 10.67px;
          p {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;
            @media (max-width: 480px) {
              font-size: 14px;
              line-height: 21px;
            }
          }
        }
      }
      .price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3 {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: center;
          color: #ffffff;
          opacity: 0.8;
          span {
            color: #ffffff;
            opacity: 0.8;
            text-decoration: line-through;
          }
        }
        h4 {
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: 49px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;

          span {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;
            opacity: 0.8;
          }
        }
        p {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: #ffffff;
          opacity: 0.8;
          margin-bottom: 27px;
        }
        img {
          margin-bottom: 21px;
        }
        a {
          padding: 16px 41px;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 16px;
          letter-spacing: 0em;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
          color: #ffffff;
          background: linear-gradient(262.52deg, $red-orange 1.88%, $red 105.55%);
        }
      }
    }
  }
}
